[2016-04-03 17:53] cdancy commented on #193
@bmuschko this is more a config issue than anything else. I know exactly the cause and will knock it out later today.

[2016-04-03 17:55] cdancy commented on #192
@bmuschko take a look at #194 and tell me what you think. I understand your criticism above but check out what I've done and see if they're still warranted.

[2016-04-03 21:34] cdancy commented on #193
Bumped version of gradle-bintray-plugin with commit 35bfc87 so that we can use the `publish = true` option to solve this very issue. Next release should auto-publish the version itself.

[2016-04-03 21:34] #193 closed

[2016-04-03 21:34] cdancy commented on #190
@bmuschko fair enough. Closing issue.

[2016-04-03 21:34] #190 closed

[2016-04-07 16:30] Teudimundo commented on #185
I'm not sure is the same issue, the final error is the same, but the stack trace tells me "Connection reset by peer". I use docker 1.10, if I check on the docker logs of the docker machine I can see the following error:

`2016/04/07 16:21:24 http: TLS handshake error from 192.168.99.1:49299: tls: oversized record received with length 21536`

[2016-04-07 16:32] cdancy commented on #185
@Teudimundo have you tried running against an older version of docker? 1.10 is still bleeding edge at this point.

[2016-04-07 16:53] Teudimundo commented on #185
Unfortunately we are using several features of the 1.10. In 5 days the 1.11 will be released.

I think also it should be possible  to change docker version and test one's applications against the latest.

But I fully understand that you have limited resources

[2016-04-07 17:49] cdancy commented on #185
@Teudimundo it's not so much that, it's that dockers API is unstable and changing all the time. Furthermore, this plugin builds on top of the docker-java library and so we only support what they can provide. They have a newer in-development 3.0.0 version of their library which will most likely fix a lot of issues folks are reporting but until they release it we won't rebase off an in-dev version.

[2016-04-07 20:07] Teudimundo commented on #185
Thanks for your reply. I know that keeping up the pace with docker API is very hard, and I didn't know that 3.0.0 was still in development.

Relatively at your suggestions, step 1 and 2 have been done I'm going to try the 3 as well.

Anyway the project is a simple hello world with no other plugin I really liked the approach of your plugin and I wanted to try it to see if it fits my needs.

This is

[2016-04-07 20:44] cdancy commented on #185
Just the nature of this particular plugin. There may be other plugins which code to the binary.

Have you tried searching google for this particular issue? I've found at least 1 issue which may be helpful:

https://github.com/docker/docker/issues/14793

[2016-04-08 07:28] lukaslentner opened #195 "Trying to make "docker exec""
Hi,
I tried to build a Task for the "docker exec" command, but I always get a ClassNotFoundException for the Callback class.
Do you know the reason?

My Code:

import java.lang.reflect.Method
import java.io.OutputStream

class DockerExecute extends DockerExistingContainer {

  String shell

  @Input
  String getShell() {
    shell
  }

  @Override
  void runRemoteCommand(dockerClient) {
    logger

[2016-04-08 10:57] cdancy commented on #195
@lukaslentner you would have to post the full stacktrace to get a better understanding of what's going on.

Were you thinking about putting together a PR? We'd be more than happy to review if you did.

[2016-04-11 02:09] #192 closed

[2016-04-11 02:21] cdancy commented on #187
@marbon87 are you all set here? Were you able to move forward?

[2016-04-11 02:22] cdancy commented on #188
@edog305 feel free to re-open if needed but for now I believe we chalk this up to a classpath clobbering issue.

[2016-04-11 02:22] #188 closed

[2016-04-11 02:26] cdancy commented on #41
Closing issue. Concerns above are valid but we are simply copying the semantics provided by docker-java as we build upon that library here. When version 3.0.0 is released of that library we'll circle back and see if we can correct some of these mis-understandings.

[2016-04-11 02:26] #41 closed

[2016-04-11 02:29] cdancy commented on #152
Closing issue as one can now supply the required apiVersion in the just released 2.6.8 version. @dainiusvaznys I'd like to circle back at some point and implement the ideas you put forward in #159 but a few things need to be done before moving ahead there. Still keeping that PR open but closing this issue as one can now pass in the API version.

[2016-04-11 02:29] #152 closed

[2016-04-11 02:33] cdancy commented on #144
We have a couple changes on the backlog to help address this issue, and newer yet-to-be-released versions of gradle will also help mitigate this problem some, but until then folks will have to follow the aforementioned solution. If it's not helping feel free to re-open.

[2016-04-11 02:33] #144 closed

[2016-04-11 02:35] cdancy commented on #137
Closing issue as I don't think this is something we want to move forward and address. Enhancements like this, while admittedly would be helpful, belong in a downstream plugin based on this.

[2016-04-11 02:35] #137 closed

[2016-04-11 02:37] cdancy commented on #185
@Teudimundo were you able to move foward? I'm not sure if your issue is directly related to the one at hand. If you are still having troubles please open up another issue addressing your concerns along with a complete stacktrace and example script you are using.

[2016-04-11 02:37] #185 closed

[2016-04-12 07:02] marbon87 commented on #187
No. Temporary i am working always in the root folder of the project and selecting files from there.

[2016-04-12 17:36] Zavijava opened #196 "Plugin adding dependencies to build classpath"
The DockerRemoteAPIPlugin is explicitly adding dependencies(docker-java, slf4j-simpl, and cglib) to the build classpath rather than the buildscript classpath.

[2016-04-12 17:57] cdancy commented on #196
@Zavijava is this something you are noticing with the newest release or are you noting it has been there all along?

[2016-04-12 18:28] Zavijava commented on #196
I am using v2.6.7 in an environment with liberal repo access for build tools (e.g. buildscript plugins), but very restricted access for Gradle's "proper" build contexts. I have a simple project to build an image. I expected the DockerRemotePluginAPI's transitive dependencies to be on the buildscript classpath, not on a project configuration.

[2016-04-12 18:35] bmuschko commented on #196
It's expected and (in fact) wanted behavior. We don't want to convolute the buildscript classpath and cause potential version conflicts. This pattern is also used by many of the Gradle core plugins.

[2016-04-12 18:54] Zavijava commented on #196
Can you explain this further?  Are you saying project configurations are used as a namespace to avoid conflict between plugins that depend on different versions of underlying libraries?

[2016-04-12 19:08] bmuschko commented on #196
The plugin creates a [custom configuration named dockerJava](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/DockerRemoteApiPlugin.groovy#L43) just for this purpose. This configuration doesn't bleed into any other configuration of your project is completely isolated. We do use it for two different reasons:

1) To avoid version conflict for de

[2016-04-12 19:21] cdancy commented on #196
@bmuschko we've had this same conversation previously and while I understand you're reasoning I can understand the confusion folks would have when trying to use this plugin and expecting its dependencies to come from the classpath.

Perhaps we can let folks create their own configuration and truly pass it in vs overriding it? Something which lazily creates the configuration at runtime if and only

[2016-04-12 19:35] Zavijava commented on #196
We use Artifactory. We establish virtual repositories for use in our projects that preserve the distinction Gradle makes between the buildscript and build proper. Buildscript entries would allow use of 'our-plugins-repo', while build entries would be constrained to use 'our-build-repo'. Our buildscript policy is liberal (e.g. including JCenter()) to provide devs flexibility. Our build repo policy,

[2016-04-12 20:06] cdancy commented on #196
@Zavijava we face a similar issue here (Artifactory shop ourselves) and while I agree I can see the argument from the other side as well.

@bmuschko another proposal: going back to our previous conversations and requiring the user to define a project scoped repo ... what if we make that optional? Today one has to do the following:

[code]
We could amend the code to first check if the project has a

[2016-04-12 20:09] cdancy commented on #196
@Zavijava also if you're looking for tools to work with Artifactory you might want to check out [gradle-artifactory-rest-plugin](https://github.com/cdancy/gradle-artifactory-rest-plugin) or the [artifactory-rest](https://github.com/cdancy/artifactory-rest) library. I develop both as we are heavy users of Artifactory here. The artifactory client that jfrog develops is cumbersome and not very straig

[2016-04-17 10:20] Vad1mo opened #197 "Create an image from existing Dockerfile providing parameters from gradle such as Version"
Hello I have few quite big Dockerfiles. For This reason I don't like to create the Dockerfile with gradle instead I would like to use the gradle-docker-plugin to build and push the image.

however the Dockerfile a have contains variables from the gradle for example the project version.

`ADD api-${VERSION}.war webapps/ `

Is there a way to either extend an existing Dockerfile eg. read Dockerfile a

[2016-04-17 17:10] cdancy commented on #197
@Vad1mo this would not be the responsibility of the plugin but more on you, as the script writer, to search and replace any token within the file prior to using `DockerBuildImage`.

[2016-04-17 18:00] Vad1mo commented on #197
ok, thanks. I was thinking maybe there is a build in feature in gradle-docker-plugin for that making providing an elegant solution.

[2016-04-17 18:00] #197 closed

[2016-04-17 21:40] cdancy commented on #197
@Vad1mo we often get requests like this but end up turning them down. The idea here is that this particular plugin is meant to serve as a base of sorts for you to build a more customized, or possible combine with some other plugin, version for your own use case. We do exactly that here where we build upon this plugin to provide something which is very specific to our use case and context. I recogn

[2016-04-17 21:43] cdancy commented on #195
@lukaslentner closing. If you want to talk and/or provide a PR for this we'd be more than happy to review.

[2016-04-17 21:43] #195 closed

[2016-04-17 21:44] cdancy commented on #175
Closing as I believe an OOTB solution by gradle may help to alleviate this pain in the not too distant future.

[2016-04-17 21:44] #175 closed

[2016-04-17 21:46] cdancy commented on #115
Closing as we now return exit-code for `DockerWaitContainer`.

[2016-04-17 21:46] #115 closed

[2016-04-17 23:21] cdancy commented on #99
Closing as per #100. If we need to re-open we can.

[2016-04-17 23:21] #99 closed

[2016-04-18 12:41] marbon87 opened #198 "Custom Classloader and AbstractDockerRemoteApiTask"
I have the following class to run a docker exec command several times, until it runs succesful or a maximum number of retries is reached:
[code]

I need to included the following, to get a callback-instance, that is loaded from the correct classloader
[code]

When i use new ExecStartResultCallback(...) to create the instance, i get the following error:
[code]

Why did you implement a custom classl

[2016-04-18 16:17] cdancy commented on #198
@marbon87 try taking a look at [DockerThreadContextClassLoader](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/utils/DockerThreadContextClassLoader.groovy) to understand how we do things.

You could always put together a PR to get more eyes on your issue and share the code back upstream.

[2016-04-18 16:43] llamahunter commented on #180
Any movement here?  Docker released remote api version v1.23 (docker-machine v1.11), but gradle-docker-plugin is still unable to work with api v1.22 (docker-machine v1.10), as such support was added after docker-java 2.2.3 was released.

[2016-04-18 16:46] cdancy commented on #180
Not until they release v3.0.0

[2016-04-18 19:35] everflux commented on #198
The DockerThreadContextClassLoader lacks documentation about the intent of the class. The name is misleading as well, as is it not a ClassLoader.

When creating the URLClassLoader you set the parent classloader to the extension classloader, imho.
I think this can result in loading a different versions of a class which are then incompatible.

[2016-04-18 19:58] cdancy commented on #198
@everflux while I'll grant you the name is misleading the code itself is not terribly complex and so should be easy enough to figure out what's going on should one need to do so. The code itself I'll also grant you can be done better but as it stands now works, and has worked, for quite some time with no hiccups surrounding this particular issue to speak of. That is unless folks are doing somethin

[2016-04-18 20:01] everflux commented on #198
@marbon87 can you create a test case showing the issue in isolation? We can then work on a PR together if you like.

[2016-04-19 07:32] marbon87 commented on #198
@cdancy @everflux please see https://github.com/bmuschko/gradle-docker-plugin/pull/199
All functional tests are still working

[2016-04-19 09:15] PatrickHuetter opened #200 "Please support amazon ecr container registry"
Please support amazons ecr container registry. It's a cheap alternative for other private docker repositories.

https://aws.amazon.com/de/ecr/

[2016-04-19 12:23] cdancy commented on #200
@PatrickHuetter is there any reason to suspect we do not? Amazon, like say Artifactory, implements the docker registry API. The onus is on them to support docker not the other way around.

[2016-04-19 12:27] cdancy commented on #198
@marbon87 this is actually what we tried to get away from. While all functional tests may pass you risk anything that is on the gradle buildscript classpath leaking into our classloader and clobbering those classes we may depend on.

[2016-04-21 16:38] cdancy commented on #200
Closing as I don't believe this is an issue with the plugin. @PatrickHuetter please feel free to re-open should you think this not be the case.

[2016-04-21 16:38] #200 closed

[2016-04-21 16:39] cdancy commented on #198
Closing this issue as I think the correct way to go about things would be to send in a PR and code this task the proper way.

[2016-04-21 16:39] #198 closed

[2016-04-21 16:42] everflux commented on #198
Please provide some information how you would like the PR be designed so it can fit your expectations.

[2016-04-21 16:49] cdancy commented on #198
@everflux @marbon87 feel free to look over any of the tasks we've already written on how to get started and design a task for `DockerExecContainer`. That feels like what is needed here. We don't accept anything that is specific to one's use case but something that can be used by the greater community at large. It would be up to downstream users to then use this plugin as a base to write something

[2016-04-22 00:40] cdancy opened #201 "Create output sink for DockerLogsContainer"
In a CI environment one typically does not care so much to show the logs of a container so much as they care to capture the output and do something more with it, or make some decision, further downstream. We should provide a `sink` for folks to set, and if so, write the output to it.

[2016-04-24 13:22] Vad1mo opened #202 "Plugin is trying to push to Registry v1 instead of v2"
Hello, I am trying to push images with gradle-docker-plugin into a private docker registry running docker registry 2.3.1 (hence v2)

on the command line I can successfully bush images but not with the plugin.

This is the error I always get:
[code]

my `build.gradle`
[code]

my `docker-common.gradle` looks like this

[code]

I am using the plugin version 2.6.8 btw.

[2016-04-24 18:28] cdancy commented on #202
@Vad1mo you have to explicitly define the [api version](https://github.com/bmuschko/gradle-docker-plugin#extension-properties) you are using via the extension (i.e. api = "v1.19") to talk with a v2 registry. This will be fixed in a future release but for now it's what is needed. Take a look at #182 to understand the history and how to move forward. Let me know how things work out.

[2016-04-25 08:29] lukaslentner commented on #195
Hi,

now I'm executing

    Class myClass = threadContextClassLoader.loadClass('com.github.dockerjava.core.command.ExecStartResultCallback')
    Constructor constructor = myClass.getConstructor(OutputStream.class, OutputStream.class)
    def result = constructor.newInstance(System.out, System.err)
    def containerCommand = dockerClient.execCreateCmd(getContainerId()).withAttachStdout(true).withAt

[2016-04-25 08:47] lukaslentner commented on #195
Sorry to have bothered you. I got it. I will send a PR when finished ...

[2016-04-25 10:21] PatrickHuetter commented on #187
Same problem here. There is a bug with inputDir. It's not working as expected. I can't have the Dockerfile and the context in different directories because inputDir will always point to the folder of the Dockerfile and not to the in the configuration specified folder.

[2016-04-25 11:09] cdancy commented on #187
@PatrickHuetter @marbon87 you guys may want to open up an [issue with docker-java](https://github.com/docker-java/docker-java). All we are doing is forwarding the parameters to them, it's their library which is actually doing the work in this context.

[2016-04-25 12:45] PatrickHuetter commented on #187
I don't know wether the referenced issue is the correct one but i think this is the same problem we have and our use case seems to be not implemented yet.

[2016-04-25 13:31] llamahunter commented on #187
You *can* specify a Dockerfile that is a) not called 'Dockerfile', and b) somewhere not at the root of the inputDir.  But, due to restrictions on the way docker-java works, it must be contained within the inputDir subtree.

[2016-04-25 13:33] PatrickHuetter commented on #187
@llamahunter so b) seems to be the problem here and as you said it's not possible and it sounds like it won't be possible the next time. So i changed my build configuration to contain the Dockerfile within the inputDir. Thank you very much!

[2016-04-25 14:40] cdancy commented on #195
@lukaslentner sounds good. If you are putting together a PR feel free to ping me for review and/or questions.

[2016-04-25 14:41] #201 closed

[2016-04-25 14:42] cdancy commented on #201
Closing due to merge @ #203

[2016-04-25 14:43] cdancy commented on #196
@Zavijava closing issue. If you want to discuss further feel free to re-open.

[2016-04-25 14:43] #196 closed

[2016-04-25 14:45] cdancy opened #204 "Fallback to buildscript repos if no dependency repos have been defined."
Currently the dependency repos are being used to resolve our internal dependencies. These however may not be defined for any number of reasons. If such is the case fallback to using the buildscript repos to resolve our internal dependencies.

[2016-04-25 15:30] Vad1mo commented on #202
Thank you @cdancy I have set the version to 1.22. Didn't notice this option previously

But now I get this error here:
[code]

Searching on the internet I found this issue:
https://github.com/docker-java/docker-java/issues/437

What docker lib version is this plugin using? I can't find the dependency

[2016-04-25 15:37] cdancy commented on #202
@Vad1mo we are using 2.2.3. They currently have an in-development v3 coming out soon which will solve a number of issues. However, we won't rebase off of that until they've gone GA.

[2016-04-25 17:46] Vad1mo commented on #202
Thank you. Browsing the docker-java issues https://github.com/docker-java/docker-java/issues/552 and https://github.com/docker-java/docker-java/issues/506 it will take some weeks for the next release.

Do you have an idea how can we workaround this issue until a new version of the plugin is released?

[2016-04-25 18:04] cdancy commented on #202
What version of docker are you using? I suspect it's something fairly recent. We are using docker 1.9 here without any issues.

[2016-04-26 06:26] Vad1mo commented on #202
I tried it with 1.11 and 1.10 but we can't go down to 1.9 as we are using some 1.10 features.

I tried to set the apiVersion to `1.19` and `1.22` and `1.23` In all ceses it faild with this exception:

[code]

[2016-04-26 15:46] cdancy commented on #202
This is a known issue with docker-java and not being able to handle non-previously defined fields. What version of this plugin are you using? I believe this was fixed but may have been done only on their 3.0.0 branch.

[2016-04-26 15:57] Vad1mo commented on #202
I am using 2.6.8 of gradle-docker-plugin. This fix was scheduled for for docker java 3.0.

For now I use the docker command to push the build images.

[2016-04-26 15:57] #202 closed

[2016-04-29 12:06] chrisgahlert commented on #21
Another plugin I recently created achieves the same goals by doing something similar to what docker-compose does:
https://github.com/chrisgahlert/gradle-dcompose-plugin

[2016-04-30 11:51] aschrijver commented on #21
And there is https://github.com/avast/docker-compose-gradle-plugin as well

[2016-04-30 13:35] Krijger commented on #21
@chrisgahlert @aschrijver @augi For the purpose of integration testing with Docker (using Compose). Did you consider Stackwork? It's pretty complete and easy to use (though the documentation is still lacking, sorry). If there's stuff you're missing in there I would very much like to hear your feedback and use case. Of course (my agenda), it would be nice if we could join efforts for a single good

[2016-05-03 09:13] ximinggao opened #208 "Is there a way to skip DockerPushImage task when there is no change in the source code?"
Currently even if there is no change in the source code the DockerPushImage task will still be executed, and pushing docker images to the docker registry is a time-consuming task, so in order to speed up the gradle build procedure, is there a way to detect changes in the source code and skip pushing if there is no change?

[2016-05-03 13:46] cdancy commented on #208
There are many gradle-type things you can do here to short-circuit the execution of a given task. You could try using an `onlyIf` closure to proceed, only if, the given source is not up-to-date or some logic is not true. Coding for such things is the responsibility of the developer and not this plugin. If you feel otherwise, or have any other questions, feel free to re-open.

[2016-05-03 13:46] #208 closed

[2016-05-05 10:34] deathtrix opened #209 "Cannot push to private registry"
I am using boot2docker on Windows. The project is Grails 3.
My config from build.gradle looks like:
`
docker {
    url = 'https://192.168.99.100:2376'
    certPath = new File(System.properties['user.home'], '.docker/machine/machines/default')
    apiVersion = 2

[code]

}
`
The problem is that when I run dockerPushImage it tries to push it to the default "index.docker.io".
Can you please check? I

[2016-05-05 10:40] cdancy commented on #209
@deathtrix do you have a stacktrace of any kind? Do you have a snippet from your build.gradle file we can see? Have you tried doing the same workload outside of the plugin to test if it works?

[2016-05-05 10:43] deathtrix commented on #209
@cdancy I tries the same manually and it works. stracktrace coming in a moment

[2016-05-05 10:45] deathtrix commented on #209
c:\work\cloudsocket-idp>gradle dockerPushImage --stacktrace
:assetCompile
Processing File 1 of 2 - bootstrap.min.css
Processing File 2 of 2 - errors.css
Finished Precompiling Assets
:buildProperties UP-TO-DATE
:compileJava UP-TO-DATE
:compileGroovy
:processResources UP-TO-DATE
:classes
:compileTestJava UP-TO-DATE
:compileTestGroovy
:processTestResources UP-TO-DATE
:testClasses
:compileIntegrationT

[2016-05-05 10:46] deathtrix commented on #209
this is with some random values in username and password...otherwise it says authentication error without showing the url of the registry

[2016-05-05 10:52] deathtrix commented on #209
and build.gradle:

buildscript {
    ext {
        grailsVersion = project.grailsVersion
    }
    repositories {
        mavenLocal()
        maven { url "https://repo.grails.org/grails/core" }
    }
    dependencies {
        classpath "org.grails:grails-gradle-plugin:$grailsVersion"
        classpath 'com.bertramlabs.plugins:asset-pipeline-gradle:2.5.0'
        classpath "com.bmuschko:gradle-do

[2016-05-05 12:25] orzeh commented on #180
Taking into account @KostyaSha [comment](https://github.com/docker-java/docker-java/issues/552#issuecomment-211528597) maybe we should create a new branch which will use docker-java v3.0.0 RC and start work to align gradle-docker-plugin to new APIs?

[2016-05-05 12:29] KostyaSha commented on #180
We are very slow because of lack of free time. If gradle-plugin wouldn't have issues with the scope of APIs that it uses, then you should be fine with RC. We do RC because we don't want to do massive changes after and with docker APIs it not really possible.

[2016-05-05 12:42] cdancy commented on #180
@orzeh, or anyone in this thread, I've [created a branch here](https://github.com/cdancy/gradle-docker-plugin/tree/docker-java-3) if you'd like to help out and start sending in PR's. Any help would be greatly appreciated.

[2016-05-05 12:45] orzeh commented on #180
ok, I`ll start work on it.

Do you plan to publish plugin snapshots?

[2016-05-05 12:47] cdancy commented on #180
@orzeh thanks! I wasn't planning on it. However, the migration _shouldn't_ be that bad and if we can knock things out relatively quick I can do another release.

[2016-05-06 12:36] orzeh commented on #180
I've made initial PR https://github.com/cdancy/gradle-docker-plugin/pull/1

[2016-05-10 14:35] whgibbo opened #210 "Multi-tag"
Hi,
Might be silly question, what is the best way to tag the image with a version and release ?

Thanks

[2016-05-10 15:41] cdancy commented on #210
@whgibbo we have [DockerTagImage](http://bmuschko.github.io/gradle-docker-plugin/docs/groovydoc/com/bmuschko/gradle/docker/tasks/image/DockerTagImage.html) task which should do just what you want.

[2016-05-10 15:41] #210 closed

[2016-05-10 15:49] cdancy commented on #187
Closing issue. Problem lies with docker-java and an issue is already open. For now folks will have to put all resources relative to the Dockerfile in question.

[2016-05-10 15:49] #187 closed

[2016-05-10 17:03] StFS commented on #180
Just FYI, I'm getting a stack trace when pushing my docker image into an Artifactory docker repository. The task doesn't fail but the stack trace is logged as an error and it looks ugly.

I've tracked the "error" to docker-java and from what I understand there is a fix already in place in v3.0:
https://github.com/docker-java/docker-java/commit/f2954e037ef6be098b1ef838480d61421ed34ceb

Here's the e

[2016-05-10 17:36] cdancy commented on #180
@StFS you're correct. Once we move to docker-java 3.0.0 this issue will go away. @orzeh has already put together a PR for this @ https://github.com/cdancy/gradle-docker-plugin/pull/1 which you can build/host locally and give things a go.

FYI ... we won't rebase the plugin off of docker-java 3.0.0 until they release. They are still releasing RC's, which is fine, but for sanities sake we can't move

[2016-05-10 17:38] StFS commented on #180
Understood. Completely agree.

[2016-05-15 19:33] shuraa opened #211 "Unable to build docker image based on another image with onbuild triggers"
Hi!

_Disclamer: before submitting the issue, I've checked that image successfully build by command ```docker build -t shuraa/pyapp:latest app``` command._

Today I faced with very strange issue with the plugin and docker ONBUILD triggers. I've created sample project and uploads it here https://github.com/shuraa/gradle-docker-onbuild .

My environment:
- Ubuntu 14.04
- Docker 1.11.1

Issue can be

[2016-05-15 22:22] cdancy commented on #211
@shuraa looks to be the same issue that was discussed here https://github.com/bmuschko/gradle-docker-plugin/issues/187 if I'm not mistaken. Basically there is a restriction on the docker-java library (which is a dependency of this library) that requires any resources/artifacts that are to be used for the build to be relative, or at least a child of, the same directory where the Dockerfile is locat

[2016-05-16 07:20] orzeh commented on #211
@shuraa, @cdancy there was a problem in `docker-java` librabry with ONBUILD support - check this [issue](https://github.com/docker-java/docker-java/issues/219) and [PR](https://github.com/docker-java/docker-java/pull/393).
My fix was released in `docker-java 3.0.0` snapshots so currently this plugin also does not support ONBUILD instruction.
You can check my version with those changes included [he

[2016-05-16 08:21] shuraa commented on #211
@cdancy , @orzeh thank you for your time. Yep, I have checked my project against [this](https://github.com/cdancy/gradle-docker-plugin/tree/docker-java-3) version. Issue is gone!

Waiting for docker-java 3.0.0 release...

[2016-05-16 08:28] orzeh commented on #211
@shuraa glad to hear it!
@cdancy it's another argument for some `SNAPSHOT` release.

[2016-05-16 11:08] #211 closed

[2016-05-25 19:18] itissid opened #212 "Recommended workflow"
This is more of a thought experiment for a use case I have. I use a docker base image to build a package (it requires some non trivial environment to build). Then I install the built package and start a service using the installed binaries. Finally it uses a return code as a way to send pass/fail signal back to the developer. What is the best workflow you propose for this use case in terms of grad

[2016-05-26 21:24] cdancy commented on #212
@itissid hey and thanks for checking in. Because I don't know all the details surrounding what you're trying to do I can't say for certain if that is the best path forward. It sounds sane enough from the description you gave.

The one thing I can say is that committing over and over again, while it does work, has the limitation that you can only have a finite number of layers to your container. Ch

[2016-05-27 12:45] Nekitos opened #213 "gradle-docker-plugin is not supported 'HostConfig' settings"
As I see in docker-java (library which used by gradle-docker-plugin) it provides HostConfig settings for docker, but gradle-docker-plugin isn't.
 Are you wants to provide this feature in future?

[2016-05-27 13:11] cdancy commented on #213
@Nekitos what options are you specifically looking for?

[2016-05-27 14:59] Nekitos commented on #213
@cdancy for example 'RestartPolicy'. When server with docker rebooted (due to electricity problems) it not starts previously run containers. If container starts with **--restart=always** parameter or with `"RestartPolicy": { "Name": "always", "MaximumRetryCount": 0 }` (through remote api), then it restarts all containers that was been started before reboot

[2016-05-27 15:08] cdancy commented on #213
@Nekitos gotcha. RestartPolicy is indeed an exposed option on docker-java's CreateContainerCommand and so adding the necessary functionality to DockerCreateContainer task should not be bad.

There are many options we don't expose (due to the sheer number) and so we add them as needed and/or requested by the community. Were you interested in sending in a PR for this functionality or looking for us

[2016-05-27 15:10] Nekitos commented on #213
@cdancy Think I can implement this feature

[2016-05-27 15:12] cdancy commented on #213
@Nekitos that would be great! Take a look over things and see what you can make happen. I'm here if you have questions and/or need a point in the right direction.

[2016-05-27 15:13] Nekitos commented on #213
@cdancy ok, thanks.
Btw, I think that this issue can be labeled as **enhancement** :-)

[2016-05-28 13:25] Nekitos commented on #213
For now I implemented RestartPolicy for HostConfig class in docker-java parameter.
As I see, some of parameters that stored in the HostConfig class (docker-java api) was been implemented in DockerCreateContainer class. I think DockerCreateContainer class should contains object of similar class like HostConfig. This should be task for refactoring.
So, I'll create  PR with one change (add createPoli

[2016-05-30 09:04] orzeh commented on #212
I would do this more or less like that:
[code]
Tasks uses `Dockerfile` with `FROM` set to your base image and have volume that contains built package.

Next:
[code]
This starts container which installs package and run service.
[code]

This is just a sample and does not work for sure ;-)

Take a look at [these functional tests](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/functT

[2016-06-01 15:22] cdancy commented on #213
@Nekitos send in a PR and I can comment and look things over. We don't really want to refactor the entire DockerCreateContainer task at this point. I would follow the model currently in place and just add the feature you need.

[2016-06-02 13:35] dpr-rec opened #216 "Login to Amazon ECR not working"
Hi,

I'm trying to build a container on a local docker installation. The Dockerfile references a parent image that is published to Amazon's ECR docker registry. The login to the AWS registry is somewhat "different"
1. One needs an AWS user with an AWS API access key
2. With this access key and the corresponding secret one can get the docker login command for the ECR registry:

[code]

The password

[2016-06-02 14:49] double16 commented on #216
I am able to use ECR to pull/push images with this plugin. I don't specify the email, try removing that. Also, the token expires after 24 hours, is your token expired?

[2016-06-02 16:55] dpr-rec commented on #216
Thanks for the info.

I acquired the token just minutes before starting the build. And as mentioned login from within the docker shell with the generated login command...

What does your docker `FROM` statement look like? Mine looks like this:

[code]

[2016-06-02 18:12] double16 commented on #216
I'm building it dynamically based on environment vars so I can support local and AWS, but it looks something like:
[code]

Did you publish your own 'java' repository? It looks a lot like the naming for Docker Hub's java.

[2016-06-03 08:01] dpr-rec commented on #216
Yes, the repositories name in ECR is `repository/java`

Is there some way (other than gradle's `--debug`) switch to enable some debug logging for this plugin or the Java Docker API to see what actually happens, what requests are send and what responses are received?

[2016-06-03 22:06] cdancy commented on #180
FYI: docker-java-3.0.0 branch has been merged with PR #217. Assuming my testing here goes well I'll release probably Sunday night sometime. Any extra real-world testing would be appreciated.

[2016-06-04 01:47] cdancy commented on #204
Added in PR #218

[2016-06-04 01:47] #204 closed

[2016-06-04 12:33] bmuschko commented on #204
FYI: The Gradle team is currently working on improving the way plugins and their respective repositories can be declared. This might become a non-issue in future versions of Gradle.

[2016-06-04 13:08] cdancy commented on #204
@bmuschko are there any docs on how this is going to be implemented? I'd love to have a look if it's readily accessible.

[2016-06-04 13:09] bmuschko commented on #204
Check out the [feature set](https://github.com/gradle/gradle/tree/master/design-docs/features/stable-plugins-dsl) described in the Gradle repo.

[2016-06-05 00:36] cdancy opened #219 "Releasing should update githubpages documentation"
@bmuschko would you mind ammending the release task to depend on task 'publishGhPages' and, assuming this needs to be done, add the necessary certs/properties to Circle-CI to make publshing them possible?

https://github.com/bmuschko/gradle-docker-plugin/blob/master/gradle/release.gradle#L53

[2016-06-05 09:50] cdancy opened #220 "Create DockerCopyFileToContainer task"
Now that we've rebased off of docker-java-3.0.0 we now have support to copy files into a container.

[2016-06-05 11:26] cdancy commented on #212
@itissid closing issue. Feel free to re-open if you're still having issues.

[2016-06-05 11:26] #212 closed

[2016-06-05 11:48] #220 closed

[2016-06-05 11:57] cdancy commented on #219
Also ... I planned on cutting a new release tonight (6/5/16). Any thoughts on bumping version to 3.0.0? The release has some big changes and warrants the major version bump IMO.

[2016-06-05 12:33] #174 closed

[2016-06-05 12:46] bmuschko commented on #219
I tried a while ago but couldn't make it work right away with Snap CI. The reason for it is that you'd also need to have another branch for publishing to GHPages. I can try again in the next couple of weeks but probably won't find time to give it a shot today. You can just run it from your local machine in the meantime.

I'd also bump up the plugin version to a major version.

[2016-06-05 12:50] cdancy commented on #219
That's actually what I was talking about ;)

[2016-06-05 14:21] cdancy commented on #213
@Nekitos fixed up the code and merged as part of #224 . Thanks for the PR!

[2016-06-05 14:21] #213 closed

[2016-06-05 23:16] cdancy commented on #219
@bmuschko trying to run 'publishGhPages' from my desktop gives me an auth exception.

Caused by: org.eclipse.jgit.api.errors.TransportException: git@github.com:bmuschko/gradle-docker-plugin.git: Auth fail
        at org.eclipse.jgit.api.FetchCommand.call(FetchCommand.java:139)
        at org.eclipse.jgit.api.CloneCommand.fetch(CloneCommand.java:178)
        at org.eclipse.jgit.api.CloneCommand.cal

[2016-06-05 23:18] cdancy commented on #180
gradle-docker-plugin 3.0.0 has been released and thanks to the hardwork put in by @orzeh we've rebased off of docker-java 3.0.0.

[2016-06-05 23:18] #180 closed

[2016-06-07 18:26] alan-czajkowski commented on #150
👍

[2016-06-07 18:32] alan-czajkowski commented on #150
@bmuschko can you please post what the docker closure example to get it to work with docker v1.11+?

this does not work:
[code]

[2016-06-07 18:35] cdancy commented on #150
@alan-czajkowski are you providing the `certPath`? Do you have a stacktrace with the exception?

[2016-06-07 18:47] alan-czajkowski commented on #150
i'm on OS X

config:
[code]

ran:
[code]
and got the following error:
[code]

[2016-06-07 19:27] cdancy commented on #150
Have you tried setting the [certPath](https://github.com/bmuschko/gradle-docker-plugin#extension-properties)?

[2016-06-07 19:31] alan-czajkowski commented on #150
tried:
[code]
doesn't help

[2016-06-07 19:36] cdancy commented on #150
@alan-czajkowski lets open up a new issue and follow the guidelines set in our [ISSUES](https://github.com/bmuschko/gradle-docker-plugin/blob/master/ISSUES.md) file. This will be much easier than asking a bunch of questions in this enhancement/feature-request issue.

[2016-06-07 22:35] itissid commented on #212
Hi thanks for your reply @orzeh. I did end up using most  of your code(thanks!). But, one thing that has arisen in the last few days is that there are some intermediate, time intensive steps after I start a container using my built image. The final result is a running service.

0. I labelled tasks into groups. There were about a dozen of them.
1. To speed up development of each task, I decided to

[2016-06-08 20:35] alan-czajkowski commented on #150
sorry for polluting this thread, but I found the problem and it's because I was being silly and put ```localhost``` instead of my docker-machine IP

note 1: why isn't this automatically detected by the code and/or [docker-java](https://github.com/docker-java/docker-java) library through some mechanism or either running a docker command to inspecting environment variables? (seems like an easy thing

[2016-06-08 20:47] alan-czajkowski commented on #150
i have an idea about [note 2] (see above):
- i'm building using an external Dockerfile:
[code]
but i'm referencing a file outside of the docker build context (the directory where the Dockerfile is located)

when i do a ```docker build ...``` on the command-line i get a:
[code]
error when i try to ```COPY``` files that live outside of the current working directory/build context

[2016-06-09 11:38] cdancy commented on #150
@alan-czajkowski it sounds like a docker issue to me if I'm not mistaken. Generally you want all of your resources/artifacts to be relative to the Dockerfile itself. They may have changed this requirement as of late.

[2016-06-09 14:15] alan-czajkowski commented on #150
i recommend mimicking the behaviour and feature-set of [docker-maven-plugin](https://github.com/fabric8io/docker-maven-plugin) they have it figured out pretty well, i've used that plugin in the past and am coming up short on trying to find a gradle-equivalent

[2016-06-09 14:20] cdancy commented on #150
@alan-czajkowski This plugin builds on top of the [docker-java](https://github.com/docker-java/docker-java) project acting as a wrapper of sorts. If there is an underlying issue with how the building of docker images works, or is implemented, I would open an issue with them.

[2016-06-10 09:36] gdrooid opened #226 "registryCredentials url property is ignored"
Hi, I'm trying to use the plugin to build and push docker images to a private registry. If I set the url using the property in `registryCredentials` it is ignored and the plugin tries to upload the image to docker.io... ~~I removed the `=`, using url as a method, and then the plugin uses it! But it sends `HTTP` requests to the port `80`, unless I specify the port `443`, but then it still sends pla

[2016-06-10 11:38] cdancy commented on #226
@gdrooid can you please follow the guidelines on [reporting issues here](https://github.com/bmuschko/gradle-docker-plugin/blob/master/ISSUES.md)?

[2016-06-10 13:06] gdrooid commented on #226
Hey @cdancy , I discovered the issue when preparing a minimal gradle build file. :sweat_smile: I didn't know I had to tag the image with the repo url, which feels really weird to me. So the problem was with me not understanding docker, rather than your plugin.

Thank you very much for your attention.

[2016-06-10 13:07] #226 closed

[2016-06-10 13:28] cdancy commented on #226
@gdrooid glad you got things worked out.

[2016-06-10 20:00] itissid opened #227 "Getting a container by name"
Lets say I am doing development and want to interactively run test commands on an environment on a container. I don't want to recreate the container from the image because each test command as that takes a long time to execute the first time(subsequent runs are of course faster).

Example, A test command like gradle may take many mins to download and cache jars.

How might I use the API to make th

[2016-06-10 20:21] cdancy commented on #227
@itissid  All container tasks accept the parameter [`targetContainerId`](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/container/DockerExistingContainer.groovy#L27) which is a closure that must resolve to a String. Is this what you're referring to?

    task execCommand(type: com.bmuschko.gradle.docker.tasks.container.DockerExecContai

[2016-06-10 20:22] itissid commented on #227
Actually assigning the value of `getContainerName` to `targetContainerId` helps create constant name which can be used in later tasks after the `DockerCreateContainer` task exits. When I saw the word `id` I assumed it was the SHA value.
Maybe useful to clarify that in the readme?

[2016-06-10 20:22] #227 closed

[2016-06-10 20:28] cdancy commented on #227
@itissid either the name or the SHA value should work much like it does on the command line. Are you saying the SHA value did not work when you tried?

[2016-06-10 21:57] itissid commented on #227
No the SHA value is different every time. The name I can hardcode and reuse for running commands against running containers with that name and clean it up later.

[2016-06-13 10:00] Dreampie opened #228 "`apply from:` always failed"
I creat th common.jar with file `common.gradle`
[code]

and use in other project's build.gradle
[code]

alway faild :
[code]

[2016-06-13 13:23] cdancy commented on #228
@Dreampie if you put all of this code within the same file does it still fail?

[2016-06-13 14:57] Dreampie commented on #228
if put in one `build.gradle` file,it's ok, only fail in  `apply from: project.buildscript.classLoader.getResource("common.gradle")`

[2016-06-13 15:02] cdancy commented on #228
Ok. This this is more a gradle issue than anything else. I would try asking on the gradle forums or reach out to those guys on IRC. I vaguely remember this being an issue some time ago and it would appear they've yet to solve the "problem" as it were. Just curious: what version of gradle are you using?

[2016-06-13 16:34] gesellix commented on #228
isn't this one another case of having to `apply plugin: com.bmuschko.gradle.docker.DockerRemoteApiPlugin` instead of `apply plugin: "com.bmuschko.docker-remote-api"` when applying a plugin in a non-`build.gradle` file?

[2016-06-14 02:22] Dreampie commented on #228
if I use in `common.gradle`
[code]
error:
[code]

[2016-06-14 03:21] Dreampie commented on #228
other docker plugin is ok
[code]

[2016-06-14 04:57] gesellix commented on #228
Please try the class name without quotes, just like in my example.

[2016-06-15 02:11] Dreampie commented on #228
yeah，I try it `apply plugin: com.bmuschko.gradle.docker.DockerRemoteApiPlugin`  but
[code]

[2016-06-15 02:22] Dreampie commented on #228
[code]

[2016-06-15 06:00] gesellix commented on #228
do you have a `buildscript` section above the `apply plugin: ...`?

[2016-06-15 06:26] Dreampie commented on #228
yes，I  do

[2016-06-15 13:08] roberttaylor426 opened #229 "DockerPullImage tasks fail when executed in parallel"
Hi,

I'm experiencing an issue when my build tries to execute two `DockerPullImage` tasks in parallel. My build is multi-project, with parallel task execution enabled, and when the 'pull' tasks execute I get the following error:

[code]

The build runs fine if parallel task execution is disabled.

My task definitions look something like:

[code]

I can work around this issue without too much troub

[2016-06-15 20:56] cdancy commented on #229
Hey @roberttaylor426! Can you please follow the [guidelines for reporting new issues](https://github.com/bmuschko/gradle-docker-plugin/blob/master/ISSUES.md)?

[2016-06-16 01:38] roberttaylor426 commented on #229
Apologies, I didn't notice your reporting guidelines.

Actually the problem is resolved now. For anyone else who encounters the same issue, upgrading docker to 1.11.2 solved the problem for me (I was previously using 1.8). FWIW I'm on Ubuntu.

@cdancy as an aside, perhaps you could point users towards your issue reporting guidelines with an [issue template](https://help.github.com/articles/creatin

[2016-06-16 01:49] cdancy commented on #229
@roberttaylor426 hmmmm ... I actually had that wired up at some point. Not sure why it's not showing up now. Thanks for pointing it out and might explain why the last few folks who submitted issues failed to follow the template ;)

[2016-06-16 01:49] #229 closed

[2016-06-19 17:13] cdancy commented on #228
@bmuschko can you provide any insight here?

[2016-06-19 18:06] bmuschko commented on #228
It's likely a `ClassLoader` issue you are facing here. I would not recommend (nor have I seen anyone doing it) applying a script plugin that is bundled within a JAR file. What you should do here is to write a binary plugin with the same logic you have in `common.gradle` and then apply it by type or identifier.

[2016-06-19 19:35] cdancy commented on #228
@bmuschko I think he just wants to be able to separate out some of his build logic into another file but be able to call "./gradlew createDockerFile" from the root. I've run into similar issues in the past and end up just putting everything into one file as it does not amount to many tasks.

[2016-06-20 06:40] bemnum commented on #216
Hello,

The same problem exists, when using Nexus Repository Manager 3.0.0-03:
`Caused by: com.github.dockerjava.api.DockerClientException: Could not build image: unauthorized: authentication required`

Gradle-docker cannot pull image from registry which requires authentication.

The problem does not exists if I use docker login <...> and docker pull <...> from command line.

My example docker has

[2016-06-20 12:14] bmuschko commented on #228
@cdancy I don't think that's the case. The `common.gradle` is embedded in his common JAR file as indicated by `classpath("common:common:${commonVersion}")`. @Dreampie Please provide a sample project on GitHub that demonstrates the issue. Please also keep in mind that Gradle does not support loading script plugins from JARs. Can you confirm if that's what you are doing?

[2016-06-21 00:28] bgulla opened #231 "gradle-docker-plugin does not seem to be working with Docker for Mac Beta"
When building my java project (Apache Myriad), it seems like the new departure from boot2docker and integration of the new Docker for Mac breaks the plugin. See below:

[code]

[2016-06-21 01:53] cdancy commented on #231
@bgulla can you post a snippet of your code and the full stracktrace?

Are you attending dockercon by any chance and just got the heads up they opened beta testing for all? I'm there and walking around if you want to come say hello and trouble shoot your issue.

[2016-06-21 15:37] ericweinberg commented on #231
I don't pretend to understand this, but I think the root issue is with docker-java (which i believe this plugin depends on).  You can read about all the gory details here:  https://github.com/docker-java/docker-java/issues/537

[2016-06-21 16:06] cdancy commented on #231
That is indeed the issue. I'll leave this ISSUE open if only to track the progress of what they are doing. With Windows/Mac beta now open to everyone I assume we will see many more folks coming in with similar problems.

[2016-06-22 01:37] set321go commented on #231
I just ran up against the same problem.

This didn't solve it for me but maybe you have some luck.
https://forums.docker.com/t/accessing-docker-daemon-on-port-2375/13707

If you can work out how to configure the docker for mac to open up the http port that should be a workaround.

`curl -v http://localhost:2376/info` gives me a connection refused
`curl --unix-socket /var/run/docker.sock http:/cont

[2016-06-23 06:30] aflowers001 opened #232 "Cannot wait for application in container to start before running, say, integration tests"
when building a spring boot application and then looking to run integration tests against the application deployed in a docker container i faced an issue whereby I had to wait for the application to be started in the container before commencing the tests.

I did not want to pollute the tests with and docker specific waits so I looked for a way to monitor the container for a specific event, but cou

[2016-06-23 16:28] cdancy commented on #232
@aflowers001 that's the way I've solved similar problems and have instructed others to do so as well. The standard we've set with this plugin is to provide a 1-to-1 (docker-command to gradle-task) and so we don't typically take any custom tasks so to speak. However, this is a common enough issue/question and I might entertain an enhancement to the `DockerLogsContainer` task that polls for some log

[2016-06-23 18:58] itissid opened #233 "Upload a list of files"
I don't think there is an abstraction on top of `DockerCopyFilesToContainer` to upload a select set of files (would  be nice if additonally we could provide functionality to filter em). Is this just trivial to write using gradle magic or would be more involved? If the former I could try proposing a design and then a patch..

I don't think  that docker API supports this natively, but I suppose migh

[2016-06-23 19:09] cdancy commented on #233
@itissid we have the [DockerCopyFileToContainer](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/container/DockerCopyFileToContainer.groovy) task to "upload" files to a given container. Docker natively takes a single File (be it regular file or directory) and will upload its contents to a given location. If you want to do this for X num

[2016-06-27 08:41] orzeh commented on #232
@aflowers001 also check the official [Docker Compose doc](https://docs.docker.com/compose/startup-order/) - there are links to some useful utilities that you can use to solve your problem.

@cdancy I agree that this is a common problem, so we should propose some "advised" solution with regards to docker-gradle-plugin.

[2016-07-03 20:27] bitsofinfo opened #235 "docker for mac 1.12 cannot connect"
Getting this.

Tried setting DOCKER_HOST to the docker socket but this gradle task still doesn't work

[code]

If i try

[code]

I get

[code]

? https://forums.docker.com/t/worked-around-docker-http-s-api-no-longer-available-in-beta9/10474/6

https://github.com/docker-java/docker-java/issues/537

[2016-07-03 20:40] bitsofinfo commented on #235
This definitely aids the issue

[code]

[2016-07-04 02:00] cdancy commented on #235
@bitsofinfo this is definitely a known issue and the link to the docker-forum, and subsequently the docker-devs themselves, suggest that a "tcp fix" may not be forthcoming at all. Not sure what to make of that. The fix, as you note, does work as expected! Being a mac user myself I greatly appreciate you sharing this!

However, I've stumbled upon a few issues related to docker-on-mac being on v1.24

[2016-07-04 03:35] bitsofinfo commented on #235
related #231 ?

[2016-07-04 13:10] cdancy commented on #235
Somewhat related but that is more ties to using Unix sockets than going over tcp. If we can get tcp working OOTB that would be the preferred solution and one we could move forward with instead of waiting on all the work that needs to be done to get Unix sockets on Mac working as expected.

[2016-07-04 14:24] double16 commented on #235
I had Docker for Mac 1.11 working using this recipe:
[code]

Docker for Mac 1.12 broke with the server API compatibility. At which point I uninstalled and am using docker-machine exclusively.

[2016-07-05 05:52] childnode opened #236 "Question: can't read generated tag"
[code]
returns null for the docker tag.

which is reasonable as I see this code:
https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/DockerJavaApplication.groovy#L22

but I can't find where / when tag default https://github.com/bmuschko/gradle-docker-plugin#extension-properties-1 `<project.group>/<applicationName>:<project.version>` comes in

[2016-07-05 07:23] orzeh commented on #236
See [ determineImageTag() in DockerJavaApplicationPlugin](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/DockerJavaApplicationPlugin.groovy#L108).

`DockerJavaApplication` instance is only configured by your closure from build script and it is not updated when default values are calculated later on.

[2016-07-05 14:10] cdancy commented on #233
@itissid closing this issue. If you're still having problems feel free to re-open.

[2016-07-05 14:10] #233 closed

[2016-07-05 14:12] cdancy commented on #231
Closing this thread as a temporary solution, though still failing due to docker-java issue, is somewhat possible and is being discussed in more detail here: https://github.com/bmuschko/gradle-docker-plugin/issues/235

[2016-07-05 14:12] #231 closed

[2016-07-05 14:20] cdancy commented on #228
@Dreampie closing issue. Feel free to re-open if you're still having problems.

[2016-07-05 14:41] cdancy commented on #216
@dpr-rec you could use wire-shark to see what exactly is going out OR build a [docker-java](https://github.com/docker-java/docker-java) client yourself (which is what we do behind the scenes anyway) and add the [necessary logback](https://github.com/docker-java/docker-java/issues/544) file to your classpath to capture the wire logs.

[2016-07-05 20:11] eshepelyuk opened #237 "Java system properties are not taken into account"
According to `FAQ` section `Executing the plugin’s test suite with custom configuration` there are few system properties that can configure Docker Engine location

* dockerServerUrl
* dockerCertPath

But seems they are not working, i.e. if I use `-DdockerServerUrl=..` when invoking `Gradle` the value is ignored.

[2016-07-05 20:14] cdancy commented on #237
Are you running the plugin tests or trying to pass these properties on the command line when invoking say a task?

[2016-07-05 20:16] eshepelyuk commented on #237
The latter

Are you running the plugin tests or trying to pass these properties on the
command line when invoking say a task?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/bmuschko/gradle-docker-plugin/issues/237#issuecomment-230589488>,
or mute the thread
<https://github.com/notifications/unsubscribe/ABOF9eGzzPg5TX6K

[2016-07-05 20:19] cdancy commented on #237
Unfortunately that won't work in this context and used primarily for running our tests. Can you not use the extension to set the docker URL?

[2016-07-05 20:22] eshepelyuk commented on #237
I can, but
- overriding `Docker Engine` location via system properties is quite powerful feature, used in maven plugin and allowing to use the same `Gradle` build script to work with several `Docker Engines`
- current plugin FAQ is confusing :)

[2016-07-05 20:25] cdancy commented on #237
Fair enough. We could add an item to our backlog to optionally pass in these properties via command line to give greater flexibility.

[2016-07-05 20:28] eshepelyuk commented on #237
I'd like to pick it up and submit a PR in a while :)
Just need some guidance about where to place the code.

What about `AbstractDockerRemoteApiTask.groovy` ??

[2016-07-05 20:36] orzeh commented on #237
@eshepelyuk @cdancy but should these properties override values defined in build script or be used as a default value (if defined)?

[2016-07-05 20:44] eshepelyuk commented on #237
@orzeh I believe they should, it's sort of common behaviour in other plugins. I.e. the order is following

1. use system properties
1. if no system properties defined, use build script values
1. if there's no system properties / build script values defined - use defaults

[2016-07-05 20:51] cdancy commented on #237
@eshepelyuk I would start [here](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/AbstractDockerRemoteApiTask.groovy#L67). When we create the `DockerClientConfig` at runtime we can check there. That seems to make the most sense IMO.

As far as precedence: I think gradle properties (e.g. -Pfoo=bar) should have more weight than java proper

[2016-07-05 20:54] eshepelyuk commented on #237
Yes, sounds reasonable. I just forgot about `Gradle` properties , i.e. defined with `-P`.

[2016-07-05 20:55] cdancy commented on #237
@orzeh thoughts one way or the other on the proposed path to move forward?

[2016-07-05 20:55] orzeh commented on #237
@cdancy I agree with hierarchy you proposed.

However I would put that logic into [DockerThreadContextClassLoader](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/utils/DockerThreadContextClassLoader.groovy#L42)

[2016-07-05 20:57] cdancy commented on #237
@orzeh meaning to [flesh this out a](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/utils/DockerThreadContextClassLoader.groovy#L67) bit more to account for these?

[2016-07-05 21:03] orzeh commented on #237
@cdancy yes, I`ve pointed line 42 because we should support other settings as well (cert path and api version).

[2016-07-05 21:12] cdancy commented on #237
@orzeh sounds good. @eshepelyuk please take the recommendation put forth by @orzeh. You can do the necessary property config inside method `getDockerHostUrl`. You noted your desire to only do this for the `url` but what you be interested in providing the same for `certPath` and `apiVersion`? If so I would follow the same design set by the aforementioned method and create something similar for thes

[2016-07-06 04:54] eshepelyuk commented on #237
Thank you for giving a hint. I'll follow recomendations above.

[2016-07-06 11:52] cdancy commented on #236
Closing as it appears things may be solved. @childnode feel free to re-open if you have any further questions.

[2016-07-06 11:52] #236 closed

[2016-07-06 16:26] childnode commented on #236
yes, so the answer is: it is determined automatically if not set explicit but you cant read / dump the default value since the method is private and not executed until the image is build ;)
Thx anyway .. ~Marcel

[2016-07-07 07:10] kboom opened #238 "Starting container with HostConfig was deprecated since v1.10 and removed in v1.12"
Hi All,

Just started to use the plugin. I have docker 1.11 installed on my PC.
When running DockerStartContainer task I'm getting the error like in the issue title.
Is this a known bug? How to resolve it? I don't think nobody has noticed it yet as it's major.

Here's my config if it can be of any help:
[code]

Thanks!

[2016-07-07 08:45] orzeh commented on #238
I`m afraid it is [docker-java problem](https://github.com/docker-java/docker-java/issues/617), so we have to wait for them to fix it.

You can try to specify Docker API version used, but I`m not sure if it will help.

[2016-07-07 12:41] cdancy commented on #238
@orzeh has it right. I was actually discussing this very thing [on this thread](https://github.com/docker-java/docker-java/issues/615). Unfortunately setting the API version has no effect ;(

[2016-07-07 16:48] nyounger commented on #216
I believe I have ran into the same issue as the above.  My grade build file docker section looks like:
`
docker {
    registryCredentials {
        url = 'https://registry.privateregistry.int/'
        username = 'privateregistryuser'
        password = 'privateregistrypassword'
        email = 'email@email.com'
    }
}
`
When I use wireshark to look at the packet exchange I see its trying to auth

[2016-07-08 08:40] mathiasbn opened #239 "Make DockerJavaApplication contain a list of exposed ports (instead of 1)"
It is not at all uncommon for a java application to expose two port (i.e. 80 / 443).

Is there a reason it is forced to one for java?

[2016-07-08 08:42] #239 closed

[2016-07-10 18:23] cdancy commented on #219
Still can't update docs. Maybe we can set the username/password as properties in the CI job so that we can do something like the below (use this in my own code):

	githubPages {
		repoUri = 'https://github.com/cdancy/artifactory-rest.git'

		pages {
			from(javadoc.outputs.files) {
				into 'docs/javadoc'
			}
		}
		credentials {
			username = project.githubUsername
			password = project.githubPas

[2016-07-13 08:08] mark-agillic opened #241 "How to use in combination with your tomcat gradle plugin?"
Hi,

I am trying to deploy an embedded tomcat (using your gradle plugin) to a Docker container.
Can you tell me how to hook this into the 'dockerBuildImage' task ?
Right now I'm getting:
A problem was found with the configuration of task ':startScripts'.

My basic test project can be seen here: https://bitbucket.org/mnellemann/docker-test/src

The 'tomcatRunWar' task works as expected and the 'doc

[2016-07-13 20:28] orzeh commented on #241
You are using [gradle-tomcat-plugin](https://github.com/bmuschko/gradle-tomcat-plugin) which is designed to start Tomcat during Gradle build and deploy your application to it.

It seems that your goal is to deploy your application to Tomcat running in a Docker container, so why won't you just use [Tomcat Docker image](https://hub.docker.com/_/tomcat/)? Then you can simply copy  application war int

[2016-07-14 09:18] mark-agillic commented on #241
Thank you - makes sense. I will look into the tomcat docker image. Using spring-boot would be awesome, but I'm trying to prove a case for a legacy app.

[2016-07-14 09:18] #241 closed

[2016-07-15 09:28] mrhaki opened #243 "Allow to define a device mapping when creating a container"
When defining a container we want to configure which devices from the host are accessible in the container. With the docker `run` command this would be the `--device` option.

[2016-07-15 11:06] Olivier-l opened #244 "Cohabitation with other plugins"
Hello, we began to use this plugin in our project and we find it very useful.
When we define the tasks for the plugin in the main build.gradle file everything works ok.

However when we try  to organize gradle build logic in multiple files and we have several other plugins installed, it will throw the following exception :

11:47:46.757 [ERROR] [org.gradle.BuildExceptionReporter]
11:47:46.757 [ERR

[2016-07-15 11:11] orzeh commented on #244
It would be easier to help you if you could provide build script or example project that reproduces the issue.

You may also look at #228

[2016-07-15 11:21] orzeh commented on #243
Indeed this plugin lacks this functionality. `docker-java` supports this, so it should be straightforward to implement it.
@mrhaki or anyone interested in submitting PR?

[2016-07-15 11:22] mrhaki commented on #243
@orzeh I can write a PR for this. Should be ready soon.

[2016-07-15 13:21] mrhaki commented on #243
I have added PR #245 for this issue.

[2016-07-16 07:26] sshogunn opened #246 "Cannot build image in local docker machine"
# I use gradle-docker-plugin, my configuration is the following:

`id 'com.bmuschko.docker-remote-api' version '3.0.1'
id 'com.bmuschko.docker-java-application' version '3.0.1'

docker {
    url = 'http://192.168.99.100:2376'
    javaApplication {
        baseImage = 'dockerfile/java:openjdk-8-jre'
        maintainer = 'Anuar Nurmakanov "Anuar_Nurmakanov@epam.com"'
        port = 9090
        tag

[2016-07-16 07:33] eshepelyuk commented on #246
Did you explicitely disable TLS in you Docker Engine instance ?

[2016-07-17 07:46] dilgerma opened #247 "Cannot Push on MacOs"
Hi,

I cannot seem to push an image built with this plugin.

build.gradle:

`
docker {
    url = 'http://192.168.99.100:2376'
}

task copyJar(type: Copy) {
    dependsOn 'jar'
    from "build/libs/${serviceName}-${project.version}.jar"
    into 'build/docker/'
    rename { String fileName ->
        fileName.replace("-${project.version}", "")
    }
}

task createDockerfile(type: Dockerfile) {

[2016-07-17 08:23] eshepelyuk commented on #247
You're trying to push to registry without pointing the registry and providing credentials.
This can be done by using `registryCredentials` config closure. Please refer to plugin's manual.

PS: as a suggestion, I assume you could drastically simplify your build by leveraging `com.bmuschko.docker-java-application` plugin.
I.e. no need to generate custom Dockerfile`, no need to custom task for jar co

[2016-07-17 14:46] sshogunn commented on #246
Thanks for your answer.
Unfortunately I cannot find how I can disable TLS for Docker Toolbox for Windows :(

[2016-07-17 14:54] sshogunn commented on #246
I disabled TLS verification:
"TlsVerify": false,

But I still have the same error, when I try to build image

[2016-07-17 16:01] eshepelyuk commented on #246
I assume you're using `Docker ToolBox`, so make sure your build script has `docker` closure like :
[code]

[2016-07-17 16:08] sshogunn commented on #246
Yeaaaah, It works) Thank you
But how can I do the same in Jenkins where docker is installed on another machine?

[2016-07-17 16:18] eshepelyuk commented on #246
Adjust your `build.gradle` like this

[code]

and then invoke `Gradle` at `Jenkins`

    $ gradle -PdockerUrl=.. -PcertPath=.. dockerBuildImage

[2016-07-17 16:19] sshogunn commented on #246
Cool. Thanks a lot)
I will try

[2016-07-18 22:56] #243 closed

[2016-07-19 11:37] dpr-rec opened #248 "Applying multiple tags to created image fails with NullPointerException"
I'm trying to apply multiple tags to an image created with a `DockerCreateImage` task. As the `DockerTagImage` task only supports a single tag, I'm creating tagging tasks on the fly in my gradle build based on the configured tags (basically a comma separated list):

build.gradle:
[code]
docker-utils.gradle:
[code]

This works fine in a single project build but in a multi-project built I'm getting

[2016-07-19 12:02] orzeh commented on #248
Did you apply the plugin to each Gradle sub project?

[2016-07-19 12:41] dpr-rec commented on #248
To each docker related project, yes

[2016-07-19 13:17] cdancy commented on #247
@dilgerma I'm going to close this for now as I believe @eshepelyuk is correct. Feel free to re-open if you can't get things working by taking the suggestions given.

[2016-07-19 13:17] #247 closed

[2016-07-19 13:19] cdancy commented on #244
@Olivier-l is this still an issue? As @orzeh said: it would be much easier to help and diagnose the issue if we had an example of what you're trying to do.

[2016-07-19 13:59] orzeh commented on #248
I believe this is problem is related to how you use this plugin in your build scripts.

When this plugin is applied then it internally do this:
[code]
According to the stacktrace the problem is in:
[code]
so `threadContextClassLoader` was not set.

You create your `tagDockerImageX` tasks dynamically inside a custom function which is invoked as a `doLast` action of another task. I think these tasks

[2016-07-19 14:02] dpr-rec commented on #248
Will try, but may take some time... Thanks for the support, so far.

[2016-07-19 14:26] dpr-rec commented on #248
Maybe this is somewhat helpful. I changed the `tagDockerImage` function to set the class loader:

[code]

Now I'm getting this error, when running the build:

[code]

That is the docker extension is not of type `DockerExtension` but `DockerExtension_Decorateed` when the tasks are created...

[2016-07-20 13:12] Olivier-l commented on #244
Hi,
Thanks for your answers, there is still an issue.
To workaround this problem, we are now including the docker inside the build.gradle
It's less clear, but it works.

Thanks

[2016-07-20 14:35] dpr-rec commented on #248
I created an example to reproduce the problem: https://github.com/dpr-rec/gradle-docker-plugin-248

While trying to create this example I boiled the problem down to the dependency to `com.github.jengelman.gradle.plugins:gradle-processes:0.3.0` (https://github.com/johnrengelman/gradle-processes) which is a transitive dependency of `com.github.robfletcher:compass-gradle-plugin:2.0.6` (https://github

[2016-07-20 14:39] orzeh commented on #248
Thanks! I wilk take a look

[2016-07-20 14:51] christianwnk commented on #244
Hi, I´m getting the same Exception with the identical stacktrace "Cannot invoke method withClasspath() on null object".

The beginning of my build.gradle:
`buildscript {
    repositories {
        jcenter()
		mavenCentral()
    }

    dependencies {
        classpath 'com.bmuschko:gradle-docker-plugin:3.0.0'
    }
}

plugins {
  id 'org.hidetake.ssh' version '1.6.0'
  id "de.undercouch.download" v

[2016-07-20 22:08] orzeh commented on #248
OK, after a while I know what is happening, however it is strange.

I don't know why, but it works when dependencies of __both__ build scripts - main and included via `apply from:` __are the same__. If they are different, NPE is thrown because - as I supposed - your dynamically created tasks do not appear in `project.tasks.withType(AbstractDockerRemoteApiTask)` collection.
I've made a [PR](https:/

[2016-07-20 22:11] orzeh commented on #244
@Olivier-l @christianwnk please see [my comment here](https://github.com/bmuschko/gradle-docker-plugin/issues/248#issuecomment-234098958).

[2016-07-21 08:37] dpr-rec commented on #248
I getting even weirder.

Your "fix" was not working for me until I changed the **order** of the buildscript dependencies in the applied gradle file to match the order in the root build.gradle. That is:

working:
[code]

not working:
[code]

Again the `com.github.johnrengelman.processes` is not applied to any of the projects in the example. The problem is already caused by simple adding the respect

[2016-07-21 10:30] dpr-rec commented on #248
Ok, I played around a little bit and this problem doesn't seem to be specifically related to the `com.github.jengelman.gradle.plugins:gradle-processes:0.3.0` plugin, but to the buildscript dependencies in general. In our real-life project we have multiple buildscript dependencies (11 in total). To make the imported gradle file working, I needed to add all of these dependencies to the imported file

[2016-07-21 10:58] christianwnk commented on #244
I have solved the issue with your help and the comments from #248. Things I have done:

I have removed the
[code]

from my build.gradle and instead I added the the entries to the classpath in the buildscript{} on build.gradle and docker.gradle. My buildscript now looks like:

[code]

Last I applied the plugins:
[code]

Now i can run the docker tasks without problems.

[2016-07-21 11:25] orzeh commented on #244
I'm happy it works for you.
However we should track down the cause of this issue.
I'm closing this and if you are interested please follow #248

[2016-07-21 11:25] #244 closed

[2016-07-21 11:29] orzeh commented on #248
So this is a Gradle issue not `gradle-docker-plugin`.
I don't have enough knowledge about Gradle internals to track it down, so we need some help from Gradle community.

[2016-07-21 12:03] dpr-rec commented on #248
Actually I'm not sure. `gradle-docker-plugin` is the first of the 11 plugins that has problems like this. That is it may be a Gradle issue and/or an issue with the way `gradle-docker-plugin` uses Gradle.

But I'm not that much into the Gradle internals as well to be able to make a qualified judgement on this...

[2016-07-25 01:11] cdancy commented on #248
@dpr-rec with gradle 3.0.0 the plugin model is supposed to be more isolated thereby not allowing the clobbering one typically sees with 2.x. There is an ISSUE/documentation on this work somewhere but I'm failing to find it at the moment.

I've run into similar issues and indeed re-ordering the classpath, however unfortunate, does cause the problem to "go away".

[2016-07-25 08:58] dpr-rec commented on #248
@cdancy  thanks for the update. Hopefully updating to Gradle 3.0.0 will not be much of an effort, once it is released...

[2016-07-25 11:29] dpr-rec opened #249 "Supply build time variables to DockerBuildImage"
Hi,

is it possible to pass build time arguments `DockerBuildImage` tasks similar to the `--build-arg` switch used with the docker command?

This would be needed to build images using the [`ARG`](https://docs.docker.com/engine/reference/builder/#/arg) Dockerfile instruction...

Best regards

[2016-07-25 11:55] orzeh commented on #249
See https://github.com/bmuschko/gradle-docker-plugin/pull/240

[2016-07-25 12:23] dpr-rec commented on #249
Oh, i looked for issues only...

That is, this feature will be available in 3.0.2 or is already in available in 3.0.1?

[2016-07-25 12:25] orzeh commented on #249
Will be in 3.0.2

[2016-07-25 12:25] dpr-rec commented on #249
Great thanks

[2016-07-25 12:53] cdancy commented on #248
@dpr-rec I'm going to close this issue for now as there is a work around. This is more due to gradles handling of plugin dependencies (which we try our best to get around) than I think anything else.

[2016-07-25 12:53] #248 closed

[2016-07-25 12:53] #249 closed

[2016-07-28 05:46] kanebryant opened #251 "Unable to connect to private docker registry"
I work in a restricted environment so I cannot access docker hub so I have attempted to setup my gradle build pointing to our private registry but the plugin seems to keep wanting to use docker hub?

I get the following error

Could not build image: Get https://index.docker.io/v1/repositories/frolvlad/alpine-oraclejdk8/images: dial tcp 52.22.190.106:443: connection refused

here is my docker gradl

[2016-07-28 05:48] eshepelyuk commented on #251
What task do you try to run ?

[2016-07-28 05:50] kanebryant commented on #251
I run buildImage

task createDockerfile(type: Dockerfile) {
    destFile = project.file('build/docker/Dockerfile')
    from 'frolvlad/alpine-oraclejdk8:slim'
    maintainer 'Kane Bryant"kane.bryant@austrac.gov.au"'
    volume '/tmp'
}

task buildImage(type: DockerBuildImage) {
    dependsOn   copyJar
    dependsOn createDockerfile
    inputDir = createDockerfile.destFile.parentFile
    tag = 'kane

[2016-07-28 06:51] eshepelyuk commented on #251
You could do one of the following

-  Download image locally and retag it
[code]
- or adjust `build.gradle` like

[code]

#### PS
I'd suggest you to try `docker-java-application` (2nd plugin available in JAR) instead of `.docker-remote-api`.
You could avoid creating boilerplate tasks (Dockerfile generation, docker image build etc), since `docker-java-application` already provides them

[2016-07-28 07:01] eshepelyuk commented on #209
To push to private registry you basically need to to following

1. Create docker images, e.g. `my-user/my-image`

        $ docker build ....
2. Tag the image with a tag name containing URL of repository

        $ docker tag my-user/my-image my.registry.com:5000/my-user/my-image
3. Push new tag to private registry, URL of registry is taken from tag

        $ docker push my.registry.com:5000/my-u

[2016-07-28 07:10] orzeh commented on #251
Just a side note: using Docker image with Oracle JDK [you break the licence agreement](http://blog.takipi.com/running-java-on-docker-youre-breaking-the-law/). Take a look at [Azul Zulu](https://www.azul.com/products/zulu/) and their [Docker images](https://hub.docker.com/u/azul/).

[2016-07-28 07:15] orzeh commented on #246
@sshogunn  I`m closing this as I believe it works for you.

[2016-07-28 22:41] kanebryant commented on #251
Thanks for your help I am now trying java-application but was wondering how I use it for a spring-boot application or should I go back to using the other plugin and build the image myself?

In the meantime I am still having connection errors and was wondering where do I set the --insecure-registry option, is this done on the docker instance? or somewhere in my gradle config

Caused by: com.github.

[2016-07-29 02:10] eshepelyuk commented on #251
1. Spring boot application are working perfectly with `docker-java-application`. Here's an example of setup https://github.com/eshepelyuk/CodeForBlog/blob/master/SpringBootZuulAuth/build.gradle
2. You should are `--insecure-registry` to your local `Docker Engine` options, i.e. to one that you're configuring with `docker.url` property.

[2016-07-30 08:10] eshepelyuk opened #252 "Proposal for simplification of pushing images to private registries"
The common scenario when working with private Docker Registry is

1. Build Image

1. Tag image with new tag containing private registry URL

1. Push new tag (image) to private registry

Currently it can be achieved by creating custom image task and adjusting provided push task and this is not very straighforward.

From the other side [Mave plugin](https://github.com/spotify/docker-maven-plugin) pr

[2016-07-31 23:22] kanebryant commented on #251
Thanks for all your help I have managed to build and publish to our private docker registry, but when I look at existing docker spring boot docker examples their dockerfile is different to the one generated by the javaApplication plugin. I would have thought I need to change the entry-point and include a volume like in the spring examples. However I am new to docker and spring-boot so I could be m

[2016-08-01 07:08] orzeh commented on #252
AFAIK this plugin philosophy is to provide basic building blocks for interacting with Docker.

What you propose is something which is IMO rather project or workflow depended, and should be covered by custom plugin / shared Gradle scripts.

@cdancy maybe you have some other thoughts?

[2016-08-01 07:29] orzeh commented on #251
To use SpringBoot efectively you will have to write your own `Dockerfile` and resign from `docker-java-application`.

SpringBoot produces Fat JARs which can be run directly invoking `java` command:

[code]

So this can be set as Docker `ENTRYPOINT` or `CMD`.

However, to utilize Docker cache during image build, please take a look at [this blog post](http://bsideup.blogspot.in/2015/04/spring-boots-

[2016-08-01 13:14] cdancy commented on #252
I actually think that is as straightforward as one can get ;) Sure we could wrap multiple tasks into a single task, or something along those lines, but as @orzeh has noted: this sounds like it belongs in a custom plugin if you really want to simplify your process.

While I'm here and thinking of it: @eshepelyuk I still taking a look at your PR today. Been busy with work and haven't had much free t

[2016-08-01 19:07] orzeh commented on #251
@eshepelyuk you are right, but packaging your app with `application` plugin won`t let you benefit from using Docker cache during image build  - see #58 and #68.

What I`m trying to say is that neither Spring Boot Fat JAR nor application plugin works well in more advanced use cases, but of course they are good to start play with Gradle and Docker.

[2016-08-01 19:37] eshepelyuk commented on #251
Thanks for the explanation!.
Do you have any thoughts about how long it will take to adopt #68 ?

[2016-08-01 19:39] orzeh commented on #251
I hope I'll find some time to take a look at it.

[2016-08-01 19:57] cdancy commented on #251
@eshepelyuk just wondering why the particular interest in that PR? It's older and needs some work to cleanup and has been around since before I came on board and may need some attention from the submitter assuming he's still interested.

[2016-08-01 20:12] eshepelyuk commented on #252
@cdancy let me disagree. The solution for pushing to private repo we end up with (i've described [HERE](https://github.com/bmuschko/gradle-docker-plugin/issues/209#issuecomment-235815644)) doesn't look neither simple nor straighforward at all :(

Moreover, just by taking a quick look at issue list one could see a number of them ( #226 #202 #251 #209 ) related to problems while interacting with pri

[2016-08-01 20:29] eshepelyuk commented on #251
As far as I understand this PR will improve Docker images creation (Docker cache usage), so no need to implement tricks mentioned above.

[2016-08-01 21:08] orzeh commented on #251
@kanebryant sample project for Spring Boot https://github.com/orzeh/spring-boot-gradle-docker-sample

[2016-08-01 21:20] orzeh commented on #252
@eshepelyuk here is code I use to push my images to corporate registry:
[code]

IMO it's quite simple and straightforward.

Can you provide some example of _new_ syntax you propose? Then it would be easier to talk about it. I'm sure we can find some compromise between simplicity and user experience!

[2016-08-02 15:24] Salmondx opened #253 "Expose several ports for java application"
How to expose several ports for java application?

[code]
Port option for this task accepts only single integer value.

[2016-08-02 19:18] orzeh commented on #253
At this time it is not possible, however it should be quite easy to fix.
@Salmondx are you interested in submitting PR?

[2016-08-02 20:14] ericweinberg commented on #238
I don't suppose there's any chance of not using the docker-java library?  Between this problem and the l[ack of support for docker native](https://github.com/docker-java/docker-java/issues/537), I think they're going to hurt adoption of this plugin.

[2016-08-02 20:22] cdancy commented on #238
This plugin is tightly integrated with docker-java so we could not easily move away from it. It's a good library and the guys over there are doing a great job. The docker native problem is a bigger issue and one that requires the work of several libraries working in unison so to speak to reach the expected goal.

With that said there are no plans to move away from the library as I don't see anythi

[2016-08-03 16:15] MarkRx commented on #248
I am also hitting this issue. Is there no other way to resolve it? The workaround of duplicating the buildscript dependency classpath ordering isn't pretty when having a more complicated build.

[2016-08-03 17:20] MarkRx commented on #248
Per Peters post @ https://discuss.gradle.org/t/how-do-i-apply-a-plugin-to-a-project-from-a-shared-applied-gradle-file/7508/2 it can be solved by applying the plugin in the plugin buildscript like this:

`apply plugin: com.bmuschko.gradle.docker.DockerRemoteApiPlugin`

[2016-08-03 17:58] trogdor259 opened #255 "Documentation has a dead link"
I am wanting to use DockerExecContainer to do a docker run command. The link to the documentation for that method goes to a 404 page. I need to be able to add in several args when doing the run command. If I can get some documentation on how to do so, that'd be great.

[2016-08-03 22:38] kanebryant commented on #251
Thanks orzeh

I can see you unpack the original fat jar then build the docker image oddly enough no docker image appears in the build anywhere? I can see the unpacked contents but no docker image even though the build is successful. But I won't bother you guys too much I think you both gave me enough help to get me going and I appreciate all the halp thanks!

[2016-08-03 22:38] #251 closed

[2016-08-04 11:15] dpr-rec commented on #248
@MarkRx this problem seems to be related but slightly different as I'm not applying the plugin from the shared gradle file but am using classes from the plugin to implement a custom task. Applying the plugin by using `apply plugin: com.bmuschko.gradle.docker.DockerRemoteApiPlugin` instead of `apply plugin: 'com.bmuschko.docker-remote-api'` in the project's gradle file did not solve the problem.

[2016-08-05 23:08] cdancy commented on #255
@bmuschko can you re-configure snap-ci to publish githubpages or re-run the task from your desktop? I can't do so even with the permissions you've given.

[2016-08-08 01:18] kanebryant opened #256 "Cannot find built image?"
Hello
I have successfully created a Dockerfile which I can see in the docker output directory but the docker image is missing, should it be in the same directory? Please see my debug output below

[code]

[2016-08-08 07:26] orzeh commented on #256
The Docker image is build and persisted on the machine where Docker daemon is running. If you use local Docker installation try to list images in command line:
[code]

[2016-08-08 07:26] #256 closed

[2016-08-08 21:41] kanebryant commented on #256
Thanks orzeh

Its all working now I have been able to build a docker file for my spring boot app and deploy to our repository and run it in kubernetes. Thanks for all your help

[2016-08-09 00:25] cdancy commented on #255
@trogdor259 you always [look at the task directly](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/container/DockerExecContainer.groovy) to see what its inputs are.

[2016-08-09 12:25] stempler opened #257 "Applying plugin changes project repositories"
I'm having some trouble with the changes introduced in [this pull request](https://github.com/bmuschko/gradle-docker-plugin/pull/218).

In my Groovy project where I use the docker plugin this leads to the Gradle plugins Maven repository (http://plugins.gradle.org/m2) being added before any repositories that I specify in my build script.

Simplified build script:

[code]

Usually that would not be

[2016-08-09 12:28] stempler commented on #257
If anyone else is having that problem, workaround is adding the repositories that should be checked first to the buildscript repositories:

[code]

[2016-08-09 12:50] orzeh commented on #257
@stempler this looks like a bug. As you suggest adding build script repositories should be done in  `project.afterEvaluate` (if needed). @cdancy can you fix that?

[2016-08-09 14:37] cdancy commented on #257
@orzeh @stempler definitely a bug. I'll put in a fix for this today.

[2016-08-10 21:52] bmuschko commented on #255
@cdancy Published a new version of the Groovydocs from my local machine. So far I wasn't able to publish from Snap-CI. Publishing the docs requires a checkout of the `ghpages` branch which I didn't manage to check out in addition to `master`. Are you interested in looking into it?

[2016-08-10 21:52] #255 closed

[2016-08-10 21:57] cdancy commented on #255
@bmuschko are you sure it requires a checkout? I use a similar setup in my own project and I think we can amend the `release` task within `release.gradle` to be something like this:

	task release {
		description = 'Publishes artifacts to Bintray and tags repository with current project version.'
		dependsOn assemble, publishGhPages, bintrayUpload, tag
	}

[2016-08-10 22:03] bmuschko commented on #255
@cdancy That's what I remember. I might be wrong. At least the task was failing on Snap-CI when I tried it out a year ago. Can you add the `publishGhPages` as task dependency to `release` and see how it goes?

[2016-08-11 17:09] avarabyeu opened #258 "Push to insecure docker registry"
Hello. Trying to push my image to insecure docker registry via https. Here is configuration:

[code]

Basically, i need to provide certificate somewhere or just disable security check (as i did for command line by adding --insecure-registry option).
Can someone help? Is that possible to push image to insecure registry?

[2016-08-11 19:36] orzeh commented on #258
Does your registry requires authentication? If not, you can simply remove `registryCredentials` configuration and it should work out of the box if docker daemon is configured with `--insecure-registry` option (it's true as you said).

If authentication is required you must provide credentials is `registryCredentials`.

From your build script snippet I can see that your image name does not match Do

[2016-08-12 08:03] deathtrix commented on #209
@eshepelyuk Thank you. I'll try this. In the meantime I made an Exec task that runs docker push.

[2016-08-12 08:18] avarabyeu commented on #258
The problem is that i build project from host which does not contain docker engine, so i'm unable to configure --insecure-registry in this case. I thought, push to registry works via remote api, so configuring docker daemon doesn't make sense, isn't it?

[2016-08-12 08:21] eshepelyuk commented on #258
Well, if the host where you build the project doesn't run `Docker Engine` - it means - you somehow configure your build script to use remote `Docker Engine`.
So that remote engine should have `--insecure registry` configured

[2016-08-14 10:17] #253 closed

[2016-08-14 20:09] cdancy commented on #255
@bmuschko  If you can set your github username/password as environment variables on the snap-ci job I can get this functionality working.

[2016-08-15 00:17] cdancy commented on #257
@stempler just released version 3.0.2. Please gives things a go and let me know if you have any issues. Thanks.

[2016-08-15 00:17] #257 closed

[2016-08-15 00:18] cdancy commented on #252
Closing this issue as I believe nothing is technically wrong and/or broken. Feel free to re-open if you want to further discuss.

[2016-08-15 03:42] litosantana commented on #209
@eshepelyuk I see your example in the above comment, but how does it create the image to begin with? I already have a `Dockerfile`, which means I should use the `DockerBuildImage` task, but I'm running into errors there with my private registry. Should I be using some other approach?

[2016-08-15 07:53] stempler commented on #257
@cdancy @orzeh Awesome, thanks a lot! Working for me w/o issues.
I left a small comment in the respective pull request, not sure if it is relevant.

[2016-08-16 02:04] tclift commented on #235
Force upgrading Docker Java's `unix-socket-factory` dependency worked for me. Using Docker for Mac 1.12.0-a (stable) and docker-java-application 3.0.2.

[code]

[2016-08-16 04:44] childnode commented on #235
@tclift great find ... but without digging into it: shure it's @gesellix's [de.gesellix:unix-socket-factory](https://bintray.com/gesellix/docker-utils/unix-socket-factory) ([gesellix/unix-socket-factory](https://github.com/gesellix/unix-socket-factory)) but not [de.gesellix:**docker**-socket-factory](https://bintray.com/gesellix/docker-utils/docker-socket-factory) ([gesellix/docker-socket-factory]

[2016-08-16 07:33] gesellix commented on #235
The docker-java lib depends on `unix-socket-factory`, which is actually the one depending on the relevant `com.kohlschutter.junixsocket:junixsocket*` libs.
Beware of Netty, though, as mentioned here: https://github.com/docker-java/docker-java/issues/537#issuecomment-206712757

[2016-08-16 10:42] avarabyeu commented on #171
Still have this issue on 3.0.1. Do you plan to fix it?

[2016-08-16 10:56] cdancy commented on #171
@avarabyeu can you post a reproducible snippet of what you're doing along with a stacktrace? This `bug` reported here was a side-effect of a change we made and then backed out many versions ago.

[2016-08-16 11:21] avarabyeu commented on #171
@cdancy just found a solution - it was my fault. thanks for prompt answer!

[2016-08-17 09:35] orzeh commented on #258
I'm closing it. I think the problem is related to Docker Engine configuration not the plugin itself.

[2016-08-17 09:35] #258 closed

[2016-08-17 20:43] MarkRx opened #262 "Could not find method registryCredentials()"
Hello,

I'm having problems trying to add the registryCredentials closure to DockerPushImage and DockerPullImage tasks. Exception and code snippet below. I'm using v3.0.2 of the plugin.

[code]

[2016-08-17 20:45] cdancy commented on #262
@MarkRx have you tried adding it to the `docker` extension as [documented here](https://github.com/bmuschko/gradle-docker-plugin#extension-examples)?

[2016-08-17 20:47] MarkRx commented on #262
Yes but that won't work in my case because the push task will be using different registryCredentials than the pull task.

[2016-08-17 20:59] MarkRx commented on #262
This works for now:

[code]

I think for it to work the way I was expecting there needs to be a registryCredentials method that takes a closure and applies it to a DockerRegistryCredentials object.

[2016-08-17 21:02] cdancy commented on #262
@MarkRx that is correct. Closing issue as it appears we have a working solution.

[2016-08-17 21:02] #262 closed

[2016-08-18 17:34] eshepelyuk commented on #252
I am sorry for the delay in reply. Let me reopen the issue, providing details of the one of th possible implementations.

### Intention

* While working with private registry, plugin users should have a out-of-box possibility to build and push image to private registry for a sample project, i.e. when users only need `docker-java-application` plugin
* *out-of-box* implies
    * no additional task c

[2016-08-18 17:35] eshepelyuk commented on #252
BTW, I can't reopen the issue :(

[2016-08-18 19:29] cdancy commented on #252
@eshepelyuk while ease of use is great the above impl still assumes too much. This plugin, like all publicly accessible plugins, is meant to act as a building block for you to implement the above in your own build script and potentially your own plugin. While the above may seem to save on code the user has to write it has the disadvantage of hiding details and allowing the user to properly define

[2016-08-18 19:39] eshepelyuk commented on #252
@cdancy you're 100% right when talking about `docker-remote-api`.
But `docker-java-application` (one I am only referring to in this issue) is already not just a *building block*.
`docker-java-application` implements some predefined scenario: imposes usage of `application` plugin, provides predefined and preconfigured tasks, etc.
And case of private registry is a natural extension for that scenario

[2016-08-18 20:02] orzeh commented on #252
My thoughts:

Why one can't push to Docker Hub? It also supports private registries.

This block scenario when private registry requires `username` (like Gitlab). In that case the tag should be:
 "${docker.registryCredentials.url}/someuser/${docker.javaApplication.tag}"

To sum up, I fully understand your motivation, but you didn't convinced me. At this moment I agree with @cdancy that this should

[2016-08-21 10:04] eshepelyuk commented on #252
First of all thanks for your suggestions about tag and username, I didn't know it.

Second, unfortunately I don't understand this insistent pushing for the new plugin creation.
According to this logic, `docker-java-appication` should be removed from this repository too, because it imposes single pre-defined flow.

If your intention is to move out `docker-java-appication` - I'm open to help on doin

[2016-08-21 15:41] #238 closed

[2016-08-22 19:17] davidmichaelkarr opened #264 "Plugin should report full error messages sent to docker client"
I'm trying to construct a docker image, and the "buildImage" task fails with the following:
`* What went wrong:
Execution failed for task ':ordersImage:buildImage'.

This obviously doesn't tell me anything useful.  If I add "--stacktrace", I get the following from the root cause:
`DockerClientException: Could not build image: lstat ordersService.war: no such file or directory`

I know why this is

[2016-08-22 19:35] cdancy commented on #264
@davidmichaelkarr I believe this has more to do with the dynamic nature of our plugin, and how we are loading/executing the `docker-java` library, than anything else. It is standard practice to use `--stacktrace` to get the full output (I personally use this everywhere by default) so I don't necessarily see an issue there. I can however appreciate your frustration with the returned message as it d

[2016-08-22 21:13] eshepelyuk commented on #264
Shouldn't it be the only one place in code to catch / process `InvocationTargetException` ?

* `com.bmuschko.gradle.docker.utils.DockerThreadContextClassLoader#withClasspath`

or

* `com.bmuschko.gradle.docker.tasks.AbstractDockerRemoteApiTask#runInDockerClassPath`

[2016-08-22 22:16] orzeh commented on #264
@eshepelyuk is right.
I'm fixing it now and send PR when ready.

[2016-08-24 20:24] orzeh opened #267 "Add EditorConfig coding styles"
In many PR there are formatting issues like ident with tabs, etc.

It would be convenient to setup common code styles with [EditorConfig](http://editorconfig.org/), which is supported in vast majority of IDEs.

My proposition of rules (based on current status in repo):
* ident with 4 spaces in Groovy and Gradle files
* new line at the end of a file
* LF line endings
* UTF-8 character encoding

@cd

[2016-08-24 20:36] cdancy commented on #267
@orzeh sounds good. We should circle back and apply checkstyle plugin as well as it would stop us from having to tell folks to fix silly issues. I've done that for a few of my gradle projects and can wire things up here easy enough.

[2016-08-25 17:50] #264 closed

[2016-08-25 18:28] davidmichaelkarr opened #268 "Make it possible for a run of DockerBuildImage to report "UP-TO-DATE""
I don't need to tell you that one of the important aims of Gradle is to allow for task runs to report "UP-TO-DATE" if all of its inputs and outputs are unchanged since the last run.

When I run my "DockerBuildImage" task, it builds the image.  If I immediately run it again, it builds the image again.

It's generally a good idea to enable tasks to work that way (possibly knowing when there's no wor

[2016-08-25 18:32] cdancy commented on #268
@davidmichaelkarr tried to tackle this before but upon further investigation there is no surefire way to tell if an image is different from another image or even "UP-TO-DATE". After tackling corner case after corner case we backed out the functionality all together. I'd recommend putting an `onlyIf {}` block in your "build image" task and skip say if some image exists that you know is good for you

[2016-08-25 19:40] davidmichaelkarr commented on #268
Thinking about this, I can see it would be next to impossible.  For instance, if I'm building from a Dockerfile that runs "apt-get/yum update" before installing packages, which I believe is a recommended practice, I imagine this could get package versions that are newer than what's in the Docker cache.

[2016-08-27 16:02] #268 closed

[2016-08-31 08:21] anandchida opened #271 "destFile = null error"
All,

I tried the example from the README
[code]

`gradle createDockerfile` task generates the Dockerfile correctly while the `gradle buildImage` task fails with

"* What went wrong:
null value in entry: destFile=null"

I'm using 3.0.2 of the plugin with Gradle 3.0

[2016-09-01 13:23] cdancy commented on #271
@anandchida that all looks correct. Have you tried running with `gradle 2.14.1` to see if the same still pops? Here are a couple things I would try in order to diagnose this issue:

1. Try hard-coding the directory and see if that works.
2. Try putting the `Dockerfile` in some place like `project.file('build/Dockerfile')`

[2016-09-01 17:54] jamroks opened #272 "Documentation Suck"

[2016-09-01 17:55] #272 closed

[2016-09-01 18:13] cdancy commented on #272
@jamroks feel free to submit a PullRequest with any changes you think might help to serve the greater community!

[2016-09-05 05:45] anandchida commented on #271
1 and 2 fails even on gradle 2.14.1. Also now I see

* What went wrong:
Execution failed for task ':buildImage'.

Maybe something how my build and docker gradle files are configured. Here they are -
build.gradle

defaultTasks "clean","build"

project.ext.appName = "projmgmt"
project.ext.appVersion = "1.0.1"

apply from: 'docker.gradle'
apply from: 'analysis.gradle'

buildscript {
	ext {
		springBo

[2016-09-05 07:25] orzeh commented on #271
@anandchida using `gradle-docker-plugin` in separate build scripts may cause problems, due to how Gradle maintains classpath. See [this issue](https://github.com/bmuschko/gradle-docker-plugin/issues/248) and [here is a solution](https://github.com/bmuschko/gradle-docker-plugin/issues/248#issuecomment-234098958) .

[2016-09-06 15:35] svasconcelos opened #273 "Support docker >= 1.12"
I am trying to run your plugin with docker 1.12 but I am getting the error described in #238, which seemingly has been fixed in #263. Can you release a new version of the plugin?

[2016-09-06 16:09] #267 closed

[2016-09-06 16:44] cdancy commented on #273
@svasconcelos got a bit of free time to work on this now. Going over one PR at the moment and should **REALLY** have something out this afternoon which should make @lukasniemeier-zalando among others. I'll reply back to this ISSUE once the release has been made available.

[2016-09-06 19:10] eshepelyuk opened #274 "Change default value of docker.url to one used by docker-java library"
Current value of `docker.url` property `http://localhost:2375` is not convenient since it's not using by default by `Docker Engine`.

* on `Linux` - unix socket is used, i.e. URL is `unix://...`
* on `Windows` and `Mac` 2376 port is used by default and IP is not `localhost`, but IP of VM, e.g. `192.168.99.100`

To improve plugin experience we could use default URL of `docker-java` (`unix:///var/ru

[2016-09-06 20:35] cdancy commented on #273
@svasconcelos new version 3.0.3 has been released.

[2016-09-06 20:35] #273 closed

[2016-09-06 20:38] svasconcelos commented on #273
Great, thanks!

[2016-09-06 23:33] bitsofinfo opened #275 "DockerBuildImage fails to pull public repo images if registryUsername registryPassword are present"
This used to work about ~ a month ago w/ this plugin, but now when I run it, `DockerBuildImage` fails to pull public repo images if `registryUsername` `registryPassword` project properties are present

(I specify them via `-PregistryUsername=myPrivateRepoUsernameForDockerTagImage` etc syntax)

I have a task like this

[code]

[2016-09-06 23:57] cdancy commented on #275
@bitsofinfo so the name of this task is `buildTagDockerImage` which is of type `DockerTageImage` yet you cite `DockerBuildImage`. Maybe you've got things confused?

Which version of the plugin were you using when things "worked" and can you provide a stacktrace?

As far as how to define a registry with credentials [that is covered here](https://github.com/bmuschko/gradle-docker-plugin#working-with

[2016-09-07 00:02] bitsofinfo commented on #275
No this is intended. The task is `buildTagDockerImage`, it builds on top of another task I have called `buildDockerImage`, so it invokes that, then does `DockerTagImage`. My point is that if `registryUsername` or `registryPassword` properties are specified, those get passed to the public docker hub repo when `DockerBuildImage` is invoked, and i get `unauthorized` 401's from the public docker repos

[2016-09-07 00:09] cdancy commented on #275
@bitsofinfo but this same script, with the same version, worked previously? Seems like that wouldn't be the plugin so as much as it sounds like an auth issue.

[2016-09-07 08:10] ousema2003 opened #276 "gradle build docker image behind a proxy"
how to build docker image  with a build envirnment (docker server) behind a proxy ?

[2016-09-07 08:15] orzeh commented on #276
Gradle is a Java application so [standard settings](http://docs.oracle.com/javase/6/docs/technotes/guides/net/proxies.html) should be set. How to setup this in Gradle is described in the [documentation](https://docs.gradle.org/current/userguide/build_environment.html#sec:accessing_the_web_via_a_proxy).

[2016-09-07 08:30] ousema2003 commented on #276
please note that proxy is used for (build env / docker server)
note for client side

[2016-09-07 08:32] ousema2003 commented on #276
since build-time variables are supported  to build image (https://github.com/bmuschko/gradle-docker-plugin/pull/240/commits/c6e26e4217bd6c5bd54f592ff509742f26efbac3)
could you please provide an example how to use it ?

[2016-09-07 08:42] ousema2003 commented on #249
functionality already released ?

[2016-09-07 08:49] orzeh commented on #276
I'm afraid I've misunderstood you. To clarify your use case:
you execute Gradle build on a `hostA` which communicates with `hostB` which has `Docker Engine` installed and `hostB` is behind a HTTP proxy, so Docker can't communicate with Docker Hub. Right?

[2016-09-07 09:32] orzeh commented on #249
Yes: https://github.com/bmuschko/gradle-docker-plugin/blob/master/RELEASE_NOTES.md#version-302-august-14-2016

[2016-09-07 15:26] least-olegs opened #277 "Why nothing is cached?"
I was hoping that if files on which `DockerBuildImage` task depends aren't modified, then the task will not call `docker build` again, or, to be even more robust, would check the registry for the target image, and if absent, will rebuild.  Is my understanding correct that all the 165 jars this plugin downloaded are basically doing the same thing as Bash script `$ docker build <image>`?

[2016-09-07 15:31] davidmichaelkarr commented on #277
I think perhaps the docs should state right up front that these tasks are not "up-to-dateable".  I had noticed the same thing, and filed an issue a while ago.  The problem is, in order for a task to be "up-to-dateable", it has to be absolutely certain that running the task again will produce exactly the same image. That might be the case for some Dockerfile builds, but it's quite common for Docker

[2016-09-07 15:36] cdancy commented on #277
@davidmichaelkarr has it correct: there is simply no sane way to tell if an image is different from another.

[2016-09-07 15:36] #277 closed

[2016-09-07 15:36] least-olegs commented on #277
Fair point @davidmichaelkarr , but I hoped for some mechanism I can promise to the build system that things didn't change. This is by far the most complicated part of the integration with Docker. Calling Docker client for me is just a hair breadth far from being useless.

[2016-09-07 15:39] cdancy commented on #277
@least-olegs you would have to implement something on your end that does various checks that gives you confidence that your image is "UP-TO-DATE".

[2016-09-07 15:45] least-olegs commented on #277
Then, I wouldn't need your plugin... to do this, I need to fetch digests from image descriptions, track layer's hash-sums in my database, send special headers to Docker API etc. I'm just surprised this info doesn't appear on the front page of this repository. This is not actually an integration with Docker.  This is just a wrapper to the wrapper of its REST API...

[2016-09-07 15:52] cdancy commented on #277
No one said you needed the plugin to do anything it just makes life easier if you're working in a gradle based context.

You can readily implement this on your own, in whatever fashion you wish, or you could provide a PullRequest for this plugin adding in the additional functionality for others to take advantage of.

I'm not sure why the surprise as you clearly state "this is just a wrapper around

[2016-09-07 17:30] ousema2003 commented on #276
yes; my Dockerfile is built on hostB which is behind a proxy. i use curl inside the Dockerfile to download content from the internet through a proxy. i found that i can use the buildArgs to solve this issue.

inside my DockerBuildImage task i add the following param:
buildArgs = ['http_proxy': 'http://proxy-server:proxy-port', 'https_proxy': 'http://proxy-server:proxy-port']

[2016-09-07 17:30] ousema2003 commented on #276
thanks for your help!

[2016-09-07 19:23] #276 closed

[2016-09-07 19:28] orzeh commented on #271
Hope links above helped you. If not, please reopen.

[2016-09-07 19:28] #271 closed

[2016-09-12 09:33] kpage opened #278 "Releases 3.0.2 and 3.0.3 not in maven central"
Hi @bmuschko , thanks again for a great plugin.  I was wondering if something is wrong with the publish to Maven Central for this project.  I see that releases 3.0.2 and 3.0.3 are in jcenter but not maven central:

Present in JCenter: https://bintray.com/bmuschko/gradle-plugins/com.bmuschko%3Agradle-docker-plugin/3.0.3
Missing in Maven Central: https://repo1.maven.org/maven2/com/bmuschko/gradle-do

[2016-09-12 13:10] cdancy commented on #278
This should be handled by JCenter upon publication. @bmuschko you'd have to take a look to see if something changed on that end.

[2016-09-12 14:25] bmuschko commented on #278
Synced just now. Should be available in a couple of hours depending on the weather (as JFrog likes to say). ;-)

[2016-09-12 14:25] #278 closed

[2016-09-21 00:53] dalbertom opened #280 "classpath issues when loading the plugin in a separate file"
I've been having some issues when loading the plugin outside of the main `build.gradle` file. I tried to isolate the problem as much as possible but please let me know if you need more info or if you have some pointers.

# Issue 1
### file1.gradle
[code]
Running `gradle -b file1.gradle version` works as expected.

However, when that's not the main file, e.g.

## file2.gradle
[code]
And then I run

[2016-09-21 04:54] mrhaki commented on #280
You need to use the full class name to use the plugin from a build file that is not the main build file. For more details see: http://mrhaki.blogspot.nl/2015/10/gradle-goodness-apply-external-script.html

[2016-09-21 10:39] orzeh commented on #280
@dalbertom it is a known issue, see [this](https://github.com/bmuschko/gradle-docker-plugin/issues/248#issuecomment-234098958).

@cdancy I think we should add some notes on this to README.md

[2016-09-21 10:47] cdancy commented on #280
@orzeh while it's a gradle issue, enough people come here asking this very question. Did you want to add it in or want me to put something together?

[2016-09-21 11:03] orzeh commented on #280
@cdancy please write something if you have time.

[2016-09-21 11:45] dalbertom commented on #280
Thank you so much for the info! Using `apply plugin: com.bmuschko.gradle.docker.DockerRemoteApiPlugin` instead of `apply plugin: 'com.bmuschko.docker-remote-api'` works.

[2016-09-21 11:45] #280 closed

[2016-09-21 13:40] cdancy commented on #280
@orzeh on it.

[2016-09-21 18:31] daggerok opened #281 "Task 'pillImage' not found in root project..."
Hello, I have next pullImage task in my build.gradle:

[code]
running gradle with command `gradle pullImage --debug` and have next strange error log:

[code]

I mentioned that exception message contains strange task name **pillImage**, but not **pullImage**. I have correct task name in gradle build file, so probably there are something wrong with DSL or..

does anybody knows how can I fix that?
th

[2016-09-21 18:39] cdancy commented on #281
The only way I could see this happening was if you ran the command `gradle pillImage` instead of `docker pullImage`.

[2016-09-21 18:44] daggerok commented on #281
seems like rebooting of workstation helps, now it's working as expected. sorry for that. can I close this thread?

[2016-09-21 18:45] #281 closed

[2016-09-23 15:28] n0mer opened #282 "double quotes in commit message"
if Dockerfile is labeled like this:

[code]

and commit message contains double quotes - like this

`Revert "Set AccessTokenValidity - x hour and RefreshTokenValidity - y days"`

then generated Dockerfile contains the following label

LABEL "custom.git.commit.message.short"="Revert "Set AccessTokenValidity - x hour and RefreshTokenValidity - y days""

docker image build fails due to this

[2016-09-23 15:31] cdancy commented on #282
@n0mer I assume this is because the double quotes are not escaped?

[2016-09-27 13:48] develmusa opened #283 "Connection problems"
I'd like to build a DockerImage but i always get this error:
`> org.apache.http.conn.ConnectTimeoutException: Connect to 172.0.0.1:3128 [/172.0.0.1] failed: Connection timed out`
I think this is a problem with the Docker API Url. Is there a possibility to check the Docker Api Url?

Here is my gradle file.
[build.gradle.txt](https://github.com/bmuschko/gradle-docker-plugin/files/495645/build.gradle

[2016-09-27 17:30] cdancy commented on #283
Looks like a config issue with docker. Can you successfully hit the endpoint `/_ping` with your browser? You should get an "OK" back if your daemon is properly configured.

[2016-09-28 16:20] cdancy commented on #282
@n0mer closing issue. Feel free to re-open if you've not solved your issue.

[2016-09-28 16:20] #282 closed

[2016-09-28 16:21] cdancy commented on #275
@bitsofinfo closing ISSUE. Feel free to re-open if you want to talk further.

[2016-09-28 16:21] #275 closed

[2016-09-28 16:26] develmusa commented on #283
Thanks for your reply.

When I start the deamon with  `$ sudo dockerd -D -H tcp://127.0.0.1:2375 -H unix:///var/run/docker.sock` I get the respons `INFO[0001] API listen on 127.0.0.1:2375 `. Unfortunately I can't reach the `/_ping` endpoint at this address.

[2016-09-29 17:59] MarkRx opened #285 "Unhelpful exceptions upon failure"
Some exception conditions are not always clear. For example, the following exception occurred when attempting to build a docker image. The top level exception is a InvocationTargetException which doesn't give much information. The internal exceptions reveal the issue but these can only be seen when --stacktrace is passed in as a command line parameter

Here is the full stacktrace:

[2016-09-30 20:48] orzeh commented on #285
@MarkRx you didn't write which version you use, but I assume it is not the last one 3.0.3 which should fix that. Please see issue #264 and PR #265 or just use [3.0.3](https://github.com/bmuschko/gradle-docker-plugin/blob/master/RELEASE_NOTES.md#version-303-september-6-2016).

[2016-10-03 13:56] cdancy commented on #285
@MarkRx closing issue as @orzeh has it right: we've recently implemented "better logging" for things of this nature and so I have to assume you are using an older version. Feel free to re-open if using the latest `3.0.3` does not work out for you. Thanks.

[2016-10-03 13:56] #285 closed

[2016-10-03 15:12] MarkRx commented on #285
I was using 3.0.1. I will try the latest one thanks!

[2016-10-03 16:10] MarkRx opened #286 "Ability to tag a docker build with multiple tags"
Docker 1.10 added the ability to tag a build with multiple tags. Doing so is convenient as it reduces the number of tasks needed in a project (for example when building and using both "latest" and "<version>" tags)

It would be nice if the plugin could support this. For docker 1.10+ it would just use the multi-tag approach. For docker < 1.10 it could run the build step then run a series of Actions

[2016-10-04 12:21] orzeh commented on #286
I would be a nice feature. To add it we must check if `docker-java` supports this already. IMO it should work only for `docker` 1.10+, for earlier version it should throw exception.

Are you interested in submitting PR?

[2016-10-04 12:41] orzeh commented on #286
`docker-java` doesn't support this yet. We must wait for them to implement this.
I saw you opened issue there, so we should stay tuned.

[2016-10-06 00:04] develmusa commented on #283
Now I problem is solved.

With `curl --unix-socket /var/run/docker.sock http:/_ping` i can hit the endpoint and get an "OK" back.

In my build.gradle file i changed `docker {
    url = "http://172.0.0.1:3128"
}` to `docker {
    url = 'unix:///var/run/docker.sock'
}`

Thank you!

[2016-10-06 00:04] #283 closed

[2016-10-07 00:50] #252 closed

[2016-10-07 00:50] #237 closed

[2016-10-07 00:51] #274 closed

[2016-10-10 14:53] develmusa opened #288 "Problem with linking containers"
When i try io link two containers together i get an Exception.

In a task with the type of "DockerCreateContainer" I set: `links =['NameOfOtherContainer']`
This leads to this exception: `java.lang.reflect.InvocationTargetException`

Do I maybe use the wrong syntax for `java.util.List<java.lang.String>`?

Thank You

[2016-10-10 15:06] develmusa opened #289 "Is it possible to start an image form the registry?"
I'm trying to start an Image from the registry. After pulling the image from the registry with `DockerPullImage` i'm not able to get an `ImageId` of this Image. => I can't use `DockerCreateContainer` because it needs the `targetImageId`.

At the moment I create a Dockerfile with the `from 'wantedImage'` attribute and build an new DockerImage to get the `ImageId`.

Thank You

[2016-10-10 19:59] orzeh commented on #288
Can you paste full stacktarce - you can use `./gradlew -S`? There should be detailed error message. You can also upgrade to newest version, which [prints better error messages](https://github.com/bmuschko/gradle-docker-plugin/pull/265).

[2016-10-10 20:05] orzeh commented on #289
You can use image name and tag as a `targetImageId` value, ie.:

[code]

This will pull image from registry if it is not present automatically, so you do not need dedicated pull task.

[2016-10-11 11:17] develmusa commented on #289
thank you very much

[2016-10-11 11:17] #289 closed

[2016-10-11 11:51] develmusa commented on #288
With the help of the stacktrace it was clear that it has to be an syntax error.

I'm not able to read the code so I used trial and error.
Now it is working with this syntax: `links =["containerName:imageName"]`

Thank You

[2016-10-11 11:51] #288 closed

[2016-10-12 18:36] wwadge opened #290 "Add commands to build using docker-java-application"
I want to use java:8-jre-alpine as a base image which does not contain bash and thus causes spring boot applications to fail to load. I need to add a line in the generated build file:

```apk update && apk add bash```

but there doesn't seem to be a way to do this via the docker-java-application plugin.

Can you support adding arbitary commands eg: runCommand(...) to be appended to the generated b

[2016-10-12 19:53] orzeh commented on #290
@wwadge `docker-java-application` is a _is a highly opinonated plugin_ so it supports certain workflow. However to solve your problem you can use just Gradle features.

`docker-java-application` adds task `dockerDistTar` of type [Dockerfile](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/Dockerfile.groovy). You can find it in the

[2016-10-13 07:56] wwadge commented on #290
Thanks, I tried it but it didn't work I'm afraid :(

[2016-10-13 12:32] cdancy commented on #290
@wwadge do you have a stacktrace that we can look at as well as a snippet of what you're doing? There may be a "better" way of going about things.

[2016-10-14 16:32] enricoag1982 opened #291 "what is a repository"
Hi,

I'm trying to use the https://github.com/bmuschko/gradle-docker-plugin
in a project and I'm stuck at the pull image request.

I deployed an image to a repository and I would like to retrieve it and then run it locally.

...
task pullImage(type: DockerPullImage){
    tag "$registryHost/$systemTestImageName:${imageTag}"
    repository ???
}

task createContainer(type: DockerCreateContainer) {

[2016-10-15 01:43] cdancy commented on #291
@enricoag1982 the `repository` is EVERYTHING before the `tag`. You mght do something like this:

[code]

The `tag`, in docker terms, can be thought of as the version of the image. Let me know if that helps.

[2016-10-15 01:46] cdancy commented on #290
@wwadge closing this for now. Feels like you might be better off using the gradle tasks to accomplish what you need. Feel free to re-open if need be.

[2016-10-15 01:46] #290 closed

[2016-10-15 01:46] #291 closed

[2016-10-15 11:51] enricoag1982 opened #292 "Ability to pass an env file instead of only environment variables"
I have the need to pass multiple variables from a file as ENVs to the docker run.
At the moment my solution is to read the file as properties in gradle
[code]
and assign one by one the vars in the createContainer.
`env = [ "ENV1=$ENV1", "ENV2=$ENV2" ]`

Is there or is planned the possibility to pass an env file?

[2016-10-15 12:03] enricoag1982 commented on #292
I actually found a way to fully cover the case.
modifying the code above to:
[code]
and then pass the new array in the createContainer:
[code]

[2016-10-15 12:03] #292 closed

[2016-10-16 17:18] bmuschko commented on #219
@cdancy I think that could work but I am not excited about sending my password over the wire. I'd rather not do it.

[2016-10-16 22:17] cdancy commented on #219
@bmuschko you could set your username/password as environment variables and we could read it that way as well. I use travis-ci and set the username/password as properties within the job config. Seems like we could do something similar here.

[2016-10-17 07:10] matthiasbalke commented on #150
@bmuschko how about this approach for detecting the local docker configuration
[code]

I found it in some blog post. I'm not sure which one it was. It works good for me using Docker Toolbox on Windows 8 and native Docker on Ubuntu. I'll try Docker on Mac the next days.

[2016-10-28 19:35] dlvenable opened #293 "Should be able to get imageId from DockerPullImage"
As shown on the Wiki, if we wish to chain together building an image and creating a container from it, we can use the `getImageId` property from DockerBuildImage.

`targetImageId { buildMyAppImage.getImageId() }`

However, there is no similar property for DockerPullImage. Thus we cannot start a container from a pulled image. I think this would be a very useful feature for using remote repositories

[2016-10-28 19:57] cdancy commented on #293
@dlvenable if you look over our tests we have lots of examples which do this very thing. Here is a snippet to get you going:

[code]

[2016-10-28 20:07] cdancy commented on #293
@dlvenable yeah I see what you're saying. The problem comes down to how do we know if you're building image with a known tag vs using a Dockerfile? I suppose the solution would/could look something like:

1. Build image however you want
2. Inspect image getting tag/repo/etc
3. `DockerPullImage` could then depend on `DockerInspectImage` and set the relevant properties programmatically.

I think thi

[2016-11-01 15:43] priyadarsh commented on #235
@tclift
I tried your suggestion and it led me to another exception. I tried running as sudo as well.

org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':buildImage'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:69)
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.execu

[2016-11-01 16:29] gesellix commented on #235
the relevant bit is probably this one:

You need to configure the registry credentials.

[2016-11-01 17:46] priyadarsh commented on #235
Yes I did.

docker {
  url = 'unix:///var/run/docker.sock'
  registryCredentials {
    url = dockerRegistryUrl
    username = dockerRegistryUser
    password = dockerRegistryPass
    email = dockerRegistryEmail
  }
}

and also executed docker login before running build.

[2016-11-03 14:56] ianpojman opened #294 "Clarification on the meaning of tag"
After a lot of (continued) struggle to get a docker java application published to a private registry, I found the only thing that actually got it working (on certain versions of docker) was embedding the hostname in the "tag", i.e.:

    docker {
        url = getProperty("docker.build.host")
        registryCredentials {
            url = getProperty('docker.registry') }
        }

        javaAp

[2016-11-03 19:28] cdancy commented on #294
I've pasted a snippet below of what I use and know works. You would of course variableize things to make a bit more saner but it serves as a good example and one you can model your own code after.

The `java-application` plugin will use this behind the scenes anyway so it should work in the same way.

[code]

[2016-11-03 20:03] cdancy commented on #294
@ianpojman on the point of terminology: I actually agree with you. However, and because we are leveraging the `docker-java` library behind the scenes, we follow the semantics set by them and are ultimately providing a high-level wrapper around that library.

[2016-11-03 20:12] cdancy commented on #219
@bmuschko this would also only need to be done on the `release` job so it's not as if others have access to do it and/or see it. Perhaps create a service account to use?

[2016-11-03 20:36] bmuschko commented on #219
I was think that we could explore the option of using [javadoc.io](http://javadoc.io/). That might actually be the easier solution anyway.

[2016-11-03 20:41] cdancy commented on #219
That's not a bad idea. I've seen more and more projects do the same thing. I can [find only 1 plugin](https://github.com/freefair/javadoc-io-gradle-plugin) that supports this though not sure how active it is and how well it works given the lack of ... anything ;)

[2016-11-03 20:44] ianpojman commented on #294
That explains a lot. Thanks so much

[2016-11-03 21:00] cdancy commented on #294
np.

[2016-11-03 21:00] #294 closed

[2016-11-04 09:53] borntorock commented on #216
@double16 Hi, As you informed that "I am able to use ECR to pull/push images with this plugin. " Can you Please help us know how to authenticate with the ECR repository using this plugin.

The token generated with the aws ecr command gets expired after every 12 hours.

[2016-11-04 10:45] dpr-rec commented on #216
@cdancy are you still interested in my wireshark results? I think from the output in @nyounger's comment it's pretty obvious what is going wrong?!

[2016-11-04 11:11] double16 commented on #216
I built code to take AWS credentials and create the token in Gradle. Unfortunately it's in a private repo right now but I started a plugin to do just this. Let me see if I can at least get it extracted in the next day or so.

[2016-11-05 19:46] dlvenable commented on #293
Thanks @cdancy for the explanation in your original comment. That actually worked for what we were trying to achieve.

I think perhaps the problems with that approach are: it is not entirely obvious (that could be solved with documentation), and there is not a direct connection between the previous pull image and the current create container.

[2016-11-07 05:30] borntorock commented on #216
@double16 Did you got a chance to extract the code that you have built for taking AWS credentials and creating the token in Gradle. Can you Please update.

[2016-11-07 10:45] rafaroca commented on #235
To me, docker-java-3.0.6 fixed this issue.
I see that the master branch of gradle-docker-plugin already contains 3.0.6
Is there a new release possible/planned even though this would just contain the version bump of docker-java?

[2016-11-07 13:44] double16 commented on #216
Take a look at https://bitbucket.org/double16/gradle-aws-ecr-plugin

It's pre-alpha as a plugin, but the important code works in my other project. Please create issues, PR, whatever. I'll be finishing this up in the near future.

[2016-11-07 13:51] cdancy commented on #235
@rafaroca some bits do indeed work but not all. The owner/maintainer of docker-java has been working on proper osx support but is not yet ready.

I can certainly release a new version if it will help with your workload.

[2016-11-08 16:08] rafaroca commented on #235
@cdancy I just tested my use case again. Some parts are indeed not working. My gradle build starts but has issues. Appreciate your offer but I realize that a new version would not help here.

[2016-11-09 11:07] borntorock opened #295 "Error occurred while preparing Docker context folder."
@bmuschko Hi, I'm making of this plugin (v3.0.3) to build the docker images via gradle.

While building the docker image for one of the modules, I'm getting the issue: "Error occurred while preparing Docker context folder." with no other exception or stderr. The only thing in this is I have a war file of 3GB which I'm coping inside the docker container via Dockerfile.

Please note, the image is ge

[2016-11-09 11:17] cdancy commented on #295
@borntorock can you post a snippet of code that shows how to recreate this problem? Did you try running with debug enabled to see if the logs show anything else?

[2016-11-09 11:29] borntorock commented on #295
@cdancy Please see the below snippet of code present in my build.gradle file. As informed before, I have the hello.war file of 3GB.

`task copyWar(type: Copy) {
    dependsOn 'war'
    from "build/libs/hello.war"
    into dockerBuildDir
}

task createDockerCopy << {
    copy {
        from('docker')
        into dockerBuildDir
    }
}

task buildDockerImage(type: DockerBuildImage) {
    dependsOn

[2016-11-09 11:31] cdancy commented on #295
@borntorock can you also post the stacktrace of the exception?

[2016-11-09 11:34] borntorock commented on #295
I didn't executed the gradle with --stacktrace option.

[code]

Do you want me to execute the gradle again with stacktrace option?

[2016-11-09 11:47] cdancy commented on #295
@borntorock yes please.

[2016-11-09 12:36] borntorock commented on #295
@cdancy Please see the below stdout, after executing the gradle with --stacktrace option

[code]

[2016-11-09 12:38] borntorock commented on #295
Not sure why it throws the error `Caused by: java.io.IOException: No space left on device`
I do have enough space on my system to store the docker images. Please note, I have already changed the docker storage from /var/lib/docker to /mnt1/docker.

[2016-11-09 12:49] orzeh commented on #295
@borntorock this TAR archive is created by `docker-java` in system temporary location (eg. `/tmp`)  before even sending to Docker daemon. Is there enough free space on device where `/tmp` is?

[2016-11-09 12:54] borntorock commented on #295
Nope, there's only 2.6GB available in / location?

My final docker image would be of size around 7GB, so do I need that much of space in /tmp folder?

[2016-11-09 13:01] orzeh commented on #295
@borntorock no, `docker-java` packs in TAR archive only contents of `inputDir` defined by `DockerBuildImage` task. Then it sends it to the Docker daemon which will build image. I don't know if Docker uses `/tmp` or some other temporary location during image build, but it probably do. So if you use local Docker engine you have to have enough free space to handle this.

[2016-11-10 18:51] Hubbitus opened #296 "Please add possibility provide volumes on build time"
According to https://github.com/docker/docker/issues/14080#issuecomment-255120452 there several implementation allow work constructions like `-v $(pwd):/target` on `docker build` stage.

Could you please add into plugin?

It will be very useful place build artifacts from other `gradle` stages into image without create blow layers and without much of hacks like squashing after build.

[2016-11-10 22:10] orzeh commented on #296
@Hubbitus As far as I understand that thread, the  `-v` option during `docker build` is available only in custom versions of Docker engine. I don't think we should support them. But even if we do, this feature must be first implemented in [docker-java](https://github.com/docker-java/docker-java/) library which this plugin uses underneath.

I'm closing this now. Please reopen when this feature will

[2016-11-10 22:10] #296 closed

[2016-11-12 19:14] dgutierrez1287 opened #297 "Set Container to remove after run"
I didn't see is an option for the DockerCreateContainer type but it would be good to add in the option to auto cleanup the container (i.e docker run --rm=true). I use build containers with my projects and this would be useful for that use case and other docker tasks.

[2016-11-12 23:27] cdancy commented on #297
@dgutierrez1287 I think the `--rm` option is a function of the command line client and not part of the [create container api](https://docs.docker.com/engine/reference/api/docker_remote_api_v1.24/#/create-a-container). If there is something I'm missing, or you see something I don't, feel free to chime in.

[2016-11-12 23:33] dgutierrez1287 commented on #297
ah yeah i dont see it in the remote api either, sorry about that. ill go with my work around to chain a create start wait and remove together.

[2016-11-12 23:33] #297 closed

[2016-11-15 06:22] borntorock opened #298 "Does build-arg parameter allowed while building docker image using this plugin?"
@bmuschko @double16 @cdancy Do we have the feature of mentioning the build-arg parameter while building docker image using this plugin? If yes, then can you Please let me know the keyword to be used for this.

[2016-11-15 08:07] orzeh commented on #298
@borntorock  it was released in version 3.0.2. See [this PR](https://github.com/bmuschko/gradle-docker-plugin/pull/240) for details.

[2016-11-15 08:07] #298 closed

[2016-11-15 08:08] orzeh commented on #295
I hope your problem was solved so I`m closing this.

[2016-11-15 08:08] #295 closed

[2016-11-25 13:18] hudsonmendes opened #299 "[IGNORE THIS, WRONG PROJECT, SORRY] Can't run 'gradle startTestDocker' from eclipse on Windows."
# Mistaken Issue
I'm sorry, this has been posted to the wrong project.

# Original problem reported.
The plugin fails to run on windows, upon attempt to create a process using /bin/sh
I'm trying to find where it's done (perhaps I can help with a pull-request?)

[code]

[2016-11-25 14:07] #299 closed

[2016-11-26 16:23] hsyed commented on #235
Had to do this to get it working.

docker run -d -v /var/run/docker.sock:/var/run/docker.sock -p 2375:2375 bobrik/socat TCP4-LISTEN:2375,fork,reuseaddr UNIX-CONNECT:/var/run/docker.sock

[2016-11-26 16:38] hsyed opened #300 "Does dependency loading have to be dynamic ?"
I'm building a DSL/Pipeline on top of the logic in this plugin to encode the dozens of base / service image types we using in our cluster so that they are all layered on top of a single base image hierarchy -- in a maintainable way -- i.e., changing alpine version from 3.4 to 3.5 should rebuild every image, changing the JDK version should rebuild all the JDK images etc etc.

Intelij is not aware o

[2016-11-27 12:26] Hubbitus commented on #296
Talks about inclusion into upstream is not ended yet. But for now it present in all Fedora, Centos, Rhel distros by default. And also in some public services like drone.io if I understand correctly. So it is not so small…

Ok, thanks, I'll copy such request into `docker-java` library.

[2016-11-28 09:45] orzeh commented on #300
Try to look at this [issue](https://github.com/bmuschko/gradle-docker-plugin/issues/198). Hope it helps you.

[2016-11-28 16:08] cdancy commented on #300
@hsyed if you're just looking for the dependencies of `dockerjava` you can do so by asking gradle to print out the dependencies for a given configuration. [Here is a good article](https://solidsoft.wordpress.com/2014/11/13/gradle-tricks-display-dependencies-for-all-subprojects-in-multi-project-build/) describing how to do so.

[2016-11-29 12:40] Alxandr commented on #235
With `docker-machine` I have the following working:

[code]

It seems to me that this should maybe be default behaviour?

[2016-11-29 14:09] cdancy commented on #235
@Alxandr that is more for a general use-case and not really relevant to the topic at hand.

[2016-11-30 16:54] samized opened #301 "Possibility to ignore host SSL verification?"
Hi, thanks for this plugin, it's a huge help to get things done.

Depending on our infrastructure, I need the possibility to ignore server certificate verification.
Because I have multiple docker hosts with all the same "dummy" SSL docker certificates the CN cannot be checked correctly by client.

Having this setup works great for all clients with a certificate signed by the same CA and calling do

[2016-11-30 17:08] cdancy commented on #301
@samized this is a bit more complicated than you may realize and has all sorts of implications. That being said: this plugin does not support any sort of disabling of ssl checks. We simply build the request and pass that along to `docker-java` which runs the actual request. I would create an issue with them to see if they will expose anything for you or have any better ideas.

[2016-11-30 17:08] #301 closed

[2016-12-01 07:07] ltjsjyyy opened #303 "how to pass error status from a running container"
I'm trying to make my unit tests and integration tests running in a container with this plugin. Can you tell me how I can make Gradle know tasks running the container is success or failure?

[2016-12-01 09:14] ltjsjyyy commented on #303
Here is the tasks:
1. use DockerCreateContainer with mounted project files.
2. use DockerStartContainer to start this container and run tests.
3. use DockerLogsContainer to show logs in Gradle console.
4. when test finished all gradle tasks finished.

but whether the tests success or failure, the gradle build finished successfully.
is there any way to let Gradle know what happened in the container

[2016-12-01 10:29] ltjsjyyy commented on #303
find the solution myself,

5. use DockerWaitContainer to wait until docker container is closed, then the exitCode will show if the container runs success or failure.

[2016-12-01 10:29] #303 closed

[2016-12-02 06:48] ltjsjyyy opened #304 "Any plan to add docker-compose support in this plugin?"

[2016-12-02 07:35] orzeh commented on #304
We don't have any plans to do that.

If you need support for Compose from Gradle see [this plugin](https://github.com/avast/docker-compose-gradle-plugin).

[2016-12-02 12:22] #304 closed

[2016-12-02 12:23] cdancy commented on #300
@hsyed closing issue. If you want to talk about things further feel free to re-open.

[2016-12-02 12:23] #300 closed

[2016-12-02 12:24] cdancy commented on #209
Closing issue. Feel free to re-open if further discussion is needed.

[2016-12-02 12:24] #209 closed

[2016-12-02 19:55] cdancy opened #305 "Implement `onComplete` and `onNext` reactive-stream methods"
My thinking is we implement the aforementioned methods as closures on tasks much like we did with `onError`. How I see them working is like so:

onComplete: implemented in the same location as `onError`, meaning within [AbstractDockerRemoteApiTask](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/AbstractDockerRemoteApiTask.groovy), and

[2016-12-02 20:28] ianpojman opened #306 "DockerJavaApplicationPlugin and CMD instead of ENTRYPOINT"
I have a requirement to generate docker images which use a default command instead of an ENTRYPOINT, as our containers are started with explicit commands in our production environment.

I worked around this by tweaking the default task like so:

[code]

Would a PR to add support for this be considered? Perhaps something like adding a new flag to DockerJavaApplication?

[code]

Or is there another

[2016-12-02 21:39] orzeh commented on #306
I think I understand your use case and I agree that using a flag in configuration is a good idea. However, I think `useEntrypoint` with default value `true` is a better name. @cdancy any thoughts?

Please provide PR and we will discuss it further.

[2016-12-02 21:56] orzeh commented on #305
@cdancy I agree with `onComplete` which is quite straightforward, but with `onNext` I would prefer different approach. I think we should provide our custom [ResultCallback]( docker-java/src/main/java/com/github/dockerjava/api/async/ResultCallback.java) implementation and _forward_ `onNext` events to handlers/closures registered in given task. This behavior should be _opt-in_ i.e. only if `onNext`

[2016-12-02 22:03] cdancy commented on #305
Sounds good. I'll wait for you future PR to talk further on this. I have use-cases for both which is why I brought this up. I released a new version yesterday with `onError` and was able to remove a fair amount of code from our stuff here. Implementing these 2 methods would allow me to further remove a fair amount more which is always good in my book ;)

[2016-12-05 10:51] orzeh commented on #305
OK, @cdancy take a look at #307

[2016-12-05 15:43] jbaranski opened #308 "Building docker image hangs on windows"
Running the command `docker build .` on its own works fine in the same console session.

I tried to provide as much info I can below, can anyone help or see any issue here?

Windows 7
Gradle 2.14
Java JDK 8
gradle-docker-plugin 3.0.4
Docker Toolbox Info:
[code]

My build script looks like this:
[code]

The output from gradle stops here (where it hangs)
[code]

[2016-12-05 21:48] cdancy commented on #308
Is this being run with `--stacktrace`? Can you change your `DockerBuildImage` task to the below? This is what I use and works for me (similar setup to yours).

[code]

[2016-12-06 13:18] jbaranski commented on #308
@cdancy

Same issue with your task.

It is being run with --stacktrace and --info, but it hangs, it never actually errors out, I waited upwards of 15 minutes on a couple occasions, but running the command directly (docker build .)  takes less than 1 minute.

I think something on my system path is messed up for the way the plugin invokes the docker executable, I have to run `docker-machine env --sh

[2016-12-06 13:41] orzeh commented on #308
@jbaranski  how do you configure connection to docker in build file? Can you paste `docker {...}` fragment?

[2016-12-06 13:50] kavtur opened #309 "can't create docker image on win 7"
Win 7 x64
Gradle 2.14

[code]
My code in build.gradle
[code]
It runs and throws an error:
[code]

in case of removing url = 'https://192.168.99.100:2376' from build task, I got the different error:
[code]

Any ideas?

[2016-12-06 13:55] orzeh commented on #309
@kavtur is `192.168.99.100` your localhost? do you configure connection to docker daemon in your `build.gradle`?

[2016-12-06 14:10] jbaranski commented on #308
I didn't have anything, now I filled it in, same result, I tried different combinations as well.... This based on the docs should work fine though.

[code]

[2016-12-06 14:12] kavtur commented on #309
@orzeh , I suspect that my windows doesn't have it
[code]

[2016-12-06 14:15] cdancy commented on #308
Definitely looks to be a connection issue. Can you connect to the url `http://192.168.99.100:2376/_ping` in your browser? If successful you should get literally the message `OK` handed back, if not then _something_ is not setup correctly.

[2016-12-06 14:19] orzeh commented on #309
@kavtur does not have what?

I'm afraid that unless you provide some more context on what you actually do, we won't be able to help you.

[2016-12-06 14:24] jbaranski commented on #308
The result of that url is me downloading a binary file, not sure what it is though.

Alright let me investigate this a little more, since I didn't get any OK message, will let you know if I can get this resolved. Thanks for the tips.

[2016-12-06 14:25] kavtur commented on #309
@orzeh
trying to add some more details. pls let me know if you need other info

[code]

Inside GIT I got project on SpringBoot. Build system is gradle 2.14.
I added docker plugin as it described in my 1st post.
when I try to run it from my cmd like this:
`gradle buildDockerImage -x test`
I got error about connection problem.

[2016-12-06 14:26] orzeh commented on #308
@jbaranski you docker daemon is TLS enabled so you have to configure certificate paths. Try this:
[code]

[2016-12-06 14:31] jbaranski commented on #308
Tried that and also the path <home>.docker/machine/machines/default -- something is up but like you guys said most likely some bad connection issue, will try to get that ping request to work first then come back around to this, to eliminate that step from this. Thank you both.

[2016-12-06 14:32] cdancy commented on #308
@orzeh is right in that if the connection is not public, meaning TLS is enabled, then you will need to pass in the `certPath` wherever that might be.

[2016-12-06 14:50] cdancy opened #310 "Defaulting to correct docker URL for all platforms"
Currently we default to `http://localhost:2375` when connecting to docker. Think we should change this to `unix:///var/run/docker.sock` for all non-windows based systems and for windows based systems default to `npipe:////./ppe/docker_engine` (windows 10 equivalent). This allows folks to use their local docker OOTB without having to configure anything.

@orzeh @bmuschko thoughts?

[2016-12-06 15:39] eshepelyuk commented on #310
FYI, `Docker for Windows` couldn't be installed on all versions of `Windows 10`. As far as I understand - `npipe://` is related to `Docker for Windows` product.
So it could be good if plugin can detected this and fall back to using `DOCKER_HOST` env variable, in case of `Docker Toolbox` product.

[2016-12-06 15:43] cdancy commented on #310
@eshepelyuk absolutely agree. The impl, from my POV, would look something like:

[code]

[2016-12-06 16:46] eshepelyuk commented on #310
Once again, I have `Windows 10` and I can't install `Docker for Windows` there.
As many others laptop owners with non stadard `Windows 10` editions.
So we are forced to use `Docker Toolbox`.
Thus, your pseudo code will not work.

[2016-12-06 16:59] cdancy commented on #310
@eshepelyuk yeah I think you need windows 10 pro or something along those lines. I've amended the pseudo-code above.

[2016-12-06 18:21] gesellix commented on #310
@eshepelyuk do you have installed all patches?

[2016-12-06 18:22] gesellix commented on #310
@cdancy shouldn't Docker Toolbox set the `DOCKER_HOST` env variable?

So, the default should always fallback to `unix://` or `npipe://`, but prefer `DOCKER_HOST`, if set.

[2016-12-06 18:24] cdancy commented on #310
@gesellix honestly I have no idea as I don't own any windows machines. But if that's true then the above code snippet should cover that use-case?

[2016-12-06 18:46] eshepelyuk commented on #310
Fall back _must be_ set to `DOCKER_HOST`.
`http://localhost:2375` is some sort of meaningless legacy.

[2016-12-06 18:48] cdancy commented on #310
@eshepelyuk I wouldn't say meaningless. It IS the URL for the local, non-tls, enalbed docker daemon. It's also possible the DOCKER_HOST environment variable is not set.

[2016-12-06 18:56] gesellix commented on #310
yes, the last `else` won't hurt, but I wanted to stress the assumption that it won't ever be used in real life.

[2016-12-06 19:00] eshepelyuk commented on #310
As far as I understand, docker clients are not using `http://` or `https://` URL to connect to daemon.
Instead `tcp://` should be used, as described https://docs.docker.com/engine/reference/commandline/dockerd/.

Even this plugin replaces `http://` to `tcp://` before passing daemon host to docker-java library.
Docker client or docker-java library will just fail if URL will not start from `tcp://`

[2016-12-06 19:02] cdancy commented on #310
@eshepelyuk aaahhhh yes on that you're right. I'll amend the above.

[2016-12-06 20:44] #309 closed

[2016-12-08 11:57] toplac opened #312 "Gradle 3.2 Compatibility"
Hi,

i have an issue using this plugin in conjunction with Gradle 3.2 (latest version) whereas the same build is working properly using gradle 2.14.1

I am using Docker Machine on Windows 10 and hopefully can prepare an example issue today.
But before starting i wanted to ask, if there are any known incompatiblities for Gradle Version 3

[2016-12-08 12:14] cdancy commented on #312
@toplac nothing that I'm aware of. Can you run your script again with `--stacktrace --debug` and past the output here?

Also you should be able to use native docker on windows 10 if I'm not mistaken.

[2016-12-08 12:47] toplac commented on #312
@cdancy I am aware of the native docker. The problem is that Docker for Windows need Hyper-V and therefore I am unable to use most of my other Vagrant machines...

`task buildDockerImage(type: DockerBuildImage) {
    inputDir = projectDir
    noCache = false
    tag = "$project.name:$version"
}
`

See Debug output below.

`13:36:56.668 [DEBUG] [org.gradle.api.internal.tasks.execution.ExecuteAtMost

[2016-12-08 22:41] orzeh commented on #312
Root cause:
[code]

My German is not very good, but it looks like there is a locked file in docker build directory. This is quite likely, because you set `inputDir = projectDir` in your `DockerBuildImage` task. Probably Gradle 3.2 locks something.

[2016-12-09 09:26] toplac commented on #312
@orzeh seems you are right. Changing the inputDir to something different works.
I believe this is a regression coming from Gradle 3.X and not a problem with the plugin

[2016-12-09 09:31] #312 closed

[2016-12-09 12:42] cdancy commented on #312
@toplac if you open an ISSUE with gradle can you please post and/or link to it here just incase others hit a similar issue?

[2016-12-11 20:20] cdancy commented on #310
Opened PR #313 for initial implementation on this. Any thoughts/comments/concerns would be welcome!

[2016-12-12 08:52] orzeh commented on #310
The implementation looks OK, but maybe we should combine it somehow with #237 and #250 ?

[2016-12-13 09:30] samized opened #314 "DockerCreateContainer ignores containerName"
Hi, thanks for this plugin, it's really helpful so far

But using `DockerCreateContainer` with the property containerName does not work as expected for me
My example task looks like this (busybox is already in docker images)
[code]
Looking into `docker ps -a` shows that this container got a random name by docker
[code]

I am using the latest version of this plugin. (3.0.4)

[2016-12-13 11:11] orzeh commented on #314
But did you actually _start_ the container?

[2016-12-13 11:47] cdancy commented on #308
@jbaranski closing issue for now. If you feel further discussion is necessary feel free to re-open.

[2016-12-13 11:47] #308 closed

[2016-12-13 11:48] cdancy commented on #293
Closing issue. I'll update the docs to address the confusion found here.

[2016-12-13 11:48] #293 closed

[2016-12-13 11:51] cdancy commented on #235
Closing issue for now as I use docker on mac on a daily basis and cannot reproduce the OP's ISSUE (at least not with the latest plugin and latest docker-on-mac). Setting docker.url to `unix:///var/run/docker.sock` is working as expected.

[2016-12-13 11:51] #235 closed

[2016-12-13 11:52] cdancy commented on #216
Closing issue for now. @dpr-rec feel free to re-open if needed or use @double16 version of our plugin which may make things easier for you when working with AWS.

[2016-12-13 11:52] #216 closed

[2016-12-13 14:03] orzeh commented on #314
@samized  I'm unable to reproduce your issue in my environment.

Could you please provide some details: build script, build log, `docker ps -a` output after build?

[2016-12-13 14:39] samized commented on #314
Ok, I found the problem, really annoying...
For debug reasons, I defined a variable `containerName` globally like this:
[code]

Sorry for this beginner's mistake. Thanks for your help anyway ;)

[2016-12-13 14:39] #314 closed

[2016-12-13 15:12] cdancy commented on #314
Aaaaahhhhh the joys of groovy and meta programming. It's greatest strength is also its greatest weakness. Something you have to learn to love ;)

[2016-12-14 02:56] blongstreth opened #315 "Connect, Read and Completion Timeouts"
Hello:

I am playing around with various tasks and docker-java commands in order to better understand how things timeout when the connection is pulled, unavailable, etc.  In short, many commands will hang indefinitely which is problematic.  As a result, I am finding the need to have better default read, connect and result callback timeouts as well as the ability to tune them on a per command (task

[2016-12-14 06:20] blongstreth commented on #315
The following some code snippets show I am attempting to configure the docker client read/write timeouts.  Please note the code is not complete and may have some bugs.

[code]

[2016-12-14 09:45] orzeh commented on #315
@blongstreth it sounds like a reasonable idea.
I think we should start with ability to define connect and read timeouts globally in `docker {}` configuration block. It could look like:
[code]
Then we can choose tasks that await completion and implement `timeout` property on them.
@cdancy any thoughts?

@blongstreth are you interested in submitting PR with this?

[2016-12-14 13:15] cdancy commented on #315
Sounds like a good idea to me for folks that need it. However, I think the docker-java project allows you to set either system properties or environment variable for various things to tweak, thought these were among them.

If not feel free to send in a PR.

[2016-12-16 10:04] akki1306 opened #316 "access host port number from DockerCreateContainer"
Is there a way to access host port number that is mapped to the exposed port in the container using the DockerCreateContainer?

[2016-12-16 10:21] orzeh commented on #316
You have to use `DockerInspectContainer`

[2016-12-16 11:05] akki1306 commented on #316
This is the output of DockerInspectContainer that I get

Image ID    : sha256:a4c94f899481afbfc1c4306f4c99a97bd10768ba1f428fa8cb5e3b62a2979696
Name        : /fervent_leavitt
Links       : []
Volumes     : []
VolumesFrom : []
ExposedPorts : [8080/tcp, 9990/tcp]
LogConfig : json-file
RestartPolicy : no
Devices : []
:removeContainer
Removing container with ID 'cfa5b535052d4d7a4d704b2e2b5cf575ecf08cd5

[2016-12-16 11:48] orzeh commented on #316
Ohh I've forgot that `DockerInspectContainer` doesn't print all information.

You have two options:

1. implement your own [ResponseHandler](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/response/ResponseHandler.groovy) like [InspectContainerResponseHandler](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bm

[2016-12-16 12:15] cdancy commented on #316
@akki1306 I would wait, assuming you can, until early next week for option #2 that @orzeh. We're finishing up work on that now and I plan to do a new release by the end of this weekend.

[2016-12-20 11:37] akki1306 opened #317 "Expose a port to random port on host"
I am trying to expose a port in the container to random available port on the host the following way
[code]
docker inspect output for this container returns null for property NetworkSettings.Ports. This property contains the HostPort property. If I start docker container normally using command line and use this command given below, I get the HostPort property correctly. I tried to create a Respons

[2016-12-20 13:06] orzeh commented on #317
`exposePorts` in your task works the same as `EXPOSE` instruction from Dockerfile. Quoting [the docs](https://docs.docker.com/engine/reference/builder/#/expose):

So to map that port to host, you have to set `portBindings` or `publishAll` property:
[code]

BTW why did you open another issue instead of continuing #316 ?

[2016-12-20 13:06] #317 closed

[2016-12-20 14:16] cdancy commented on #317
@orzeh has it right. @akki1306 the way you are using the option is correct. If you want a random port assigned, that is already in use within the container, you can use the snippet that @orzeh commented out above like so:

[code]

Omitting the left-side port tells docker to assign something at random. Hope that helps.

[2016-12-28 16:43] ben-gineer opened #318 "Pushing multiple tags"
What's the correct procedure for building and pushing multiple tags on the same image? Currently we're using:

[code]

I don't see any other way to create multiple tags on the same task.

[2016-12-28 18:01] orzeh commented on #318
@ben-gineer this is the only way until now, I'm afraid. `docker-java` does not support this yet. We have an open issue here (#286) and on their side there is [another one](https://github.com/docker-java/docker-java/issues/720). I've made a [PR that fixed it](https://github.com/docker-java/docker-java/pull/739) but it is not merged yet.

I'm closing this, please track the other issue here for chang

[2016-12-28 18:01] #318 closed

[2016-12-29 18:20] Hubbitus opened #319 "Container linking does not work because getContainerId() return null on lifecycle phase"
[code]
I got error: `Cannot get property 'null:egais_db' on null object`

Indeed it is not defined on lifecycle phase, please look at evaluate:
[code]
that produce:
[code]

Example from https://github.com/bmuschko/gradle-docker-plugin/pull/53 with clusure instead of list:
[code]
fails with: `Could not find method links() for arguments [build_aq43n56aofq3g16adz8t2p2m3$_run_closure22$_closure50@6e44

[2016-12-29 19:21] Hubbitus opened #320 "Container volumes fail"
I've try start container using Systemd and it is require pass /sys/fs/cgroup volume to it, I do:

[code]
But got fail:
[code]

[2016-12-29 20:41] cdancy commented on #320
Sounds like a container issue in general and less to do with this plugin specifically.

Can you confirm things work when using an ordinary directory say from your home folder?

[2016-12-29 21:33] Hubbitus commented on #320
If I run container manually with `-v /sys/fs/cgroup:/sys/fs/cgroup` it works. Should be there another syntax?

[2016-12-30 11:47] orzeh commented on #319
@Hubbitus `links()` method was removed from `DockerCreateContainer` in f4e28c270c616ef00ac7dd04081d85a0c8ac9481.

Try to set `links` when task is being _executed_ not _evaluated_:
[code]

[2016-12-30 16:44] Hubbitus commented on #320
[code]
works

[2016-12-30 18:03] cdancy commented on #320
What OS are you on, what version of the plugin are you using, and what version of docker do you have?

[2017-01-01 05:50] mam0nth opened #321 "Support HEALTHCHECK Instruction"
It seems that the plugin does not yet support this https://docs.docker.com/engine/reference/builder/#/healthcheck so Im requesting to support it.

[2017-01-01 05:57] mam0nth opened #322 "Support Docker 1.12 Swarm mode"
The plugin already supports container operations, it is nice also to support docker service operations. In the hype of microservices+docker, I think this feature is one of the missing feature here. It can be used primarily in CI/CD.

[2017-01-01 22:16] Hubbitus commented on #320
Fedora Linux 25.
classpath 'com.bmuschko:gradle-docker-plugin:3.0.5'
$ docker --version
Docker version 1.12.5, build 079fbe3/1.12.5

You may reproduce it on image: https://hub.docker.com/r/taskdata/docker-centos-7-systemd-tomcat/

[2017-01-01 22:29] Hubbitus commented on #319
In your variant I got `Cannot get property 'a861944d2ed1a63b54fac6209769db303594d5d958f6e51862c38832bdb10d13:egais_db' on null object`

I hope variant with equals sign should work:
[code]
Which I do on time of bug submitting (at least documentation needs to be adjusted). And it is not produce error on evaluation. But I can't still say it works because of https://github.com/bmuschko/gradle-docker-p

[2017-01-01 22:40] cdancy commented on #322
@mam0nth you will have to open an ISSUE with [docker-java](https://github.com/docker-java/docker-java) to support this as we build on top of that library.

[2017-01-02 00:03] Hubbitus commented on #320
Off course it is read-only filesystem, but provide it like: ''/sys/fs/cgroup:/sys/fs/cgroup:ro'' does not help unfortunately.

[2017-01-02 09:00] orzeh commented on #319
@Hubbitus I've forgot the `=` sign, sorry for the inconvenience - I didn't check the code. After correction it should work as it shows valid container identifier in error message.

[2017-01-02 09:11] orzeh commented on #321
@mam0nth @cdancy in `docker-java` there is already a [PR which adds support for retrieving healthcheck status in inspect container command response](https://github.com/docker-java/docker-java/pull/763). However, what we can do right now is to support `HEALTHCHECK` instruction in `Dockerfile` task - @mam0nth are you interested in submitting PR?

[2017-01-03 13:58] cdancy commented on #320
@Hubbitus hmmm .... might be this is an issue with btrfs? This is definitely not a plugin issue as we are just forwarding the request to docker-java who in turn forwards the request to docker. Have you tried on a different distribution? Might be that fedoras setup is slightly askew.

[2017-01-03 18:31] Hubbitus commented on #320
but it works if I run it from console like:
[code]
How it may be distribution specific?

May it be related to read-only volume support issue?

[2017-01-03 18:56] cdancy commented on #320
@Hubbitus it may be. Open an ISSUE with docker-java to see they have anything to say about this. We are just forwarding the String along to them so it may be they are not correctly parsing it.

[2017-01-03 21:49] stormbeta opened #323 "Add note in documentation that docker auth token can't be used directly"
For our automated builds, we have a pre-generated auth file for our private registry (`~/.docker/config.json`). Unlike the binary docker client, the plugin doesn't appear to read this file, but I assumed I just had to pass the token manually.

I had to look at our docker registry logs to figure out that the plugin was trying to login and pull the token itself, so it needed the actual username/pass

[2017-01-03 21:50] marcuslinke commented on #320
Example code to start a container with read-only binds is here: https://github.com/docker-java/docker-java/blob/master/src/test/java/com/github/dockerjava/core/command/StartContainerCmdImplTest.java#L71

So in general ready-only binds are supported by docker-java. Not sure how gradle-docker-plugin handles the parsing stuff. At least `Bind.parse()` is tested here https://github.com/docker-java/dock

[2017-01-03 22:33] cdancy commented on #320
@Hubbitus try doing the below:

[code]

[2017-01-03 22:35] cdancy commented on #323
@stormbeta yeah we don't read that file by default. We leave it up to you to define the registry to use as "docker config" files can have N number of registries listed.

[2017-01-03 22:35] #323 closed

[2017-01-03 22:40] cdancy commented on #323
I could however see a potential PR here where the user can define the config file to use and we pull out the necessary registry configs. Not sure what this would look like but it could be useful as we do something similar here.

@orzeh

[2017-01-04 07:21] marcuslinke commented on #320
And I guess volumes should be also modified, so the following should do the job:
[code]

[2017-01-04 08:03] orzeh commented on #323
@cdancy @stormbeta in `docker-java` there is a [PR](https://github.com/docker-java/docker-java/pull/756) which I hope will fix that.

[2017-01-04 22:32] Hubbitus commented on #320
Adding those lines leads to error:

Using (without mention it in volumes):
[code]
almost works. But mount in `rw` mode according to `docker inspect`.

[2017-01-05 04:49] jengstrom commented on #171
@avarabyeu I am interested in what you found for the solution?  :)

[2017-01-05 12:08] Hubbitus opened #324 "Please allow provide `containerId` for DockerRemoveContainer task in runtime"
I want implement two tasks:
* `dockerStart` - which just start application in docker with linked db container. It almost done. And
* `dockerRun` - which plus to `dockerStart` wait user input and on end of gradle build remove created containers and images.

My script looks like:
[code]
Problem there I got:
[code]

It will be very convenient use gradle `finalizedBy` task dependency, but I should ens

[2017-01-05 13:43] orzeh commented on #324
@Hubbitus as far as I understand your use case it is definitely possible to implement it using Gradle task dependencies and ordering rules - see [docs](https://docs.gradle.org/current/userguide/more_about_tasks.html). I've done it in my own projects.

To fix your issue just move `targetContainerId { createEgaisappContainer.containerName }` outside the `if` and I'll be working:

[code]

We can have

[2017-01-05 13:43] #324 closed

[2017-01-05 14:28] orzeh commented on #324
@Hubbitus @cdancy the script has IMO even more issues, e.g.: `dockerRun` task should have `mustRunAfter dockerStart` because when both task are executed, Gradle _can_ decide to run `dockerRun` __before__ `dockerStart`...

[2017-01-05 22:01] draeron opened #325 "build context doesn't support exclamation (aka exclusions) mark in .dockerignore"
As per the [specification here](https://docs.docker.com/engine/reference/builder/#/dockerignore-file)

For example, this should exclude all files but include the Dockerfile and a jar file.
[code]

the docker host will start building the image but will fail since the jar file will not be in the context sent to
[code]

I know there was some issue in [docker-java](https://github.com/docker-java/docke

[2017-01-06 16:32] Hubbitus commented on #324
No it will not work also if task `createEgaisappContainer` was not run. Please try.

[2017-01-06 16:36] Hubbitus commented on #324
@cdancy thank you very much - `onlyIf` seams help there!

[2017-01-06 17:13] ebelisle opened #326 "Allow onNext to end task or stop following logs."
I'd like to write a task that watches a container and finishes when the container is ready.  DockerLogsContainer and onNext allow me to follow the log (#305), but I don't have a mechanism to complete the task before the container terminates.

This is a suggested solution for #232.

[code]

[2017-01-06 17:33] ebelisle opened #327 "Add default behavior for docker.certPath if default behavior for docker.url is used"
I like the behavior added by #310 where docker.url will default to System.env.DOCKER_HOST when DOCKER_HOST is set, or unix:///var/run/docker.sock when DOCKER_HOST is not set.

When docker.url and docker.certPath are not specified, I would like default behavior for docker.certPath.  My current workaround is:

[code]

[2017-01-06 18:08] cdancy commented on #327
I actually meant to do something similar for `DOCKER_CERT_PATH` but it slipped my mind before we released. I'll get this knocked out for next release.

[2017-01-06 18:12] cdancy commented on #326
@ebelisle here is the poor mans solution to that problem ;)

[code]

[2017-01-06 21:52] cdancy commented on #326
@double16 @orzeh may have some thoughts about how to approach this correctly as they've worked in this area previously. Perhaps we supply a way to short-circuit the executed `onNext` closure on top of providing a time-limit to iterate over logs.

[2017-01-06 21:55] cdancy commented on #326
I actually sub-class the `DockerLogsContainer` task here and supply a "logPoller" mechanism which  iterates over executions of said task looking for a match given a max time limit.

[2017-01-09 10:04] orzeh commented on #326
@cdancy @ebelisle @double16 I think there is no better solution than one you described above. There are no means to gracefully terminate `docker-java` LogCommand when `folllow` is set to `true`.

We should add a new task that executes `LogCommand` in some kind of a loop and user in `onNext` handler can decide to stop it.

[2017-01-09 10:09] orzeh commented on #325
@draeron I'm using `.dockerignore` with exclusions in my projects and didn't encounter any issues.

Can you prepare sample project which demonstrates the problem?

[2017-01-09 13:29] Hubbitus commented on #319
Yes! It woks in that way! I think it will be cool to update documentation then.

[2017-01-09 14:09] orzeh commented on #319
@Hubbitus which documentation do you mean? `links` is a property so it must be set using `=` operator.

[2017-01-09 14:09] #319 closed

[2017-01-09 19:26] draeron commented on #325
here's a sample project : https://github.com/draeron/helloworld. The image will build when using the docker cli but won't when using gradle.

From what i can see, the problem only affect exclusion lines with a path. so  `!some/path/to/a/file.jar` will not work but `!file.jar` will.

I did a workaround by copying necessary files into the same folder (so creating a simple context folder) and then ed

[2017-01-10 09:15] maffelbaffel opened #328 "Push fails running in parallel"
Running multiple `DockerPushImage` tasks in parallel fails for me.

My tasks look like this (important parts):

[code]

Notice how `pushTag` and `pushLatest` both only depend on `buildDockerImage` which means after my image is built both pushTag and pushLatest run in parallel.

I am calling them with `gradle pushTag pushLatest`.
[code]

Whats weird about that error is that docker wants to push to

[2017-01-10 12:22] orzeh commented on #325
@draeron I've cloned your repo and was unable to reproduce the issue:
[code]

[2017-01-10 12:41] orzeh commented on #328
@maffelbaffel I don't think you run `pushTag` and `pushLatest` in parallel - we do not support this yet (see [this thread for details](https://discuss.gradle.org/t/can-we-run-tasks-in-parallel-in-single-build-project/18321/6)).

I see that `pushTag` directly depends on `tagTagImage`.

According to the error message there is probably an issue in your build script when you construct tag, but the sni

[2017-01-10 12:46] cdancy commented on #328
@maffelbaffel just to add to what @orzeh noted: if you're having issues pushing I would first start by getting 1 of these tasks working correctly, from beginning to end, before trying multiples of them.

[2017-01-10 14:56] maffelbaffel commented on #328
Ok somehow i cannot reproduce this myself :) I'm not exactly sure why it works now, because i did not change much.
Will close this issue then.
Thanks for the quick responds thought :)

[2017-01-10 14:56] #328 closed

[2017-01-10 15:18] draeron commented on #325
are you on windows? might it be a \ or / issue ?

[2017-01-11 07:33] orzeh commented on #325
I'm on Linux.

Did you double check that `some/path/to/a/file.jar` exists and it is in build context?

[2017-01-11 18:44] draeron commented on #325
i just made some test, this only happen on windows, on linux it will work properly. So it has to do with the path. Do you think the problem might in [docker-java](https://github.com/docker-java/docker-java) ?

[2017-01-12 10:25] orzeh commented on #325
@draeron probably yes, because we delegate `.dockerignore` handling to it.

Maybe try to run their tests on Windows and see if something breaks. Then report an issue.

[2017-01-17 15:52] paclat opened #329 "Support for docker volume creation"
The docker command line has been expanded to explicitly support volumes.   The gradle plugin should support these :

 docker volume --help

Usage:	docker volume COMMAND

Manage Docker volumes

Options:
      --help   Print usage

Commands:
  create      Create a volume
  inspect     Display detailed information on one or more volumes
  ls          List volumes
  rm          Remove one or more volu

[2017-01-17 16:25] cdancy commented on #329
@paclat how do you see these being implemented? Care to send in a PR for proof of concept?

[2017-01-17 18:27] greenechri opened #330 "How to specify non-standard run options in DockerCreateContainer"
I'm trying to start a container with Oracle DB, which if run with default Docker settings will produce this error and not start:

STDOUT: Error: The container doesn't have enough memory allocated.
STDOUT: A database XE container needs at least 1 GB of shared memory (/dev/shm).
STDOUT: You currently only have 64 MB allocated to the container.

I normally solve this by running the container with --s

[2017-01-17 18:42] cdancy commented on #330
@greenechri we don't currently support it and neither does [docker-java](https://github.com/docker-java/docker-java). The property would first [need to be exposed here](https://github.com/docker-java/docker-java/blob/master/src/main/java/com/github/dockerjava/core/command/CreateContainerCmdImpl.java) and then we would be able to take advantage of it. Are you interested in putting together a PR for

[2017-01-17 18:43] cdancy commented on #330
Posting docker `Create a container` endpoint API incase someone wants to jump on it.

https://docs.docker.com/engine/reference/api/docker_remote_api_v1.24/#/create-a-container

[2017-01-17 22:10] greenechri commented on #330
I see the Java wrapper is what's not as up-to-date as the cli. I think I will just roll with a Gradle work-around such as

[code]

Also, since I will likely need other non-standard options for building, such as new --network option, I may have to just use Exec tasks altogether instead of this plugin. Cheers.

[2017-01-17 22:16] cdancy commented on #330
@greenechri you don't see any interest in opening an ISSUE with the docker-java project or is it maybe you don't have the time for a PR (or a combination of the 2)? It would be useful to have this feature for the greater community and the work to do so does not look bad at all.

[2017-01-17 22:30] greenechri commented on #330
Once I get this Gradle > Docker POC working, I'll loop back around and file that PR

[2017-01-18 10:42] jmewes opened #333 "Document how to run the functional tests locally"
It would be nice, if you'd document in your [README](https://github.com/bmuschko/gradle-docker-plugin/blob/master/README.asciidoc) file how to run the functional tests locally. I think an example for the Docker configuration and calling of the Gradle task from the command-line would be sufficient to be able to configure the IDE as well.

Currently I don't know comply with the [TestPrecondition](ht

[2017-01-18 12:39] orzeh commented on #333
@jmewes did you read [this](https://github.com/bmuschko/gradle-docker-plugin/blob/master/README.asciidoc#executing-the-plugins-test-suite-with-custom-configuration)? I think this is sufficient. If you have some ideas how to improve it feel free to submit PR or discuss it here.

[2017-01-18 14:06] cdancy opened #334 "Add checkstyle support (PMD an option as well)"
Maybe we use [this from one of my own projects](https://github.com/cdancy/bitbucket-rest/blob/master/config/checkstyle/checkstyle.xml) which seems to work well enough.

[2017-01-18 14:19] cdancy commented on #333
@jmewes please submit a PR if you think the docs surrounding how to run tests can be improved. @orzeh and myself may be narrow sighted in that we've been working with the code for so long it just makes sense to us. If you think there is something you can add to help developers come on board easier than by all means speak up and/or provide a PR to discuss! ;)

[2017-01-18 18:15] jmewes commented on #333
@orzeh Yes, I read this but I am still not able to execute the tests. When I call this (on Linux/Fedora25), the build will pass even though I have modified the assertions in a way that they must fail.

[code]

([full console output](http://pastebin.com/FGvyKe5J))

In the IDE I am getting a notice that the test is being ignored.

[code]

The reason is that I don't know how to comply with a the requ

[2017-01-18 18:31] cdancy commented on #333
@jmewes aaaahhhh I see where you're confusion is coming in. You're not actually executing the `functionalTest` task which is analogous to "live" or "integration" tests. Try switching out `build` for `functionalTest` and see how that fares.

[2017-01-18 19:01] dmitrygusev opened #335 "Gradle build cache for DockerBuildImage?"
Right now even if I configure my Dockerfile to use Docker's build cache it still takes time (up to 30 seconds in my case) to pass the docker build context to the Docker daemon to build an image.

Any reasons why `DockerBuildImage` (and other tasks) don't support the [Gradle Build Cache](https://docs.gradle.org/current/userguide/build_cache.html)?

[2017-01-18 19:25] cdancy commented on #335
@dmitrygusev these are 2 very different things. Care to elaborate a bit more as to what you're thinking and/or what you would like to see happen?

[2017-01-18 20:14] dmitrygusev commented on #335
Let's take the following task as example:

[code]

What currently happens is this task always gets executed and my Dockerfile produces an image with the same `ImageId`, because my Dockerfile uses the Docker build cache.

Docker can only understand if it can use its build cache if:
1) there's no `--no-cache`, and
2) it can see its build context.

Now what I think is happening is that the `DockerBui

[2017-01-18 20:44] orzeh commented on #335
But what if the base image used in a `Dockerfile` has changed in a meantime?

[2017-01-18 21:05] dmitrygusev commented on #335
@orzeh I presume you mean base image specified as `:latest`? I guess it won't notice it and you will have old image if caching is enabled for your build task.

The thing is there is an option to [disable task output cache](https://docs.gradle.org/current/javadoc/org/gradle/api/tasks/TaskOutputs.html#cacheIf(org.gradle.api.specs.Spec)), but there's no way to enforce it if the task doesn't support c

[2017-01-18 21:42] orzeh commented on #333
@jmewes Functional testing this plugin is not an easy task because it has broad functionality, communicates with other software via network and so on. Therefore its testing harness is a little bit complicated. I don't think it should be fully covered in a README file as it is composed of tools and techniques well known to most developers. That being said I will give you here some details so you ca

[2017-01-18 21:59] orzeh commented on #335
@dmitrygusev `:latest` is not the only case, e.g: `openjdk:8`. If between your two Gradle builds someone tells Docker to pull newer base image you will get two different images even if the build context doesn't change. Moreover, you can tell Docker to always try to pull newer base image.

What I trying to say is that only you as a developer can tell if `DockerBuildImage` is up to date or not. If s

[2017-01-19 00:42] cdancy commented on #335
@orzeh brings up a good point: it's nearly impossible, if not entirely so, to determine if an image is up-to-date. We tried to implement something a while back but the corner cases just kept piling up, so much so that we ripped it out of this code base altogether once we realized it's just not possible.

[2017-01-19 00:44] dmitrygusev commented on #335
I understand that.

But if I, as developer, know that my image only depends on contents of `inputDir`, because I designed my `Dockerfile` that way on purpose -- there's no moving parts outside of the build context -- why shouldn't I use caching?

[2017-01-19 00:49] cdancy commented on #335
Fair enough ... but the question is how do WE tell if that is so? The feature you noted above is also incubating and is new as of 3.0. Not sure how many folks have upgraded yet (I know we haven't) as there is a lot of catch-up going in the gradle community at large with migrating plugins/code/etc to 3.0.

[2017-01-19 01:05] dmitrygusev commented on #335
Yeah, I guess you can't know that for sure in general.

The best way it can be done is by providing an option to enable caching for special cases like mine. And I guess you would also need to check if the cached image wasn't deleted manually from `docker images`.

I'll try to play with it by subclassing `DockerBuildImage` and declaring `imageId` as task output, let's see how it'll go.

Closing thi

[2017-01-19 01:05] #335 closed

[2017-01-19 01:10] cdancy commented on #335
@dmitrygusev if you come up with a solution that you think might work for the greater community at large than by all means share it and we can pick it apart. You're not the first to bring this up and I initially coded the work (however feeble) thinking it could be done. As you note: gradle may have a better more OOTB solution that could potentially deal with the problem better, that combined with

[2017-01-19 01:12] cdancy commented on #316
Closing this ISSUE as all tasks are now "reactive" and thus you should be able to get the expected functionality from `DockerInspectContainer` using `onNext` closure.

[2017-01-19 01:12] #316 closed

[2017-01-19 01:13] cdancy commented on #305
Closing as functionality has been merged.

[2017-01-19 01:13] #305 closed

[2017-01-19 01:15] cdancy commented on #150
Closing this issue as I don't think it's relevant any longer. Folks can feel free to re-open if they want to discuss this further.

[2017-01-19 01:15] #150 closed

[2017-01-19 01:16] cdancy commented on #310
Closing issue as functionality has been merged.

[2017-01-19 01:16] #310 closed

[2017-01-19 01:17] cdancy commented on #315
Closing as there isn't a pressing need to have this and I've not seen a PR come this way. Feel free to re-open if you want to further discuss.

[2017-01-19 01:17] #315 closed

[2017-01-19 01:18] #330 closed

[2017-01-19 01:34] dmitrygusev commented on #335
Storing `ImageId` in a file inside `buildDir` worked fine for me.

[code]

[2017-01-20 10:41] jmewes commented on #333
@cdancy Thanks for considering an update of the documentation. Maybe you'd find [this blog post](http://blog.thefrontiergroup.com.au/2013/05/writing-a-good-readme/) useful for inspiration.

Unfortunately, using the `functionalTest` task resulted in a successful build even though I have modified the assertions in a way that is should fail.

[code]

@orzeh Thank you for the clarification. It makes p

[2017-01-20 10:55] orzeh commented on #333
@jmewes are you using local Docker daemon? Does it responds to `http://localhost:2375/info`? Because that is required to execute `DockerBuildImageFunctionalTest`.

Why don't you try using Vagrant if you have problems in setting up local environment by yourself?

Hint:
[code]

[2017-01-20 13:43] cdancy opened #337 "Fix functionalTest so that they don't rely on http"

[2017-01-20 13:45] cdancy commented on #333
@orzeh this has been a bug of sorts ever since we moved to `tcp|unix` for the protocol. User should not have to have a daemon listening on` http://localhost:2375`. [Created a story to track this](https://github.com/bmuschko/gradle-docker-plugin/issues/337). I'll try and knock it out this weekend.

[2017-01-20 13:55] jmewes commented on #333
@orzeh Yes, the local Docker daemon is running and it given out some details for this command.

`curl --unix-socket /var/run/docker.sock http://localhost:2375/info`

Actually I don't care how to run the tests. Vagrant is fine. I didn't try it because I have never really used it and was reluctant to figure out workarounds like this https://github.com/mitchellh/vagrant/issues/6873 to get it working.

[2017-01-26 09:21] thijslemmens opened #338 "Dockerfile task failing when FROM instruction is not the first instruction"
Behavior:
When some instructions, and then adding a FROM instruction, the validation fails when the task is executed.

Improvement:
Separate out the FROM instruction in a separate field. Run that instruction first and then the list of other instructions. That way, you can change the FROM at any time, it will always be the first instruction.

Why:
I use a chain of builds, and I add the imageId of a

[2017-01-26 12:50] cdancy commented on #338
@thijslemmens yes please do send in a PR!

[2017-01-30 14:55] #338 closed

[2017-02-06 21:04] cdancy commented on #334
Perhaps a combination of checkstyle and PMD might be a good place to start.

[2017-02-07 11:00] Hubbitus opened #340 "FR: Please add docker-compose yml support"
It will be very cool to see support of docker-compose file format import.

Just like [ansible docker_service](https://docs.ansible.com/ansible/docker_service_module.html) do it additionally to manual [images and containers](https://docs.ansible.com/ansible/docker_container_module.html) management.

[2017-02-07 11:57] orzeh commented on #340
@Hubbitus there already exist plugins that support `docker-compose`: https://plugins.gradle.org/search?term=docker-compose

[2017-02-08 09:55] Hubbitus commented on #340
Thanks, good to known. But have it all in one will be good also.

[2017-02-08 10:07] Hubbitus opened #341 "Please add option to pull image for DockerCreateContainer"
I see you have separate [task DockerPullImage](http://bmuschko.github.io/gradle-docker-plugin/docs/groovydoc/com/bmuschko/gradle/docker/tasks/image/DockerPullImage.html) but it should be easy introduce said pull=true option to do not introduce nee dependant task for container creation. Like console docker command do it automatically even without any keys on run.

Now I just get on:
[code]
error:
[

[2017-02-08 13:15] cdancy commented on #341
This is on purpose. Each task represents a potential command if you will. This plugin allows you to build out tasks or even your own plugin (like I do here) from which you can do similar things and more. Think of the gradle-docker-plugin as a low-level library from which you can build on top of should you need to do so.

[2017-02-08 13:15] #341 closed

[2017-02-08 13:16] cdancy commented on #340
Closing issue as we don't want to reinvent the wheel here and adding this functionality to this plugin is not exactly clear to me.

[2017-02-08 13:16] #340 closed

[2017-02-08 13:44] Hubbitus commented on #341
What plugin do you mention on top of that? And why additional functionality does not desired?

[2017-02-08 13:59] mgurov opened #342 "Get host port number from DockerInspectContainer"
I'd like to achieve #316 , but cannot make the host ports mapping to appear in the DockerInspectContainer response.

I have the following command to create container:

[code]

I see the ports to be mapped via `docker ps`: `0.0.0.0:32828->5555/tcp, 0.0.0.0:32827->5556/tcp`. Now I'd like to use these `32828` and `32827` to run the tests against the started containers, but cannot find a good way to d

[2017-02-08 14:18] cdancy commented on #342
You can use portBindings like so:

[code]

Where port 11222 on the host will be mapped to port 5432 inside the container.

[2017-02-08 14:24] cdancy commented on #341
@Hubbitus building your own plugin and using this as the base, or framework you build on top of, is what I'm referring to. We consider this a "low level" plugin which maps tasks to docker API endpoints. Anything use-case specific would have to be done downstream by yourself or some other plugin. I do exactly this in a plugin we have here which uses this plugin in the backend but creates "high leve

[2017-02-08 14:50] mgurov commented on #342
@cdancy thank you for your feedback, but I guess I wasn't very clear. I *do* use `it.networkSettings.ports`, but it is always returns `null` for me despite what `docker ps` prints.

I cannot use `portBindings = ["11222:5432"]` in generic case because we would like to be able to run tests in parallel without clashes for ports on our CI environment.

What I could do is to find a free port and assign

[2017-02-08 15:04] cdancy commented on #342
@mgurov if you want a random port just leave out everything to the left of the colon:

[code]

[2017-02-08 15:06] mgurov commented on #342
@cdancy I did that in my example: `portBindings = ['5555', ':5556']`. The problem is not instructing docker, it is to get the allocated host port back into the gradle build.

[2017-02-08 15:14] cdancy commented on #342
@mgurov can you wire the below into your code and paste the output here:

[code]

[2017-02-08 15:18] mgurov commented on #342
@cdancy

[code]

[2017-02-08 15:19] cdancy commented on #342
@mgurov what version of docker are you using? And can you confirm that the container is actually running and not just created?

[2017-02-08 15:30] mgurov commented on #342
@cdancy docker 13.0 on mac os x. Container is running, I see logs and can connect to the ports manually. `docker inspect` shows following network settings:

[code]

[2017-02-08 15:44] cdancy commented on #342
@mgurov hmm ... same setup here. Can you post a reproducible snippet so that I can give it a go here?

[2017-02-08 16:07] mgurov commented on #342
@cdancy will try to compose something public, probably not earlier than the weekend though

[2017-02-09 08:42] mgurov commented on #342
@cdancy my apologies. The container wasn't indeed started, only created. Wrong dependency for the inspect task.

Would documenting a way to get a random port be a good idea? Let me know if I could contribute this way. In my experience I see that quite some people who integrate docker into their build are hitting this issue and maybe extending the "functional test" example would make things bit eas

[2017-02-09 08:42] #342 closed

[2017-02-09 14:09] cdancy commented on #342
@mgurov if you're up for it send in a PR and maybe add another example, or add to an existing example, on our `README.md` file which demonstrates the use of a random port.

[2017-02-10 22:49] arun-gupta commented on #322
@cdancy Already opened https://github.com/docker-java/docker-java/issues/710

[2017-02-10 23:16] cdancy commented on #322
@arun-gupta we're just waiting on those guys now...

[2017-02-11 00:13] cdancy opened #343 "Thoughts on switching to use jclouds-docker vs docker-java"
docker-java does not iterate as fast as I would like and maybe it may be worth looking into using something else in the backend. I'm thinking of maybe using [jclouds-docker](https://github.com/jclouds/jclouds/tree/master/apis/docker) or even forking it and naming it something else. I personally have a lot of experience using this library as I've written [more than a few](https://github.com/cdancy/

[2017-02-13 14:00] orzeh commented on #343
@cdancy I'm also rather disappointed by the `docker-java`. However, I don't have any experience with `jclouds-docker`. In my opinion, if we want to change something, we should fork one of these libraries and take 100% control and responsibility ;)

[2017-02-13 14:17] gesellix commented on #343
@cdancy @orzeh have you considered contributing more code/PRs to docker-java instead of waiting for them to add features? If its not about code, but about the release cycle, you might ask them for automated releases or at least higher frequent ones. Forking and maintaining a Docker lib can be hard considered Docker's pace. I can tell from my own experience maintaining yet another docker-client, so

[2017-02-13 14:20] cdancy commented on #343
@orzeh in spirit I agree but all of the json processing/handling that docker-java does is unnecessary and I'd hate to carry that bloat forward. `jclouds-docker` would be a good library to fork and move forward on IMO as all of the json processing is done seamlessly behind the scenes using gson. The library itself heavily leverages reflection and meta programming so really all the end users would h

[2017-02-13 14:20] gesellix commented on #343
Regarding `jclouds-docker`: do they support unix sockets (Linux/macOS) or even named pipes (Windows)? I didn't see any docs mentioning that.

[2017-02-13 14:22] cdancy commented on #343
@gesellix not sure to be honest. More just talking out loud here. I'd have to look into things a bit more. Definitely would not want to maintain another library if we don't have to.

[2017-02-13 14:27] gesellix commented on #343
@cdancy yeah, I also have the impression that docker-java is too slow, so I understand your thoughts. I'm just playing devil's advocate - in fact, I had my own (similar) [thoughts about that topic](https://www.gesellix.net/choosing-a-library/), but without clear outcome ;-)

[2017-02-13 14:32] orzeh commented on #343
@gesellix I've submitted several PR to `docker-java` and this is the best path to follow. But see how many issues and PR are open in `docker-java`. There is definitely a problem in feedback. The community is quite active but the maintainers seems to be busy with something else. If so, maybe they need some help.

@KostyaSha @marcuslinke how can we help to _speed up_ `docker-java`?

[2017-02-13 15:04] KostyaSha commented on #343
what exactly PR?

[2017-02-13 15:09] orzeh commented on #343
@KostyaSha we are not discussing here any particular PR but `docker-java` as a whole.

We have an impression that the release cycle is not as fast as it could be.

[2017-02-13 15:11] KostyaSha commented on #343
You can join maintaining if you have time, most of PRs didn't follow docs, messing existing things.
If you have no any open delayed PRs then what we are discussing?

[2017-02-13 15:14] KostyaSha commented on #322
What exactly do you want to use from swarm mode features? Mixing build tools with deployment tools is bad pattern that nobody using in production. Penalty in java APi usage makes sense only for development time.

[2017-02-13 15:31] arun-gupta commented on #322
@KostyaSha I think it may be about whether docker-java api can be targeted to a Swarm mode manager? API compatibility? I'm sure @cdancy can provide more details.

[2017-02-13 15:35] KostyaSha commented on #322
My research end that for jenkins builds swarm mode is useless, that also proved docker devs. Most people blindly jumping on docker features without understanding them. That's why i'm interested in knowing use cases. Swarm mode is prepared, but everybody who wants help disappear when hear about tests. So usually all delays happens until i or somebody else create test case and fix found bugs.

[2017-02-13 17:19] arun-gupta opened #344 "Replace boot2docker with Docker Machine or Docker for Mac"
https://github.com/bmuschko/gradle-docker-plugin#executing-the-plugins-test-suite-with-custom-configuration still refers to boot2docker. This should be at least updated to Docker Machine, better would be Docker for Mac.

[2017-02-14 08:51] orzeh commented on #343
@KostyaSha OK I can join maintaining `docker-java` - I will focus on things that are used/missing here.

@cdancy maybe we should create new label to mark issues _waiting_ for `docker-java` to easily track them?

[2017-02-14 13:28] cdancy commented on #343
@gesellix you're right in that jclouds-docker does not currently support unix sockets or windows named pipes. Talking witht the devs on IRC they are strictly an http library but understood the need to be able to run locally on unix and windows machines at least for docker. Opened a [JIRA issue](https://issues.apache.org/jira/browse/JCLOUDS-1238) with them incase we decide to go this route at some

[2017-02-14 13:39] cdancy commented on #343
@KostyaSha my "issue" if you will with `docker-java` is more around style and ease of use at least WRT adding new code and features. I'm comparing this with `jclouds-docker`, and other similar libraries that I noted above that are API/annotation driven, in that adding new features is as simple as adding a new "endpoint", adding the necessary annotations, and writing a mock and integration test. Th

[2017-02-14 14:10] KostyaSha commented on #343
Feel free to provide PRs. That what people usually do before get permissions. If you have any ready pr that stuck, feel free to point me. Atm swarm tests failing in parallel run and requires additional work.

[2017-02-14 14:12] cdancy commented on #344
Maybe just set to `/home/user/.docker`as that seems to be what[ docker is standardizing on](https://docs.docker.com/engine/security/https/).

[2017-02-14 14:21] cdancy commented on #322
@KostyaSha we face the same problem here and I believe every maintainer of a project does :)

I don't consider this plugin something that should be used ONLY for CI related purposes. We have use-cases here where that is the case but the majority of what we use this plugin for is to make it stupid-simple for developers to stand up our platform (which is a handful of containers) by simply invoking:

[2017-02-14 14:28] KostyaSha commented on #322
you don't need install swarm for managing it. Docker cli is available for all platforms and even from gradle it pretty simple to wrap single command. Jenkins has huge experience with wrapping CLI vs API. So you can't live without API when you do a lot of java routines, but it enough i.e. to run single commands. Even easier with doing it from shell. Penalty - ability to catch some markers/cases. Th

[2017-02-14 15:05] gesellix commented on #322
For me using the shell implies a specific platform - or several `if/else` cascades. Natively using an api makes the client flexible. That's not a specific use case, but more a general kind of philosophy.

[2017-02-14 15:10] gesellix commented on #322
If I get you right @KostyaSha , you're interested in use cases so that the api is driven by actual needs. That's where I fully agree. There's one question, though: do we "technically adapt" an external api like the Docker engine or do we focus on use cases only? You see the difference right here in the Gradle Docker plugin, where there's one level of "technical adaption" and another more opinionat

[2017-02-14 15:14] KostyaSha commented on #322
My point is that with gradle there is no work stoppage i simply made custom tasks in gradle script and moved forward. I'm asking about use cases for better understanding technical side implementation.

[2017-02-14 15:41] bmuschko opened #345 "Use different CI solution"
[SnapCI is going to shut down](https://blog.snap-ci.com/blog/2017/02/06/2017-02-06-snap-announcement/) in August 2017. Find a different, free CI product optimally with support for modeling pipelines.

[2017-02-14 16:17] cdancy commented on #345
Thanks for passing this along @bmuschko.

@orzeh any thoughts or opinions one way or the other? I say lets go with travis as there is built in docker support and it's stupid-simple to use.[ I use it in my own projects](https://github.com/cdancy/bitbucket-rest/blob/master/.travis.yml) and find it to be great.

[2017-02-14 16:25] bmuschko commented on #345
The problem you will have with Travis is the fact that you'll always have to release from your local machine as there's no manual step you can invoke for a release as part of a pipeline.

[2017-02-14 17:04] arun-gupta commented on #344
I think it's more a documentation issue than using `/home/user/.docker` directory.

[2017-02-14 17:11] cdancy commented on #345
@bmuschko that might be Ok as that's the model I've adapted for my own projects and works well enough.

But taking things further: maybe we move to a `SNAPSHOT` model where every successful merge is a new SNAPSHOT published. Only when we are ready to release do we change the version property from X.X.X-SNAPSHOT to X.X.X. Then directly after release we add the SNAPSHOT back for the next development

[2017-02-14 17:11] bmuschko commented on #345
It's up to you. I am personally not a fan of SNAPSHOT builds.

[2017-02-14 17:12] cdancy commented on #344
@arun-gupta yeah I agree I was just noting that maybe our documentation remove the boot2docker references and instead use the above.