[2017-11-29 22:36] orzeh commented on #502
This duplicates #490

[2017-11-29 22:36] #502 closed

[2017-11-30 00:58] bmuschko commented on #490
@cdancy In 4.3 there was some change that now evaluates all input properties during the configuration phase...in this case your Closures. [This plugin had the same issue.](https://github.com/ben-manes/gradle-versions-plugin/issues/185). You will have to change your plugin code to make it work. [This recommendation](https://github.com/ben-manes/gradle-versions-plugin/issues/185#issuecomment-3376867

[2017-11-30 13:25] MarioKusek commented on #489
Did you solve your problem?
I have the same one.

[2017-11-30 13:32] MarioKusek commented on #489
I have found [this](https://github.com/spotify/docker-maven-plugin/issues/215)

There is comment that "plugin does not work if artifactId contains uppercase character."

I had one uppercase character :(

[2017-11-30 14:48] cdancy commented on #490
Thanks @bmuschko . I'll update the plugin accordingly to deal with this issue if only to save users the headache of reporting this over and over again.

For everyone else stumbling upon this thread: a hack/solution we came up with to get around this is to define your `on*` closures within a `doFirst` block. It's not great, and does require you to massage your code a bit, but will work until a new

[2017-11-30 14:48] #490 closed

[2017-11-30 16:14] kish3007 opened #503 "Update to latest gradle version in this project"
I have noticed that with the latest gradle version 4.3.1, there are some issues in reactive stream OnError exception.message throws a null pointer exceptions.

[2017-11-30 16:18] cdancy commented on #503
This duplicates #490 as we told you in the other issue you reported. A fix is being worked on and will be in the next release.

[2017-11-30 16:18] #503 closed

[2017-12-02 02:29] cdancy commented on #489
Closing issue as conversation seems to have died down. Feel free to re-open if this is still a problem.

[2017-12-02 02:29] #489 closed

[2017-12-02 02:32] cdancy commented on #495
@JLLeitschuh sorry for getting back so late. I wouldn't be opposed to something like this for folks who are you using Kotlin. Feel free to put together a PR if you're up for it as I'm sure others would find this helpful as well.

[2017-12-02 02:33] cdancy commented on #497
@hermitmaster closing this as a solution already exists. If someone wants to send in a PR with this functionality I'd be more than happy to review it.

[2017-12-02 02:33] #497 closed

[2017-12-02 02:34] cdancy commented on #396
Closing this issue as it appears the conversation has died down. If someone wants to submit a PR we'd be more than happy to review.

[2017-12-02 02:34] #396 closed

[2017-12-02 02:36] cdancy commented on #484
Closing this issue as conversation has died down. Feel free to re-open if you'd like to talk about things further.

[2017-12-02 02:36] #484 closed

[2017-12-02 02:39] cdancy commented on #451
Closing issue once more. Feel free to re-open should this arise once more.

[2017-12-02 02:39] #451 closed

[2017-12-02 02:42] cdancy commented on #470
Closing issue. Feel free to re-open should you, or any developer, like to take on this work and send in a PR.

[2017-12-02 02:42] #470 closed

[2017-12-02 02:44] cdancy commented on #465
Closing issue. Feel free to re-open should you care to send in a PR.

[2017-12-02 02:44] #465 closed

[2017-12-19 11:29] rafalQA commented on #467
Hi. Currently I use Spring Boot 2.0.0.BUILD-SNAPSHOT with  com.bmuschko:gradle-docker-plugin: 3.2.1. I still get
Using tag 'sampleName' for image
`[dockerjava-jaxrs-async-0] ERROR com.github.dockerjava.core.async.ResultCallbackTemplate - Error during callback
java.lang.IllegalStateException: InjectionManagerFactory not found.
`
Is not clear for me. There is plan to repair it or maybe some workarou

[2017-12-25 12:21] takuro-yamane commented on #467
[code]
https://github.com/takuro-yamane/gradle-docker-plugin-spring-boot-m4

[2017-12-25 17:32] nwillc opened #507 "multiple tags"
Can I tag an image with both a version, and latest?  Docker supports this, but I can't see it here, it appears the "tag" is a single string.

[2017-12-25 21:01] orzeh commented on #507
@nwillc please see our [wiki page](https://github.com/bmuschko/gradle-docker-plugin/wiki/examples) or/and [functional tests](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/functTest/groovy/com/bmuschko/gradle/docker/tasks/image/DockerBuildImageFunctionalTest.groovy#L56) for examples.

[2017-12-25 21:01] #507 closed

[2017-12-25 21:36] orzeh commented on #467
@rafalQA please check @takuro-yamane example - it seems to work.

@takuro-yamane thanks for sharing this! I checked and it works well with latest M7 too :+1:

[2017-12-27 05:20] sshogunn opened #508 "Docker tasks do not work with Gradle releases higher than 4.3 +"
Greetings,
I am using Gradle 4.3.1(I also checked it with Gradle 4.3 and 4.4.1).

I added the plugin in my build.gradle file
[code]

And when I run
`gradle clean dockerBuildImage`

I see the following error(it is clear that it says that the task is not available):
[code]
May be I did something wrong, but it does not work with latest gradle releases. Could you help me to find a workaround?

[2017-12-27 08:03] orzeh commented on #508
@sshogunn without reproducible snippet it would be hard to say what's wrong.

There are some existing issues related to SB like #467

[2017-12-27 17:58] sshogunn commented on #508
I think that I have the same problem like in #467 we can link tickets and close this one

[2017-12-27 21:37] #508 closed

[2017-12-28 09:36] JamesXNelson opened #509 "Update to dependency to ajoberstar/grgit"
Hi.

We use your plugin, and also use ajoberstar's git plugin, locked to the same version as you are using, to keep downloads smaller / faster.

The original gradle-git plugin is abandoned, and broken up into new projects (ajoberstar/grgit likely being the better one to use).

[2017-12-29 02:48] JamesXNelson opened #510 "Release latest version"
DockerWaitHealthyContainer is not yet released, and I need it to remove flakiness when the docker container being tested is non-trivial.  While I _can_ build and deploy this to company repo, it would still make sense to do a release since the documentation contains references to a task definition that is not actually available yet.

[2017-12-29 02:50] JamesXNelson commented on #510
Woops.  I should have checked w/ central first...

...it's surprisingly hard to grok current released version from source.  Might be nice to put it in README.

[2017-12-29 02:50] #510 closed

[2017-12-29 17:29] cdancy commented on #510
We have a badge on the README already which points to the latest version. Was this not enough or maybe you missed it?

[2018-01-01 09:57] JamesXNelson commented on #510
Aye. Heh, I did not see it there.  My bad!  Sorry for the issue spam...

[2018-01-02 15:38] cdancy commented on #509
It's on the local backlog to tackle. If folks want to send in a PR with this updated we'd be happy to review.

[2018-01-03 15:33] gadieichhorn opened #511 "SIGTERM not passed to java process"
Hi,

I am trying to stop my java app gracefully. any suggestions on how to stop main?

I think I should use the exc block but not sure how. an example will be great.

[code]

is this something I need to do in code?

Thanks
G.

[2018-01-03 20:09] orzeh commented on #511
@gadieichhorn if your application is running in a container you can simply stop that container, which basically sends `SIGTERM` to the app (see Docker [documentation](https://docs.docker.com/engine/reference/commandline/stop/#extended-description) for details).

[2018-01-03 20:09] #511 closed

[2018-01-03 23:40] mursilsayed opened #512 "DockerJavaPlugin is throwing runtime error with DockerPullImage custom task"
I am using docker-java plug-in for building docker image for my application. I then added a new task(pullImage) to pull a docker image from docker repository(using DockerPullImage as the parent task). Its throwing runtime error.

This 'pullImage' task works correctly if I apply Docker-remote-api plugin instead of Docker-Java-Plugin. I tried using both the plugin in separate script files and it als

[2018-01-03 23:56] mursilsayed commented on #512
This only happens when I use a separate script for encapsulating the docker-related code. If I keep all the code in the build.gradle file, this is not a problem.

[2018-01-04 11:01] orzeh commented on #512
@mursilsayed please check if [this](https://github.com/bmuschko/gradle-docker-plugin/issues/248#issuecomment-234098958) solves your problem.

[2018-01-08 12:48] orzeh commented on #512
@mursilsayed closing for now. Hope you find the solution.

[2018-01-08 12:48] #512 closed

[2018-01-10 11:32] rkrisztian opened #513 "DockerCreateContainer.targetImageId to allow GStrings"
Following does not work:

[code]

Because I get:

[code]

Following does:

[code]

Small problem, and I ask it just for convenience. It is non-intuitive in the Gradle world that I have to cast.

[2018-01-10 11:39] cdancy commented on #513
@rkrisztian yeah this is a known issue with groovy more than anything else. It's _supposed_ to do the String transformation when passing to a normal java library but seems to fail every now and then for whatever reason. The solution that you took is correct and what I personally do here. Within the plugin we _could_ do this in every spot ourselves where we reach out to a normal java library but th

[2018-01-10 11:39] #513 closed

[2018-01-10 14:42] gadieichhorn opened #514 "configuration for different evnvironaments"
Hi, This is a gradle/setup  question

I have 3 different env:
1. my local fedora linux
2. my 32 bit raspberry pi -> docker-machine rpi-32
3. my 64 bit raspberry pi ->  docker-machine rpi-64

** Note you have to build images for ARM on the hardware, linux docker doesn't have the simulator to build ARM.

How can I make one build to make 3 different images on 3 different docker-machines (remote-api)

[2018-01-12 01:32] pgcortina opened #515 "DockerPushImage - ConnectionClosedException: Premature end of chunk coded message body: closing chunk expected"
We are intermittently getting the following exception while trying to push a docker image to the registry (artifactory). Any idea why this could be happening?

`
[15:43:01][Step 4/6] :service:publishDockerImage (3s)
[15:43:01][:service:publishDockerImage] Running in a non-OSGi environment
[15:43:01][:service:publishDockerImage] Pushing image with name 'docker-dev-artifactory.xxx.com/service/servic

[2018-01-15 14:00] orzeh commented on #515
@pgcortina can you push any image using Docker CLI?

[2018-01-16 09:33] orzeh commented on #514
@gadieichhorn I understand your use case, however currently it's not possible to do it in one build. I would suggest run 3 build with different config (docker host, SSL certs, etc.) and build tasks (1 for each base image).

[2018-01-16 10:04] gadieichhorn commented on #514
right, ok, thanks

[2018-01-16 10:04] #514 closed

[2018-01-16 10:31] lPegz opened #516 "Remove image to build another"
Well, our project is using your plugin a lot, thanks for developing and maintaining it.

We want to add a cleanUpImage before creating another DockerImage.

And after reading your documentation I am not sure in how to follow.

The following code fails with this message: `Could not find method imageId() for arguments [build_4dilmyfm2kcv01qwberlb93rw$_run_closure5$_closure13@432b6426] on task ':clea

[2018-01-16 11:09] orzeh commented on #516
@lPegz you should use `targetImageId` method:
[code]

Please see our [functional tests](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/functTest/groovy/com/bmuschko/gradle/docker/tasks/image/DockerRemoveImageFunctionalTest.groovy#L25) for examples.

[2018-01-16 11:09] #516 closed

[2018-01-16 14:20] gadieichhorn commented on #277
Hi,
Just wondering if you have a code snippet to enable this cache?

I have a multi container project (each module has a docker image built) so I would like to get a new container only when the code/jar has changed.

thanks in advance.

[2018-01-16 14:29] orzeh commented on #277
@gadieichhorn you probably meant new image? Then just add [`onlyIf`](https://docs.gradle.org/current/userguide/more_about_tasks.html#sec:using_a_predicate) to your build image tasks with your logic which checks if code/jar didn't changed.

[2018-01-16 14:48] gadieichhorn commented on #277
yes, new image. Thanks  @orzeh

I thought Gradle supports this type of caching as the build only triggered on new modules code. I think it is to do with defining inputs and outputs for the tasks.

This can be a nice addition to the plugin as the image building takes long time ...

[2018-01-16 20:24] pgcortina commented on #515
@orzeh yes, we can, without issues. Interestingly this issue started happening last week in our builds using the Gradle plugin and it has been pretty spotty, hard to reproduce. We are also looking into infrastructure issues on our side, but wanted to raise up the question in case somebody experienced a similar issue.

[2018-01-16 20:32] orzeh commented on #515
@pgcortina OK. I have a feeling that it's some infrastructure issue. Anyway let us know if you find solution.

[2018-01-16 20:37] orzeh commented on #277
@gadieichhorn this was discussed here many times before. Please take a look at #335

[2018-01-17 02:19] cdancy commented on #515
Curious... what version of our plugin are you using? I know we had an issue with this in the past but it's long since been solved.

[2018-01-17 02:25] pgcortina commented on #515
We are using com.bmuschko:gradle-docker-plugin:3.2.1

[2018-01-17 15:11] cdancy commented on #515
Yeah the only thing I can think is maybe you're on an older version of docker?

[2018-01-17 18:24] pgcortina commented on #515
We are using Docker version 17.05.0-ce, build 89658be

[2018-01-17 18:29] cdancy commented on #515
Yeah that should be new enough. We're using the latest and greatest at the moment with no issues. If you have a reproducible snippet I can give things a go.

What does your environment look like? Where are you publishing to (e.g. artifactory, dockerhub, custom registry)?

[2018-01-18 17:47] SoltauFintel commented on #507
I would prefer a new tags property (type: Set<String>) for javaApplication. I think it's a common case to tag a version and also 'latest'.

[2018-01-20 01:13] bmuschko opened #517 "Java application plugin should not use deprecated base image"
The extension property [`baseImage`](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/DockerJavaApplication.groovy#L22) for the Java application plugin uses the [`java`](https://hub.docker.com/_/java/) base image. This image is deprecated. The default should be [`openjdk`](https://hub.docker.com/_/openjdk/), the official replacement.

[2018-01-23 15:21] lPegz commented on #516
just for clarification I could'nt using like this
`{ "${imagePrefix}/${jar.archiveName}" }`

I needed to do this
[code]

Thanks anyway. it was pretty good.

[2018-01-24 04:10] bmuschko opened #518 "DockerWaitHealthyContainer throws exception"
My task for verifying the health check fails with the exception below.

[code]

Could it be that the Docker Java version got out-of-date or is not compatible with the latest version of Docker? I am using Version 17.12.0-ce-mac49 (21995).

[code]

The stack trace is here:

[code]

[2018-01-24 08:14] orzeh commented on #518
@bmuschko I don't see any [API changes](https://docs.docker.com/engine/api/version-history/) in this context. I'll try to reproduce it on my machine.

[2018-01-25 17:35] bmenaman opened #519 "'unauthorized: authentication required': dockerPushImage"
when using auth to a corporate remote repo.  I can execute docker login and push manually.  Perhaps the real problem here is that I have no way to troubleshoot this.  I had got to the point of checking out docker-java so I could rebuild it with custom logging, however I can't even build that because https://github.com/docker-java/docker-java/issues/962...

All suggestions welcome (not sure I shoul

[2018-01-25 18:01] cdancy commented on #519
Can you provide a reproducible snippet? Does the same code work against other repos and only fails against this one?

[2018-01-25 18:55] cdancy commented on #518
@bmuschko @orzeh finally had a chance to look into this. Yeah it looks like the returned json is thus (exact same setup as Ben):

[code]

To preserve backwards compatibility we could wrap things in a try/catch block and do something like this:

[code]

[2018-01-25 19:05] bmuschko commented on #518
@cdancy Thanks for looking into it. Sounds reasonable.

[2018-01-25 21:39] cdancy commented on #518
@bmuschko need a new point release once this goes through?

[2018-01-25 21:56] bmuschko commented on #518
@cdancy That would be great!

[2018-01-26 08:26] iNikem commented on #467
Any plans of fixing this issue?

[2018-01-26 09:04] orzeh commented on #467
@iNikem we will probably wait until SB 2.0 is released. That being said we may not be able to fix it without changes in `docker-java`.

[2018-01-26 11:04] brandshaide opened #521 "Incorporate tagging docker images with git commit hash"
Hi and thanks for your awesome work!

I'd be great if you could add a feature to `(type: com.bmuschko.gradle.docker.tasks.image.DockerBuildImage`
which makes it possible to add the current git commit hash to be used as tag for the docker image, e. g.

[code]

Which makes basically this:

[code]

There's already a [plugin](https://github.com/ajoberstar/gradle-git), but I'd be awesome, if this could

[2018-01-26 11:13] orzeh commented on #521
@brandshaide adding git hash to the image tag is only one of possible _tagging_ strategy. I doubt we can support all of them. As you mentioned, it's possible to implement this by existing means. In the end there will be additional JARs on classpath, but let users decide if they want them.

@cdancy any thoughts on this?

[2018-01-26 11:52] brandshaide commented on #521
@orzeh of course, you're right: after some research and discussions in my company we've decided to use the commit hash as tag as you can easily and  exactly pinpoint one commit to one image - rather than to have e.g. `dateTime` .

Especially in terms of having images being build in a CI environment where you have multiple builds a day.

[2018-01-26 12:09] orzeh commented on #521
@brandshaide OK, sounds reasonable. Personally, I prefer to tag images with project version and use [LABEL](https://docs.docker.com/engine/reference/builder/#label) to add such metadata. But that's just my opinion :) Anyway, we won't add any of these as a built-in feature.

[2018-01-26 12:11] #521 closed

[2018-01-26 12:12] brandshaide commented on #521
@orzeh thanks for your feedback.

[2018-01-26 21:39] cdancy commented on #518
Version `3.2.3` has been released.

[2018-01-26 21:39] #518 closed

[2018-01-26 21:40] bmuschko commented on #518
Nice, thanks guys!

[2018-01-27 18:11] bmuschko opened #522 "Expose a method in Dockerfile task type for setting HEALTHCHECK instruction"
The method should look similar to other methods provided by the task. There should be a signature for passing in the parameters as Strings (e.g. `interval` and `timeout`) as well as lazy option e.g. `Closure`.

https://docs.docker.com/engine/reference/builder/#healthcheck

[2018-01-28 22:02] nhoughto opened #523 "AFUNIXSocket sometimes throws UnsatisfiedLinkError when buildImage run with --parallel"
We use this plugin to build docker images from our Gradle tasks and have been seeing non-deterministic failures due to what looks like a race condition in `junixsocket`, i'm pretty sure its due to a race condition in a library `docker-java` uses and an issue has been raised. I'm leaving this here for the next person who has this problem when using this plugin. The error thrown is this:

[code]

Li

[2018-01-29 13:47] vshar1 opened #524 "DockerStartContainer : How to start container"
I am trying to find the corrosponding plugin usage for below command

And show 4444 port being exposed as below in  `docker ps` command

[code]

Can someone point out the missing bit in below

[code]
I cannot see my ports being exposed

[code]

[2018-01-29 14:03] vshar1 commented on #524
Just make it working now. I was just a learning curve.

[2018-01-29 14:03] #524 closed

[2018-01-29 14:07] cdancy commented on #523
@nhoughto yeah we get this here randomly but on all types of unix machines (mac and linux). Usually a reboot clears things up if it pops more than once. I've not spent any significant amount of time looking into this so I'm not sure what to make of it.

[2018-01-29 14:07] #523 closed

[2018-01-29 14:07] cdancy commented on #522
You can do this right now with a generic instruction if you need to but indeed it would be better to have a dedicated method to deal with this.

[2018-01-29 14:11] bmuschko commented on #522
Yes, absolutely. That's what I did.

[2018-01-30 10:18] antegulin opened #525 "entryPoint should accept an array"
Docker's `ENTRYPOINT` is an array of strings, it is expected that `entryPoint(java.lang.String)` also accepts an array instead of a string.

Because of this mismatch, passing an array to the `entryPoint` will wrap the array with additional double quotes forcing it to be a string.

**Gradle DockerFile configuration:**
`entryPoint('"java","argA=foo","app.war"')`
**Produces Dockerfile:** _(note the e

[2018-01-30 10:32] orzeh commented on #525
@antegulin `entryPoint` accepts array of strings, see our [test](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/test/groovy/com/bmuschko/gradle/docker/tasks/image/DockerfileTest.groovy#L78) and [source](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/Dockerfile.groovy#L301).

[2018-01-30 10:32] #525 closed

[2018-01-30 17:40] bmenaman commented on #519
hey sorry for the slow reply, it's all a bit of a locked down corporate environment.  I'd have to setup another docker registry somewhere internal to test.

The issue isn't so much that I want help connecting to the registry, it's that I don't have any way to get insight into what's happening.

Anyway my conf is something like:

docker {
  println("$docker_secret") //sanity check
  registryCredent

[2018-01-30 21:48] orzeh commented on #519
@bmenaman in your sampel config you used single quot for password property:
````password = '$docker_secret'````
Groovy won't replace `$docker_secret` value, I hope it's just a sample config :)

[2018-01-31 08:30] fhoeben commented on #395
I would appreciate the feature!

[2018-01-31 16:06] bmenaman commented on #519
good spot but sadly no, copy-error

On 30 January 2018 at 21:48, orzeh <notifications@github.com> wrote:

[2018-01-31 20:54] orzeh commented on #519
@bmenaman ok. I think you can find some hints how to nail down the issue in [Gitlab help](https://gitlab.com/help/user/project/container_registry.md#advanced-troubleshooting).

[2018-01-31 21:57] bmenaman commented on #519
oh that looks useful, thanks!

[2018-02-01 04:41] bmuschko opened #526 "DockerWaitHealthyContainer task should throw exception if unhealthy"
If the `unhealthy` status is received, there's no more point in waiting on the timeout. The task can throw an exception and exit right away. At the moment the task continues to check the status even if the `unhealthy` status was already received.

[2018-02-01 04:58] bmuschko commented on #526
I guess receiving `unhealthy` could still be OK as we might receive `healthy` later?

[2018-02-01 15:24] bmuschko commented on #526
Also wondering if the `timeout` is actually needed as you can set the parameter on the `HEALTHCHECK` instruction.

[2018-02-02 05:04] blongstreth opened #527 "DockerCreateContainer Labels"
Would anyone have time to implement Labels to the DockerCreateContainer task please?  I believe the code would be almost identical to DockerBuildImage task.

[2018-02-02 08:51] orzeh commented on #527
@blongstreth would it be possible for you to implement this?

[2018-02-02 18:30] #517 closed

[2018-02-02 21:18] ReillyProcentive commented on #395
This feature would be very useful to us as well. We use Gitlab CI and persist the Docker source image to the cache on every build so that we can avoid having to download it each time (Gitlab CI uses the Docker DinD image which loses it's own built in cache on every build).

We currently do this with Docker commands but it would be nice to use the Gradle plugin here so that we could use Gradle for

[2018-02-02 21:29] orzeh commented on #395
@ReillyProcentive @fhoeben I'll try to implement this in near future. Stay tunned!

[2018-02-02 22:29] #445 closed

[2018-02-02 22:30] #527 closed

[2018-02-04 20:39] blongstreth commented on #527
Thank you very much for adding the feature!  Any ETA when it will be released?

[2018-02-04 21:43] cdancy commented on #527
One more PR to review and merge and could probably do something tonight. Stay tuned...

[2018-02-04 21:44] brauchle opened #532 "Renaming Container / add DockerRenameContainer"
Would be great to add the ability of renaming containers (would need it for a deployment process, otherwise I would have to remove the old container before I can create a new one with the same name)

The `docker-java` library seems to be able to do it.

Link to the api [https://docs.docker.com/engine/api/v1.35/#operation/ContainerRename](https://docs.docker.com/engine/api/v1.35/#operation/Containe

[2018-02-04 21:46] orzeh commented on #532
@brauchle would you like to send PR?

[2018-02-04 22:09] #395 closed

[2018-02-04 22:10] cdancy commented on #532
@orzeh planned on doing a new release either today or tomorrow. If OP does,not chime in I can knock this out as you've done more than your share the past couple days ;)

[2018-02-04 22:14] orzeh commented on #532
@cdancy sounds good 👍

[2018-02-04 22:14] brauchle commented on #532
Unforunately i am not that deep into this project.
Would be great if one of you could do it 😃

[2018-02-06 02:07] cdancy commented on #532
Task `DockerRenameContainer` has been added and version `3.2.4` has been released.

[2018-02-06 02:07] #532 closed

[2018-02-06 02:08] cdancy commented on #527
@blongstreth version `3.2.4` has been released.

[2018-02-07 09:38] nzappite opened #534 "incompatibility with spring boot 2.0.0.RC1"
By using spring-boot-gradle-plugin version 2.0.0.RC1 there is a problem with Jersey 2.26
(jersey is a dependency of dockerjava)

there is a need to add an extra dependency
org.glassfish.jersey.inject:jersey-hk2:2.26 (to resolve this issue)

[code]

reference to jersey issue:  https://github.com/jersey/jersey/issues/3664

[2018-02-07 09:43] orzeh commented on #534
@nzappite thanks for your feedback.

We track problems with gradle-docker-plugin and SpringBoot 2.0 in #467

[2018-02-07 09:43] #534 closed

[2018-02-07 15:53] Docjones opened #535 "Q: Need help with building java-app and creating docker image"
Hello,

using the following (simplified) build.gradle, i am able to build my java-springboot application, pack it into a docker image and store that image into our private repository (sonatype nexus) using the command `gradle dockerPushImage`.

[code]
Now i am trying to create a container from that pushed image on `$idsDockerUrl` but i am completely lost here. Executing a `gradle dockerCreateConta

[2018-02-07 15:59] cdancy commented on #535
We have specific tasks to do each of these things. They are all documented on this plugins README and within the source/tasks itself. Essentially you need to:
- DockerPullImage
- DockerCreateContainer
- DockerStartContainer

[2018-02-07 15:59] #535 closed

[2018-02-07 22:30] MEZk commented on #334
@cdancy
Can I work on this issue to become more familiar with the project and PR process?

[2018-02-07 22:45] cdancy commented on #334
@MEZk you sure can! I would focus on Checkstyle and PMD as they will both set a standard for good coding practices. I use both of theses in my own projects just haven't had the time to implement them here as it's a big chunk of work to take on (not too bad just outside of the scope of 1 hour session). Feel free to reach out with any questions/comments/concerns you may have.

For checkstyle I would

[2018-02-09 23:13] MEZk commented on #334
@cdancy

Sub-modules of Checkstyle's TreeWalker cannot validate groovy files, because the modules receives AST based on the Java grammar. We can use only Checker modules, for example FileTabCharacter, RegexpSingleLine, etc.

I think that it would be a good idea to switch to [Codenarc](http://codenarc.sourceforge.net/).

[2018-02-10 00:52] cdancy commented on #334
We do you codenarc internally here and it does indeed work well with groovy. Are you thinking to replace the checkstyle PR with codenarc instead?

[2018-02-10 09:23] MEZk commented on #334
@cdancy

1. We still are able to use some modles from Checkstyle. That what I did in #536

No, I believe that they both are not controversial and can play together as static analysis tools in the build process. In the next PR I will configure Codenarc.

[2018-02-10 13:34] cdancy commented on #334
I only meant that if you use codrnarc will there be a need for checkstyle? I believe it does everything checkstyle does works against groovy or java files.

[2018-02-10 17:02] MEZk commented on #334
@cdancy

Yes, you are right. Lets postpone https://github.com/bmuschko/gradle-docker-plugin/pull/536 till we apply Codenarc. The first step is https://github.com/bmuschko/gradle-docker-plugin/pull/537 . If we cover all Checkstyle rules with Codenarc we can close #536 .

[2018-02-10 17:06] gabrielhuff commented on #526
About the `unhealthy` state, as you mentioned on your second comment, the status can be `unhealthy` before becoming `healthy`. Also, it can become `unhealthy` after being `healthy`.

What the task is doing is basically blocking until the first `healthy` status.

About the `timeout`, I'm almost certain that the one from the `HEALTHCHECK` instruction is slightly different from the one defined on the

[2018-02-10 17:22] gabrielhuff commented on #522
I also think it'd be really cool. Tbh, I [proposed this](https://github.com/bmuschko/gradle-docker-plugin/issues/381#issuecomment-338137306) when creating the task.

Personally, I think it'd even be more useful if this was also added to `DockerStartContainer` (any container can [run with health checks](https://docs.docker.com/engine/reference/run/#overriding-dockerfile-image-defaults), they don't

[2018-02-10 17:34] cdancy commented on #522
@gabrielhuff send in a follow up PR!!! :)

[2018-02-10 17:41] gabrielhuff commented on #522
Awesome! I'll do it as soon as I have time 👍

[2018-02-10 17:57] n0mer commented on #467
for me spring-boot RC1 worked with the following in dependencyManagement section:

[code]

[2018-02-10 20:12] cdancy commented on #467
If we could just get `docker-java` to publish a shaded/uber version of their library we could side-step this issue but my plea for them to do that falls on deaf ears. We could always switch to using spotify's `docker-client` which seems to be gaining traction recently...

[2018-02-14 23:45] JLLeitschuh commented on #490
Is this fix in the current release? I don't see a PR or commit ID that closed this.

[2018-02-14 23:57] cdancy commented on #490
@JLLeitschuh not sure of the commit/PR but latest release should have the fix. All @Input annotations have been removed from the necessary closures.

[2018-02-16 11:27] brauchle commented on #532
Just tested it, works like a charm!
Thanks guys!

[2018-02-19 19:46] kalap92 opened #539 "DockerSaveImage needs a file to exist instead of creating it"
DockerSaveImage expects a file to exist. Proper behavior would be creating the file.

[2018-02-19 21:20] cdancy commented on #539
@kalap92 this would be the proper way of going about doing things :) I know you have created a branch already so the next step would be to either view this projects main page which you should then be presented with a "create pull request" button somewhere near the top. If it's not there you can go [HERE](https://github.com/bmuschko/gradle-docker-plugin/compare) which will walk you through the proc

[2018-02-19 21:21] kalap92 commented on #539
Alright we can go through it tomorrow - thanks !

2018-02-19 16:20 GMT-05:00 Christopher Dancy <notifications@github.com>:

[2018-02-20 09:50] elvinasp opened #540 "Proxy settings from config.json ignored"
Hello,

I am trying to build custom Docker images for my project and image build process fails if run in an environment under proxy. I have already resolved proxy issues with Docker and Gradle itself by providing PROXY configuration to Docker Service and CLI arguments to Gradle. Now there is a network connectivity issue from Docker image itself during build process.

I have set proxy configuration

[2018-02-20 18:16] cdancy commented on #540
@elvinasp take a look at [THIS](https://github.com/bmuschko/gradle-docker-plugin/issues/462) issue and see if it helps you out any.

[2018-02-20 21:35] djemerson01 opened #541 "DockerStartContainer - no value for 'containerId'"
I'm trying to wrap your docker plugin to simplify a test scenario shared by a lot of users. I'm pulling an image and creating the container fine, but when I try to start the container, I get "No value has been specified for property 'containerId'". Another issue is that I'm writing the plugin in Java. It seems that the property that must be set on DockerStartContainer is targetContainerId, but it

[2018-02-20 22:05] djemerson01 commented on #541
I'm kicking off the task from the gradle runner and the start task depends on the create which depends on the pull. The create and pull work ok, but when I try to retrieve the containerId from the create task, it's not set. I'm trying to write a custom plugin in Java. I think the code above is the the important part of the code. I'm not sure it adds much, but here's the apply method:
`    public v

[2018-02-20 22:17] cdancy commented on #541
Are you sure that the "create container" task has executed?

[2018-02-20 22:46] safronau opened #542 "almost no examples for the plugin"
i see only one example. it should be much more to show how to use existing tasks, how to use bindings, mounts, task parameters and so on.

[2018-02-20 23:04] djemerson01 commented on #541
I've confirmed that the container exists and is functional using the docker command line. While it's possible that the execution phase isn't running for the start task, the other tasks are running and seem to be functioning Ok. I'm not sure when the failing task validation is run, is it at the beginning of the execution phase or the end of the configuration phase?

[2018-02-21 00:02] cdancy commented on #542
Have you looked at our plethora of functional tests which do just this? We link to them on the README as well. If however this is not enough feel free to send in a PR to update the docs or add to the wiki.

[2018-02-21 08:50] elvinasp commented on #540
Yes, I have searched issue list before posting and saw that link. I have had the same problem with image download and solved it by passing -Dhttp* options.

However this is a bit different issue. Same PROXY settings have to be injected into docker container environment started from downloaded image in order for the container to access internet. This can be done manually, by altering Dockerfile and

[2018-02-21 10:54] safronau commented on #542
I've got about PR. I'll consider it.

it just was not an obvious way to find from readme a link like:  [functional tests directory](https://github.com/bmuschko/gradle-docker-plugin/tree/master/src/functTest/groovy/com/bmuschko/gradle/docker)
Anyway, for instance, I still have not found a complete example of DockerStartContainer (and others), there are examples like :
[code]
but there are much more

[2018-02-21 11:37] cdancy commented on #542
@safronau that is true and you can use each as you need them. I'll grant you that we have loads of properties for the end-user to set, and not functional tests to cover every single use-case, but even attempting to do so, with all the possible combinations, would take all year to write and would be more confusing than naught to end-users.

[2018-02-21 13:06] orzeh commented on #540
@elvinasp This might be an issue with `docker-java` which we use under the hood. I'll check that and let you know.

[2018-02-21 14:56] djemerson01 commented on #541
I was finally able to get this working with the following:

[code]
I'm still not clear on why the other attempt didn't work,, but I'll take the win

[2018-02-21 15:07] cdancy commented on #541
Interesting. Glad you got things working.

[2018-02-21 15:07] #541 closed

[2018-02-21 15:08] cdancy commented on #542
Closing this ISSUE. Feel free to send in a PR or to edit our wiki as this plugin is mainly driven by community contributions.

[2018-02-21 15:08] #542 closed

[2018-02-21 17:36] gcscaglia opened #544 "DockerSaveImage does not respect the tag option"
The `DockerSaveImage` task always saves all images from a repository, even when a particular tag is specified.

As a workaround, its possible to specify a complete image id (e.g. `'repository:tag'`) as the repository property to archive the desired results.

Attached bellow is a complete exemple for reproduction:

[code]

[2018-02-21 17:54] cdancy commented on #544
@gcscaglia good catch. Care to send in a PR to address this?

[2018-02-21 19:11] gcscaglia commented on #544
@cdancy Sorry, groovy is not a strong language of mine. I've dug around, but for all I understood it's already implemented [here][1], so I don't know why it's not working. I assume this will need someone more familiar with this plug-in (and/or groovy) to pinpoint the actual issue.

[1]: https://github.com/bmuschko/gradle-docker-plugin/blob/49f4611b2575ce23dbe9ef36315a4dfe3f2660bb/src/main/groovy/c

[2018-02-21 20:25] edmeister opened #545 "DockerBuild task fails when it needs to pull from a private registry"
I ran into an issue when trying to build a dockerfile that extends an image from a private registry. Internally we use a Nexus docker registry, but I was able to reproduce with a private image on Docker Hub.

Steps to reproduce:

1. Create a dockerfile that starts with a pull from a private registry. E.g. `FROM private/image`. Of course the image cannot be present on the local machine.

2. Create

[2018-02-21 22:11] hanswesterbeek commented on #467
Bumped into this issue today as well. More will come as Spring Boot is now at RC2. It won't be long until the masses come :)

[2018-02-21 22:18] orzeh commented on #545
@edmeister can you put `registryCredentials {}` inside `buildImage` task and see if it helps?

[2018-02-21 22:28] edmeister commented on #545
I tested with the task below, but got the same output.

[code]

[2018-02-21 22:31] orzeh commented on #545
@edmeister did you specify `url`?

[2018-02-21 22:34] edmeister commented on #545
@orzeh it falls back to the default url, which is `https://index.docker.io/v1`. Setting it explicitly gives the same outcome. I just verified.

[2018-02-22 13:07] cdancy commented on #467
I'm going to put together a PR this weekend to load all client jars in their own classloader much like we are doing with the [gradle-kubernetes-plugin](https://github.com/bmuschko/gradle-kubernetes-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/kubernetes/plugin/GradleKubernetesContextLoader.groovy#L74). This _should_ provide the final solution here and allow folks to put whatever they wan

[2018-02-22 15:07] edmeister commented on #545
For the record: I circumvented the issue by creating an extra task that parses my dockerfile, strips out the image part from the `FROM ...` line and does a docker pull of that image.

[2018-02-22 23:52] nealarmstronglumira opened #546 "Does this plugin have a similar functionality to docker --net=host"
Hi, awesome work here. Can something like ... docker **--net=host** be done with this plugin?

[2018-02-22 23:58] cdancy commented on #546
@nealarmstronglumira if you're just looking to use a different network you can use the `DockerCreateContainer` task specifying the `network=<some-value>` should do the trick.

https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/container/DockerCreateContainer.groovy#L108

[2018-02-23 00:01] nealarmstronglumira commented on #546
nice thanks!

[2018-02-23 00:01] #546 closed

[2018-02-23 10:02] atanass opened #547 "gradle-docker-plugin doesn't use .dockerignore file like the native docker client"
Hi,
If I want to ignore everything but a single file in my project in order to minimize the build context sent to the daemon, I like to ignore everything in the .dockerignore and then negate the files I would like to not be ignored, example:
[code]
This works when building the image with the native docker client but not with the gradle task from the plugin (type: DockerBuildImage).
The first issue

[2018-02-23 10:25] orzeh commented on #547
@atanass we delegate `.dockerignore` handling to `docker-java`, please refer to thier [tests](https://github.com/docker-java/docker-java/blob/master/src/test/java/com/github/dockerjava/core/dockerfile/DockerfileAddMultipleFilesTest.java) and see if you correctly define pattern.

[2018-02-23 10:52] orzeh commented on #545
@edmeister can you check this with plain `docker-java`? It would help nail down the issue.

[2018-02-24 21:29] aol-nnov commented on #327
@cdancy it's 3.2.4 now, but certPath is still not picked from system env!

any plans on this issue?

[2018-02-24 23:18] cdancy commented on #327
@aol-nnov send in a PR, as it's a quick enough fix, and i'll get it in the next release which is going out sooner rather than later! It's one of those things that always slips my mind.

[2018-02-25 18:02] cdancy commented on #467
@orzeh put together a project solely for the purpose of building a shaded version of `docker-java` which I will maintain and publish to jcenter. My thinking is to use this, in place of depending on `docker-java`, which should get us around issues like this once and for all. As the `docker-java` project itself seems to not want to do the work I went ahead and knocked it out. Give it a look over and

[2018-02-26 08:24] mursilsayed opened #551 "How to pass additional groups to docker containers"
You can use `--group-add` to pass additional groups while creating docker container. How can I achieve this functionality with the plugin?

https://docs.docker.com/engine/reference/commandline/create/#options

[2018-02-26 09:02] orzeh commented on #551
@mursilsayed our plugin uses `docker-java` under the hood and in that library there is a [PR](https://github.com/docker-java/docker-java/pull/950) waiting. After it's released we can add this capability to `gradle-docker-plugin`.

[2018-02-26 14:31] edmeister commented on #545
Hmm, not really familiar with that package, but I can try.

[2018-02-26 17:10] Hubbitus commented on #490
What is correct way to fix NPE on:
[code]
Is it:
[code]
?

[2018-02-26 21:54] orzeh commented on #545
@edmeister please take a look at the test https://github.com/docker-java/docker-java/blob/master/src/test/java/com/github/dockerjava/cmd/BuildImageCmdIT.java#L197

[2018-03-01 12:36] #327 closed

[2018-03-01 19:35] #539 closed

[2018-03-01 21:41] cdancy opened #553 "Credentials changed?"
@bmuschko just tried to do a new release and it popped trying to push to Bintray with an authentication exception. Checkout this log:

https://api.travis-ci.org/v3/job/347970099/log.txt

[2018-03-02 13:05] cdancy commented on #553
@orzeh anything stick out to you here?

[2018-03-02 16:46] bmuschko commented on #553
I changed the credentials recently but made sure that they are available on Travis. I just reset the environment variables `BINTRAY_USER` and `BINTRAY_KEY`. Could you please again?

[2018-03-02 16:54] orzeh commented on #553
@cdancy i don’t know what’s wrong. Let’s try if it works now.

[2018-03-02 17:07] cdancy commented on #553
Giving things a go now...

[2018-03-02 17:41] cdancy commented on #553
@bmuschko @orzeh so it _seems_ things are working now, and a new version released, and everything looks OK, gut gradle-grgit plugin is [throwing an exception at the last moment](https://api.travis-ci.org/v3/job/348321005/log.txt) though I can't figure out what it's actually affecting.

[code]

[2018-03-02 17:44] cdancy commented on #553
@bmuschko and thanks for jumping on things. Can you do the same for the `gradle-kubernetes-plugin` job? Can you also import the project into Bintray under your `gradle-plugins` repo when you get a chance? I know we talked previously about that potentially not needing to be the case but did so for another project and indeed things fail fast. Once we do an initial release, and having something like

[2018-03-02 18:24] bmuschko commented on #553
@cdancy See https://bintray.com/bmuschko/gradle-plugins/gradle-kubernetes-plugin. Also reset the environment variables.

RE: GitHub - It's hard to say what went wrong. Do you have a stack trace?

[2018-03-02 18:26] cdancy commented on #553
@bmuschko [here you go](https://api.travis-ci.org/v3/job/348321005/log.txt)

[2018-03-02 18:39] bmuschko commented on #553
@cdancy Hhhhmm, no idea what's going on there. The error message doesn't really help. @orzeh might be able to comment on this.

[2018-03-02 21:41] orzeh commented on #553
@cdancy @bmuschko I have no idea what went wrong. Hope it is a temporary issue.

[2018-03-02 21:52] cdancy commented on #553
@orzeh fair enough ;) Again ... everything seems to have worked so I'm not really sure what actually failed. I guess we can call it a win :)

And @orzeh when are you going to jump in on the kubernetes work :) Planned on knocking out the general purpose "pod tasks" this weekend in hopes of doing an initial `0.0.1` release within the next couple of weeks.

[2018-03-02 22:00] orzeh commented on #553
@cdancy Being quite busy at the moment, but I'll try to do my best to crack on.

[2018-03-02 22:03] cdancy commented on #553
@orzeh hahaha I'm joking. Come and help out when you have time of course. No pressure or rush. If anything come critique it and point fingers and see if things make sense or say what can be done better.

[2018-03-04 17:14] cdancy commented on #553
@bmuschko thanks for setting up the `gradle-kubernetes-bintray` project on Bintray. As I noted above: I'm going to knockout the handful of CRUD tasks surrounding "pods" over the next couple weeks and once done I'm going to attempt to kick the `0.0.1` release or maybe do a `0.9.0` release as this is a bit more work than a single digit patch version would imply. In either event I'll ping you again t

[2018-03-04 22:12] radistao commented on #246
@eshepelyuk @orzeh
could you put it directly to the documentation? Wasted whole night to figure out the issue...
Thanks!

[2018-03-04 22:23] orzeh commented on #246
@radistao in `3.2.5` we fixed #327 (see PR #549) so now it shouldn't be an issue. If you think it might be worth updating the doc anyway, please submit PR. Thanks!

[2018-03-04 22:27] radistao commented on #246
ah, on releases page https://github.com/bmuschko/gradle-docker-plugin/releases `3.0.11` is  marked as `latest` release, so i used this one! The rest is collapsed (hidden):
![image](https://user-images.githubusercontent.com/580901/36951392-96e67230-2003-11e8-9067-96362fd3510f.png)

So, i think updating release notes could help. Thanks :)

[2018-03-04 22:41] orzeh commented on #246
@radistao [release notes](https://github.com/bmuschko/gradle-docker-plugin/blob/master/RELEASE_NOTES.md) are up to date.

[2018-03-04 22:44] radistao commented on #246
ok, i'm just afraid some other people might be confused by release page in github and `latest release` badge there. But maybe it's just me, so forget.

[2018-03-05 00:24] cdancy commented on #246
Yeah you're not the first person to notice this and I'm not even sure how things for this way. @orzeh maybe we just delete the 3.0.11 tag from github to erase the confusion? Release is still on jcenter so no worries for folks potentially still using it.

[2018-03-05 08:01] orzeh commented on #246
@radistao @cdancy I agree it's very confusing. I see two solutions:
1. delete all Github releases
2. edit 3.0.11 release tag on github and add info that we changed release workflow

[2018-03-05 11:28] cdancy commented on #246
Just deleted the v3.0.11 tag and all looks same again. It appears this was sticking out because we attempted to edit the release notes at some point thereby making a "proper" release in github eyes. IDK. In either event things should be good to go now.

[2018-03-05 12:19] kboom commented on #547
Posted a [bug](https://github.com/docker-java/docker-java/issues/999) on their side. There's clearly a bug.

[2018-03-05 12:23] orzeh commented on #547
@kboom thanks for your feedback!

[2018-03-07 01:32] pgcortina opened #555 "How to specify build options when building the docker image"
We need to set the --network [options](https://docs.docker.com/engine/reference/commandline/build/#options) for some of our images. Is there any way we can set those when creating the image via DockerBuildImage task?
e.g something equivalent to
docker build -t test/image:latest --network=host --build-arg VERSION=A123
Thanks!

[2018-03-07 01:34] pgcortina commented on #515
This has not happened again, it was an issue with our own network looks like.

[2018-03-07 08:19] orzeh commented on #515
@pgcortina thanks for feedback. I'm closing this issue then.

[2018-03-07 08:19] #515 closed

[2018-03-07 08:28] orzeh commented on #555
@pgcortina currently we don't have this option because `docker-java` which we use to make API calls to docker daemon doesn't have it either. Are you interested in sending PR to `docker-java`?

[2018-03-08 15:44] hermitmaster commented on #547
Use a double asterisk on the first line, like below. Works fine for me.
[code]

[2018-03-08 16:04] tv2-mh opened #556 "dockerBuildImage causes InjectionManagerFactory not found."
Triggering _./gradlew clean build dockerBuildImage_ causes the following error:

dockerjava-jaxrs-async-0] ERROR com.github.dockerjava.core.async.ResultCallbackTemplate - Error during callback
java.lang.IllegalStateException: InjectionManagerFactory not found.
        at org.glassfish.jersey.internal.inject.Injections.lambda$lookupInjectionManagerFactory$0(Injections.java:98)
        at java.util.

[2018-03-08 16:21] cdancy commented on #556
@tv2-mh try with the latest and greatest version `3.2.5` that should resolve issues like this and let me know how that works out.

[2018-03-08 18:43] jonsinfinity opened #557 "DockerStartContainer Exits with 127"
I'm attempting to create and start a DB2 container. Both the DockerCreateContainer task and DockerStartContainer task complete fine from a gradle standpoint. However in Docker I can see that the container Exited with a 127 return code. I'm running on Windows.

Here is the documentation for the container that I am trying to start: [https://hub.docker.com/r/ibmcom/db2express-c/](https://hub.docker.c

[2018-03-08 20:01] cdancy commented on #557
@jonsinfinity the docker 127 error is something like an umbrella failure with docker and could be for any number of reasons. We've seen it pop here more often than naught due to resource constraint issues.

As far as running things as a daemon the container itself should just start and run assuming there is an application inside that is kicked as part of a defined `entrypoint` or `cmd` parameter.

[2018-03-08 20:13] tv2-mh commented on #556
It works! Sending a bucket of high-fives! It even works on Spring Boot 2.0.0.M5

[2018-03-08 20:13] #556 closed

[2018-03-08 20:18] #553 closed

[2018-03-08 20:19] cdancy commented on #519
Closing this issue. Feel free to re-open if you're still having an issue and would like to discuss.

[2018-03-08 20:19] #519 closed

[2018-03-08 20:20] cdancy commented on #467
New version of plugin `3.2.5` resolves these types of issues. Anyone on an older version is asked to please upgrade lest you enjoy the pain.

[2018-03-08 20:20] #467 closed

[2018-03-08 20:21] cdancy commented on #334
Closing this as initial codenarc support is now in place.

[2018-03-08 20:21] #334 closed

[2018-03-08 20:22] cdancy commented on #495
Closing issue. Feel free to open a PR should you like to see this functionality.

[2018-03-08 20:22] #495 closed

[2018-03-08 20:23] cdancy commented on #473
Upgrading to version `3.2.5` of this plugin solves similar spring-boot issues. Closing this for now.

[2018-03-08 20:23] #473 closed

[2018-03-10 09:37] abansod commented on #467
@cdancy I upgraded to latest version `3.2.5`, getting below error -
[code]

[2018-03-10 12:28] cdancy commented on #467
@abansod is that really your config? The output suggests its not reaching jcenter because it's not defined. You normally define plugins on the buildscript config and not the project config.

[2018-03-10 14:05] abansod commented on #467
@cdancy I have created a wrapper plugin using `com.bmuschko:gradle-docker-plugin:3.2.5`.

[2018-03-10 14:58] cdancy commented on #467
@abansod as I don't know what that looks like I can't be of further help but I do know from the ouput above that the repos you defined in that snippet are NOT the repos that are being used. If I had to venture a guess I would say you have mavenLocal, mavenCentral, and some Twitter repo defined. Wherever that code is you need to add a jcenter repo as well.

[2018-03-10 22:20] jimcarreer opened #559 "What version of dockerjava is used?"
I don't see it anywhere in the dependencies path but obviously its used. I'm not familiar with the class loading method being used to build that libraries objects used by this plugin.  I ask because recently it was updated to support more filters:

https://github.com/docker-java/docker-java/commit/2582dce26e44fdecce0c1026b901966532fc72e0

which I would like to add some support for, In particular t

[2018-03-10 23:35] cdancy commented on #559
@jimcarreer the library is loaded [dynamically at runtime](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/DockerRemoteApiPlugin.groovy#L53) and not part of the "traditional" dependency management. We're currently on the latest and greatest and can always bump to something newer should a newer version be released.

[2018-03-11 01:03] jimcarreer commented on #559
Weird, I was getting some runtime errors trying to call withNameFilter on List Command in a new Docker Task I was trying to implement.  Anyway,  it turns out what I was trying to do was supported anyway, digging around in your test code made me realize I could use my container name to remove the container instead of the id docker randomly assigns, which was my ultimate goal.

[2018-03-11 01:32] #559 closed

[2018-03-12 23:59] mursilsayed commented on #436
Passing one network works fine for me. I have a use case in which I want to pass multiple docker networks to a container.

I can do that with docker cli by specifying --network network1 --network network2
 How can I pass multiple networks while creating docker containers via the plugin?

[2018-03-13 12:50] Crazyjavahacking opened #560 "Not possible to use the plugin on Windows platform"
Hi,

it looks like the plugin is not working correctly on Windows platform. When we try to use the following task:
[code]
we got the following stack trace:
[code]
It looks like the plugin is downloading the following Maven artifact: `com.kohlschutter.junixsocket:junixsocket-native-common:2.0.4`
which in `lib` directory inside the archive does not contain any Windows specific pre-compiled shared li

[2018-03-13 13:23] cdancy commented on #560
@Crazyjavahacking however unfortunate we have loads of windows users here that use this plugin with no issues to speak of. What version of the plugin are you using? Do you have a reproducible snippet I could try to recreate the issue with?

[2018-03-13 15:25] Crazyjavahacking commented on #560
It turned out that for some reason on Win OS the server URL was still using Unix pipes.

We had to modify each Docker related task to have to following configuration: `url = 'tcp://127.0.0.1:2375'`. I was expecting that this will happen automatically on Win OS.

Can you verify?

[2018-03-13 15:29] cdancy commented on #560
@Crazyjavahacking the logic we implement can be found [HERE](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/DockerExtension.groovy#L46) but yes, under normal circumstances and assuming you didn't try to override things, we should default to the above URL you noted.

[2018-03-13 15:49] cdancy commented on #436
@mursilsayed looks like the [docker-java](https://github.com/docker-java/docker-java/blob/master/src/main/java/com/github/dockerjava/api/model/ContainerHostConfig.java#L31) library only allows 1 at the moment. You could open up an ISSUE with them and see if they will support N being passed in. Once done we could put together a PR fairly quick to knock this feature out.

[2018-03-13 20:57] gcscaglia commented on #544
Just a heads up, while investigating [another issue in the upstream](docker-java/docker-java#1005), I've stumbled upon [this PR](docker-java/docker-java#521). It seems this bug isn't actually on `gradle-docker-plugin` itself but on `docker-java` library.

[2018-03-13 21:18] cdancy commented on #544
@gcscaglia good find!

[2018-03-14 08:59] Crazyjavahacking commented on #560
The problem has to be somewhere else. The function is correctly returning the TCP version of the URL, but still failed on the downloading of the artifact.

[2018-03-14 13:24] cdancy commented on #560
@Crazyjavahacking think you may be on to something. As of the release `v3.2.5` we started using a shaded version of `docker-java` (the library we use in the backend to communicate with docker) and I just opened the jar and noticed the jar and noticed the _dll_ you referenced is not there. Poking around for clues now...

[2018-03-14 13:35] cdancy commented on #560
@Crazyjavahacking what version of our plugin are you using?

[2018-03-14 13:38] cdancy commented on #560
Looks like you may be running into [THIS ISSUE](https://github.com/bmuschko/gradle-docker-plugin/issues/394). Indeed if you're using tcp on windows you shouldn't need to load a dll file.

[2018-03-14 13:43] Crazyjavahacking commented on #560
We are using 3.2.0 version.

[2018-03-14 13:45] cdancy commented on #560
@Crazyjavahacking try using the latest and greatest and see if that helps. Really, if you are in fact pointing at the tcp URL, there should be no reason that the dll is required.

[2018-03-14 13:45] Crazyjavahacking commented on #560
There is no problem with the artifact as it does not exist and newer was published.

My assumption is that some connection factory is only trying to load such native library if the protocol is using Linux pipes, So the problem is more likely to be in not accepting the serverUrl param in version 3.2.0.

[2018-03-14 13:52] cdancy commented on #560
Do you have a reproducible snippet I could try here? We have some developers with windows machines I could ask to give things a go on.

[2018-03-18 20:02] bmuschko opened #561 "Use Provider API instead of convention mapping"
### Expected Behavior

The code uses the [`Provider` API](https://docs.gradle.org/current/userguide/lazy_configuration.html) instead of the internal API for convention mapping when configuring lazy-evaluated properties.

### Current Behavior

The current code uses convention mapping which will go away sooner or later. As a user, I don't want to use an internal API to configure lazy values (meaning

[2018-03-18 22:12] cdancy commented on #561
Yeah never liked this and I push back on developers when I see them use this vs other more intuitive and well defined ways of doing the same thing.

[2018-03-21 08:58] sundarrajanm commented on #398
I also faced the same issue today. After removing the below entries the noisy log vanished.

- Removed a `doFirst` block with `classpath = configurations.dockerConf + sourceSets.main.compileClasspath` line in it inside a buildImage task
- Also removed `classpath = configurations.compile` from inside that task

Thanks @dfernandezm

[2018-03-22 20:36] mwhipple opened #562 "Allow durable output from DockerCreateContainer"
Optionally storing the `containerId` from the DockerCreateContainer task would facilitate management of background running containers with gradle (along with possible adjustments to other tasks). I'd look to implement this myself after getting some feedback as to whether the idea is sound.

The use of persistent output would also allow for appropriate skipping of up-to-date tasks (with associated

[2018-03-22 21:18] cdancy commented on #562
Are you thinking of dropping something like a cookie on disk so that gradle has something tangible to look at in order to skip task execution?

[2018-03-22 21:26] mwhipple commented on #562
Yeah, exactly: some file in buildDir and whatever wiring seem relevant to make it easier to work with (and sparing the handful of gradle/groovy otherwise required 😑)

[2018-03-23 20:41] cdancy commented on #562
@mwhipple hmmm ... my only concern here is that you'd essentially have to do this everywhere if we want "real" gradle tasks. Furthermore this plugin does not necessarily produce output so much as it can be thought of a tool to help during CI processes and so in that regard traditional task inputs/outputs don't necessarily make a lot of sense.

I'd be open to looking over a demo/POC pull request to

[2018-03-23 21:13] mwhipple commented on #562
I don't think I follow the idea of the doing it everywhere comment. The create container task produces a container and there are the assorted `DockerExistingContainer` subclasses that take a containerId which would (assuming gradle use) come from that creation task. The modification that I'd see would be around making `DockerCreateContainer` be able to write the id to a file instead of just keepin

[2018-03-23 22:56] mwhipple commented on #562
I think maybe inertia led me astray. My standard current approach to the problem when using other tools is to use a defined name for the container and to run it with the 'rm' flag. Adding support to create an ephemeral container with a defined name and target containers by name for the existing container tasks would cover the use much more simply and would ultimately just amount to exposing more o

[2018-03-24 02:05] mwhipple commented on #562
And a trip down a short rabbit hole shows that nothing is needed aside from some potential documentation (it may already be there without the glaring examples I was scanning for).

For possible posterity `containerId` in the `DockerExistingContainer` tasks ultimately maps to the path parameter for related API calls which is named `id` but documented as `ID or name of the container` so the name alr

[2018-03-24 02:05] #562 closed

[2018-03-24 12:16] cdancy commented on #562
Yes that's exaxtly what we do here with something like a site plugin that wraps all of this up in a single task invocation.

If the documentation is not clear, or can be made more so, please point it out or send in a PR as this plugin is primarily user driven and so if something didn't stick out for you with fresh eyes then there is probably a problem.

[2018-03-24 16:26] thekalinga commented on #467
Any chance this be addressed. I've exactly the same issue
[code]

[2018-03-26 10:59] sdavids commented on #507
Maybe reopen?

Or open a new issue explicitly for the javaApplication plugin supporting multiple tags?

[2018-03-26 11:22] orzeh commented on #507
@sdavids we have already pending [PR](https://github.com/bmuschko/gradle-docker-plugin/pull/505), however it needs some work as you can see in the discussion. I hope I'll find some time to finish it.

[2018-03-29 15:36] remmeier opened #564 "Caching in docker-java-application not working for multi-project Gradle setups"
PR https://github.com/bmuschko/gradle-docker-plugin/pull/459 introduced support to separate the project from third-party libraries in two separate image layers. This can drastically reduce storage requirements and improve performance. However, the mechanism currently does not work for multi-project setups. e.g. if  there is a dependency

[code]

then common-service.jar gets put into the base layer

[2018-03-30 13:23] cdancy commented on #564
@remmeier in theory I don't disagree. @orzeh has usually done the work around the application portion of this plugin so I'll let him chime in with his thoughts/opinions/etc. A solution to this however might not be so simple and I'd have to think on it. Were you thinking of sending in a PR for this or did you want one of us to look at things?

[2018-04-02 14:35] scottresnik opened #565 "Add option to DockerSaveImage task for image compression"
### Expected Behavior
Add a property to the DockerSaveImage task, e.g. "compressImage", that when set to true would compress the image to be saved using GZip.  The default setting would be false to be consistent with existing behavior.

### Current Behavior
There is no such setting on the DockerSaveImage task.  Currently images are saved as a tar.

### Context
Currently I zip up images using Gradl

[2018-04-02 15:07] cdancy commented on #565
@scottresnik hmmm ... we build upon the `docker-java` library which in turn is just a wrapper around OOTB docker commands. I don't think docker supports compression by default in their commands at least last time I checked they did not and the spirit of this library is to be/create gradle wrappers around those same commands.

How are you doing things now? Do you have a code snippet you can share o

[2018-04-02 15:17] scottresnik commented on #565
Right now, I'm using the gradle zip task.  The tar task allows gzip compression, but it ended up creating a gzipped tar of a tar which is a bit of a mess.

I have the code done already, I can create a PR.

[2018-04-02 20:27] orzeh commented on #564
@remmeier I understand your use case. I've implemented something similar with low level tasks from `docker-remote-api` plugin, so I think we can try to add such behavior to `docker-java-application`. I'll try to write small POC so we have a starting point to further discussion.

[2018-04-03 13:04] conorgriffin opened #567 "Documentation links are broken for DockerSaveImage and DockerLoadImage"
The links to docs for these two tasks result in 404s from the project README section on images here: https://github.com/bmuschko/gradle-docker-plugin#images

[2018-04-03 13:33] cdancy commented on #567
@conorgriffin thanks for pointing this out or rather opening an ISSUE to track this known bug. Since we switched to a new release process our github-pages docs-branch hasn't been updated and we need to fix it.

@orzeh does anything initially stick out to you?

[2018-04-04 12:53] cdancy commented on #565
Closing as this functionality has now been merged to master.

[2018-04-04 12:53] #565 closed

[2018-04-04 12:54] cdancy commented on #560
Closing this issue. Feel free to re-open if you'd like to talk further.

[2018-04-04 12:54] #560 closed

[2018-04-04 12:55] cdancy commented on #493
Closing as this has been open for quite sometime. Feel free to send in a PR in the future should you care to see this done.

[2018-04-04 12:55] #493 closed

[2018-04-04 13:27] remmeier commented on #564
sounds good to me. Because the plugin already supports a basic flavor of all this, I guess things are not too far out.

In our company we quite a few multi-project setups that result in multiple docker images out of a single built. Usually the resulting images have the same base image and share most to all of the third-party dependencies (like Spring). This is then achieved through a shared child

[2018-04-04 16:16] scottresnik opened #568 "Are pre-release 'SNAPSHOT' builds published anywhere?"
I was looking for any information on pre-release builds of this plugin.  Are they published anywhere?

[2018-04-04 18:41] cdancy commented on #568
We don't do pre-release builds though can spin up a new release,whenever.

[2018-04-04 18:41] #568 closed

[2018-04-05 07:24] orzeh commented on #567
@cdancy I was able to reproduce the issue we can observe in logs on travis, however only once. Subsequent build pass without errors 😕 Will try to investigate this.

[2018-04-05 10:38] cdancy commented on #557
Closing. Feel free to re-open if you'd like to further discuss.

[2018-04-05 10:38] #557 closed

[2018-04-06 17:50] rjbell4 opened #569 "Docker images as inputs/outputs"
Apologies for basically asking a question as an issue, but I'm not aware of a better forum.

This is one of the leading plugins for Gradle regarding Docker.  Like most Docker-related Gradle plugins, it seems primarily concerned with constructing Docker images from Gradle.  Unfortunately, that's not really my use case.

In my use case, I'm using Gradle as the "glue" between some pre-existing reposi

[2018-04-06 18:00] bmuschko commented on #569
The best way for interactive communication is probably the [Gitter forum](https://gitter.im/gradle-docker-plugin/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge) for this plugin.

At the moment this plugin doesn't support this kind of functionality. I believe most of the task do not declare an output and therefore are not incremental or cacheable. You could probably achieve the behav

[2018-04-06 18:44] rjbell4 commented on #569
That's kind of what I was thinking.  I also need to store these images in Artifactory for later retrieval, so I was thinking of either:
1. Using `docker import` and `docker export`, and relying on the resulting tarballs (and storing/retrieving them as such, rather than as a Docker repository, _or_
2. Using a file, as you indicate, probably with the image ID in it.
I'm leaning towards the second op

[2018-04-09 02:34] yuluopiaoyang commented on #560
I met the same problem, how should I do?

[2018-04-09 13:04] cdancy commented on #560
@yuluopiaoyang is it reproducible and do you have a snippet we can give a go?

[2018-04-12 23:28] likewhatevs opened #570 "bump javax.activation to 1.1.1 to make docker build work on java 10?"
When using java 10 and running docker build, the following exception is thrown:
[code]
I worked around this by compiling the plugin locally with the following:
[code]
I'm not sure if that's a good way to go about making this plugin work on java 10, but it worked for me.

[2018-04-13 10:55] cdancy commented on #570
Interesting... Is this reproducible on other OS's? What version of our plugin are you using?

[2018-04-13 11:13] #569 closed

[2018-04-14 18:42] lemm-leto opened #571 "PushImage task doesn't seem to really push"
I've private registry which is hidden behind nginx. I don't face any issues during building process from another machine. However it seems that image never really get tagged and pushed to registry.

Here is my config (credentials and urls changed):
[code]

### Expected Behavior
I'm going to see newly pushed repository and tags using v2 api, however I get just one image which was pushed manually by

[2018-04-15 00:51] javajon commented on #467
I was getting the error too.  Adding jcenter() fixed it for me.  The clue was from Ben Muschko [found here](https://github.com/bmuschko/gradle-docker-plugin/blob/fd785b7d146a96ae0c570512310bb56ddefbb2b7/README.asciidoc):

[code]

[2018-04-15 22:12] cdancy commented on #571
Can you navigate to the registry to see where this image was pushed to? I would also try removing the `apiVersion` option as it's generally not needed and may lead to unexpected behavior.

[2018-04-15 22:35] orzeh commented on #571
@lemm-leto I see you use context path `/registry` in your URLs. I suppose this is the source of problems.

[2018-04-17 16:40] cdancy commented on #570
Thanks @edmeister. Very strange. I can of course add this to the list of required deps and/or bake this into our `docker-java-shaded` lib if necessary just seems very odd is all.

[2018-04-17 19:10] piersf commented on #467
I upgraded today to version 3.2.5 and am getting the same error as well:

[code]

This is what i have in my build.gradle file:

[code]

@javajon where did you add that section you mentioned in your comment?

@cdancy does the above look wrong to you? Am i missing something here?

Thanks,

[2018-04-17 20:26] piersf commented on #467
@cdancy  thank you! That worked!

[2018-04-17 21:16] gclayburg commented on #564
Hey guys, check out this gradle plugin I created.  It can be used to separate a spring boot app into multiple layers before a plugin like this one creates the actual docker image.

https://github.com/gclayburg/dockerPreparePlugin

[2018-04-17 21:55] javajon commented on #467
@cdancy - great!, [An example is here](https://github.com/javajon/monitoring-kubernetes/blob/master/microservices/quotes/build.gradle).

[2018-04-18 01:38] cdancy commented on #467
Thanks guys. Something is still _not quite_ right, or at least smells fishy, as specifying `jcenter` in the buildscript deps should have been enough. I'll take a look at further look at this and see what I can make of things. Thanks for reporting @piersf

[2018-04-18 03:07] javajon commented on #467
@cdancy - Stick with you instinct on smells. I moved my Gradle project from Spring Boot 1.5.x to 2.0.1 and this error popped up "Could not find com.aries:docker-java-shaded:3.0.14.". That lead me to this thread as described by Ben and @abansod. Once I changed from mavenCentral() to jcenter() the error was seemingly resolved and I moved on.

The Kubernetes-client was just needed to get Kubernetes c

[2018-04-19 09:59] edmeister commented on #570
Very easy snippet to reproduce.

[code]
After running `gradle test` we get lots of these stacktraces

[code]

[2018-04-19 12:42] cdancy commented on #570
@orzeh ... interesting. Not sure if we should handle this new dep or docker-java.

[2018-04-19 14:36] cdancy commented on #570
Yeah you're probably right. Wouldn't be too bad to add this additional dependency to our plugin/config. I guess my main concern was adding it to the `docker-java-shaded` library which would in turn put it out of sync with upstream `docker-java` but if we add it here it should be fine. If the user is on an earlier version of java it should amount to a no-op. Let me throw something together now.

[2018-04-19 18:09] cdancy commented on #570
Created PR #572 to address this.

[2018-04-20 01:10] cdancy commented on #570
Just released version `3.2.7` with a change to resolve this issue. Can folks on this thread give things a go and let me know how you fare?

[2018-04-20 19:10] cwensel commented on #570
3.2.7 `DockerBuildImage` just worked for me on Java 10. It didn't yesterday on 3.2.6.

Thanks!

[2018-04-20 19:38] cdancy commented on #570
Very good and thanks @cwensel ! Closing this issue.

[2018-04-20 19:38] #570 closed

[2018-04-20 20:55] stevendpclark opened #573 "Allow specifying a user within DockerExecContainer tasks to execute commands"
### Expected Behavior
Within a DockerExecContainer task an end-user should be able to specify the user the command should execute as if the docker image doesn't properly setup the USER attributes and the the initial entrypoint needs to be executed as the root user.

### Current Behavior
This can not be performed, unless I missed something, as the DockerExecContainer task is missing the input to pa

[2018-04-20 21:13] cdancy commented on #573
@stevendpclark sounds and looks good to me. Feel free to send in a PR.

[2018-04-23 18:42] Geethree opened #575 "Cannot invoke method withContext() on null object"
### Expected Behavior

For the docker image `hello-world` to be pulled

### Current Behavior

Throws error
[code]
### Context

I am currently implementing a custom gradle plugin which will start various containers, which our tests will run again. I'm running into the issue below. Any thoughts?

### Steps to Reproduce (for bugs)

### Your Environment

#### buildSrc/build.gradle
[code]

#### buildSr

[2018-04-23 18:46] Geethree commented on #575
If I remove the `repository = "hello-world"` from the above `foo.groovy` I get:

[code]

[2018-04-23 19:13] Geethree commented on #575
It seems to me like `createDockerClientConfig` is returning null [here](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/AbstractDockerRemoteApiTask.groovy#L56)?

[2018-04-23 19:34] cdancy commented on #575
Think you need to apply the plugin first as is documented [HERE](https://github.com/bmuschko/gradle-docker-plugin#remote-api-plugin). When writing a custom plugin (be it using buildSrc or some other means) you still need to apply the plugin in order to init things.

[2018-04-23 19:45] Geethree commented on #575
Applying the plugin in `buildSrc/build.gradle` results in the same `withContex()` error

[code]

[2018-04-23 19:48] Geethree commented on #575
Applying the plugin in `buildSrc/src/main/groovy/foo.groovy` results in forcing me to change the Plugins name, and then results in the same `withContext` error.

[2018-04-23 19:58] Geethree commented on #575
But if I add this to the main `build.gradle`:

[code]

It works.

How can I just add this to the buildSrc plugin?

[2018-04-23 20:01] cdancy commented on #575
Nonono ... it needs to be applied INSIDE the plugin:
[code]

[2018-04-23 20:13] Geethree commented on #575
Yeah! I just made it that far. Now it is attempting to resolve the jar from maven. Any chance you know how to apply the jcenter repository to the plugin?

[2018-04-23 20:30] Geethree commented on #575
Woo thanks
[code]

[2018-04-23 20:30] #575 closed

[2018-04-24 20:33] gurtejkochhar opened #576 "Adding files to docker temp so that we can use ADD/COPY on them"
Want to add a file to Docker tmp so that i can use ADD/COPY on it
### Expected Behavior

File copied to temp docker path and can be used in ADD/COPY cmd

### Current Behavior

ADD failed: stat /var/lib/docker/tmp/docker-builder425335050/file.yml: no such file or directory

### Context

### Steps to Reproduce (for bugs)

### Your Environment

docker --version
Docker version 17.12.0-ce, build c97c6d

[2018-04-24 20:39] orzeh commented on #576
@gurtejkochhar you can't add files being outside of docker build context. You can define path to it in `DockerBuildImage` task by setting [`inputDir`](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/DockerBuildImage.groovy#L29) property. The default value is `project.file('docker')`.

[2018-04-27 13:52] SpamhaterAlex opened #577 "com.github.dockerjava.shaded.org.apache.http.client.ClientProtocolException"
Hi,

I try to use this `gradle-plugin` for a cuba-application.

My gradle.build:

[code]

when I run this command:
`gradle buildImage -Pemail=myMail -Pusername=myUsername -Ppassword=myPassword -Purl=hub.docker.myCompany.com `

I get this problem:
* What went wrong:
A problem occurred evaluating root project 'newPro'.
`> Could not find method docker() for arguments [build_3773gpagu1navtx0av3me9mfs$

[2018-04-27 13:54] cdancy commented on #577
@SpamhaterAlex I would venture a guess and say your docker instance is not reachable? Can you hit that URL in your browser? If it's exposed to the world you should be able to successfully reach `http://127.0.0.1:2375/_ping` and get the text `OK` returned.

[2018-04-27 13:56] SpamhaterAlex commented on #577
Hi @cdancy,

when I put this in browser:
http://127.0.0.1:2375/_ping

I get an `ok `as response

[2018-04-27 13:57] SpamhaterAlex commented on #577
and I also not sure, if it is right, how I configured the code above, because in this 2 "ways" I get an error

[2018-04-27 14:32] SpamhaterAlex commented on #577
I also add the jcenter:
because, I read in docs, that it shall be used.
It looks for me, that I can just not use docker maybe need to use older version of the gradle-plugin?

[code]

[2018-04-27 14:37] cdancy commented on #577
I would also move the `apply plugin: docker-remote-api` line to just above the `docker {}` extension at the very top. You're applying it very late in the cycle and that _may_ be throwing things off.

Also, and to ensure things run as expected, you might want to create a very minimal gradle script to ensure things work as expected and THEN add on to that.

[2018-04-27 14:41] SpamhaterAlex commented on #577
@cdancy yes its a good idea, I dont think about, thanks I will try

[2018-04-27 15:11] SpamhaterAlex commented on #577
[code]

I get the error above now.
[code]

This is a part of the script now.
Unfortunately, I still get the error :/

[2018-04-27 15:47] cdancy commented on #577
Is that the actual snippet? Looks like it's missing tasks?

[2018-04-27 15:50] cdancy commented on #577
Looking around online this appears to be a more generic issue when an image is referenced with uppercase characters?

https://github.com/spotify/dockerfile-maven/issues/95

[2018-04-27 16:49] SpamhaterAlex commented on #577
[code]

no, I changed the name for the tag and the problem is still same

[2018-05-04 07:36] SpamhaterAlex commented on #577
Okay,

I try to make it as simple as possible:

[code]

And this is the exception:
[code]

I would be very happy to solve this, because I think this plugin is very good

[2018-05-04 07:45] SpamhaterAlex commented on #577
Can it be because of proxy? But I configured the settings in my docker for windows..?

[2018-05-04 07:49] orzeh commented on #577
@SpamhaterAlex yeah it could be a reason. Please take a look at #462.

[2018-05-04 07:59] SpamhaterAlex commented on #577
Ok, thanks guys, I will take a look and inform you, also strange is, that I can use docker-commands in my cmd-shell, but not created a docker-machine..does it matter to use this plugin?

I can run, download images without creating this docker-machine

[2018-05-04 09:35] SpamhaterAlex commented on #577
It looks like I need the docker-machine for this plugin?
Because I am using docker for windows, and can not create a docker-machine

https://docs.docker.com/docker-for-windows/install/#start-docker-for-windows

[2018-05-04 10:52] cdancy commented on #577
Not sure about docker machine as I've never used windows myself. A lot of developers here that do have windows use windows-10 which has native docker support.

[2018-05-04 11:05] SpamhaterAlex commented on #577
I just use docker for windows, I tried this small example above and it dont work.
I am also not sure about, if it does not work, because of that

[2018-05-04 12:01] SpamhaterAlex commented on #577
[code]

unbelievable..I just replaced this:

[code]

into this:

[code]

and it seems to work? 💯 👍

[2018-05-04 12:11] cdancy commented on #577
@SpamhaterAlex that's weird but OK! :) Closing issue for now then.

[2018-05-04 12:11] #577 closed

[2018-05-04 13:06] SpamhaterAlex opened #580 "Could not push image: An image does not exist locally with the tag: spamhater"
Hi,

I can build images, but not push.

[code]

So, when I run this command:
`gradle pushImage -Pemail=spamhater@gmail.com -Pusername=spamhater -Ppassword=xxxx -Purl=hub.docker.codemania.com `

I get this problem:
[code]

normally, my repo in docker hub looks like this:
`hub.docker.codemania.com/spamhater/bigapp:latest`

Would be the url right like in the console?
I would be happy, if you can give

[2018-05-04 20:04] cdancy opened #581 "Cleanup README"
The README, in my opinion, has become a bit unruly and needs to be streamlined and refactored.

[2018-05-07 23:08] mikesol314 opened #582 "buildImage task results in "the process cannot access the file because another process has locked a portion of the file""
I recently began experimenting with Docker on Windows and found a simple Java project that utilized this plugin to check out. You can find said project here: https://github.com/gregwhitaker/ratpack-docker-example

When I checked that out, I attempted to run `./gradlew buildImage --stacktrace` which resulted in an error that I've pasted here: https://gist.github.com/mikesol314/2b8ae00414881238255ae

[2018-05-08 07:12] orzeh commented on #582
@mikesol314 please take a look at #432.

[2018-05-08 07:12] #582 closed

[2018-05-10 02:53] stevendpclark commented on #567
I looked into this a bit tonight, basically the documentation on the GitHub site hasn't been updated since release 3.2.1 (doc is for version 3.2.0 currently, which is why the html pages do not exist). Within the 3.2.1 release window, looks like an upgrade to Gradle 4.2 within commit 3688aabe563a553a5c33036436d3d4a8f06a142d occurred.

I believe the Gradle upgrade, triggered: https://github.com/ajob

[2018-05-10 10:51] cdancy commented on #567
Yeah that might be it. I use the upgraded version on other projects I maintain with no issues to speak of. Maybe a quick version bump is all it will take.

[2018-05-11 19:18] rm8x commented on #567
Also getting a 404 when trying to reach http://bmuschko.github.io/gradle-docker-plugin/docs/groovydoc/com/bmuschko/gradle/docker/tasks/container/extras/DockerWaitHealthyContainer.html

[2018-05-11 20:29] orzeh commented on #567
@stevendpclark Thanks for your input!

I was able to reproduce it on my local - just need to clone fresh copy. Then it always fails during the first build.

I've bumped `gradle-git-publish` version and it works, however can't use latest since it conflicts with `gradle-git`, which we are using for versioning.

@cdancy when PR is merged you can spin a new release to give it a try.

[2018-05-11 20:39] #567 closed

[2018-05-11 20:50] cdancy commented on #567
@orzeh merged though we need at least 1 new feature to get a release in right? I feel ... weird ... doing a release to fix docs. I could be convinced otherwise though...

[2018-05-18 00:48] dpancs opened #584 "DockerRemoveNetwork does not remove the network"
[code]
### Expected Behavior
On running `./gradlew removeAppNetwork`, I would expect the network to be removed.

### Current Behavior
After executing `./gradlew removeAppNetwork` if I run `docker network ls` I see that the network is still existing.

### Context
I have a build.gradle file where I am trying to programmatically bring up a database container and an application container.  The clean t

[2018-05-18 00:55] cdancy commented on #584
@dpancs when you call the task to remove the network does anything fail? It looks like from the snippet above you're not re-throwing the exception should one occur.

[2018-05-18 01:06] dpancs commented on #584
Sorry... My mistake.  It does throw an error `{"message":"network sample-netowrk id bd2afea5edc919d6756ebd1cc25943bfc6591bec6a73fe227b1aad2612481514 has active endpoints"}`

[2018-05-18 01:06] #584 closed

[2018-05-22 17:44] cdancy commented on #509
This has been done in latest release.

[2018-05-22 17:44] #509 closed

[2018-05-29 04:25] sbutler2901 opened #586 "DockerStopContainer throws NotModifiedException"
### Expected Behavior

It would be nice of the plugin could provide catch-able exceptions / mappings to the exceptions thrown by the underlying docker-java api client.

### Current Behavior

DockerStopContainer throws the [NotModifiedException](https://github.com/docker-java/docker-java/blob/master/src/main/java/com/github/dockerjava/api/exception/NotModifiedException.java) when ran while the cont

[2018-05-29 07:39] orzeh commented on #586
@sbutler2901 below snippet works fine for me:

[code]

[2018-05-29 11:36] sdavids commented on #404
I agree w/ @DALDEI, the plugin should handle it transparently.

[2018-05-29 11:46] orzeh commented on #404
@cdancy maybe we should consider fixing this? Seems to be a small change which makes a lot of people happy :)

[2018-05-29 12:17] cdancy commented on #404
@orzeh yeah just not sure how best to go about doing it. The only way I can think of is to do a `toString()` in every place (strings, maps, lists) we use strings. Would take a little bit of busy work but I'd be up for it if you are.

[2018-05-29 12:21] cdancy commented on #586
Yeah I do something similar to both of you but a bit simpler IMO:
[code]
I've found that in different situations either NotModifiedException or NotFoundException can be thrown and so we account for both. @sbutler2901 you're using things in exactly the way we designed and really there is not much we can do about the name of the exception (which I agree is not great) as the underlying `docker-java`

[2018-05-29 20:00] dpancs opened #588 "Unable to use gradle-docker-plugin in a file other than the main build file"
### Expected Behavior

I want to split a large build.gradle file into multiple files and I expect my docker tasks to work without issues.
### Current Behavior

I am getting a build failure
[code]
when I try to split my main build.gradle into build.gradle and gradle/docker.gradle as mentioned in the Readme.md

### Context

I want to split my build.gradle into multiple files to make it easy to handl

[2018-05-29 20:06] cdancy commented on #588
@dpancs looks like it is having problems resolving the `docker-java-shaded` lib. Not sure if this is expected behavior or not given this setup but it does indeed feel wrong.

In either event try adding the below snippet to your "createAppImage" script just prior to applying the plugin and outside of the buildscript block and let me know if that helps:
[code]

[2018-05-29 20:52] dpancs commented on #588
I added the code snippet as mentioned and am getting a different error now:
[code]

[2018-05-29 20:56] cdancy commented on #588
@dpancs no problem but I'm going to re-open this ISSUE as I think you may have stumbled upon a bug but I'll need more time to confirm.

[2018-05-29 22:31] sbutler2901 commented on #586
@orzeh how are you importing the class in your build script, if I removed the build script dependency gradle throws a compilation exception stating that it is `unable to resolve class com.github.dockerjava.api.exception.NotModifiedException`. I am using the same import statement that I provided above.

@cdancy i like that solution since it handles both scenarios, I was just hesitant to use string

[2018-06-05 11:02] ArtushGhandilyan opened #593 "Unable to configure which distribution to use to create docker image"
### Expected Behavior

### Current Behavior

Sync installTask = project.tasks.getByName(DistributionPlugin.TASK_INSTALL_NAME)
Jar jarTask = project.tasks.getByName(JavaPlugin.JAR_TASK_NAME)

### Context

### Steps to Reproduce (for bugs)

### Your Environment

[2018-06-05 12:13] orzeh commented on #593
@ArtushGhandilyan can you provide some more detail? What is your use case?

[2018-06-05 13:35] ArtushGhandilyan commented on #593
I have spring boot application and want to create docker image which run spring boot application through spring boot loader. In apply method of DockerJavaApplicationPlugin plugin docker file created based on installTask and jarTask

`Dockerfile createDockerfileTask = createDockerfileTask(project, installTask, jarTask, dockerJavaApplication)`

installTask is a default DistributionPlugin's task name

[2018-06-06 21:41] orzeh commented on #404
I've raised PR which should fix this.

[2018-06-07 13:54] #404 closed

[2018-06-07 13:57] cdancy commented on #404
Fix has been merged to master and will be in the next release. If you'd like a new patch release with this fix feel free to scream in our direction.

[2018-06-11 13:12] cdancy commented on #545
@edmeister you may want to have a look at @jfmoy response as this is the expected way to do things and how we do things here as well. I didn't think this was a point of confusion but perhaps it is so?

[2018-06-12 15:22] edmeister commented on #545
Definitely no confusion, but maybe it's resolved with a newer version of docker-java.

When I filed the issue, I could easily reproduce both with a private repository (also a nexus setup) and with a private image on Docker hub.

I'll retry later on and give feedback.

[2018-06-12 20:10] edmeister commented on #545
@cdancy the issue still exists. I could reproduce with a private image on Docker Hub and an image on our private Nexus registry.
The only difference is that @jfmoy uses a Dockerfile task, while all our projects have explicit docker files.

So for clarity, this is the exact code I used to reproduce.

build.gradle
[code]
Dockerfile
[code]

The credentials I used, are of course correct.

[2018-06-12 20:31] cdancy commented on #545
It's the `FROM cloudnativesbe/demo` that looks off but it _may_ be correct. So for us, and when hitting our internal artifactory docker registry, our from would look like:

`FROM machine.company.com:7000/database:123`.

[2018-06-13 14:27] marcoebbinghaus commented on #588
I have the same problem

. Even though I added jcenter() in the repositories-section. It is working when adding
`repositories {
         jcenter()
 } `

explicitly into my DockerBuildImage-Task.

[2018-06-13 14:55] cdancy commented on #588
Thanks for reporting @marcoebbinghaus. It seems to be an issue with how we attempt to resolve that library at runtime. We basically check if there are any repos defined on the buildscript block, and if not, fallback to the repository block. May have to do some extra checking/validation here for sub-projects.

[2018-06-14 10:12] Alykoff opened #598 "How push multiply images to registry?"
Could you add tags params to `DockerPushImage` for multiply pushing images to registery.

I want push multiply images to docker from one gradle task (like build image in `DockerBuildImage` with 'tags' params). But with `DockerPushImage` I could not use only one tasks, because `DockerPushImage` has only 'tag' param.

So I write this raw gradle script to resolve this problem:
[code]

[2018-06-14 10:36] cdancy commented on #598
Did you want to send in a PR for this? I think it would be worthwhile to do such a thing. If not we can look to get something put together.

[2018-06-14 10:46] Alykoff commented on #598
@cdancy
ok
When I have a time I will make a PR.

[2018-06-15 11:03] mwhipple opened #599 "Support autoRemove in DockerCreateContainer"
This was just merged to `docker-java` so mostly just added here to get it on the radar (and I may grab it if I have time).
https://github.com/docker-java/docker-java/pull/1050

### Expected Behavior

Analogous to using `docker run --rm` this provides automatic removal of a container after shutdown,
which is convenient for running local dev containers.

### Current Behavior

Currently this can be a

[2018-06-15 14:06] cdancy commented on #599
Was just thinking about this the other day and indeed we should get this in as I think it will be useful.

@mwhipple you _may_ be interested in a recent plugin I put together, which builds upon this plugin, to allow developers/companies to create something like a `site` plugin for their dockerized apps or really any arbitrary dockerized application.

https://github.com/project-aries/gradle-docker-

[2018-06-19 07:20] jonbom opened #604 "Exception cglib"
I am getting an exception when building an image.

### Current Behavior
[code]

### Steps to Reproduce (for bugs)
Don't really know what is causing the problem, because other projects are working, but it seems to be a problem with version clash for cglib.

### Your Environment
Gradle 4.8

[2018-06-19 09:36] jonbom commented on #604
@orzeh I am using 3.3.5

[2018-06-19 10:05] jonbom commented on #604
It is a matter of leaking classpath in gradle...

[2018-06-19 11:31] jonbom commented on #604
Would it be possible to use the [shadow plugin](https://plugins.gradle.org/plugin/com.github.johnrengelman.shadow) to shadow the shaded docker library?

[2018-06-19 11:58] cdancy commented on #604
@jonbom we already do that through use of the docker-java-shaded library:

https://github.com/project-aries/docker-java-shaded

[2018-06-19 13:54] jonbom commented on #604
Then some of the classes dont get shaded.

[2018-06-19 15:49] cdancy commented on #604
@jonbom what exactly do you mean by shaded here and what are you expecting? Did you open the library/jar itself to inspect its contents? Are you seeing other libraries/dependencies resolved through gradle which should in fact be within this library?

[2018-06-19 18:31] edmeister commented on #545
That is definitely correct. There is no other way to address a private image on the Docker hub.

[2018-06-19 18:37] jonbom commented on #604
@cdancy I mean that I get a class collition because I load cglib (and indirectly asm) to run a wadl2java code generation. I would not get that collition if all dependent libraries for the (excellent btw) docker-plug-in would have been shadowed (changed packet structure).

[2018-06-24 08:57] bigpuritz commented on #604
getting the same error with **gradle-docker-plugin:3.3.6**.

is there any solution for this?

[2018-06-24 09:01] bigpuritz commented on #604
as far as i can see, there are conflicting asm-dependencies in my project:

dockerJava - Configuration:

[code]

runtime - Configuration:

[code]

[2018-06-24 10:51] cdancy commented on #604
Can folks put together a reproducible snippet that I can give a go? You can always force the correct dependency through gradle across the board.

[2018-06-24 11:48] cdancy commented on #604
I see this for both runtime and compile when I attempt to list the dependencies of an arbitrary project with this dependency:
[code]
Furthermore when I open the intellij IDE I don't see any extra dependencies being brought in from cglib either. I would need a reproducible project/snippet to be able to further debug.

[2018-06-24 17:46] bigpuritz commented on #604
[demo-docker.zip](https://github.com/bmuschko/gradle-docker-plugin/files/2131041/demo-docker.zip)

this is the demo project where you can see the issue. this is a simple springboot/vaadin application.
as far as i can see, the problem occurs only if i add **gradle-vaadin-plugin** to the build.gradle. without the plugin the generation of the docket image works well.

[2018-06-24 19:14] cdancy commented on #604
@bigpuritz Ok now I see where the potential problem is coming from. I was being thrown off by talk of `dockerJava` and the `docker-java-shaded` library but really it's the configuration we build at runtime which has the older cglib config which in turn is bringing in the older asm:
[code]
Mulling some things around as to how we can best solve this...

[2018-06-26 00:30] cdancy commented on #604
The change here appears to be on our end in that newer versions of cglib/asm have changes in types (interface to class) that need to be accounted for here I just haven't had time to look into things yet assuming I'm right. cglib/asm are finicky libraries and it may be that we need to shadow those deps here. @orzeh any thoughts to that?

[2018-06-26 07:20] orzeh commented on #604
@cdancy we may update `cglib` version, but it _may_ break existing build scripts. On the other hand maybe we should start to plan version 4 of this plugin and do it there?

[2018-06-26 08:45] hirowla opened #606 "How to configure a multi-stage build"
I was wondering how to create a multi-stage docker file. Below is an example of one which I didn't write:

[code]

The main lines I don't know how to do are:
- The first FROM command - not sure how to include the "as" part
- The final COPY command - not sure how to include the "--from build" argument.

Any ideas would be much appreciated! Thanks.

[2018-06-26 09:29] orzeh commented on #606
@hirowla this is not currently supported by the `Dockerfile` task. Would you be interested in sending PR for this?

[2018-06-26 13:15] orzeh commented on #606
@hirowla @cdancy  I've prepared PR. Please take a look. Any feedback appreciated.

[2018-06-27 14:06] cdancy commented on #606
Thanks for knocking this out @orzeh! I have one minor change to get in and we can spin a new release with the next day or so.

[2018-07-02 19:22] watzerm opened #612 "Using the deprecated env property causes arguments to be lost"
Hello,

since the commit https://github.com/bmuschko/gradle-docker-plugin/commit/efd328ad725000ce55ced09f97b4e58f61767475 I ended up losing arguments with the old env property, for example:

`env = ['JAVA_OPTS=-XX:MetaspaceSize=96M -XX:MaxMetaspaceSize=256m']`

Now splitting the environment variable by `def keyValuePair = envVar.split('=')` and adding it to the new map using `envVars.put(keyValueP

[2018-07-02 19:31] cdancy commented on #612
@watzerm Apologies for breaking things. I'll spin up a patch/bug release now.

[2018-07-02 21:04] cdancy commented on #612
This PR was resolved via #614

[2018-07-02 21:04] #612 closed

[2018-07-03 02:03] rage-shadowman opened #615 "Howto build multiple docker images"
### Context
I'm trying to run integration tests using docker.

My ideal workflow is:
1. Create a "main" docker image (the main service being tested)
2. Create a "test" docker image (for running the integration tests)
3. Start up any "dependent" docker images (such as localstacks), waiting for them to finish loading (possibly running setup after they load)
4. Start up the "main" docker image to tes

[2018-07-03 13:56] cdancy commented on #615
@rage-shadowman so the idea of this plugin is to provide low-level building blocks in the form of tasks around all of the various docker API endpoints (e.g. create container, start container, inspect container, etc.). The scenario you're describing is what this plugin is mainly used for it just requires you to chain all the tasks together that you want.

However, you would not be the first to ask

[2018-07-03 15:15] cdancy commented on #588
Fix for this ... quirk ... should be in latest build if folks want to give things a go.

[2018-07-03 15:15] #588 closed

[2018-07-03 15:16] cdancy commented on #571
Closing this issue. Feel free to re-open if you'd like to further discuss things.

[2018-07-03 15:16] #571 closed

[2018-07-03 15:18] cdancy commented on #612
Bug fix release `3.4.1` has been released with this fix.

[2018-07-04 00:53] rage-shadowman commented on #615
@cdancy I think the main reason anything here is daunting is the lack of documentation and examples. Everything I'm seeing is all about creating a single docker image, starting it up, and running tests against it. I'll give your link a shot though. Thanks.

[2018-07-04 01:22] cdancy commented on #615
To be fair the functional tests provide loads of examples on how to do any and everything this plugin provides. We could provide endless examples in the README but the problem becomes who best to serve and potentially at the risk of muddling up our initial insight into the plugin IMO.

[2018-07-04 10:53] adrian-baker commented on #246
Is there any way to debug this issue, eg to log what client certs are actually being used? I'm hitting this exception on 3.4.1, both with and without explicitly setting certPath (DOCKET_CERT_PATH etc are set).

[2018-07-04 12:07] cdancy commented on #246
@adrian-baker we delegate to the docker-java library behind the scenes and so not much more we can do on our end. Any luck with running your gradle build with --info or --debug?

[2018-07-04 18:30] adrian-baker commented on #246
--debug from gradle wasn't helpful, but things were clearer when I checked the log on the docker machine:

`time="2018-07-04T18:19:57.791620161Z" level=error msg="Handler for POST /build returned error: invalid reference format: repository name must be lowercase"`

As an aside, it seems very odd that docker-java would report this as just a java.net.SocketException.

For some reason, if I have an u

[2018-07-04 22:12] cdancy commented on #246
That's not a bad idea. Care to send in a PR for this functionality ?

[2018-07-07 15:42] cdancy commented on #604
As of version `3.4.2` cglib is now shaded within our plugin and should cause no more issues for users.

[2018-07-07 15:42] #604 closed

[2018-07-09 14:36] mfulgo opened #618 "Breaking Change in v3.2.0"
As of commit f42e16ab, files are now copied into an `app-lib` folder. Unfortunately, that seems to break some assumptions from dependent plugins such as nebula-docker. See [NebulaDockerPlugin.groovy#L78](https://github.com/nebula-plugins/nebula-docker-plugin/blob/v1.2.3/src/main/groovy/nebula/plugin/docker/NebulaDockerPlugin.groovy#L78)

I'm also open to this being a case of "they're using it wron

[2018-07-13 20:06] rage-shadowman commented on #615
I've looked at the src/funcTest directory in this project and picked one at random (since none of the names seemed to indicate a multi-container test) and it appeared to be dealing only with a single docker container. I then picked another at random, and another, and a few more, and they all appeared to deal only with a single container.

Perhaps I just don't know how to read them (I am fairly new

[2018-07-16 08:45] orzeh commented on #615
@rage-shadowman this plugin won't do everything for you. As mentioned above it gives you building blocks, but you have to put them together.

I agree you won't find here a complete example which covers your use case, but I hope existing functional tests can help you to create one. Probably it only requires some time to grasp how things work.

Below you can find a hint what tasks to use on each ste

[2018-07-16 11:07] priitliivak commented on #588
Still managed to replicate this with 3.4.4 release

[2018-07-16 11:50] cdancy commented on #588
@priitliivak if that's the case you may have multiple versions of cglib on your path which are NOT coming from this library. If you can put together a reproducible sample project I can take a look but we're now using a shaded version of cglib which has a package path that is known only to the library itself so nothing else would be picking it up.

[2018-07-16 16:29] rage-shadowman commented on #615
Thanks @orzeh ! No need to clutter up your issue list with this. Closed.

[2018-07-16 16:29] #615 closed

[2018-07-17 20:58] bmuschko opened #620 "Externalize and clean up documentation"
### Expected Behavior

Documentation should only contain relevant information. Documentation should be generated as AsciiDoc and hosted on GitHub pages.

### Current Behavior

The documentation gets to long for a single page without navigation. It also contains outdated information e.g. on testing.

### Context

Make documentation more approachable and readable.

[2018-07-17 20:59] bmuschko commented on #581
Just seeing this now. I just opened https://github.com/bmuschko/gradle-docker-plugin/issues/620 which is likely a duplicate but contains more details.

[2018-07-19 14:26] rinswind opened #621 "make a convention to imitate docker-compose?"
Since there are tasks to reflect every docker primitive command I think a plugin can be made that will encode the docker-compose behaviour within the gradle build script.
If I can define the Dockerfile in gradle, why not the  `docker-compose.yml`'s. It is nice to have the gradle script as the single source of truth and also be able to use groovy anywhere and hook tasks etc.
Do you find value in su

[2018-07-19 14:35] bmuschko commented on #621
Docker Compose works somewhat separate from the actual Docker commands that are run invoked through the Docker client. In fact it's a different executable (at least on the command line). While I can see the need for wanting to have a uniform Gradle plugin with functionality for both, it would make the architecture of the plugin far more complex. I've made some good experience with a different Grad

[2018-07-19 14:38] cdancy commented on #621
Agreed. Lets not re-invent the wheel if we don't have to. If other plugins/libraries do this easily enough I would say use them if only to gain all the knowledge the communities around said libraries have and can help you with.

[2018-07-19 14:38] #621 closed

[2018-07-19 14:42] rinswind commented on #621
If I am not mistaken `docker-compose` is a utility program which translates the `docker-compose.yml` to a stream of calls to the docker daemon, using the same interface that this plugin's tasks use. It does not have any privileged access to the containers etc. So it doesn't seem technically impossible to do it's job. Right?
With that said I understand you point - this was just an inquiry.

[2018-07-19 14:43] bmuschko commented on #598
You could just create multiple tasks with different names. That's probably the most straight forward solution.

[code]

I don't think we'll want to overcomplicate the API we have in place right now.

[2018-07-19 14:53] bmuschko commented on #621
@rinswind Technically it's absolutely possible. It's a matter of wanting to have two different code paths (one that communicates with Docker Java, the other that calls an executable) and having to maintain it. Apart from that the plugin's DSL would have to reflect configuration options for Compose making it harder to understand, document and evolve.

[2018-07-19 15:02] rinswind commented on #621
@bmuschko Understood.
What compelled you to have a gradle DSL for the Dockerfile? Similar arguments hold there it seems.
Should I move this discussion somewhere else?

[2018-07-19 15:16] bmuschko commented on #621
@rinswind When referring to the DSL I mainly mean the exposed extension (so everything in the `docker` configuration block). The instruction-specific API of the task Dockerfile was exposed for convenience reasons. You do not have to use it. You can also [declare "plain" instructions](http://bmuschko.github.io/gradle-docker-plugin/docs/groovydoc/com/bmuschko/gradle/docker/tasks/image/Dockerfile.htm

[2018-07-19 15:30] bmuschko commented on #618
Optimally, the relevant task would expose a property that refers to the target directory. Any other code could then reference the property and always get the correct value independent of the underlying implementation.

This was a breaking change and we made a change to optimize image creation.

[2018-07-20 22:01] swilson11 opened #622 "Long ugly stack trace when building with Java 10"
When using the plugin to build a docker image on Java 10, a long ugly stack trace is displayed, however the image still seems to build correctly. I think this is the same issue as https://github.com/spotify/dockerfile-maven/issues/90

The following warnings have been detected: WARNING: HK2 service reification failed for [org.glassfish.jersey.message.internal.DataSourceProvider] with an exception:

[2018-07-22 04:08] ayushcs76 commented on #622
I am also getting the same error while using JDK 10 also below dependencies in pom.xml not working....

 <dependency>
<groupId>javax.activation</groupId>
  <artifactId>activation</artifactId>
<version>1.1.1</version>
</dependency>

[2018-07-22 12:59] cdancy commented on #622
What do you mean by they are not working?

[2018-07-22 15:17] bmuschko commented on #581
I am closing this issue in favor of #620.

[2018-07-22 15:17] #581 closed

[2018-07-22 15:20] bmuschko commented on #561
Assigned a major release to it as it will likely be a breaking change.

[2018-07-22 15:20] bmuschko commented on #598
I am going to close this issue for now. Please let me know if you are unsure about how to implement this in your own build.

[2018-07-22 15:20] #598 closed

[2018-07-22 15:36] bmuschko commented on #593
The `DockerJavaApplicationPlugin` is not well suited for this use case. There will be a different plugin to support Spring Boot application. For more information, see https://github.com/bmuschko/gradle-docker-plugin/pull/619.

[2018-07-22 15:36] #593 closed

[2018-07-23 05:29] ayushcs76 commented on #622
Hi Cdancy,

Below are the two errors coming. Can you pls suggest what went wrong.

The following warnings have been detected: WARNING: HK2 service reification failed for [org.glassfish.jersey.message.internal.DataSourceProvider] with an exception:
MultiException stack 1 of 2
java.lang.NoClassDefFoundError: javax/activation/DataSource
at java.base/java.lang.Class.getDeclaredConstructors0(Native Met

[2018-07-23 08:18] rinswind opened #626 "`Dockerfile.onBuild { ... }` can not handle further DSL calls within the closure"
### Expected Behavior
[code]
I expected the call above to emit into the `Dockerfile`
[code]

### Current Behavior
Instead the following `ConcurrentModificationException` is thrown
[code]

### Context
It makes sense for the Dockerfie DLS to limit the need to write direct docker instructions only to the escape `Dockerfile.instruction()` method.
It may be more user friendly for `onBuild` to only acce

[2018-07-23 14:29] bmuschko commented on #620
Currently working on it. Stay tuned for a PR (probably later today).

[2018-07-23 16:01] swilson11 commented on #622
You are right about the version - I fat fingered and typed 3.2.4 when latest is 3.4.4 - once I updated the version the stack trace went away. Sorry for the trouble and thanks for the help.

@ayushcs76 I'll bet you have an older version as well, try using 3.4.4.

[2018-07-23 16:01] #622 closed

[2018-07-23 16:42] cdancy commented on #622
I did ask above ;)

[2018-07-23 17:52] cdancy commented on #586
Lets close this issue for now as there are workarounds using the `onError` closures.

[2018-07-23 17:52] #586 closed

[2018-07-23 18:17] exFalso opened #628 "Add custom flag input to DockerBuildImage, or add explicit support for --cache-from"
Currently there's no way to pass in `--cache-from` to `DockerBuildImage`.

### Expected Behavior

We should be able to specify the flag.

### Current Behavior

Currently we cannot specify this flag.

### Context

I'm trying to use the build cache using `--cache-from` to speed up CI builds.

[2018-07-24 13:49] #620 closed

[2018-07-24 17:40] davsucks opened #631 "Docker registry not being set"
Hello,
I'm using a corporate docker registry (and I'm also working behind a proxy, but I don't think that's the issue). When I configure the `docker` closure to use my corporate registry and try to pull an image, I get an error:
`com.github.dockerjava.api.exception.InternalServerErrorException: {"message":"Get https://registry-1.docker.io/v2/: Proxy Authentication Required"}`

While the error is c

[2018-07-25 18:53] davsucks commented on #631
I actually ended up completely switching my approach to the problem I was solving so I'm going to mark this as closed. Thanks for the reply though!

[2018-07-25 18:53] #631 closed

[2018-07-26 12:16] liuzy163 opened #632 "User document links broken"
The link doesn't work anymore http://bmuschko.github.io/gradle-docker-plugin/docs/groovydoc/com/bmuschko/gradle/docker/tasks/image/DockerPullImage.html.

Got 404 error.

[2018-07-26 13:31] cdancy commented on #632
@bmuschko looks like the recent doc update broke all groovydoc links.

[2018-07-26 14:29] bmuschko commented on #632
Thanks for letting us know. I just fixed the issue. Be aware that the path you posted above won't work anymore. Please use the links from the published user guide.

Seems that the GhPages Gradle plugins has trouble with copying content into different subdirectories. Instead of an additive operation is overwrites the existing content. I will report an issue.

[2018-07-26 14:29] #632 closed

[2018-07-26 14:33] cdancy commented on #632
@bmuschko thanks for the quick response. It should be noted that a developer that knows I work on this project stopped over yesterday and said something to the effect of: "Hey was just poking around the gradle-docker-plugin and noticed the new docs. Very nice." :)

[2018-07-26 14:45] bmuschko commented on #632
@cdancy Great to hear!

[2018-07-27 02:46] bmuschko commented on #424
@orzeh @cdancy Can we close this issue? The IPv4 has been merged and it doesn't look like @ekoon is going to follow up. We should either add the IPv6 option ourselves or close this issue.

[2018-07-27 11:51] cdancy commented on #424
@bmuschko closing for now. Folks can feel free to re-open if they want to further discuss things.

[2018-07-27 11:51] #424 closed

[2018-07-27 14:38] liuzy163 commented on #632
@bmuschko  The problem is still there. If you go to your [published user guide](http://bmuschko.github.io/gradle-docker-plugin/) and click the hyperlink "DockerPullImage" in section 2.3.2 Images table, it leads you to the URL I reported and still gets 404 at this time.

[2018-07-27 14:54] bmuschko commented on #632
@liuzy163 WTF! It seems like the GhPages Gradle plugin doesn't work reliably if you use `from`/`into`. However, it seems like it _does_ work if you use it the other way around. It has been corrected.

[2018-07-31 20:46] leialexisjiang opened #638 "DockerPushImage does not support multi-tags"
Hello,

I need to push docker images with multiple tags.

As no tags attribute in DockerPushImage, I have to push tag separately.

[code]

Is that possible to add tags in DockerPushImage just like DockerBuildImage
http://bmuschko.github.io/gradle-docker-plugin/api/com/bmuschko/gradle/docker/tasks/image/DockerPushImage.html

Thanks
Regards

[2018-08-01 19:06] leialexisjiang commented on #638
@orzeh ok this makes senses, thx for your the quick answers.

[2018-08-01 21:51] #638 closed

[2018-08-02 11:27] mwhipple commented on #599
I should be able to throw a PR together for this today (let me know if anyone else already started it).

[2018-08-02 13:42] bmuschko commented on #599
@mwhipple Go for it. Please also add a functional test. Thanks!

[2018-08-02 13:45] cdancy commented on #599
This will require a bump in the `docker-java-shaded` library. @mwhipple once I release a new version, which should be shortly, you can add that change to your PR.

[2018-08-02 13:50] bmuschko commented on #599
@cdancy Thanks for that pointer. I completely forgot about it. Can't wait to get onto the Spotify library. ;-)

[2018-08-02 13:51] cdancy commented on #599
@bmuschko at least our users are not hitting random classpath/cglib issues anymore so there's that :)

[2018-08-02 13:55] cdancy commented on #599
@mwhipple new version has been released. Thanks for the PR on that library as well ;)

[2018-08-04 04:14] bmuschko commented on #358
@mwhipple I was just having a look at this code. Could you explain the use case for this change (with a concrete, real-world example)? Why do you require customization of the default entrypoint the plugin provides?

[2018-08-04 09:55] mwhipple commented on #358
Sure (this plugin seems to be getting a fairly thorough auditing :)). My use of this feature involves not so much customizing the default entry point as augmenting the startup in a minimally invasive way by having a script that performs some setup work and then exec's the original entrypoint script. These are cases where the application itself adheres to the conventions of this plugin, but some la

[2018-08-04 10:04] mwhipple commented on #358
I had plans to add some groovy doc the composite instruction since it acquired a link from other docs. Let me know if that is desired.

[2018-08-04 14:33] bmuschko commented on #358
@mwhipple Thanks for your explanation. Let me reiterate what I understand. You'd like to keep the start script in place produced by the application plugin. You'd want to add another shell script with additional setup that in turn calls the original start script. Is it correct to assume that you also add a `ADD` or `COPY` instruction to the Dockerfile. If yes, how do you do it? The [user guide exam

[2018-08-04 14:56] mwhipple commented on #358
The way that the custom script was added to the project was by adding it into the dist dir before packaging with something like:
[code]
(I try to avoid scattering packaging info between the Dockerfile and the build system)

For the further questions I did consider the start script but that seemed to be unnecessarily cumbersome since my concern wasn't around the functionality actually provided by t

[2018-08-04 15:24] mwhipple commented on #358
Regaring the limitations of exec: it seems like another variation of the same question: where is the line between the opinionated DSL and the more generalized framework? (there's some gradle design principle like that which I'm sure you know  ;) but I don't remember the specific wording). The framework is there, the opinions are yours to have.

[2018-08-04 15:59] bmuschko commented on #358
I'll think about this more over the weekend. Overall I feel that we are trying to solve a shortcoming of the Gradle core application plugin. You'd have the same problem if you wanted to customize the distribution produced by the application plugin independent on whether it should run in a container or not. You basically want to say "before running the program set up the environment". Creating anot

[2018-08-04 20:45] mwhipple commented on #358
by "generalized framework"  I just meant that all the essential pieces are provided to be wired together imperatively with the appropriate logic (framework was probably a bad word choice and I may have been confusing or abusing the underlying principle), and that bit was referring to the decisions around where to add conventions and more declarative approaches, but I don't think this track of conv

[2018-08-05 15:54] mwhipple commented on #358
I'll add a bit more input if the short term solution is still a question. I think we're saying the same thing from different angles regarding capabilities vs. contentions: as you just said the capabilities are there so whether it makes sense to have more declarative support on top of the conventions or just potentially provide guidance on a more manual approach is somewhat discretionary (that's th

[2018-08-05 16:27] mwhipple commented on #358
This approach was likely also from a preference to avoid after the fact mutation (which could certainly cause tension with convention). I can play around with that route tomorrow (replacing the instruction outside of the plugin) since the resulting recipe would likely be really simple.

[2018-08-05 17:25] bmuschko commented on #358
@mwhipple I am mostly concerned about the things below. The biggest concern for me is 1. and 2.

1. Based on the existing documentation it wasn't clear to me why you'd even want to use `exec`. It doesn't describe the use case and the _why_. We'll definitely need to improve on that. I am sure that other users will have the same issue.
2. The functional test and the code snippet in the user guide do

[2018-08-05 17:55] bmuschko commented on #358
One thing I'd like to mention: Would it maybe just be good enough if you'd provide your custom entrypoint when starting the container with [docker run --entrypoint run.sh](https://docs.docker.com/engine/reference/run/#entrypoint-default-command-to-execute-at-runtime)? The only thing you'd need to add to the image is the `run.sh` file.

[2018-08-05 19:18] mwhipple commented on #358
Changing the docker run invocation seems tricky to plug into different schedulers when compared to having it be part of the image. If the concerns are mostly around current state I could likely help out with that (though vision for the project outweighs that). The current closure approach should maprobably to a Kotlin function with a receiver since it's not relying on runtime metaprogramming (the

[2018-08-06 14:55] bmuschko commented on #358
Thanks for the info!

Cool, I will probably work on clarifying the documentation soon.

[2018-08-06 18:33] bmuschko commented on #526
@gabrielhuff Thanks for the clarification. Closing the issue.

[2018-08-06 18:33] #526 closed

[2018-08-06 18:35] bmuschko commented on #547
Sounds like there's is a workaround with `**`. Any other issue will need to be addressed in Docker Java. Closing this issue for now.

[2018-08-06 18:35] #547 closed

[2018-08-08 14:51] bmuschko commented on #406
I am not very fond of this change as there's no separation of concerns. The `DockerExtension` belongs to the `DockerRemoteApiPlugin` and doesn't have any knowledge about other plugins that apply it internally e.g. the `DockerJavaApplicationPlugin`.

With this approach you introduced strong coupling between those plugins and would not be able to physically separate them. At the moment this approach

[2018-08-08 15:26] cdancy opened #642 "Address use of "progress logger" which uses gradle's internal API"
Take a look at the below library to replace existing impl.

https://github.com/ctongfei/progressbar

[2018-08-08 19:53] JLLeitschuh commented on #406
@bmuschko sounds like your extension to be something like `ExtensionAware`?

[2018-08-08 19:59] bmuschko commented on #406
@JLLeitschuh It automatically is `ExtensionAware` as soon as you register it via the `ExtensionContainer`. See [this](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/DockerSpringBootApplicationPlugin.groovy#L52) for example.

I just talked to the Gradle Kotlin DSL team and they said that 4.8 [automatically supports discoverability in the IDE

[2018-08-08 20:12] JLLeitschuh commented on #406
I'd recommend adding a unit test that tries calling these API's after you remove them to make sure that Gradle generates them correctly for your use case.

[2018-08-08 23:16] bmuschko commented on #406
@JLLeitschuh I made the relevant changes in https://github.com/bmuschko/gradle-docker-plugin/commit/f1173b751520c93861e76887b0725f966e4e8fcb. The important piece is the removal of the methods on `DockerExtension` and the [functional test case for the Kotlin DSL](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/functTest/groovy/com/bmuschko/gradle/docker/KotlinDslCompatibilityFuncti

[2018-08-09 13:12] JLLeitschuh commented on #406
LGTM!

[2018-08-09 20:12] double16 opened #643 "Unable to configure different Docker instances per task"
[code]

### Expected Behavior
Image is built and pushed using the local Docker daemon. Container is created in the remote Docker UCP instance.

### Current Behavior
Image is built and pushed using the local Docker daemon. Container is created in the local Docker daemon.

### Context
We can't build and push using a remote Docker EE instance because the build and push calls can be run on different n

[2018-08-09 20:18] cdancy commented on #643
@double16 I'd be willing to entertain this functionality so long as the impl was clean and straight forward.

[2018-08-16 13:25] thetric opened #647 "SpringBootAppPlugin: Cannot pass environment vars to container"
I migrated my Spring Boot app from the DockerJavaAppPlugin + Gradle's `application` plugin to the simpler DockerSpringBootAppPlugin and wondered why I couldn't pass `JAVA_OPTS` to the container:

[code]

### Expected Behavior
It should be possible to pass JVM args to the container (like in the DockerJavaAppPlugin+`application` plugin combo). E.g. the Spring Boot app should pick up the profile spec

[2018-08-17 17:56] thetric commented on #647
Do you plan to add a way to pass JVM args via environment vars to the `java` command? So the final command would look like `CMD java  $JAVA_OPTIONS -jar boot.jar`

[2018-08-17 20:02] shilpashreevsk commented on #516
How do you remove the previous version of images of the one with <none>  after building a new version ?

[2018-08-18 09:13] bmuschko commented on #647
You have two options here:

1. [Overwrite the default entrypoint instruction](https://docs.docker.com/engine/reference/run/#entrypoint-default-command-to-execute-at-runtime) with `--entrypoint` of your `docker run` command.
2. Modify the instructions generated by the `Dockerfile` command created by the `dockerCreateDockerfile` task. For example you could just add the environment variable. I am pla

[2018-08-18 11:10] thetric commented on #647
I'm using a Docker Stack so this option isn't feasible for me.

Sounds good.

I thought passing `JAVA_OPTS`/Spring profiles from the Stack/Docker compose file would be a huge use case so I wanted to minimize the additional work for the user. I suggest modifying the `ENTRYPOINT` to `CMD java $JAVA_OPTIONS -jar boot.jar` or `ENTRYPOINT [ "sh", "-c", "java $JAVA_OPTIONS -jar boot.jar" ]`

[2018-08-19 21:35] orzeh commented on #647
@bmuschko @cdancy  we have discrepancy regarding overriding `ENTRYPOINT` or/and `CMD` between `DockerSpringBootApplicationPlugin` and `DockerJavaApplicationPlugin`. In the latter one you can do it easily with `exec` closure. Maybe we should add the same functionality do the former?

[2018-08-19 23:41] cdancy commented on #647
@orzeh yeah I would agree with that.

[2018-08-20 07:10] bmuschko commented on #647
@orzeh @cdancy For more context see [this discussion](https://github.com/bmuschko/gradle-docker-plugin/issues/358#issuecomment-410421930).

[2018-08-21 13:25] aleksandar78 opened #648 "DockerCopyFileToContainer fails to copy a file from local Windows to remote Linux Host"
### DockerCopyFileToContainer fails to copy a file from local Windows to remote container running on Linux Host.

### Expected Behavior

My copyFileToDBContainer task will copy a file, SQL dump file to be precise, from local project folder to
remote docker container path. Remote docker container is official Postgres images based on Linux.
Code:
[code]
I'm linux user and on my local machine everyth

[2018-08-28 23:42] unlimitedsola commented on #588
@cdancy I can't understand why do we have to add `jcenter()` into the root `repositories` block instead of the one inside the `buildscript`?

[2018-08-30 11:52] reds7373 opened #650 "How to specify build options ulimit when building the docker image"
We need to set the --ulimlit options for some of our images. Is there any way we can set those when creating the image via DockerBuildImage task?
e.g something equivalent to
docker build **--ulimit nofile=65536:65536** -t test/image:latest
Thanks!

[2018-08-31 08:26] thetric commented on #647
What is the status of this issue?

[2018-08-31 10:02] marcoebbinghaus opened #651 "support --pid in DockerCreateContainer"
There is no support for the --pid flag (docker create).

### Expected Behavior
It could look something like:
task createExpertTestContainer(type: DockerCreateContainer) {
    targetImageId { "imagename:latest" }
    portBindings = ["8082:8080"]
    containerName = "containerName"
    **pid = "host"**
    tty = true
}

### Current Behavior
There is no property for pid mode in the DockerCreateContai

[2018-08-31 13:29] cdancy commented on #651
@marcoebbinghaus this is true. Would you be up for sending in a PR for this enhancement?

[2018-08-31 13:51] cdancy commented on #650
@reds7373 this is indeed currently not supported. Would you be interested in sending in a PR for this functionality?

[2018-08-31 14:10] cdancy commented on #588
@unlimitedsola is your question related to this issue/version or more in general?

[2018-08-31 17:57] marcoebbinghaus commented on #651
@cdancy I prepared a PR, but I have no experience with groovy (beyond using it within gradle / gradle plugins), so I am not 100% confident about the solution. But I created a test and additionally inspected the container created by the new test case, and it indeed looked good. I will publish the PR today or tomorrow.

[2018-09-01 06:48] bmuschko commented on #647
@thetric I am currently traveling but will have a look at it by the end of next week.

[2018-09-05 19:26] JLLeitschuh opened #653 "DockerRegistryCredentials should implement org.gradle.api.credentials.PasswordCredentials"
### Current Behavior
Currently `DockerRegistryCredentials` doesn't implement the `PasswordCredentials` interface.

### Context
I have a general purpose login configuration extension I use across my build that I access like this:
[code]

Not implementing the interface, in order to work with this code, I need to create my own adapter class:
[code]

It would be nice to not have to do this.

### Your

[2018-09-05 21:28] JLLeitschuh opened #654 "Convert task inputs to new Gradle Provider API"
https://docs.gradle.org/current/userguide/lazy_configuration.html

### Expected Behavior
All fields on all tasks need to support being configured lazily.

### Current Behavior
Currently, only some of the fields are settable lazily. For example, `DockerTagImage::repository` is missing a lazy configuration API.

### Context
The current way of setting fields that come from other fields is a very conv

[2018-09-05 21:29] bmuschko commented on #654
Thanks for bringing this up. Closing as a duplicate of https://github.com/bmuschko/gradle-docker-plugin/issues/561. I am currently working on a first step toward it.

[2018-09-05 21:29] #654 closed

[2018-09-09 13:47] unlimitedsola commented on #227
LOL, I had the same thought (the `id` means the SHA value) with you until I saw this!

[2018-09-11 20:56] bmuschko commented on #647
@thetric Would it solve your issue if you could provide any kind of argument via the plugin DSL?

Example:

[code]

The arguments would be passed as the CMD argument in the Dockerfile such as:

[code]

[2018-09-12 09:04] thetric commented on #647
I found another way to specify the JVM options: via [`JDK_JAVA_OPTIONS`](https://docs.oracle.com/javase/10/tools/java.htm#JSWOR624):

No need to change the Gradle Docker plugin, simply modify the `docker-compose.yml` (from my first comment):

[code]

I think it is sensible to add this to the user guide

[2018-09-12 09:04] #647 closed

[2018-09-13 17:08] Hubbitus opened #656 "defaultCommand incorrectly format CMD"
Hello.

[code]

### Expected Behavior
`Dockerfile` have string:
[code]

### Current Behavior
`Dockerfile` have instead:
[code]

### Context
I want write in file environment variable if it present on run time:

It work with:
[code]
But generated variant:
[code]
by plugin from:
[code]

obviously fails with error on start:
`/bin/sh: [ sh -c 'test -n -----BEGIN: not found`
where `-----BEGIN: not found

[2018-09-13 20:05] cdancy commented on #656
@Hubbitus the [defaultCommand](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/Dockerfile.groovy#L192) method takes a _List of Strings_ which may be your problem.

[2018-09-13 21:50] #653 closed

[2018-09-14 08:33] Hubbitus commented on #656
@cdancy you point to method which takes `variable amount of Strings`, not `List of String`:
so
[code]
lead to error:

That expected.

If you speak I could provide 3 arguments instead of 1 string like:
[code]
that possible, but again in plugin work incorrectly and in `Dockerfile` will be present like:
[code]

[2018-09-14 18:29] cdancy commented on #656
@Hubbitus yeah this might be one of those things you'll have to play around with a bit to get exactly right. You could try using the generic `instruction` method which will just inject the string exactly as-is into the Dockerfile.

[2018-09-14 19:35] denisharder opened #657 "Allow comments at top of Dockerfile when using Dockerfile task"
### Expected Behavior
When using the DockerFile task and importing from a template, it should ignore any first lines that are comments when looking for first FROM (or ARG) statement. When I build a docker image using default docker behavior, this does not cause an issue.

### Current Behavior
Currently, if there are comments at the top of the DockerFile, it errors with message expecting FROM (or A

[2018-09-14 21:06] denisharder commented on #657
After playing around with this.. it's a relatively simple fix, but it would still be nice to have.

If dockerfile looks like:
[code]

What I would like todo:
[code]

What I ended up doing:
[code]

[2018-09-14 21:08] cdancy commented on #657
Yeah this is weird. Would you be interested in submitting a PR for this fix/work?

[2018-09-19 03:52] santhoshk2311 opened #658 "Requesting new release with updated docker java library version to 3.1.0-rc-5"
### Expected Behavior

Requesting new release of gradle docker plugin that consumes docker java library version 3.1.0-rc-5.

### Current Behavior
Currently it uses docker java version 3.1.0-rc-3.

### Context

Docker java library was released recently with few bug fixes. I am looking in specific the resolution for the below issue in the docker java library.
https://github.com/docker-java/docker-ja

[2018-09-21 23:02] bmuschko commented on #658
@cdancy Can you upgrade the shaded library and release a new version? We'll need this for multiple PRs.

[2018-09-22 00:52] bmuschko commented on #657
@denisharder Just wondering...why do you have a comment in the template if it isn't a valid Dockerfile in the first place? I don't think we should treat it as something special. Apart from that the templating functionality is something that was added to this plugin but isn't really a functionality in plain Docker. I see that you already found a workaround in your own code. I suggest you just use t

[2018-09-22 01:02] bmuschko commented on #656
We might have to revisit the internal logic. @Hubbitus Why do you pass in a multi-line String (`'''`) but then only use a single line?

[2018-09-22 01:05] bmuschko commented on #648
I think the issue is that the fields `remotePath` and `hostPath` are not represented by the correct data type. They should be a `java.io.File` instead of a `java.lang.String` probably. Just a guess...

[2018-09-22 02:59] denisharder commented on #657
@bmuschko … perhaps I am using your functionality not as intended, but the “template” is actually a valid dockerfile. At my company, we have 100s of repos with fully functioning dockerfiles residing in the source code. On a local developer machine, they can build a docker image with gradle or using basic docker commands. From my perspective, we build the repos thru our CICD pipeline and inject add

[2018-09-22 18:43] bmuschko commented on #657
I had a look at this again and saw that the [validation logic](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/Dockerfile.groovy#L45-L55) is part of the `Dockerfile` task type implementation. At the moment it doesn't take into account comments as one of the first entries in the Dockerfile so we'll need to enhance the logic.

[2018-09-22 19:14] bmuschko commented on #657
As a side note: This issue is not specific to using Dockerfile templates. It happens with any Dockerfile that contains comments before a `FROM` or `ARG` instruction.

[2018-09-23 15:02] zinaLacina commented on #366
The issue happens because are not connected to your docker. Connect you, before running the command.

[2018-09-24 13:47] cdancy commented on #658
PullRequest going [HERE](https://github.com/bmuschko/gradle-docker-plugin/pull/660). Assuming all goes well I'll merge shortly.

[2018-09-24 14:13] cdancy commented on #658
Looks like tests are hanging on `DockerReativeMethodsFunctionalTest > should call onNext when waiting for a container`. I'll have to look into this when I get a chance today.

[2018-09-24 14:37] bmuschko commented on #658
@cdancy Thanks! This is the same issue as reported earlier by @mwhipple: https://github.com/bmuschko/gradle-docker-plugin/pull/639#issuecomment-411105645

[2018-09-24 14:50] cdancy commented on #658
@bmuschko Ok so it's a more general issue. Lets take this PR in then and we can continue to poke at what is going on. Aside from this gotcha everything else appears to work as expected.

[2018-09-24 14:52] #658 closed

[2018-09-24 15:58] bmuschko commented on #658
@cdancy Let me know once the CI build is fixed again before merging `master` into my branch.

[2018-09-24 17:00] mwhipple commented on #658
reading this thread from the top I was hoping the race condition just went away in rc5 :disappointed: I'll resume poking at that tonight.

[2018-09-24 17:01] bmuschko commented on #658
@mwhipple Unfortunately, it didn't. The CI build is currently broken on `master` so we might have to revert in the meantime.

[2018-09-24 17:52] bmuschko commented on #658
@cdancy I ignored the failing test for now to unblock development on `master`: https://github.com/bmuschko/gradle-docker-plugin/commit/9aa296a5d7b9391cdf2c8dc330ed37e2e183252b. Please re-enable as soon as the issue has been fixed.

[2018-09-24 18:17] cdancy commented on #658
Roger that.

[2018-09-24 18:35] kgeis commented on #41
I'm running into this now with gradle-docker-plugin 3.6.1. docker-java 3.0.0 was released in June 2016. Can we re-open this issue?

[2018-09-24 18:40] kgeis commented on #41
Thanks for the workaround, @johnrengelman. I made it DRYer and Groovier:
[code]

[2018-09-25 13:08] #555 closed

[2018-09-25 17:48] santhoshk2311 commented on #658
i dont see the latest release with this change in maven here. Any idea when will it be uploaded to maven repo?
https://search.maven.org/search?q=a:gradle-docker-plugin

[2018-09-25 17:55] cdancy commented on #658
@santhoshk2311 I publish to jcenter/bintray only. It acts as a proxy to maven-central as well, and is stupid-simple to deploy to, so I prefer to use that service over maven-central.

[2018-09-25 18:12] santhoshk2311 commented on #658
@cdancy i dont see the latest release here. http://jcenter.bintray.com/com/bmuschko/gradle-docker-plugin/
Not sure if i am looking at the wrong place. I see the latest release available is still v3.6.1.

[2018-09-25 18:14] cdancy commented on #658
@santhoshk2311 aaahhh ... you're looking for the latest release of this plugin? Hasn't been released yet as we still have an issue on `master` branch that is causing hangs due to the upgraded version of `docker-java`. Investigation is on-going...

[2018-09-28 18:57] rakeshyoga commented on #401
This issue happens on Docker for Mac Version 18.06.1-ce-mac73 (26764). Removing `~/.docker/config.json` fixes the problem.

[2018-10-02 17:33] bmuschko commented on #656
At the moment the "shell form" is not supported. Only the "exec form" is supported.

From the Docker documentation:

You method call should look like this:

[code]

which produces

[code]

I am going to close the issue. Let us know if you have further questions.

[2018-10-02 17:33] #656 closed

[2018-10-03 17:30] rpalcolea opened #665 "Support for Gradle 5"
### Expected Behavior
The plugin should be usable in Gradle 5

### Current Behavior
When running tests of the plugin, I get the following output:

[code]

### Context
Gradle 5 introduced groovy 2.5 which contains breaking changes on the way `@Immutable` is handled.

gradle-git is not maintained anymore, however grgit does and version https://github.com/ajoberstar/grgit/releases/tag/3.0.0-beta.1 co

[2018-10-03 17:33] bmuschko commented on #665
In the past I tried to upgrade the Gradle Git plugin and the relevant ecosystem. However, there have been radical changes to the way they are being used that I did not find well documented. I had shelved it but will have to pick it up again as soon as Gradle 5 comes out. Would you be interested in helping out with a pull request?

[2018-10-03 19:47] rpalcolea commented on #665
Hi @bmuschko ,

Yeah, we faced the issue with grgit and nebula-release-plugin and ended up porting some code and upgrading grgit.

I'll add this to my plans and try to upgrade the plugin followed by a pull request

[2018-10-03 23:02] rpalcolea commented on #665
Just heads up:

https://issues.apache.org/jira/browse/GROOVY-8806?page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel&focusedCommentId=16636494
https://github.com/apache/groovy/pull/803/files

I opened an issue on Groovy JIRA and there is a fix for it. I already verified it. So as long as this gets released and Gradle moves into 2.5.3 (potential version for the fix), this plugi

[2018-10-03 23:07] bmuschko commented on #665
Thanks, you may want to inform the Gradle project as well by opening an issue so they are aware of it.

[2018-10-04 16:13] mwhipple opened #666 "It should be clearer that existing container tasks support container names and not just generated ids."
### Expected Behavior

The existing container tasks should rely on a property with a name that conveys that either a (generated) container id **or** a specified container name (such as provided during container creation) can be used. Documentation should be updated appropriately.

### Current Behavior

The current name of and documentation for `targetContainerId` obscure the fact that a container

[2018-10-04 16:33] cdancy commented on #666
Whatever we decide to use so long as things are backwards compatible, at least for 1 major release, I'm OK with entertaining ideas. We (here internally) as well as my own projects/plugins that depend on this plugin use this option extensively.

[2018-10-04 16:36] bmuschko commented on #666
@cdancy Yes, absolutely. There will have to be a deprecation cycle for sure.

[2018-10-04 16:43] mwhipple commented on #666
FWIW, I think the documentation updates could be sufficient (I probably should update the issue title to be more problem rather than solution oriented). The Docker API docs use `id` (potentially for the sake of REST convention) and then just have `ID or name of the container` in the parameter description.

[2018-10-06 16:55] bmuschko opened #669 "Compile code statically as much as possible"
### Expected Behavior

For best binary compatibility and type checking ensure that most of the code can be compiled statically by adding `@CompileStatic`.

### Current Behavior

Code uses a lot of dynamic features and DSL style. In most cases that is unnecessary and makes it harder to change code without breaking it.

### Context

https://guides.gradle.org/designing-gradle-plugins/#prefer_using_a_

[2018-10-06 16:59] bmuschko opened #670 "User guide should demonstrate examples using the Kotlin DSL"
### Expected Behavior

Code examples show a tab for Groovy and Kotlin. Lower the bar for users new to the plugin.

For now do not auto-test code examples to ensure proper functionality. The verification can be done with a different PR.

### Current Behavior

User guide only shows examples for the Groovy DSL. Users of the Kotlin DSL will have to take the hurdle themselves.

### Context

Kotlin DSL

[2018-10-06 17:07] bmuschko commented on #544
We are now using the latest version of the Docker Java library. I assume this issue should be fixed. Please reopen if you find this not to be the case.

[2018-10-06 17:07] #544 closed

[2018-10-06 17:07] #561 closed

[2018-10-06 17:09] bmuschko commented on #628
`DockerBuildImage.cacheFrom` does exist now.

[2018-10-06 17:09] #628 closed

[2018-10-06 17:18] bmuschko opened #671 "DockerBuildImage should be incremental and cacheable"
### Expected Behavior

Define a `File` that stores the image id in a file. Annotated the field with `@OutputFile` so that Gradle can build the task incrementally. Add `@Cacheable` annotation to the class to make enable it for use with the Gradle build cache. Ensure that all `File` paths are stored with its relative path by adding `@PathSensitive(PathSensitivity.RELATIVE)` annotation.

### Current

[2018-10-06 21:24] bmuschko opened #673 "Auto-test user guide example code"
### Expected Behavior

Sample code rendered in the user guide should be tested to ensure that it works properly. Code needs to be externalized in its own files. A new test task executes the embedded code as part of the verification lifecycle.

### Current Behavior

Code is part of the user guide Asciidoc file. Broken code will stay undetected.

### Context

Verify source code in user guide.

[2018-10-08 14:27] JLLeitschuh opened #674 "Use task configuration avoidance API for task type of this plugin"
This is different from using the `Provider` API for gradle, this is more using the lazy task configuration API like `register` instead of `create`.

https://docs.gradle.org/current/userguide/task_configuration_avoidance.html

For example, instead of `project.task(DOCKERFILE_TASK_NAME, type: Dockerfile) { ...` using
`project.tasks.register(DOCKERFILE_TASK_NAME, type: Dockerfile) {`

[2018-10-08 14:32] bmuschko commented on #674
Thanks for creating the issue. I wanted to do this as well sooner or later. We might have a wait a little though as this feature was only introduced in a recent version of Gradle. In turn all consumers will have to upgrade the Gradle version in their projects. Sometimes it's hard and long process to do this leaving behind users stuck on an older version of Gradle.

[2018-10-08 14:35] bmuschko opened #675 "Remove all deprecations"
### Expected Behavior

Remove all deprecated fields and methods in this plugin. It's the perfect time to do this with a major release of the plugin.

### Current Behavior

We still have a bunch of old, deprecated code that has been around for ages.

### Context

Clean up the code base. Ensure that consumers now use the desired APIs.

[2018-10-09 16:20] #671 closed

[2018-10-09 19:14] bmuschko commented on #675
@cdancy Any chance you'll have some time to tackle this?

[2018-10-10 14:29] cdancy commented on #675
@bmuschko I can look things over in the next couple days.

[2018-10-10 14:42] #669 closed

[2018-10-11 21:01] #673 closed

[2018-10-11 21:01] #670 closed

[2018-10-11 21:02] bmuschko commented on #675
@bmuschko I suggest we get this done and then release or new version. Alternatively, we'll leave it in remaining deprecations and release now.

[2018-10-11 21:06] cdancy commented on #675
There are a few that can be removed but it will be the weekend before I can sit with things and make sure everything works correctly.

[2018-10-12 16:05] bmuschko commented on #675
@cdancy OK, thanks. I already had a brief look at it. It'll be more work than you think as the usability for end users will be quite different e.g. for `DockerBuildImage.getTag()`. ;-)

Maybe we just release as-is for now. Would love to get those feature out.

[2018-10-12 16:09] bmuschko commented on #675
@cdancy BTW: That one functional test (`autoRemove`) is still failing intermittently. We should get to the bottom of it.

[2018-10-12 16:46] jonatan-ivanov opened #679 "Spring Boot Application Plugin does not support Spring Boot Gradle Plugin 1.x"
Spring Boot Application Plugin fails with Spring Boot Gradle Plugin 1.x

### Expected Behavior
The Spring Boot Application Plugin to build the docker images if Spring Boot Gradle Plugin 1.x is present.

### Current Behavior
The Spring Boot Application Plugin (`com.bmuschko.docker-spring-boot-application`) fails if Spring Boot Gradle Plugin 1.x (`org.springframework.boot`) is present, it seems it n

[2018-10-12 16:51] bmuschko commented on #679
That's correct. The underlying Spring Boot Gradle plugin changed quite a bit between 1.x and 2.x. I don't think we'll want to maintain logic tailored to multiple versions. It will make our plugin very hard to maintain. On your end you'll likely be better off by upgrading to the new Spring Boot plugin and therefore a newer version of Spring Boot.

I will add a note to the documentation that only Sp

[2018-10-12 17:01] bmuschko commented on #679
Add a note to the documentation: https://github.com/bmuschko/gradle-docker-plugin/commit/5ffec06e862f2de80f864b50cf18e0df102041be

[2018-10-12 17:03] bmuschko commented on #679
I am going to close this issue as the effort for supporting the Spring Boot plugin version 1.x would be too high. The implementation will likely be straightforward. However, it would require a whole suite of tests to ensure that it works properly.

[2018-10-12 17:03] #679 closed

[2018-10-12 18:44] cdancy commented on #675
We could release now if you're up for it.

As for the `autoRemove` thing ... no idea. Maybe that will go away when we move to the other docker java library. IDK.

[2018-10-12 19:09] bmuschko commented on #675
Let's do it! Can you take care of it?

I am going to revisit sometime next week. It also occurred once on my machine. I have the feeling that there's just something wrong with the test case.

[2018-10-12 19:55] cdancy commented on #675
I can certainly knock it out. Stay tuned...

[2018-10-13 02:04] cdancy commented on #246
Conversation has died down so closing this issue. Feel free to re-open.

[2018-10-13 02:04] #246 closed

[2018-10-13 02:07] cdancy commented on #383
@bmuschko I think as a goal for some release in the future we make it a priority to ensure each test cleans up after itself. Any custom image/container created should be removed by the test. As things stand now the docker environment is left pretty dirty afterwards.

[2018-10-13 02:08] cdancy commented on #545
Conversation has died down here so closing issue. Feel free to re-open should you want to discuss things anymore.

[2018-10-13 02:08] #545 closed

[2018-10-13 02:08] cdancy commented on #540
Conversation has died down here so closing issue. Feel free to re-open should you want to discuss things anymore.

[2018-10-13 02:08] #540 closed

[2018-10-13 02:09] cdancy commented on #564
Conversation has died down here so closing issue. Feel free to re-open should you want to discuss things anymore.

[2018-10-13 02:09] #564 closed

[2018-10-13 02:09] cdancy commented on #626
Conversation has died down here so closing issue. Feel free to re-open should you want to discuss things anymore.

[2018-10-13 02:09] #626 closed

[2018-10-13 02:10] cdancy commented on #650
Conversation has died down here so closing issue. Feel free to re-open should you want to discuss things anymore.

[2018-10-13 02:10] #650 closed

[2018-10-13 02:10] cdancy commented on #648
Conversation has died down here so closing issue. Feel free to re-open should you want to discuss things anymore.

[2018-10-13 02:10] #648 closed

[2018-10-13 03:51] cdancy commented on #675
@bmuschko so trying to run `./gradlew release -Prelease.stage=final -Prelease.scope=major` I get the below:
[code]

[2018-10-13 16:32] cdancy commented on #675
@bmuschko I _think_ you may have missed something :) Trying a few things out now.

[2018-10-13 16:54] cdancy commented on #675
@bmuschko Ok we got a release out ... but the job ultimately failed due to attempting to publish to maven central. Probably just a config that was missed. Poking around for that now. In either event 4.0.0 was published successfully.

[2018-10-13 16:58] cdancy commented on #675
Oh ... you have sync to maven central set to true. I assume this was on purpose then?

[code]

[2018-10-14 01:37] bmuschko commented on #675
@cdancy Thanks, I think the credentials were wrong. I checked them again and re-entered them into Travis as environment variables. I'll have a deeper look if this happens again upon the next release. Also touched up some things for the documentation publishing code.

[2018-10-14 14:35] bmuschko commented on #383
@cdancy I already made some changes to functional tests to ensure that images/containers are removed. It's far from done though. This should be easier now that we have the auto-remove feature. Definitely needed!

[2018-10-15 16:47] cdancy commented on #665
@rpalcolea yeah we'll have to do that eventually as that plugin has been broken up into multiple plugins and I believe is now sunset with the maintainer only taking in bugfixes/etc. We use his other plugins here internally with success we would just have to re-work some things in our scripts. Not bad when all is said and done but not urgent as the code works as-is for the time being.

[2018-10-17 03:32] mailfly opened #681 "can't build image with this plugin"
any one could help fixed below problems
C:\source\code\fund-mock>gradle buildImage

Building image using context 'C:\source\code\fund-mock\build\docker'.
Using tag 'bmuschko/myimage:latest' for image.

[dockerjava-jaxrs-async-0] ERROR com.github.dockerjava.core.async.ResultCallbackTemplate - Error during callback
java.lang.IllegalStateException: InjectionManagerFactory not found.
        at org.gl

[2018-10-17 03:34] mailfly commented on #681
or any encounter this prolem ,it's puzzling me several days  :(

[2018-10-17 07:44] mailfly commented on #580
hi， this question is fixed ?
i encountered the same problem ,which one could be help me?

[2018-10-17 08:15] orzeh commented on #580
@mailfly referring to the above example, in build image task `tag` should  be `testapp:testapp` (`[image name]:[tag]`)

[2018-10-17 08:36] orzeh commented on #580
@mailfly your `buildImage` task will produce image with name like `my-fancy-project-0.0.1-snapshot.jar`. Then in `pushImage` you try to push an imgage with the same name but with tag `0.0.1-snapshot` (`project.version` value), so Docker is expecting that image `my-fancy-project-0.0.1-snapshot.jar:0.0.1-snapshot` is available, which isn't true I guess.

What I would do is:
[code]

Hope it's now cle

[2018-10-17 08:46] mailfly commented on #580
@orzeh thanks for you reply , i try it , also have the  same issue :(

C:\source\code\fund-mock>gradle pushImage

fund-mock
0.0.1-snapshot
Step 1/4 : FROM fabric8/java-centos-openjdk8-jdk:latest

---> de74f8152f3b
Step 2/4 : VOLUME ["/opt/app"]

---> Using cache
---> 79c3309f8d96
Step 3/4 : ENTRYPOINT ["java", "-jar", "/fund-mock.jar"]

---> Using cache
---> 22f368b2a838
Step 4/4 : LABEL maintaine

[2018-10-17 08:49] orzeh commented on #580
@mailfly `linsanfu` what is this? Obviously you have a problem with setting proper tag...

[2018-10-17 08:54] mailfly commented on #580
@orzeh yes ,this proper tag i set is in below : it's same is a username value, how push the image will using this value? i'm confused , ：(

docker {
	url = 'tcp://10.X.X.X:2376'
	registryCredentials {
		//url = 'docker hub url ?'
		username = 'linsanfu' --
		password = 'XXX'
	}
}

[2018-10-17 09:01] orzeh commented on #580
@mailfly please read the [Docker push](https://docs.docker.com/engine/reference/commandline/push/#extended-description) documentation to get a clarification how things work. Also look at our [functional test](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/functTest/groovy/com/bmuschko/gradle/docker/DockerWorkflowFunctionalTest.groovy#L237) for an example how to push to private re

[2018-10-17 09:20] mailfly commented on #580
@orzeh  thanks for you clarification， i will try , thanks again

[2018-10-17 17:17] a4chet opened #682 "Window bind paths are not parsed correctly using the static Bind.parse function in dockerjava"
Referencing issue logged with [dockerjava](https://github.com/docker-java/docker-java/issues/1118).

In version 3.2.5 of gradle-docker-plugin, the `createBind()` function was updated to use the [Bind.Parse](https://github.com/bmuschko/gradle-docker-plugin/blob/6acab4231b5927cbdf3e87de9098ad6da6345b73/src/main/groovy/com/bmuschko/gradle/docker/utils/DockerThreadContextClassLoader.groovy#L340) in th

[2018-10-18 08:27] mailfly opened #683 "can't push Image to private docker hub--with issue--Could not push image: unknown: could not find organization from the JWT token"
build.gradle file as below , who can help me fixed this problem ,i try to do several time , :(
[code]

try to push ,the problem as below:

[code]

[2018-10-18 08:32] orzeh commented on #683
@mailfly it seems like you have a problem with proper configuration of your private registry. The problem is not related to this plugin.

[2018-10-18 08:46] mailfly commented on #683
it's seem to be , but i try to push to the docker hub: https://hub.docker.com/r/mailfly/mailfly/, also can't push successfully, it's encounter 404,  maybe i know the in you function test below host url is
${TestConfiguration.dockerPrivateRegistryDomain}?
  task buildImage(type: DockerBuildImage) {
                dependsOn createDockerfile
                inputDir = createDockerfile.destFile.get()

[2018-10-18 08:59] mailfly commented on #683
in above this docker hub, the right url i need set to "hub.docker.com/r/mailfly/mailfly/" ? it's that correct?

[2018-10-18 09:19] qgicup commented on #570
Worked for me as well with version 3.2.7

[2018-10-18 10:28] mailfly commented on #683
this problem is fixed @orzeh  thanks for you help

[2018-10-18 10:31] #683 closed

[2018-10-18 10:32] mailfly commented on #683
it's our private docker hub auth problem , not the plugin, thanks again

[2018-10-19 11:04] rekaparathalwar opened #684 "how to integrate java agent like new relic"
This is our existing build.gradle. We are using spring boot app. This works very well for us
 docker {
        url = lookupDockerHost()
        certPath = lookupSslKeysDirectory()
        registryCredentials {
            url = registry + "/v2"
            username = lookupDockerRegistryUser()
            password = lookupDockerRegistryPassword()
        }

        javaApplication {
            ba

[2018-10-19 21:15] jkuipers opened #685 "DockerBuildImage in 4.0.0 no longer compatible with Gradle 4.7"
Upgraded our project, which uses Gradle 4.7 at the moment, to version 4.0.0 of the plugin and ran a task extending `DockerBuildImage`. This results in the following error (left out irrelevant parts of the output):
[code]

Apparently the new code relies on a (version of the) `configurableFiles` method that isn't available in 4.7. I saw that Gradle 4.3 is mentioned as the minimum supported version,

[2018-10-19 23:36] bmuschko commented on #685
Thanks for letting us know. You are correct. The Gradle minimal version is 4.8 for plugin v4.0.0 because we are using `ProjectLayout#configurableFiles(Object...)`. I was not aware that it was introduced with a later version of Gradle. At the moment we don't run any cross-version compatibility tests to ensure the minimal Gradle version as it would take far too long to execute the suite against Dock

[2018-10-19 23:36] #685 closed

[2018-10-19 23:42] bmuschko commented on #684
First off, I'd recommend using the [Spring Boot plugin](https://bmuschko.github.io/gradle-docker-plugin/#spring_boot_application_plugin) which is usually a better fit for Spring Boot applications. If you use the Spring Boot plugin then you have two options:

1. [Overwrite the default entrypoint instruction](https://docs.docker.com/engine/reference/run/#entrypoint-default-command-to-execute-at-runt

[2018-10-19 23:43] bmuschko commented on #682
Would you be interested in providing us with a pull request for this change?

[2018-10-20 00:39] bmuschko opened #686 "DockerBuildImage should return non-null for imageId Property value if up-to-date"
### Expected Behavior

The field `imageId` should always return a non-null value.

* Task outcome is `SUCCESS`: The image was just created by executing the action. The image ID should reflect the one returned by the image creation process. The image ID is stored in a file.
* Task outcome is `UP-TO-DATE`: The action is not executed. The image ID should be read from the file.

Later we will also wan

[2018-10-20 17:30] cdancy commented on #682
@a4chet have a go at using a custom parse method and we can see how that looks and feels and go from there.

[2018-10-23 02:05] #686 closed

[2018-10-23 02:17] bmuschko opened #688 "Switch communication with Docker daemon to Spotify library"
### Expected Behavior

All functionality is using [Spotify's Docker client](https://github.com/spotify/docker-client). Optimally, there's no change for the end user. The API stays the same. I believe the Spotify binary already [shades external libraries](https://github.com/spotify/docker-client#a-note-on-shading) making it possible to avoid have to rely on the thread context classloader in this pl

[2018-10-23 02:28] bmuschko commented on #688
I guess that would be possible. I'd rather rip off the bandade and get it all done at once. Maybe we can just create remote branch and work on it together? I am sure we'd know pretty quickly if there's missing functionality in the Spotify library.

[2018-10-23 02:31] bmuschko commented on #674
@JLLeitschuh With the introduction of the `Provider` API, the minimum version of the plugin is already Gradle 4.8. I think I'd be OK with using the new API for task avoidance and raising the minimum version to 4.9. Would you be interested in providing a PR?

[2018-10-23 16:07] JLLeitschuh commented on #674
Something we may want to try because it seems to work in my plugin is something like this:
https://github.com/JLLeitschuh/ktlint-gradle/blob/64693e1b253eb10e7ad1bcbd3ddeb79127b3b03a/plugin/src/main/kotlin/org/jlleitschuh/gradle/ktlint/KtlintBasePlugin.kt#L18-L25
[code]

[2018-10-24 12:32] johnyb79 commented on #544
Tested with gradle-docker-plugin (s) > 3.6.0, and  still  does not work for me,

[2018-10-24 13:36] bmuschko commented on #544
@johnyb79 What specific version did you try? You will need at least v3.6.2 which upgraded to Docker Java 3.1.0-rc-5.

[2018-10-24 13:46] johnyb79 commented on #544
Thanks for reply !

I have defined in my build.gradle 3 tasks (I think is a common usage) DockerPullImage -> DockerTagImage -> DockerSaveImage

[2018-10-24 13:53] bmuschko commented on #674
@JLLeitschuh Yes, that would be an option but it would make the plugin code much harder to maintain.  going forward. Apart from that `GradleVersion` is an internal class. I'd rather "force" users to upgrade to Gradle 4.9 if they want to use the latest features of the plugin. I'd don't expect a lot of breaking changes between 4.8 and 4.9.

[2018-10-25 08:02] fseebach opened #689 "IOException on DockerBuildImage Task"
Running the following DockerBuildImage Task throws an IOException:

`task createDockerfile(type: Dockerfile) {
    destFile = project.file('build/Dockerfile')
    from 'ubuntu:12.04'
}

task buildDockerImage(type: DockerBuildImage) {
    dependsOn createDockerfile
    inputDir = createDockerfile.destFile.get().asFile.parentFile
    tag = 'bmuschko/myimage:latest'

}`

Stacktrace:
`org.gradle.api.U

[2018-10-25 12:57] cdancy commented on #689
Hmmm... There was recent changes made by @bmuschko in this area. This works in testing. Maybe an OS specific issue? Either way I can take a look in a bit.

[2018-10-25 14:10] bmuschko commented on #689
I have been using the task path to create the file name. Apparently, Windows cannot deal with a trailing colon character in the file name. The logic should probably strip the first colon character and replace all other colon characters with an underscore.

[2018-10-27 15:32] #689 closed

[2018-10-30 07:05] Sledzik opened #691 "Wait on container startup"
Hi, I would like to ask if this [#381](https://github.com/bmuschko/gradle-docker-plugin/issues/381) solution is still valid? I use version 4.0.2 of plugin with gradle wrapper 4.10 and mentioned solution doesn't work for me.
My task looks like that:

    task waitForDB2ContainerStartup(type: DockerLogsContainer) {
     dependsOn startDB2Container
     targetContainerId createDB2Container.getContain

[2018-10-30 07:16] Sledzik commented on #691
STDOUT: DB20000I  The CREATE DATABASE command completed successfully.
     Exception thrown inside enhancer callback when invoking method createOnNextProxyCallback
      java.lang.RuntimeException: DB2 CONTAINER-STARTED
        at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
        at      sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl

[2018-10-30 09:22] lacasseio opened #692 "Specifying `dockerFile` for `DockerBuildImage` fails"
### Expected Behavior

The task should execute successfully.

### Current Behavior

The task fails with the following call stack:
[code]

### Context

### Steps to Reproduce (for bugs)

### Your Environment

[2018-10-30 09:35] lacasseio commented on #692
PR is available here https://github.com/bmuschko/gradle-docker-plugin/pull/693

[2018-10-30 09:36] lacasseio commented on #692
To avoid such issue, maybe adding `@CompileStatic` would help catch those type safety issue.

[2018-10-30 10:01] rekaparathalwar commented on #684
Thanks @bmuschko

[2018-10-30 14:17] #692 closed

[2018-10-30 14:21] bmuschko commented on #691
@cdancy You may want to look at this as you more familiar with the callbacks.

[2018-10-30 15:47] Sledzik commented on #691
It turned out that the problem was that I used Docker Machine on Windows. When I switched to native Docker on Linux, the problem disappeared.

By the way, I realized that there is DockerLivenessContainer which simplifies everything a lot.

[2018-10-30 21:11] devinrsmith opened #694 "Application Default Ports"
The docker java application plugin sets the default ports to `[8080]`,

https://github.com/bmuschko/gradle-docker-plugin/blob/f10bb61cd91c66ebde10b895aeeb79c50799d049/src/main/groovy/com/bmuschko/gradle/docker/DockerJavaApplication.groovy#L42-L43

but the [documentation](https://github.com/bmuschko/gradle-docker-plugin/blob/f10bb61cd91c66ebde10b895aeeb79c50799d049/src/docs/asciidoc/22-extension.ad

[2018-10-30 21:34] bmuschko commented on #694
The documentation was incorrect. I just [corrected it](https://github.com/bmuschko/gradle-docker-plugin/commit/9f061a1da6da826355a0dcd354509d08578c597e). The change will go out with the next version.

[2018-10-30 21:34] #694 closed

[2018-10-30 21:40] cdancy commented on #691
@Sledzik yeah that's the way to go. You can also take a look at the gradle-docker--databases-plugin at project-aries which has a ton of helper functionality to stand up databases and builds on top of this plugin.

[2018-10-31 13:40] bmuschko commented on #679
@gganssauge I recently ran into the same issue when I tried out the plugin in standalone project even though our tests are passing. There's some sort of evaluation order issue going on (I believe in the Spring Boot plugin from Pivotal) or it is a bug in Gradle core of some sort. You can work around it by applying the plugin with the `buildscript` notation. Would you mind verifying it in your proje

[2018-10-31 16:46] kpb commented on #679
I can confirm that using Spring boot 2.1.0.RELEASE and Gradle 4.10.2, I have to use the (heinous) buildscript notation or the plugin fails as describe by @gganssauge .

[2018-10-31 17:52] kpb opened #695 "Support Multiple Tags?"
A question and maybe feature request:

Does the plugin support multiple tags? For example:

`$ docker build -t myImage:latest -t myImage:1.0.13`

Thanks!

[2018-11-01 04:18] bmuschko commented on #675
@cdancy Did you make any progress on removing some of the deprecations?

[2018-11-02 15:19] sschuberth opened #696 "How to make base image creation happen before app image creation?"
In a Java application project called "cli", I'm using the following code:

    task dockerBuildBaseImage(type: com.bmuschko.gradle.docker.tasks.image.DockerBuildImage) {
        description = 'Builds the base Docker image to run ORT.'
        // This uses 'docker/Dockerfile'.
        tag = 'ort-base:latest'
    }

    docker {
        javaApplication {
            baseImage = 'ort-base:latest'

[2018-11-02 16:51] sschuberth opened #697 "Image is not re-tagged if tag was removed since last build"
When building an image via the `DockerBuildImage` task with a `tag` configured, and manually deleting that tag via `docker image rm <tag>`, re-running the tasks says it's up-to-date, not re-creating the tag.

### Expected Behavior

Given the task (in a Java application sub-project called "cli")

    task dockerBuildBaseImage(type: com.bmuschko.gradle.docker.tasks.image.DockerBuildImage) {

[2018-11-02 22:55] bmuschko commented on #696
Can you describe the use case you are trying to solve? Is it correct that you want two different tasks of type `DockerBuildImage`. A `dependsOn` should do the the right thing. Please run with `--console=verbose` to see if `cli:dockerBuildImage` ran beforehand. I am pretty sure that it did.

[2018-11-02 23:00] bmuschko commented on #697
That's currently working as designed. However, I am aware of the described shortcoming. I also mentioned the issue [here](https://github.com/bmuschko/gradle-docker-plugin/issues/686).

I didn't implement a call to the Docker registry yet because additional refactorings are required. The Docker client needs to be available in the constructor instead of the action. At the moment it's only available

[2018-11-03 06:40] sschuberth commented on #697
Thanks for the explanation. Do you have any feeling whether these refactorings would be easier in the context of doing #688?

[2018-11-04 02:59] Vampire commented on #697
I run into the same issue basically.
I played with a Gradle build that builds a new image and then updates the service for continuous deployment of a chat-bot.
For this I basically changed one setting in the docker file back and forth and then wondered that it doesn't work.
It didn't work because the the task was taken from task-output-cache which is of course not correct as the output is not only

[2018-11-04 09:31] Vampire commented on #697
Well, the up to date check can make a task out of date even if it would be up to date otherwise. How should this work with the task output cache. In this concrete example the up to date check would probably check that the tag exists and points to the Id stored in the output file. But to check this, you need the output file already.

The only way I can imagine how to use the build cache is to not u

[2018-11-04 09:37] sschuberth commented on #697
Sorry for my ignorance, but why not?

[2018-11-04 19:30] bmuschko commented on #618
I am going to close this issue. My plan is to break up the layers even more (classes, resources, external libs). At that time we'll also expose methods that allows for retrieving the target directories though its somewhat of an internal implementation detail.

[2018-11-04 19:30] #618 closed

[2018-11-04 21:02] cdancy commented on #697
We've discussed impls to this over the years now and I don't think we could ever really build a "complete" solution here and really the best we could do is a "best guess" from gradles point of view.

[2018-11-04 21:15] orzeh commented on #697
Agreed. IMO it's good the change was reverted. There are many corner cases which make it difficult to provide reasonable solution.

[2018-11-05 00:57] bmuschko commented on #697
@orzeh So if we'd make the task non-cacheable and would query Docker engine for an image with that specific ID what are the other corner cases you are thinking of?

[2018-11-05 08:03] sschuberth commented on #697
Breaking things up into two tasks this way were my thoughts exactly.

[2018-11-05 08:29] orzeh commented on #697
One thing that comes to my mind is that suppose you have a task which builds image with two tags: `latest` and `X.Y`. You release also tag `X.Y.Z` but it's just a side note. You use a base image, let's say `alpine`, wherein some vulnerability was discovered. You may want to release new version of your images even if your app code didn't change and tags exist in Docker engine. Hope that makes sense

[2018-11-05 15:48] bmuschko commented on #697
@orzeh Wouldn't the use of a slightly different base image create a new, unique image ID?

[2018-11-05 16:36] cdancy commented on #675
@bmuschko been away on vacation and have _tried_ to stay offline as much as possible. Haven't looked at this yet. Just catching up on things now. I'll try to get some time in over the next few days.

[2018-11-05 21:00] orzeh commented on #697
@bmuschko yes. But does it change anything?

[2018-11-05 21:06] bmuschko commented on #697
@orzeh My understanding is that we _can_ implement reliable incremental build functionality for the `DockerBuildImage` task with something like this:

[code]

You an @cdancy raised concerns that it would an approximation or that there are corner cases to be considered. I am just trying to figure out if the approach above is flawed.

[2018-11-05 21:18] cdancy commented on #697
So if the image exists is it "newer" than the image we are about to build? As the docker daemon can be remote, and thus N number of people using it for whatever reasons, can we be sure the image we are building locally is again "newer" than what is already available.

[2018-11-05 21:19] orzeh commented on #697
@bmuschko I think my previous post demonstrates that: you _may_ want to rebuild and tag image even if project binaries didn't changed and image with ID that you have saved during previous build exists in Docker engine.

I also not sure what do you mean by _"exists in local registry"_. Would you check Docker daemon or Docker registry?

[2018-11-05 21:38] cdancy commented on #697
@orzeh @bmuschko it's a messy problem to solve and I don't know if there is a "clean" way to do so. Doesn't feel like there is as we've tried this a few times now over the years.

[2018-11-05 21:40] orzeh commented on #697
@cdancy agreed. But if we can give users some building blocks to implement _up-to-date_ strategies on their own it would be valuable. Worth spending some time on discussion.

[2018-11-05 21:44] cdancy commented on #697
@orzeh having different "strategies" folks could use for varying scenarios _may_ be a way forward. I could see users supplying an enum/string that we would interrogate for a given strategy to use.

[2018-11-06 03:00] bmuschko commented on #666
@mwhipple Added some documentation here: https://github.com/bmuschko/gradle-docker-plugin/pull/698

[2018-11-06 13:32] #666 closed

[2018-11-07 21:57] cdancy commented on #697
There is a detailed thread somewhere (probably multiples at this point) of us going back and forth trying various things. Might be worth putting together a new sort of spreadsheet with each of these as they arise to track all the possible paths. But even as I think about it the very act of doing so is telling me this may not be a problem for us to solve as there is too much out of our control. IDK

[2018-11-08 07:55] ezh opened #700 "Dynamic docker registry credentials configuration. FYI"
This is not issue. I like to share solution. I spent few hours before find the right composition.
Case: We have fully automated workflow. We don't know docker repository URL, user, password in advance. That information provided by one of subsequent tasks from nested project.

[code]

* `configurations.dockerImageURL.files.find{it.name.endsWith("url")}` points to text file that contains image URL
*

[2018-11-08 07:56] ezh commented on #700
Maybe it will be useful to add it somewhere as advanced level of configuration.

[2018-11-08 08:31] orzeh commented on #700
@ezh thanks for yout inputs. Maybe you want to add this to our [Wiki](https://github.com/bmuschko/gradle-docker-plugin/wiki) page?

[2018-11-08 14:43] robbie-demuth commented on #544
I'm running v4.0.4 and this still seems to be an issue. I'm not sure if it was fixed in an earlier version and broken again though

[2018-11-08 14:51] bmuschko commented on #544
@robbie-demuth Could you please create a new issue with some sample code you expect to work?

[2018-11-08 14:57] bmuschko commented on #700
IMHO reading from a text file and setting property values isn't really specific to this plugin. That's just plain Gradle usage. I'd vote for not adding anything to the documentation.

As a side note to the provided code: Do not set property values in `doFirst`. There's no reason to wait for it until the execution phase. There are two things I would like to mention about storing plain-text credenti

[2018-11-08 14:58] bmuschko commented on #700
@orzeh We should probably eliminate the wiki page and move everything into the user guide. Didn't even know that it existed. ;-)

[2018-11-08 15:05] orzeh commented on #700
@bmuschko agreed.

[2018-11-08 15:16] bmuschko opened #701 "Convention plugins should be able to cache more fine-grained image layers"
### Expected Behavior

When creating the Dockerfile each of the following resources should be defined as individual layer.

1. External libs
2. Resource files
3. Class files

In turn we wouldn't have to build a JAR anymore - one less task to run. Layers 1-2 will likely not change very often. Therefore, Docker will be able to cache the image layers more efficiently. The java command would add all r

[2018-11-08 15:20] bmuschko opened #702 "Applying the Docker Spring Boot application plugin with the plugins DSL fails"
### Expected Behavior

The plugin can be applied with `buildscript` or `plugins {}`. The behavior is exactly the same.

### Current Behavior

Applying the plugin only works with `buildscript`. Applying the plugin with the plugins DSL indicates that relevant tasks provided by the Spring Boot plugin are not available. This might be some sort of evaluation order issue. Maybe the Spring Boot plugin do

[2018-11-08 15:47] robbie-demuth opened #703 "DockerSaveImage does not respect the tag option"
The DockerSaveImage task always saves all images from a repository, even when a particular tag is specified.

It is possible to workaround this issue by specifying both the repository and the tag in the repository property.

You can reproduce this issue using the following build script:

[code]

If you run `gradle saveAlpine36` and then `docker load -i alpine-3.6.tar`, the `docker load` command wi

[2018-11-08 15:48] robbie-demuth commented on #544
I created https://github.com/bmuschko/gradle-docker-plugin/issues/703, though it is pretty much an exact duplicate of this issue

[2018-11-09 02:20] ezh commented on #700
@bmuschko Please, read case one more time. We didn't know password in advance. Cloud service provided it at runtime in one of subtasks. And yes, keep it in plain text is ok, because password is valid only few hours or less.

That's why I provide this example. Using gradle.properties is basic level, but we required more.

[2018-11-14 14:33] salunn opened #704 "Plugin doesn't work when run in WSL Ubuntu 18.04"
When running WSL Ubuntu 18.04, I want to be able to build my project's docker images. Because docker daemons cannot be run on WSL, a npiperelay-socat-middleware is built per [Microsoft's suggestion](https://blogs.technet.microsoft.com/virtualization/2017/12/08/wsl-interoperability-with-docker/). This setup works, I can run any docker command from WSL successfully, e.g. `docker run hello-world`. Ho

[2018-11-16 21:01] packplusplus opened #705 "Feature Request: DockerPushImage doesn't seem to use default docker hub credentials / config"
### Expected Behavior
It would be nice for DockerPushImage to use whatever is in the ~/.docker/config for credentials / config for pushing to a remote image repository (like docker hub).

### Current Behavior
You can specify a remote repo, with creds, and a url using `registryCredentials`, which is great, but requires users to have environment variable set, shared keys hardcoded in your build.grad

[2018-11-16 21:20] bmuschko commented on #705
Definitely sounds like a good idea. Would you be interested in contributing this feature?

[2018-11-16 22:02] packplusplus commented on #705
I'm willing to take a swing at it, but I'm Ops by trade, so my java is super hacky. I was super confused as to how / if gradle-docker-plugin actually using the docker-java libraries until I found [this](https://github.com/bmuschko/gradle-docker-plugin/blob/efdb9298468b7b7deee7aa577b5a41017d20ac2c/src/main/groovy/com/bmuschko/gradle/docker/DockerRemoteApiPlugin.groovy#L34-L43) chunk of code that pu

[2018-11-17 13:52] bmuschko commented on #705
This is more a workaround for an issue in Gradle core than anything else. Gradle core does not run plugins in their own classloader. Without running plugins in their own classloader, the classpath could contain incompatible versions of transitive dependencies for Docker Java. In the meantime, the situation got a bit better. We are using a shaded version of Docker Java that moves the default packag

[2018-11-19 15:10] cdancy commented on #705
Yeah that _sounds_ reasonable enough and I echo all the points @bmuschko made above. Feel free to send in a PR.

[2018-11-20 14:58] cdancy commented on #704
There also _may_ be room for a fix here that we can attempt to provide to check if we are running in an "WSL" environment but there really is no docker so maybe fallback to something else.

[2018-11-20 18:15] Hubbitus opened #706 "Plugin for an Application fails even on example: Extension with name 'application' does not exist. Currently registered extension names: [ext, docker, defaultArtifacts, reporting, distributions]"
### Expected Behavior
Java application docker plugin works.
I get [example from documentation](https://bmuschko.github.io/gradle-docker-plugin/#using_the_plugin_for_an_application_run_on_jetty):
[code]

And run `./gradlew dockerBuildImage`

### Current Behavior
I got error:

### Context
Just want pack ratpack groovy application into docker image.

### Steps to Reproduce (for bugs)
See `build.gradl

[2018-11-20 19:44] packplusplus commented on #705
I've been battling getting a dev environment working (gradle plugin development is tricky, mavenLocal() doesn't find the local maven repo). I'm going to keep at it, but if anyone finds this issue, I've been using this gross work around.

[code]

[2018-11-21 08:33] MortlMcCrisis commented on #682
Any progress on this issue? I am heavily using the plugin for testing and this issue is an impediment for debugging.

[2018-11-22 02:47] bmuschko commented on #706
Sorry, I can't reproduce the issue with Gradle 4.10. Please provide a reproducible example as GitHub repository including a checked-in Wrapper.

[2018-11-22 02:54] bmuschko commented on #706
Looks like one of the changes for using `@CompileStatic` brought in a class that was introduced with Gradle 4.10: [JavaApplication](https://github.com/gradle/gradle/blob/master/subprojects/plugins/src/main/java/org/gradle/api/plugins/JavaApplication.java#L27). Didn't release that was the case. I'll fix that in a patch release.

[2018-11-22 03:00] bmuschko commented on #682
@MortlMcCrisis We are happy to accept pull requests. At the moment I just don't have time to implement it myself.

[2018-11-22 22:38] #706 closed

[2018-11-26 14:03] iNikem opened #707 "No value has been specified for property 'instructions'"
I am trying to follow the User Guide for [Java Application Plugin](https://bmuschko.github.io/gradle-docker-plugin/#java_application_plugin), but get the following error:
[code]

Gradle task configuration:
[code]

Env:
[code]

[2018-11-26 14:17] bmuschko commented on #707
I tried upgrading to Gradle 5.0 a while ago and ran into similar issues. There's some change to the behavior or API of Gradle that makes the plugin incompatible with Gradle 5.0 in its current form. We'll have to revisit once 5.0 final comes out.

[2018-11-26 14:20] iNikem commented on #707
Well, it just did :) https://twitter.com/kotlin/status/1067054556402671618

[2018-11-26 14:20] bmuschko commented on #707
Ah, cool. Yeah, we'll look at it soon.

[2018-11-27 13:42] ivanstefko opened #708 "How to push docker image to repository"
I would like to build & push my custom docker image into my private artifactory.

Currently I have following gradle tasks:

[code]

The buildImage taks works as expected and I can see built image as:

REPOSITORY | TAG | IMAGE ID | CREATED | SIZE
-------------- | ---- | ----------- | ---------- | -------
company/keycloak | 4.6.0.Final | 197fc13e5fcd | 12 days ago | 818MB

Now I would like to push t

[2018-11-29 08:16] mercer commented on #707
A solution is suggested here https://github.com/gradle/gradle/issues/7583

But couldn't make it to work. Anyone got it working?

[2018-11-29 14:18] bmuschko commented on #707
@mercer A [fix to the plugin](https://github.com/bmuschko/gradle-docker-plugin/pull/709) will be released soon.

[2018-11-29 22:07] cdancy commented on #704
@salunn closing this issue. Feel free to re-open if you haven't gotten around your problem.

[2018-11-29 22:07] #704 closed

[2018-11-29 22:09] cdancy commented on #708
I'm not sure I understand your problem. Docker needs a URL to know where to push. Are you thinking of sourcing the URL from some other location?

[2018-11-30 08:20] ivanstefko commented on #708
@cdancy I'm able to push docker image to artifactory only if docker image name contains artifactory URL. I'm looking for the way how to create docker image without artifactory URL (see below like official jboss/keycloak has) and  only when I would like to push this docker image to artifactory I would like to set some way the artifactory URL.
Currently I have to define artifactory URL for my custom

[2018-11-30 08:46] orzeh commented on #708
@ivanstefko I'm afraid everything works as expected. See docs:
https://docs.docker.com/engine/reference/commandline/push/
https://blog.docker.com/2013/07/how-to-use-your-own-registry/

That's true.

[2018-11-30 09:38] ivanstefko commented on #708
@orzeh mentioned examples only explain how docker push command works and I agree there should be artifactory URL for push - that make sense. But nothing about building docker image. Why I have to use artifactory URL in docker name if only build the docker image...

If you see the docs the normal flow for build & tag & push image:

[code]
this is a normal standard case and we can see that for build

[2018-11-30 09:46] orzeh commented on #708
@ivanstefko your workflow should be: build image, tag image, push image. Documentation for each of these tasks can be found in our [User Guide](https://bmuschko.github.io/gradle-docker-plugin/#images).

[2018-11-30 10:43] ivanstefko commented on #708
@orzeh thanks.. I've already tried to tag my docker image but I had a problem with following
[code]

My tagImage task looks like this:
[code]

Documentation say nothing about 'imageId' for DockerTagImage - [here](https://bmuschko.github.io/gradle-docker-plugin/api/com/bmuschko/gradle/docker/tasks/image/DockerTagImage.html)

I've already tried to use something like this but didn't help:
[code]

[2018-11-30 11:05] orzeh commented on #708
@ivanstefko please try
`targetImageId = buildImage.getImageId()`

I agree that there is no documentation for such basic usage scenario. Are you interested in submitting PR to User Guide?

[2018-11-30 11:30] orzeh commented on #708
@ivanstefko sorry it should be:
[code]

[2018-11-30 14:42] ivanstefko commented on #708
@orzeh great! Works fine now. Just for summary here is the complete flow with build -> tag -> push docker image using the plugin

[code]

just FYI: the 'tag' task creates new record in docker list for images...
[code]

[2018-12-01 22:03] bmuschko commented on #674
@JLLeitschuh Still interested in contributing this change? I'd be OK with raising the minimum Gradle version to 4.9 now that 5.0 is already out.

[2018-12-01 22:03] #708 closed

[2018-12-03 15:37] JLLeitschuh commented on #674
I don't have the time to dedicate to fixing this right now, but perhaps I will shortly.

[2018-12-03 19:04] anthonywendt opened #710 "DockerLoadImage imageStream property example?"
I am new to gradle and trying to figure out how to set the imageStream property in the DockerLoadImage task type. I have a base image in my project that I need to load before building the new image. Our environment doesn't have access to a registry yet to push and pull images from and is a closed system. Any help on how to set the imageStream property in my build.gradle file would be greatly appre

[2018-12-03 21:32] anthonywendt commented on #710
I got it to work. Below is the task I created to load my base image for our project. Seems to do the trick.

task loadBaseImage(type: DockerLoadImage) {
    imageStream = {file('docker/base-image.tar').newInputStream()}
}

[2018-12-03 21:32] #710 closed

[2018-12-03 21:37] cdancy commented on #710
@anthonywendt glad you got it to work. Yeah this is more a gradle issue, and how to wire things up correctly, than anything else.

[2018-12-03 23:07] bmuschko commented on #674
@cdancy The benefit only exists for plugins that create a new task. That applies to `DockerJavaApplicationPlugin.groovy` and `DockerSpringBootApplicationPlugin.groovy`. Any other code that creates tasks with one of the Docker task types will have to call `register` instead of `create`. The link in the initial comment of this issue explains the rest.

By "our" I guess you mean one of your internal

[2018-12-05 07:03] salunn commented on #704
Sorry, I haven't had the time to look at this. Your suggestion seems intriguing, and would probably work for the problematic computers, but I fear it's not a feasible solution, since our development environment is quite diverse in terms of OSs. I'll get back to the issue when I have the time to test it.

[2018-12-07 02:18] richardshelby opened #711 "Set JVM parameters at runtime in spring boot application"
### Overview

I need to be able to dynamically modify the heap size @ runtime.  Previously we used this docker file:

[code]

When using your plugin I see no option to create the ENTRYPOINT command in shell form (provided is only the exec form... which is preferred so that makes sense).  I see no way of expanding the JAVA_OPTS at runtime since no console is invoked.  I would like to start the cont

[2018-12-07 06:00] richardshelby commented on #711
follow up:

I think I solved this.  I defined a custom Dockerfile task and used the instruction command:

[code]
_note: dockerBuildDir is a var_

This works fine.  Since the 'exec' form of ENTRYPOINT does not support variable expansion I don't see another way. Please let me know if I missed something or this looks invalid... posting this for others if they come across the same problem.  Java JVM a

[2018-12-07 13:47] petehayes commented on #523
Just got this again this week.

`21:38:55 Caused by: java.lang.IllegalStateException: java.lang.reflect.InvocationTargetException
21:38:55 	at org.newsclub.net.unix.NativeUnixSocket.<clinit>(NativeUnixSocket.java:42)
21:38:55 	... 83 more
21:38:55 Caused by: java.lang.reflect.InvocationTargetException
21:38:55 	at org.newsclub.net.unix.NativeUnixSocket.<clinit>(NativeUnixSocket.java:35)
21:38:55

[2018-12-07 15:00] jnehlmeier opened #712 "DockerBuildImage tags.add/addAll only work after using tags.set"
`DockerBuildImage` supports multiple tags and provides a `tags` property to define them. The `tags` property supports `add/addAll/set` but it seems that calling `add/addAll` has no effect unless you have previously called `set` as well. See example below.

Using Gradle 5, Kotlin DSL, Plugin version 4.1.0

[code]

[2018-12-07 15:19] zpapez opened #713 "Cannot buildImage for SpringBoot 2 with plugin version 3.4+ - error ClassNotFoundException: com.github.dockerjava.shaded.net.sf.cglib.proxy.Enhancer"
### Expected Behavior
Even with plugin versions 3.4+ that brought shading of `cglib`, I should be able to buildImage of SpringBoot 2.

### Current Behavior
[code]

### Context
When I use plugin version `3.3.6` the same image builds OK.

### Steps to Reproduce (for bugs)
See branch of sample project at https://github.com/zpapez/gradle-docker-plugin-spring-boot-2/tree/shaded

### Your Environment
-

[2018-12-08 15:38] bmuschko commented on #713
You can pretty much delete all of your code by just using the [specific Spring Boot plugin](https://bmuschko.github.io/gradle-docker-plugin/#spring_boot_application_plugin). I'd recommend going with that one.

As a side note: You not using the shaded library of Docker Java. You are just using the unshaded one: [`com.github.docker-java:docker-java:3.1.0-rc-7`](https://github.com/zpapez/gradle-docke

[2018-12-08 15:46] bmuschko commented on #711
I'll have to have another look at the recommendations I gave and add integration tests + documentation for them. I was planning to do it for a long time but didn't get around to actually doing it. You are using the [Spring Boot Application Plugin](https://bmuschko.github.io/gradle-docker-plugin/#spring_boot_application_plugin) then you don't need to create a new `Dockerfile` task. You can just mod

[2018-12-10 11:45] roastario opened #714 "DockerBuildImage fails to pull public repo images if registryUsername registryPassword are present"
I have the exact same issue as: #275 which was closed for some reason.

I have docker gradle file that has the following closure.

    docker{
        registryCredentials  {
            username = System.env.DOCKER_USERNAME
            password = System.env.DOCKER_PASSWORD
        }
    }

    task buildOfficialCorrettoDockerImage(type: DockerBuildImage, dependsOn: [buildDockerFolder]) {
        i

[2018-12-10 15:53] zpapez commented on #713
Thanks, I had to use the shaded java library with cglib included as a dependency:
`dockerJava 'com.aries:docker-java-shaded:3.1.0-rc-5:cglib@jar'`
It is now working with plugin version `3.6.2` or `4.1.0`.
https://github.com/zpapez/gradle-docker-plugin-spring-boot-2

Thank you for the hint.

[2018-12-10 15:53] #713 closed

[2018-12-10 15:55] cdancy commented on #714
@roastario so it sounds like your credentials are just bad? If that's so why are you supplying them at all?

[2018-12-10 16:01] cdancy commented on #523
@petehayes did you hit this on your desktop or in a CI environment?

@nhoughto long shot but do you remember where you ran things when you hit this issue?

[2018-12-10 16:04] petehayes commented on #523
This was on a CI environment.

[2018-12-10 16:24] roastario commented on #714
@cdancy as with #275 I think you misunderstand what the issue comments.

The credentials are definitely correct - I prove as follows

1.) attempt to build using above snippets - fail due to pulling *PUBLIC* image
2.) pull image locally using `docker pull amazonlinux:2`
3.) build using above snippet, no problems and pushes to our private repo correctly

This issue is with the following setup

1.) Y

[2018-12-10 16:58] cdancy commented on #714
@roastario OK I see where this hiccup is. Have you tried passing in a custom `registryCredentials`? The `DockerBuildImage` task we have implements `RegistryCredentialsAware` which allows you to define a custom registry. Have you given this a go yet?

https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/DockerBuildImage.groovy

[2018-12-10 20:23] pradeepk opened #715 "docker links are broken with upgrade from 4.0.1 to 4.1.0 (and to gradle 5.0)"
The docker links are no longer setup correctly in the latest version (4.1.0)

### Expected Behavior

Given the following build definition:

[code]
After running `gradle createMyAppContainer`, if you examine the link set up with `docker inspect -f "{{ .HostConfig.Links }}" my-app` you should see a valid link configuration such as `[/my-db:/my-app/database]`

### Current Behavior

`docker inspect -f

[2018-12-11 04:34] bmuschko commented on #712
I believe we are missing the default value for the property which should be an empty list. Gradle 5.0 took away the default value so we have to initialize all `Property` fields. I'll get it fixed.

[2018-12-11 04:53] bmuschko commented on #712
I made the relevant change: https://github.com/bmuschko/gradle-docker-plugin/commit/465c1951146dce85f42fa83e48dbb57897745a1f. Would it be possible for you to build a local version and see if it fixes your issue?

[2018-12-11 04:53] #712 closed

[2018-12-11 04:55] bmuschko commented on #705
I am going to close this issue for now. We are looking forward to your PR in case you are planning to contribute.

[2018-12-11 04:55] #705 closed

[2018-12-11 13:59] roastario commented on #714
Will try asap, not at computer for today!

[2018-12-11 14:53] bmuschko commented on #715
Thanks for identifying the version. It's likely some sort of breaking change in Gradle 5.0 that causes the issue. I am going to look at it soon.

[2018-12-12 15:03] cdancy commented on #712
Keep forgetting about this new feature as we are still on gradle 4.10 and have yet to make the jump. It's going to be loads of fun when we do :)

[2018-12-13 02:27] rroques opened #716 "DockerCommitImage fails to execute because "No signature of method""
### Expected Behavior
A task with type `DockerCommitImage` should execute properly and create a new Docker image from a running container.

### Current Behavior
A task with type `DockerCommitImage` fails to execute with the following error:

  Possible solutions: commitCmd(java.lang.String)

### Context
I am trying to create a new Docker image from a running container.

### Steps to Reproduce (for

[2018-12-13 08:24] hirowla opened #719 "What is the correct way to tag an image, given the existing image name (not the id)"
I'm trying to add a tag to an existing image (it isn't an image I just created). I know the name (and tag) of the existing image, and want to add an additional tag to the image (and then push it out, but that's another story).

When creating a "tagImage" task, I am getting an error saying "invalid Tag format".

My gradle snippet is as follows:

[code]
The "dockerImageTagSource" contents is (as an