[2019-09-20 09:22] PerMildner commented on #858
Thanks for looking at this.

@cdancy "What is it that you want to do see happen?" I want the gradle invocation to do the same thing as the command line `docker build ...` + `docker run ...` that I showed in the first transcript.

"What do I expect to happen?" I expected the gradle task `startTestContainer` to start the container, which would lead to the `ENTRYPOINT` command being run, but the `ENT

[2019-09-20 09:23] PerMildner commented on #857
@orzeh Thanks for the pointer. I read the section you referred to but I could not get that to work (#858).

[2019-09-20 09:37] orzeh commented on #858
@PerMildner you have a typo :) in Gradle script you have `volumes.add("$buildDir:/tmp/my_test_output")` but in ENTRYPOINT you have `/tmp/my_test_outputs/test_outputs.txt;` note additional **s** in folder name.

Regarding build error: your container simply exits before `stopTestContainer` is executed - that's why you get NotModifiedException intermittently.  In general you should create `DockerStop

[2019-09-20 10:54] PerMildner commented on #858
@orzeh PEBKAC as usual:-) thanks. I also did `ls` on the wrong folder. Unfortunately, fixing this did not help. The volume mount does not seem to be available in the container (`/tmp/` is empty in the container):

I corrected the folder name in `volumes` argument, removed the `autoRemove` (so I can do `docker logs` later), and added a `ls -l /tmp` in the `Dockerfile` so I can see whether the mount

[2019-09-20 14:04] bhagyas commented on #858
I can confirm this issue happening on my environment as well.

This is using the latest docker-remote-api plugin version. 5.1.0. Docker version 19.03.2, build 6a30dfc

The plugin seems to be ignoring the Dockerfile ENTRYPOINT. Manually specifying entrypoint does not seem to help.

I am running a latest version of Docker, and I think it might have something to do with the Docker version.

[2019-09-20 15:26] PerMildner commented on #858
@bhagyas In my case the `ENTRYPOINT` is being run. The problem now is that the volumes are not mounted.

It was hard to see that the `ENTRYPOINT` was run since the plugin does not show the output from the `ENTRYPOINT` command, by default. I used `docker logs ...` (see transcript above) to verify that the `ENTRYPOINT` command is actually run.

[2019-09-20 19:27] bhagyas commented on #858
@PerMildner Do you think the entrypoint is being run before the volumes are mounted? I can also see the entrypoint being run, but there is no errors/output from the entrypoint command present.

[2019-09-23 11:34] PerMildner opened #859 "DockerBuildImage quiet problem"
Setting the `quiet` property of a `DockerBuildImage`task makes the task fail.

The below transcript shows that: 1. Without setting the `quiet` property, the build goes well. 2. With the `quiet.set(true)`, the build fails.

(I am new to Gradle, Docker and this plugin, so I may be doing something wrong).

[code]

[2019-09-23 11:37] orzeh commented on #859
@PerMildner thanks for reporting this. Can you paste full stack trace or/and build script so that we can try to reproduce?

[2019-09-24 07:16] juwi opened #860 "Feature Request: DockerBuildImage remote context"
### Expected Behavior

Besides consuming a folder hosting the build context, Docker also supports downloading a tar file containing the context from e.g. a webserver, which sadly this plugin does not seem to support at this time (unless I'm doing it wrong).

### Current Behavior

Currently only local build contexts supplied as a folder seem to be supported.

### Context

For building in a distribu

[2019-09-25 14:35] juwi commented on #860
I've gone ahead and built a prototype here: https://github.com/juwi/gradle-docker-plugin/tree/feature/buildWithTarContext

[2019-09-25 15:22] cdancy commented on #860
Very interesting... Looking over things now...

[2019-09-25 16:08] jberglund-BSFT opened #861 "Add support of ipcMode to DockerCreateContainer"
Would like to see support of ipcMode added
This is an existing setting in the docker-java HostConfig:
https://github.com/docker-java/docker-java/blob/master/docker-java/src/main/java/com/github/dockerjava/api/model/HostConfig.java#L1140

Docker run reference:
https://docs.docker.com/engine/reference/run/#ipc-settings---ipc

This would be a minor change, something like https://github.com/jberglund-

[2019-09-25 18:55] jberglund-BSFT commented on #861
also interested in adding sysctls

[2019-09-25 19:14] cdancy commented on #861
@jberglund-BSFT care to send in a PR? If so I would break things up into multiple PR's for each feature requested to making reviewing easier.

[2019-09-25 19:16] jberglund-BSFT commented on #861
@cdancy would love to, was intending that the PR template asked for an issue first. PR coming shortly.

[2019-09-25 19:27] cdancy commented on #861
Sounds good. Looking forward to it.

[2019-09-25 19:41] bmuschko commented on #861
@jberglund-BSFT Can you please move the relevant properties into an inner class called `HostConfig` similar to `LogConfig` and `ExposedPort`? A flat list of properties simply isn't maintainable.

[2019-09-25 19:45] bmuschko commented on #853
For now I'd like to avoid adding more logic to those plugins as there are viable ways to implement the use case. Of this would have to be tested and maintained moving forward. We can reconsider if more people speak up about this particular use case.

[2019-09-25 19:45] #853 closed

[2019-09-25 19:46] bmuschko commented on #859
@orzeh Could you link to the issue you created for Docker Java and close this issue here? Right now there's nothing we can do about it.

[2019-09-25 19:50] bmuschko commented on #860
If you happen to open a PR please make sure to cover all test cases e.g. now that you made both fields `@Optional` you should handle the case where both fields have null values.

[2019-09-25 21:07] jberglund-BSFT commented on #861
Do you want all the existing hostConfig properties moved there too, or just new ones?

[2019-09-25 21:09] bmuschko commented on #861
Yes, absolutely. If there are other ones that actually belong to `HostConfig` then they should move as well.

[2019-09-25 21:15] orzeh commented on #859
@bmuschko already linked, we can track progress there. Closing this.

[2019-09-25 21:15] #859 closed

[2019-09-25 21:35] orzeh commented on #858
@PerMildner everything works as expected. In `createTestContainer` task you define `volumes` but you probably want to setup `binds`. This might be confusing, see the [docs](https://docs.docker.com/storage/bind-mounts/).

This worked for me:
[code]
Please note that file will be created in `build` directory.

I guess you can submit PR against our User Guide to cover everything you learned :smiley:

[2019-09-25 22:41] bmuschko commented on #830
I am going to close this issue. The same behavior would show for any other `Copy` and/or archiving task and is not specific to this plugin. I do not want to maintain a de-duplication strategy `Copy` tasks as part of this plugin. for I'd suggest you open an [issue with the Gradle project](https://github.com/gradle/gradle/issues). @klass-ivan describes a viable way to tackle the situation.

[2019-09-25 22:41] #830 closed

[2019-09-25 22:44] bmuschko commented on #845
Closing as this issue didn't get any traction. Feel free to open if you are willing to contribute a pull request.

[2019-09-25 22:44] #845 closed

[2019-09-26 06:55] PM055897 opened #863 "DockerBuildImage.cacheFrom throws NoClassDefFoundError"
### Expected Behavior
When I use DockerBuildImage.cacheFrom, it should retrieve docker images to consider as cache sources.

### Current Behavior
Currently, inside a custom gradle task that I have created to use class DockerBuildImage, I add the cacheFrom.add(someTag) property. It throws an exception as follows:

_Could not initialize class com.github.dockerjava.core.util.CacheFromEncoder_

Stackt

[2019-09-26 09:52] PerMildner commented on #858
@orzeh Thanks! Indeed I got confused by the fact that the `DockerCreateContainer` `volumes` property is unrelated to the `docker` `--volume` option. Also neither `volumes` nor `bind` is documented in the plugin [user guide](https://bmuschko.github.io/gradle-docker-plugin/), as far as I can tell.

However (here he goes again), although my original analysis was incorrect (the `ENTRYPOINT` _is_ run),

[2019-09-26 10:01] orzeh commented on #858
@PerMildner why do you assume that `DockerStartContainer` should throw exception when exit code is non-zero? I guess you can handle it by yourself using [onComplete](https://bmuschko.github.io/gradle-docker-plugin/#reacting_to_the_completion_of_an_operation) handler.

Regarding non-existing folder in volume, if Docker deamon doesn't complain why should we?

[2019-09-26 11:44] PerMildner commented on #858
"why do you assume that `DockerStartContainer` should throw exception when exit code is non-zero?"

Because it is what `docker run ...` does (which, was what I really wanted to emulate). However, you are right, the ([almost undocumented](https://docs.docker.com/engine/reference/commandline/start/)) `docker start ...` also does not report an error in this case, so this is OK.

"Regarding non-existi

[2019-09-26 11:48] bhagyas commented on #858
I agree with what @PerMildner says. I ended up debugging the issue manually by using the docker command instead of using the Gradle plugin.

The plugin should have provide debugging/diagnostic information whenever it encounters an issue at ENTRYPOINT.

[2019-09-26 12:02] orzeh commented on #858
@PerMildner can you check with path in which you can actually create file/dir? Because error message from deamon says "Mounts denied:" not that the path doesn't exist.

In the first line of README in this repo you can read that this plugin uses Docker REST API so it _might_ work differently than Docker CLI.

@bhagyas please rise a separate issue for your concerns. If you have an idea how this shou

[2019-09-26 12:14] PerMildner commented on #858
If I change to `/tmp`, I get no error, is this the information you requested?

``docker create -v '/tmp:/tmp/container_path' f164d9a9d1ba
39503652a9c338436f2a7b07a6456495a912a18aae9366e6a96c9ac7524cee88
bash$ docker start 39503652a9c338436f2a7b07a6456495a912a18aae9366e6a96c9ac7524cee88
39503652a9c338436f2a7b07a6456495a912a18aae9366e6a96c9ac7524cee88
bash$
``

The Preview and formatting icons sudde

[2019-09-26 12:17] orzeh commented on #858
@PerMildner try `/tmp/not_existing_folder`

Same here :/

[2019-09-26 12:33] PerMildner commented on #858
Apparently GitHub has problems "GitHub is currently status yellow; this may affect site behavior and performance. Please check [GitHub Status](https://www.githubstatus.com/) for more information.".

So, lets "return to our regularly scheduled programming" of trying to resolve all my misunderstandings:-)

[2019-09-27 10:55] hesch commented on #849
Just for reference, you can exclude the devtools by specifing this in your build.gradle:
[code]

[2019-09-27 13:43] cdancy commented on #863
Interesting ... we have tests which cover this scenario but don't pop. Is the snippet you posted above enough to reproduce the issue? If not can you provide a fully reproducible snippet?

[2019-09-27 21:11] jberglund-BSFT commented on #861
@bmuschko Do you want the DockerCreateContainer task configuration to contain a `hostConfig` input  and move the properties there, breaking any backwards compatibility?

[2019-09-27 22:48] bmuschko commented on #861
@jberglund-BSFT Yes, please. We'll bump up the version appropriately. Let's not go through a deprecation cycle just for this.

[2019-09-28 21:52] bmuschko commented on #863
I can't reproduce the issue with the following build script:

[code]

Seems to work fine.

[code]

Please provide a reproducible example if you are still having issues.

[2019-09-28 21:52] #863 closed

[2019-09-28 21:54] bmuschko commented on #858
@PerMildner Are you still experiencing problem? If not, let's close this issue.

[2019-09-28 21:56] bmuschko commented on #838
@cdancy Are you planning to implement a fix for this? I don't currently see a course of action.

[2019-09-28 22:00] bmuschko commented on #843
You don't at the moment. We are waiting for community contributions for this feature. Please see https://github.com/bmuschko/gradle-docker-plugin/issues/746 and https://github.com/bmuschko/gradle-docker-plugin/issues/743 for more information.

[2019-09-29 06:33] kgrech commented on #843
I had the same issue. Setting ``DOCKER_CONFIG`` does not help.
I have solved with Exec type, which does not use the plugin and docker-java:
[code]

[2019-09-29 10:31] kgrech commented on #743
It looks like docker-java does not support this as well, I see they have the issue [#1048](https://github.com/docker-java/docker-java/issues/1048) is the open state

[2019-09-29 11:45] kgrech commented on #743
@cdancy if you would like so, I can contribute RegistryAuthLocator from the above PR to docker-plugin. The issue above seems to be open for since Nove on the docker-java side...

[2019-09-30 10:03] PerMildner commented on #858
Yes, there are some remaining issues.

The main issue is that `DockerStartContainer` does not give an error when the `binds` parameter to the corresponding `DockerCreateContainer` cannot be used. As I showed above, it looks as if the Dockers daemon _does_ give an error in this case ("Error response from daemon: Mounts denied"). Quietly suppressing errors is a usability problem.

Similarly, the `vo

[2019-09-30 13:02] bmuschko commented on #858
@PerMildner It might be not be apparent but almost all of the communication work from this plugin to the Docker Daemon is performed by the Docker Java library. We are not actively suppressing any error message. If we do, then it's a bug in our plugin. The same goes for providing relevant input values. Most of the time, we are just calling off to the API of Docker Java with the same property names.

[2019-09-30 17:49] kgrech commented on #743
@bmuschko @cdancy So far I came with [this](https://github.com/kgrech/gradle-docker-plugin/commit/c7068cfb224eea58c2a360d11312d720bc40c728).
It almost works, the problem is that ``if(registryCredentials)`` statement in ``PushImageCmd`` always evaluates to true, so it never goes to ``else`` branch. Any idea on what am I missing?

Any feedback about my groovy is also welcome, as I am Java guy

[2019-09-30 19:29] PerMildner commented on #858
Yes, this is not the only project that needs a lot more documentation, but it certainly contains more documentation and functionality than I payed for.

I do not know whether the error is suppressed by this plugin, by Docker Java, or somewhere else. I do know that can take a lot of time to figure out what is wrong when code silently suppresses error conditions.

Now that I know the right way to ca

[2019-10-01 10:32] cdancy commented on #858
Closing for now as it seems your past things. And as Ben alluded to above: the docker `cli` wraps various REST calls to make things simpler for the end-user. This plugin acts as a one-to-one mapping of each of those REST calls to a given gradle task which means you have to build things out. For more complicated setups/scenarios you might want to think about creating a "site plugin" that wraps a lo

[2019-10-01 10:32] #858 closed

[2019-10-01 10:34] cdancy commented on #838
@bmuschko would love to just haven't had the time. Github needs something like a JIRA backlog/integration to track these types of things :)

[2019-10-01 14:06] cdancy commented on #743
@kgrech yeah send in a PR. That is odd. I would put in some debug output to see what exactly the registry credentials object looks like.

[2019-10-01 15:04] kgrech commented on #743
I've found where is it created (DockerRemoteApiPlugin class):
[code]

I think ``create`` method always creates the object by passing the ``ObjectFactory``, but it might have or don't have credentials set.

I have solved it by adding the method to check credentials validness. You can see [here](https://github.com/kgrech/gradle-docker-plugin/commit/56a938c5d03eb1401b885261977ad01320d2befe).
It works

[2019-10-01 20:42] mariuszs commented on #682
This issue is still valid

[2019-10-01 20:43] jberglund-BSFT commented on #861
@bmuschko I'm having some trouble figuring out how to nest the hostConfig in a way that makes sense. Does this need to be an Extension (in order to use DSL)? I tried marking the property with `@Nested` but gradle complains that it can't set the property to an instance of a closure. The LogConfig and ExposePorts examples appear to prefer method constructors, and hostConfig will be quite large espec

[2019-10-02 00:10] bmuschko commented on #682
@mariuszs That is correct. As you can see in the history of this issue we were looking for external contributions to fix the issue. Unfortunately, nobody signed up for it. To avoid getting overwhelmed by issues that likely will never get addressed, we closed it. If you are interested in fixing the issue, please open a pull request. We'd be more than happy to guide, review and merge.

[2019-10-02 01:46] bmuschko commented on #861
@jberglund-BSFT Yes, you'd go with an instance of `HostConfig` annotated with `@Nested`. Here's roughly the code in Java:

[code]

I don't understand "gradle complains that it can't set the property to an instance of a closure". Where exactly would you use a `Closure`?

`HostConfig` will have individual fields annotated with `@Input`. Those can be set via the `Property` methods.

[2019-10-02 01:50] bmuschko commented on #843
As it is not supported by this plugin right now. That's what I eluted to in my previous comment.

[2019-10-02 15:39] kgrech commented on #743
@cdancy @bmuschko  create a [PR#865](https://github.com/bmuschko/gradle-docker-plugin/pull/865)

[2019-10-02 15:39] kgrech commented on #843
@bmuschko I've made a step forward to the solution of this in the [PR#865](https://github.com/bmuschko/gradle-docker-plugin/pull/865).

The PR fixes only pull and push the case. The challenge in case of docker build command is that we need to get the image name form the ``FROM`` statement of the docker file and then we can apply the same ``RegistryAuthLocator`` for build task the same way as for p

[2019-10-03 13:30] jberglund-BSFT commented on #861
OK, thanks, I tried this syntax you fed me above, but I think I am missing something more fundamental on the build.gradle implementation of it. Syntax like -
[code]
Results in gradle trying to set the host config with a closure and that error I mentioned, but which is essentially exactly what I want to do - feed it natural list of hostConfig that can be moved from the root config to the hostConfig

[2019-10-03 21:00] jlstrater opened #866 "Compatibility issue with plugin version 5.1.0 and Gradle 5.1-5.6."
Running `./gradlew build` on a trivial example project using docker plugin version 5.1.0 and Gradle version 5.1-5.5 produces the following error:
[code]

### Expected Behavior

According to the documentation, the plugin should work with Gradle 5.1+

### Current Behavior

only works with Gradle 5.6+

### Context

### Steps to Reproduce (for bugs)

add `id 'com.bmuschko.docker-java-application' vers

[2019-10-03 23:59] bmuschko commented on #866
I can reproduce the issue by running the plugin with Gradle 5.5. The plugin has been compiled with Gradle 5.6. This is the full stack trace:

[code]

This sounds like a backward compatibility issue in Gradle itself. The `org.gradle.api.file.FileSystemLocationProperty` was [introduced with 5.6](https://docs.gradle.org/current/javadoc/org/gradle/api/file/FileSystemLocationProperty.html). Can you fol

[2019-10-04 00:47] bmuschko commented on #861
You are currently assigning a Closure to `hostConfig` (by using the equals sign), however, its type is `Property<HostConfig>` so that won't work. At the very least you will need to remove the `=` sign as you want to delegate the calls within the Closure toward the underlying object.

You will also want to add the following. Forgot to mention that, at least if you wanted to configure it with the he

[2019-10-04 13:50] melix commented on #866
Technically speaking, if a plugin is built with 5.6, you shouldn't expect it to work with 5.5 because we don't support _forward compatibility_. Even if the API is the same, there are differences in runtime decorators, for example.

In general, you should build your plugin with the _lowest version_ of Gradle you plan to support.

We have ideas how to target different Gradle versions for a plugin bu

[2019-10-04 18:21] bmuschko commented on #866
Thanks for the information. My assumption as a plugin developer was that you should be mostly OK if you are sticking to a specific Gradle API version. IMHO definitely needs to be documented. I am sure I am not the only one operating under this assumption.

[2019-10-04 18:23] bmuschko commented on #866
@jlstrater I am going to rebuild the plugin with 5.1 (likely on the weekend) and release a new version.

[2019-10-05 14:21] #866 closed

[2019-10-06 14:52] bmuschko commented on #843
@kgrech Thanks for providing the PR. I am going to have a look soon.

[2019-10-07 15:32] ljacomet opened #868 "Upcoming Gradle 6.0 compatibility"
Not all tasks in this plugin version 5.2.0 will run on Gradle 6.0.

Identified issues:
* the usage of `progressLogger.setLoggingHeader` in `IOUtils` which has been removed in Gradle 6.0.
* the mutation of `Property` after the task started execution, which is invalid in Gradle 6.0

[2019-10-07 16:11] cdancy commented on #868
@ljacomet interesting... is it just that particular method or the progress logging in general?

[2019-10-07 16:36] ljacomet commented on #868
That method and other deprecated ones in the class.

However, from the Javadoc of the method, I am not even sure why the call is there, since it passes `null` anyway:
[code]

I'll open a PR with the removal of the guilty line. No tests fail, trying to get a local snapshot to test and check it does not do funky stuff on the console output.

[2019-10-07 16:37] ljacomet commented on #868
And ideally, the plugin should not use this internal API. Potentially opening a feature request if there is missing logging related concepts in the public Gradle API.

[2019-10-07 16:40] bmuschko commented on #868
@cdancy This was a long time coming. ;-) https://github.com/bmuschko/gradle-docker-plugin/issues/642

[2019-10-07 16:41] bmuschko commented on #868
@ljacomet Is there a public API replacement or new API that provides progress logging now?

[2019-10-07 16:48] cdancy commented on #868
We actually use/depend on this internally (both for this plugin and elsewhere) for standing up containers and giving the user some feedback while they wait. Hopefully there is a public API replacement but if not the library mentioned still looks to be in use which we could adopt here.

[2019-10-07 16:59] ljacomet commented on #868
That might be a good question for the forums or the community slack. I do not have the answer.

Note that removing the `progressLogger.setLoggingHeader(null)` does not impact output AFAICT.

It however led me to another issue around `Property` usage and the [linked lines](https://github.com/bmuschko/gradle-docker-plugin/blob/403c851830852ef4091072ee245427200fd65198/src/main/groovy/com/bmuschko/gra

[2019-10-07 17:11] ljacomet commented on #868
So the way `since` is used in `DockerLivenessContainer` will not work.
It probably needs an internal mutable field to do the same, leaving the `Property` for user configuration.

Will attempt that in my upcoming PR.

[2019-10-07 17:19] cdancy commented on #868
@ljacomet yeah please do and thanks AOT!

[2019-10-07 18:37] ljacomet commented on #868
Attempt at fixing the Gradle 6.0 compatibility issue: #869

[2019-10-08 13:13] bmuschko commented on #868
I doubt it will get any traction on the forum/Slack. There's this feature request that has been around since 2017: https://github.com/gradle/gradle/issues/3654. It doesn't look like any progress has been made on it.

[2019-10-08 18:52] mjdamman commented on #863
It's reproducible with the above example with Java 11.

`
Execution failed for task ':someTask'.
 javax/xml/bind/annotation/XmlElement
`

Possible solution -> https://stackoverflow.com/questions/43574426/how-to-resolve-java-lang-noclassdeffounderror-javax-xml-bind-jaxbexception-in-j

[2019-10-08 19:09] bmuschko commented on #863
@mjdamman The root cause of the issue you are reporting is different from the original issue reported here. Therefore, please open a new issue. The issue you are reporting is specific to using Java 11 as the runtime version. You are facing the issue as [Docker Java does not declare the needed dependencies as transitive dependencies](https://github.com/docker-java/docker-java/issues/1244). We could

[2019-10-08 19:31] cdancy commented on #863
@bmuschko when using the "docker java shaded" lib I put together many moons ago I was packaging this dependency, maybe others, in for these very purposes. Might make sense to spin up a PR with this change to see how things fare?

[2019-10-08 22:09] bmuschko commented on #863
@cdancy I'd rather have Docker Java define the dependencies and the required versions. In the end it has to be compatible with their API, not ours. Adding it in our plugin is rather a workaround I'd say.

I remember that we had to ask the Docker Java project through some channel somewhere to get a new feature or release. I would suggest we try that first and see what their plans are. Do you rememb

[2019-10-09 10:15] ljacomet commented on #868
Note that my PR was driven by using the docker tasks to pull, create, start, assert liveliness and stop a container.
I did not do a full pass over all tasks to check if others had problems similar to those reported here.

[2019-10-09 19:32] aboger commented on #868
Hi guys, I run into an issue when I tried to run your plugin in version 5.2.0 in an [openjdk:13-slim](https://hub.docker.com/_/openjdk?tab=tags&page=1&name=13-slim) builder container with a [nightly Gradle 6.0 build](http://services.gradle.org/distributions-snapshots/gradle-6.0-20191008230708+0000-bin.zip). As Gradle 6.0 comes with support for JDK 13, I thought this is probably the right place to

[2019-10-10 00:05] bmuschko commented on #868
@aboger This is an [issue with a transitive dependency of Docker Java](https://github.com/docker-java/docker-java/issues/1245) and not specific to Gradle 6.0.

[2019-10-10 21:43] hnine999 opened #871 "Trouble with up-to-date detection"
### Expected Behavior

The original bug presented itself as follows:
Dockerfile modified
build updates docker image
repeated builds are up-to-date

### Current Behavior

The original problem was:
Dockerfile modified
build updates docker image
build again updates docker image (should be up-to-date)
build is up-to-date

So, there was a single-build delay for the build to be up-to-date

However, in t

[2019-10-11 13:02] cdancy commented on #863
I'll reach out to them now on gitter and see what their opinions are. The problem I suspect is that because this is only an issue with jdk11 users, and with most projects that I've seen not even adopting things beyond 8, this may be a tough sell.

[2019-10-12 19:12] scottresnik opened #872 "Gradle 5.6.2: Cannot cast object com.bmuschko.gradle.docker.DockerExtension_Decorated"
### Expected Behavior
Docker tasks should not fail with Gradle 5.6+

### Current Behavior
When executing a remote api task, e.g. DockerBuildImage the following message is returned:
[code]
Stack trace:
[code]

### Context
I am unable to use any docker tasks.

### Steps to Reproduce (for bugs)
Using Gradle 5.6.2, Any DockerBuildImage task will fail:
Example task:
[code]

### Your Environment
I tried

[2019-10-14 00:46] bmuschko commented on #834
Addressed in https://github.com/bmuschko/gradle-docker-plugin/pull/867.

[2019-10-14 00:46] #834 closed

[2019-10-14 00:48] #868 closed

[2019-10-14 00:55] bmuschko commented on #860
Were you still planning to send a PR for this?

[2019-10-14 23:15] bmuschko commented on #872
I tried to reproduce the issue with Gradle 5.6.2 + plugin 5.2.0 but couldn't. Please provide a reproducible example as an executable example on GitHub.

[2019-10-15 02:31] bmuschko commented on #861
I created a PR for extracting the `HostConfig`: https://github.com/bmuschko/gradle-docker-plugin/pull/873.

[2019-10-15 12:52] scottresnik commented on #872
I started down the path of reproducing this, and a simple Gradle java-library plugin with the 5.2.0 version of the docker plugin did not cause the error.  However adding the spring boot plugin (2.1.9) did yield the error.  I will look over on that project to see if there is already an issue open.  Here is the test project:  https://github.com/scottresnik/gradle-docker-872.git

Thank you for lookin

[2019-10-15 13:52] wilkinsona commented on #872
@bmuschko if I can provide any input on the Boot side of things, please let me know. On initial inspection, I can't see anything that Boot's plugin is doing that would cause the decorated extension not to be of the expected type.

[2019-10-15 17:24] jim-chewy opened #874 "java.io.IOException: Couldn't load native library with Java 11"
Running `./gradlew clean dockerBuildImage` results in the error mentioned in the subject

### Expected Behavior
Image should be built

### Current Behavior
Using OpenJDK 8, my images build fine
Using OpenJDK 11, I get the error

### Context
I'm not able to build images with OpenJDK 11

### Steps to Reproduce (for bugs)
[ioexception.tar.gz](https://github.com/bmuschko/gradle-docker-plugin/files/373

[2019-10-15 22:06] bmuschko commented on #874
Docker Java currently does not support Java 11 or higher as observed by the following issues:

* https://github.com/docker-java/docker-java/issues/1244
* https://github.com/docker-java/docker-java/issues/1245

I am going to add a note to the user guide about Java-compatibility.

[2019-10-15 22:06] #874 closed

[2019-10-15 22:18] bmuschko commented on #872
@scottresnik The issue you are seeing is happening because you are not correctly configuring the way plugins need to be applied in Gradle.

1. [Remove this line](https://github.com/scottresnik/gradle-docker-872/blob/master/build.gradle#L5). There's no point in applying the plugin in the root `build.gradle` file as you are doing it in the `docker.gradle` file.
2. You are [trying to use a plugin ver

[2019-10-15 22:18] #872 closed

[2019-10-15 22:19] bmuschko commented on #860
I am going to close the issue for now as we haven't heard back in a while. Let us know if you are still planning to provide a PR for this. Happy to reopen the issue.

[2019-10-15 22:19] #860 closed

[2019-10-16 00:31] scottresnik commented on #872
Thanks @bmuschko and @wilkinsona .  Sorry for the trouble.  In the end it turned out to be an RTFM issue.  @bmuschko 's point number 3 above, to be exact.

[2019-10-16 11:22] ondrej-scerba opened #875 "Build Image task is up to date even if image should be rebuilt"
### Expected Behavior
I'm expecting that new image will be built, but it says that the task is up to date. I think the issue is that my dockerfile doesn't changed but in fact I'm using copy tasks in it and the files used in copy task has changed.

### Current Behavior
Build image task is up to date.

### Context
I have to delete image manually or clean build in order to get image build.

### Steps

[2019-10-16 11:51] ondrej-scerba commented on #875
Now when I'm trying to reproduce it, it works as expected. I think you can ignore it.

[2019-10-16 13:11] bmuschko commented on #875
OK, closing. Let us know if you are still experience unexpected behavior.

[2019-10-16 13:11] #875 closed

[2019-10-16 20:55] cdancy opened #876 "Expose "netty config" on docker-client"
So we've started running into [THIS](https://github.com/docker-java/docker-java/issues/698) issue here in our build pipeline. A user chimed in on that thread with a supposed solution:
[code]
Was thinking we could wire up the config to expose letting folks programatically do this. Something like:
[code]
Basically if the `netty` closure is present then use it otherwise it's business as usual.

Thoug

[2019-10-16 22:55] bmuschko commented on #876
With that change you would expose internal implementation details which you don't want to do in a public API. The DSL in this case is the public API. You are basically saying "This plugin is using Netty internally in some sort of form". As a result, there's no easy way to switch to a different underlying implementation e.g. the Spotify library. So overall it's a -1 from me.

Alternatively, you cou

[2019-10-16 23:00] #861 closed

[2019-10-16 23:12] bmuschko commented on #871
I can reproduce the issue but would have to further debug the root cause. The image ID stored for up-to-date checking has the correct value. I am suspecting that Docker Java either doesn't throw an exception anymore when querying for the image by ID or that we are not properly reading the file.

[2019-10-17 11:01] cdancy commented on #876
So I put the timeout option in there as am example but not sure if that's the thing that solves the problem. My hunch is that its just an option being shown and the actual solution is in the impl.

Once we move to spotify, assuming that ever happens, that would completely change everything anyway, and we would have to remove loads of stuff all over the place. From my point of view it would just be

[2019-10-17 11:05] cdancy commented on #876
I dont agree on the exposing of internal knobs here as you could argue everything we are doing is exposing an internal something or another. It's just an option for users to take advantage of should they need to for their use-case.

We could do something but simply not expose things or let the user know. Just a bummer as we have a process which is dependent on this potential fix and is currently b

[2019-10-17 11:59] orzeh commented on #876
@cdancy I agree with @bmuschko  that configuring low level components, which are implementation related, should be done via env variables or system properties.

[2019-10-17 12:12] cdancy commented on #876
Oh we could certainly do that via env-vars within this plugin if that's what you guys are thinking. Something like: GDP_DRIVER=netty?

[2019-10-17 13:20] bmuschko commented on #876
What I mean here is the underlying implementation of how you communicate with the Docker daemon. Users don't need to know and frankly don't care it works.

Wha does `GDP` mean? Why is it important to spell out Netty specifically? The Docker Java
 Javadocs for `NettyDockerCmdExecFactory ` says that it is "experimental". Wouldn't you rather want to set a timeout for the Jersey implementation?

[2019-10-17 13:22] cdancy commented on #876
Going over changes locally could we target env-var, sys-prop, and passed along property (precedence taken in order shown)?
[code]
Thoughts one way or another?

GDP = Gradle Docker Plugin

I suspect this is NOT timeout related as the pop happens fairly early on into a given execution and we've got other tasks which run much longer.

[2019-10-17 13:31] bmuschko commented on #876
I'd not expose too many options of configurability. It'll just make things more complicated and hasn't really any benefits. If you wanted environment variables then that's fine.

I am confused. Sounds more like you want to expose new things for debugging purposes. Maybe you can start by just using the Docker Java API in a sample project to identify the actual issue. It's likely that you know what

[2019-10-17 13:42] cdancy commented on #876
Not for debugging purposes as we've already done that. The pop happens when executing `DockerCopyFileFromContainer` with the below stacktrace. Happens about 2 minutes into the process. Just tried with the fix I suggested and things seem to work. Need to run things through our pipeline to confirm which will take a day or so but the error as it stands is repeateable and with this change it goes away

[2019-10-17 14:14] cdancy commented on #876
Though "experimental" all of our functional tests pass with change so that's something

[2019-10-18 01:59] bmuschko commented on #843
@tranpeter For the time being you will likely have to provide the credentials via the `DockerExtension` as [described in the user guide](https://bmuschko.github.io/gradle-docker-plugin/#extension). I am going to close the issue for now.

[2019-10-18 01:59] #843 closed

[2019-10-20 14:17] bmuschko commented on #871
I added a comment to your pull request: https://github.com/bmuschko/gradle-docker-plugin/pull/870#issuecomment-544256394.

[2019-10-20 14:17] #871 closed

[2019-10-23 04:43] Happin3ss opened #878 "defaultCommand of createDockerfile doesnt work"
I'm creating a Dockerfile with the below script:
[code]

The output Dockerfile will look like this
[code]
### Expected Behavior

I got the following error:
[code]
### Current Behavior

 I have to do a workaround to change from defaultCommand to use instruction to make it work:

`instruction('CMD java -jar target/jetty-runner.jar --port 9090 target/test.war')`

 Output Dockerfile will look the same

[2019-10-23 12:56] bmuschko commented on #878
I am pretty sure that `"--port 9090"` have to be defined as their own parameters. This should be `"--port", "9090"`.

[2019-10-25 14:33] cdancy commented on #714
[code]
@bmuschko bumped into this locally and its kind of clunky to setup IMO. Maybe we could amend the "reg creds aware" task so that we can do something like:
[code]
Don't know if it could work _exactly_ like that just a minor grip with how we set this on the extension vs everywhere else.

[2019-10-25 15:17] Happin3ss commented on #878
I will check it on Monday and let you know whether It works. Thank you for your response ;)

[2019-10-25 22:08] bmuschko commented on #714
@cdancy I assume you are just asking about the DSL-aspect of it? And the use case is only the one if you wanted to assign different credentials for two different custom tasks? If that's the case then it's easy to achieve. I'd suggest opening a new issue.

[2019-10-27 14:46] bmuschko commented on #714
@cdancy I already made those improvements in https://github.com/bmuschko/gradle-docker-plugin/pull/879 as it will also make https://github.com/bmuschko/gradle-docker-plugin/pull/865 easier to implement.

[2019-10-28 14:55] cdancy commented on #714
@bmuschko well I don't want to change the existing credentials just point at a different registry for this specific task which I believe your PR addresses.

[2019-10-28 18:51] bmuschko commented on #714
@cdancy Yes, that will work now with the proposed DSL.

[2019-10-29 17:50] coder82 opened #880 "DockerLogsContainer stop on Ctrl-C"
Is there a way to stop the container on Ctrl-C with gradle?
This is my code and I was trying with finalized by but it doesn't work, container still runs after gradle exits. If this can't be done it's really unpractical during development.

I run:
[code]

[code]

[2019-10-29 18:02] cdancy commented on #880
@coder82 in this scenario, and with the options you have set, it's just going to poll forever. I would recommend using the [DockerLivenessContainer](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/container/extras/DockerLivenessContainer.groovy) task as it's designed to do exactly what you want: poll the logs until some message appears.

[2019-10-29 22:08] #878 closed

[2019-10-29 23:17] #743 closed

[2019-10-29 23:18] #746 closed

[2019-10-30 08:53] coder82 commented on #880
The thing is I wouldn't know what to poll for, Ctrl+C would't print anything, gradle captures the signal and just exits completely forgetting about the container running. finalizedBy doesn't trigger either.

[2019-10-30 14:40] #876 closed

[2019-10-31 20:22] cdancy commented on #880
@coder82 hmmm ... there should be some _indication_ to let you know the container is live. Do you have nothing like that here? Is that even what you're trying to do? Maybe you're looking to test liveness in another way?

[2019-10-31 20:24] cdancy opened #882 "Spotify docker-client is INACTIVE"
[code]
So it looks like, until something else arises, we are sticking with `docker-java` ;)

[2019-10-31 22:15] bmuschko commented on #882
Seems like someone forked it: https://github.com/spotify/docker-client/issues/1166. Either way I don't see anyone putting in the time right now to switch to a different library anyway.

[2019-11-01 05:08] dalegaspi commented on #464
the `gradle-aws-ecr-plugin` did not work for me; always getting the auth error which leads me to believe that somehow the ECR login to get the token is not happening...the above script worked for me with a minor modification:

[code]

[2019-11-04 09:22] MichaelSp commented on #648
For me it didn't work because the destination folder in the image didn't exist.

[2019-11-05 20:56] nheitz opened #883 "QUERY: Setting 'repository' value on DockerPullImage (v 5.3.0)"
I felt like I was in some version of Dante's hell earlier....

My current build performs a docker "pull" based on a value for 'repository' that is calculated in another gradle task.  Since upgrding to v5.3.0 of this plugin, I no longer seem to be able to change the value for DockerPullImage (I was previously using v 3.2.4)...and yet the semantics seem to force me to specify a value at gradle initi

[2019-11-05 21:11] cdancy commented on #883
@nheitz `repository` is Provider instance and so you can always do something like:
[code]

[2019-11-09 21:57] iamaverrick opened #884 "Modifying Instructions of a SpringBootApp Dockerfile Task"
### Expected Behavior

we want to modify the instructions how is briefly mentioned on 2.5.1. Modifying Instructions of a Dockerfile Task in the documentation as i.g

[code]

### Current Behavior

We are looking to modify dockerfile instructions being created by com.bmuschko.docker-spring-boot-application plugin. currently the plugin handles the creation of the dockerfile and creates this:

[code]

[2019-11-10 15:23] #880 closed

[2019-11-12 07:02] Moshiour027 opened #885 "Can't Build Image on JDK 13 environment and gradle version 6.0"
Task buildImage fails on JDK version 13,
Error Message:
 Cannot find method "setCreated" in java.net.Socket. Unsupported JVM?

### Expected Behavior
buildImage task just runs fine in JDK 12 and Gradle version. 6.0 but the issue occurs when we run in JDK 13.

### Your Environment
JDK 13, Gradle Version 6.0

[2019-11-12 14:17] bmuschko commented on #885
This is effectively a duplicate of https://github.com/bmuschko/gradle-docker-plugin/issues/874. See my comment here: https://github.com/bmuschko/gradle-docker-plugin/issues/874#issuecomment-542425209.

[2019-11-12 14:17] #885 closed

[2019-11-12 14:19] bmuschko commented on #883
Closing this issue. Please have a look at the [Provider API](https://docs.gradle.org/current/userguide/lazy_configuration.html) for a deeper understanding.

[2019-11-12 14:19] #883 closed

[2019-11-12 14:21] bmuschko commented on #882
Out [Gitter channel](https://gitter.im/gradle-docker-plugin/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge) is likely better channel for further discussion or announcement. There's no real outcome to this issue.

[2019-11-12 14:21] #882 closed

[2019-11-12 14:24] bmuschko commented on #884
I don't see a real question in your issue. Are you asking how to insert an instruction somewhere in the middle of the list of already existing instructions? Just defining an instruction will simply add to the end of the list as you've done it. The section "2.5.1. Modifying Instructions of a Dockerfile Task" also describes how to insert an instruction somewhere else in the second example.

[2019-11-12 14:53] iamaverrick commented on #884
I’m sorry my question isn’t as clear.

I’m asking how to  Modifying Instructions of a Dockerfile Task described in The section "2.5.1. In the documentation. To me it isn’t as clear as I would of hoped.

Are we suppose to insert this code in the build.gradle file, or are we suppose to create a groovy class file and insert the code in section 2.5.1.

Would it be possible if you can show an example o

[2019-11-13 20:06] bmuschko commented on #884
This is more a general Gradle question than one targeted toward the plugin. The difference is that either want to modify an existing task or create a completely new one. Given that you are applying the plugin `com.bmuschko.docker-spring-boot-application` the task of type `Dockerfile` has been created automatically so you'll likely just want to modify the existing one. I'd suggest read up on the di

[2019-11-13 21:36] iamaverrick commented on #884
**Instruction
CopyFileInstruction**

should come from  import com.bmuschko.gradle.docker.tasks.image.Dockerfile.* and its not being imported.

you mentioned that this is more a gradle question which for the most part the code is. but as far as the imports i should be able to use the classes with in the gradle code snippet. is their a way you can make sure you are able to load the classes fine on y

[2019-11-13 22:08] bmuschko commented on #884
Maybe i misunderstood your question. I thought you are referring to custom task type used when creating a new task.

Yes, those come from the plugin. Looking at this again, they need to be declared as `static` imports. That might be your issue. You may also want to have a look at the [Groovydoc of this plugin](https://bmuschko.github.io/gradle-docker-plugin/api/com/bmuschko/gradle/docker/tasks/ima

[2019-11-15 00:16] artemananiev commented on #545
I've just faced the same issue. Having spent a couple hours trying this and that, I found that in my case the problem was that docker credentials "url" property didn't have "https://" prefix. May be this is your case, too...

[2019-11-15 01:51] bmuschko commented on #884
I am assuming this has been resolved on your end. Closing the issue for now. Reopen the issue if you need further assistance.

[2019-11-15 01:51] #884 closed

[2019-11-15 02:36] iamaverrick commented on #884
Yes @bmuschko,

I managed to get the code working with the last comment you made available to me. I was going to add my resolution code here just in case anybody might be having issues with the same issue this will helped them as it did for me.

Furthermore, I think that the documentation are on point but in this particular section is would be nice if you can add the static imports so users can fu

[2019-11-15 17:20] sa-mendez commented on #674
I have recently been working on changing over our Gradle build to leverage the task avoidance API.  In our build we are using your plugin.  I have a test case that evidences a problem with this plugin not conforming to the use of the configuration avoidance API.

I realize that changing your plugins is still in progress, and I should not expect things to work.  However, I wanted to mention that th

[2019-11-16 14:28] bmuschko commented on #884
Showing the imports should be a relatively easy fix. It would probably require some duplication though. You might have noticed that the pieces of code are "pulled out" of the sample and are included in the documentation. Whatever should be rendered in the user guide needs to be within the opening and closing Asciidoc delimiters. Happy to receive a pull request for improvements to the documentation

[2019-11-16 14:31] bmuschko commented on #674
@sa-mendez At this time, I don't think anyone is working on this change. As usual we are happy to receive a pull request from the community. The remote API plugin configures those tasks initially. That's why you see the behavior.

[2019-11-16 16:09] bmuschko opened #886 "DockerLivenessContainer assumes that field `sink` is of type StringWriter"
### Expected Behavior

The class `DockerLivenessContainer` handles the field `sink` appropriately. At the moment the implementation assumes that field `sink` is typed as `StringWriter`. It calls the method `getBuffer()` on it. There needs to be appropriate handling for it.

### Current Behavior

Passing an instance of `Writer` to the field `sink` can potentially break at runtime. The method call [

[2019-11-16 16:32] michaelruocco opened #887 "Do not parse config file if it doesn't exist"
Hi,

First off, thanks for producing such a useful plugin, I use it a lot and think it is great!

I have recently updated one of my projects to use version 6.0.0 and I have everything working fine, but I am finding that an exception is thrown and logged which is creating a bit of noise in my logs, so I was wondering if there might be a way around it?

It seems to be coming from the way the plugin

[2019-11-16 16:43] bmuschko commented on #887
Thanks for reporting.

groovy.json.JsonException: Unable to process file: /home/travis/.docker/config.json

[Look like we are logging an error message in that situation.](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/internal/RegistryAuthLocator.groovy#L129-L134) That's unnecessary. It should be a log message on a debug level.

The second i

[2019-11-16 22:51] michaelruocco commented on #887
Ah okay, yeah that sounds fair enough to me.

Regarding the second message that seems specific to my mac, I think I did see something about support for mac in the docs when I was reading earlier but I can't find it again now. I do have a file, but the contents looks a little odd:

[code]

To be honest, my main concern was around the Travis CI build, changing the log level would solve that so I wou

[2019-11-16 23:12] bmuschko commented on #887
I tried to reproduce your issue with and without a `config.json` file on MacOSX (Docker for Desktop) but couldn't. I think there's something wrong with your JSON formatting.

Can you try to delete it and recreate it? What's your Docker distribution?

[2019-11-16 23:26] michaelruocco commented on #887
It is version 2.1.0.4 (39773) I have the following component versions:

Engine: 19.03.4
Notary: 0.6.1
Compose: 1.24.1
Credential Helper: 0.6.3
Kubernetes: v1.14.7
Machine: 0.16.2

I just tried the last suggestion here on this thread: https://github.com/fsouza/go-dockerclient/issues/677 i.e. delete the file, and untick the option for storing logins in osx keychain. After restarting and doing a dock

[2019-11-16 23:30] bmuschko commented on #887
No idea. My `credsStore` value is `desktop`. Would you mind setting up a test project that reproduces the issue + the Travis CI build?

[2019-11-16 23:39] michaelruocco commented on #887
I will have a go and see if I can set something up tomorrow. Thanks for taking the time to look into it!

[2019-11-17 07:26] michaelruocco commented on #887
Just thought, as well as looking into creating a project to reproduce the issue, would you mind sharing what your config.json file looks like? Then I will have an idea of a what the file should look like which might help identify the differences?

[2019-11-17 07:56] michaelruocco commented on #887
I have added a repo here: https://github.com/michaelruocco/docker-gradle-plugin-bug. Let me know if any useful information is missing or needs to be added.

[2019-11-18 20:47] sa-mendez commented on #674
Ok.  Thank you for the explanation.

[2019-11-20 01:08] rebootmoishe opened #888 "Passing Arguments to the Container"
Is there a way to provide arguments to the container at runtime.

### Expected Behavior

Some database containers require arguments to be passed as arguments at runtime.

### Current Behavior

I cannot seem to find a way to pass the arguments for the container to the task of DockerStartContainer

### Context

As an example:

In order to enable the SSL Support for Postgres the docker image there ne

[2019-11-20 01:25] bmuschko commented on #888
It doesn't look like the [`StartContainerCmd`](https://github.com/docker-java/docker-java/blob/master/docker-java-api/src/main/java/com/github/dockerjava/api/command/StartContainerCmd.java) provided by Docker Java provides any options if I am not mistaken. That's probably the reason why we are not exposing an options. You may want to ask that project to expose more options.

Could you set your opt

[2019-11-20 01:33] bmuschko commented on #887
Thanks for providing the same project. I can reproduce the error. Looks like the issue only occurs when running the push command. Before I only tried out the build command. Looks like a bug to me.

Do you have any bandwidth to look into a fix for this? I may not be able to get to it anytime soon.

[2019-11-20 05:03] kgrech commented on #887
@michaelruocco How does your config.json file looks like in case of  the Travis CI build?

[2019-11-20 15:04] rebootmoishe commented on #888
Tried something like
`CMD ["postgres", "-c ssl=on", etc, etc]`

Fails usually with something like:

2019-11-20 14:58:22.919 GMT [1] FATAL:  unrecognized configuration parameter " "ssl"

If I run from the command line with `docker run` and provide those options on the command line it works perfectly.  So while I have a workaround sort of to use the `Exec` task in the build file.  I would much rathe

[2019-11-20 15:27] bmuschko commented on #888
I am pretty sure that `-c` and `ssl=on` need to be their own arguments e.g. CMD `["postgres", "-c",  "ssl=on", etc, etc]`.

[2019-11-20 15:39] rebootmoishe commented on #888
Tried that too with same effect.

[2019-11-20 17:40] cdancy commented on #886
@bmuschko I'll knock this out within the next week as we have an existing feature request we'd like to get in for this specific task (liveness based on the truthiness of a passed closure).

[2019-11-20 17:44] cdancy commented on #888
@rebootmoishe for the [gradle-docker-applications-plugin](https://github.com/project-aries/gradle-docker-applications-plugin) I do this in one of the [functionalTests](https://github.com/project-aries/gradle-docker-applications-plugin/blob/master/src/functionalTest/groovy/com/aries/gradle/docker/applications/plugin/EndToEndFunctionalTest.groovy#L112) I have:

[code]
I'd try something similar, with

[2019-11-23 07:59] rocks4530 opened #889 "containerName property for task DockerCreateContainer is not working"
containerName property for task DockerCreateContainer is not working

task pgBuild(type: DockerBuildImage, dependsOn: processConfigs) {
	images.add(imageName)
}
task pgCreate(type: DockerCreateContainer, dependsOn: pgBuild) {
    targetImageId imageName
    containerName = 'tc-pg'
    hostConfig.portBindings = ['8082:8082','10000:10000']
    hostConfig.autoRemove = true
}
task pgStart(type: Docker

[2019-11-23 08:18] rocks4530 opened #890 "Multiple port in hostConfig.portBindings doesn't work"
Hi,

Thanks for this useful plugin.

Is there a way to specify multiple port. I tried with
hostConfig.portBindings = ["8082:8082","10000:10000"]

But it always takes the last one. Am I missing something here?

[2019-11-23 17:46] Robouzou opened #891 "Unable to have multiple main methods in project when building image"
### Expected Behavior
Running `dockerBuildImage` should either auto-select a main method to use an the entry point (as it did when using Application Plugin), or get this from some configuration value provided to it. Maybe through `mainClassName`, though some kind of per-image configuration might be useful to people wanting to build multiple images.

### Current Behavior
Whenever you have multiple

[2019-11-24 17:03] rocks4530 commented on #887
I am getting the same exception!!

[2019-11-24 17:37] michaelruocco commented on #887
@kgrech sorry for the delayed response, I have had a busy week this week. I don't believe I have access to the file on the travis CI build. I guess I could try and add a cat command to print the file out when the build runs. I will try to do so shortly.

[2019-11-24 18:17] michaelruocco commented on #887
@kgrech it turns out there is no config.json file present by the looks of things, the error being returned:

[code]

I should have checked more thoroughly before, the root exception when the travis build fails is:

[code]

However when it fails locally a file is present. I will try and clone / pull the repo shortly and investigate in more detail.

[2019-11-24 21:00] orzeh commented on #890
@rocks4530 your example should work. Can you create a minimal repo/example which demonstrates the issue?

[2019-11-24 21:29] orzeh commented on #889
@rocks4530 I couldn't reproduce it on my local. Can you create sample repository which shows the issue?

[2019-11-25 08:40] sebastianreloaded commented on #887
in my opinion it would be the best to have an option to disable the .docker/config.json.
in my case it uses this file just fine for pulls from my private registry (aws), but pushes to the same registry always fail with "no basic auth credentials".
i switched to amazon-ecr-credential-helper for now, which works just fine.

[2019-11-25 18:45] michaelruocco commented on #887
@sebastianreloaded yeah I would be happy with a flag or some config option to turn this handling off too. It would solve the issue well enough for me too.

[2019-11-26 10:13] lgniewkowski commented on #887
@sebastianreloaded I have a similar problem. I have to delete docker.config to force the plugin to use the given credentials in build.gradle. Probably, in my situation problem is in url which is missing /v2 suffix.

[2019-11-27 05:31] rocks4530 commented on #890
HI @orzeh ,
please check this example @
https://github.com/rocks4530/envoy-proxy

docker ps commands shows this

CONTAINER ID        IMAGE               COMMAND                  CREATED             STATUS              PORTS                      NAMES
483f45f7a901        6f923718edf9        "/docker-entrypoint.…"   12 minutes ago      Up 12 minutes       0.0.0.0:10000->10000/tcp   envoy-proxy

[2019-11-27 12:06] orzeh commented on #890
@rocks4530 ok, I can reproduce it with your example. I need some time to dig into this.

[2019-11-27 14:26] rocks4530 commented on #890
@orzeh thanks.

[2019-11-27 14:26] rocks4530 commented on #889
it works

[2019-11-27 14:26] #889 closed

[2019-11-30 23:12] orzeh commented on #890
@rocks4530 actually it's working, please try to access these ports.

Because of Docker API awkwardness, exposed ports are not being  _displayed_  neither in CLI nor in API responses, see also [this issue](https://github.com/docker-java/docker-java/issues/786).

[2019-11-30 23:12] #890 closed

[2019-12-01 13:04] rocks4530 commented on #890
good to know that. And thanks. Will try out to see.

[2019-12-02 20:00] bmuschko commented on #887
@kgrech Did you have a chance to look into this issue more deeply?

[2019-12-03 13:42] bmuschko commented on #891
The plugin you are using is looking for a [main class that is annotated with `org.springframework.boot.autoconfigure.SpringBootApplication`](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/DockerSpringBootApplicationPlugin.groovy#L32). Can you explain why your Spring Boot application does not use this annotation?

[2019-12-03 13:44] bmuschko commented on #888
@rebootmoishe I'd suggest you ask for this feature with Docker Java project. We haven't heard back from you about @cdancy's suggestion so I can going to close this issue.

[2019-12-03 13:44] #888 closed

[2019-12-04 09:24] Robouzou commented on #891
That's because we're not using the Spring Boot Application Plugin, but the Java Application Plugin, [which doesn't search for any annotation to specificity the main class.](https://github.com/bmuschko/gradle-docker-plugin/blob/1910be61fab63a8da578bc2a085064ba4804e724/src/main/groovy/com/bmuschko/gradle/docker/DockerJavaApplicationPlugin.groovy#L43)

[2019-12-04 13:51] bmuschko commented on #891
Ah, OK. I must have misread your initial comment. I can [reproduce the issue](https://github.com/bmuschko/gradle-docker-plugin/commit/2f6b3374e6a3ba4b203dd96513442992dd2bcf90). I thought that we are selecting one main class from the list, however, that might not be the one you want. I'll look into some alternatives.

[2019-12-04 20:38] ypoluektovich commented on #891
What was the reasoning behind changing the "use the main class setting from the application plugin" behavior? It looks perfectly reasonable to me.

[2019-12-04 22:59] bmuschko commented on #891
@ypoluektovich There's no point in forcing users to apply the Gradle core application plugin. It simply add unnecessary overhead (in terms of Gradle lifecycle configuration time) and isn't really required for the tasks this plugin performs. In addition, the configuration of this plugin got even easier as you don't need to spell out the main class name. The use case we are talking about here only a

[2019-12-04 23:04] bmuschko commented on #891
@Robouzou I opened a PR for this: https://github.com/bmuschko/gradle-docker-plugin/pull/892

[2019-12-05 00:34] Robouzou commented on #891
It looks like that will resolve the issue. Thank you for your effort.

[2019-12-05 13:05] michaelzangl opened #893 "Cannot provide a main class that is in a dependency"
### Expected Behavior
Use a java application with:
[code]

### Current Behavior
[code]

### Context
We have a server project that has Tomcat and sets up the spring context (not spring boot).
We have the actual application project with the @Components that get found by classpath scanning.

### Your Environment
Version 6.0.0

[2019-12-05 13:52] bmuschko commented on #893
Can you explain the purpose of the module that contains the build logic above? Does it even contain any code?

Generally speaking, your use case will be supported by https://github.com/bmuschko/gradle-docker-plugin/pull/892.

A couple more comments on your build code:

1. The Gradle core application plugin is not required to use the `com.bmuschko.docker-java-application` plugin. You can add it if

[2019-12-05 13:54] kgrech commented on #887
@bmuschko sorry for the delay, had some personal things to handle. I will definitely have a look this week

[2019-12-05 13:58] bmuschko commented on #887
@kgrech Cool, thanks for getting back in it. Happy to help in any form. I might add some more test cases in the meantime that will help us identify the underlying issue.

[2019-12-05 14:40] danielefranceschi commented on #887
FYI, same problem here in a gitlab-ci job:
(gradle `5.4.1` from dockerhub, plugin `6.0.0`, docker-ce `18.09.6` on Centos7)
[code]
Images (2 tags) are correctly pushed to the registry.

[2019-12-06 09:10] michaelzangl commented on #893
@bmuschko
Thanks for the reply. In our case, I separated the build of the docker to an own subproject that only has dependencies on all the modules that should be included in the image (the server + all spring components)

My workaround for now is to have a buildscript:
[code]

and a Class:
[code]

The patch would make the workaround simplier. It would require to add this line (If I see it correct

[2019-12-06 09:34] xiaoyao9184 commented on #887
Same problem here.
But if use ```docker login``` command to log in, config.json will be created with 'auth' chapter.
you will get "Could not push image: no basic auth credentials" error.

Test on Linux, On windows docker desktop 'auth' chapter always empty, no error.

[2019-12-06 13:59] bmuschko commented on #893
While Gradle gives you all the options of modeling your build code as described, I don't think it's the best option. This code really belongs to your `server` project and not an empty module. Maybe that's more of a Maven methodology. I would break out the logic into a script plugin and then apply it in the `server` project or move that code under `buildSrc` as a binary plugin and then apply it in

[2019-12-06 13:59] #893 closed

[2019-12-06 14:01] #891 closed

[2019-12-06 14:06] tmohme-hypoport commented on #887
Same CI "problem": Missing "~/.docker/config.json" leads to irritating exception while DockerBuildImage still works fine.

Local DockerPushImage produces the exact same exception as for @michaelruocco (image is still pushed successfully).
Using
* docker desktop for Mac 2.1.0.5
* Engine: 19.03.5

Content of local (never manually edited, did a "docker login" on CL) "~/.docker/config.json":
[code]

[2019-12-06 15:03] mikeykoelbl commented on #887
I get a similar a different problem when trying to push an image, and the RegistryAuthLocator throws an error `$HOME/.docker/config.json` file does not exist if the file does not exist (Jenkins on Linux).

As @bmuschko says, at this should not be logged as an error, and I think it should be warn or below. Having no config.json file is not an error condition, and the best thing would be to return t

[2019-12-06 15:18] cdancy commented on #887
Anyone care to send in a PR? Seems like an easy enough fix and believe we all agree upon the solution.

[2019-12-06 15:27] mikeykoelbl commented on #887
I am working on a PR for at least part of this issue.

[2019-12-06 15:33] mikeykoelbl commented on #887
https://github.com/bmuschko/gradle-docker-plugin/pull/894

[2019-12-08 22:25] dchesterman opened #895 "DockerPushImage using invalid format for X-Registry-Auth"
### Expected Behavior
If I have a docker config file that works with the docker cli, the same config could be consumed successfully by the plugin. The `X-Registry-Auth` header would match the documented format.  It seems the auth field in the `~/docker/config.json` should be decoded and re-encoded in the documented format with the explicit user and password fields.

### Current Behavior
Currently

[2019-12-09 04:10] stephen-kruger commented on #868
This issue is Closed, but there is still no fix or workaround.  When will v6.0.0 be released please?

[2019-12-09 13:21] bmuschko commented on #868
@stephen-kruger It's failing because of a transitive dependency in Docker Java and it'll have to be fixed there. The failure is independent of Gradle 6.0-compatibility.

[2019-12-10 17:49] tgoldina opened #896 "Is the documentation for older versions available?"
Thank you for very nice documentation at https://bmuschko.github.io/gradle-docker-plugin/
Unfortunately, we are limited to an older version of gradle and hence the plugin.
Is there a way to get the documentation for an older release by its version number (like v4.3.0)?

[2019-12-10 18:18] bmuschko commented on #896
At the moment the documentation is overwritten everything it is published. As of now, we are not keeping historical records. I believe this should be possible with GitHub Pages but I'd have to try it out. You'd probably need to write the documentation to a folder representing a specific version. Moreover, it would also require the user guide to point to a concrete version of the API docs which wou

[2019-12-10 19:24] bmuschko commented on #895
It seems like you are asking to get two different things addressed if I am not mistaken. Could you clarify?

If I am not mistaken then the [current logic](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/internal/RegistryAuthLocator.groovy#L195-L196) does not decode the username and password via base64. Furthermore, it also doesn't distinguish

[2019-12-10 19:31] bmuschko commented on #887
@sebastianreloaded Can you provide a sample project of some sort or explain the behavior in more detail?

[2019-12-10 19:32] bmuschko commented on #887
@lgniewkowski Do you have a sample of the config file that was failing for you?

[2019-12-11 08:21] sebastianreloaded commented on #887
i will try to put something together over the weekend.

[2019-12-11 16:43] igordumchykov opened #897 "Add labels during gradle execution phase"
I`m trying to add labels to my docker image during execution phase:

`task buildDocker(type: DockerBuildImage) {
doLast {
labels.put("MyLabelName", some_function_that_runs_only_in_execution_and_produces_HelloWorld())
}
}`

### Expected Behavior
I expect my label will present in image in docker inspect:
`
...
    "Labels" : {
      "MyLabelName" : "HelloWorld"
    },
...`

### Current Behavior

But

[2019-12-11 17:08] cdancy commented on #897
@igordumchykov this is more a standard gradle question than anything else. You should be able to do something like:
[code]

[2019-12-11 17:22] bmuschko commented on #897
`labels.put` should work but you are doing this too late in Gradle execution lifecycle by putting it into `doLast`. You this to happen during the configuration phase. For more information, see the Gradle user guide.

[2019-12-11 17:22] #897 closed

[2019-12-11 19:55] kgrech commented on #887
@bmuschko I see you have already fixed missing config case, thanks. Is there anything required to be done on the missing file case?

@michaelruocco Thanks for providing a sample project. I have checked, the issue is not in the format of config.json.
The issue is that ``docker-credential-desktop`` beeing called and it returns some response. The response is supposed to be a valid JSON and the plugin

[2019-12-11 20:04] kgrech commented on #887
@danielefranceschi Could you paste the content of your /root/.docker/config.json file please?

[2019-12-11 20:54] bmuschko commented on #887
@kgrech Please find my answers below.

I think that use case is covered now. I will likely release a new version of the plugin soon to unblocks users that ran into that specific use case.

The usage of the `docker-credential-desktop` tool is a little weird. I am not quite sure how to get the credentials of the URL `https://index.docker.io/v1/`. The usage of the command `docker-credential-desktop g

[2019-12-11 21:28] michaelruocco commented on #887
@kgrech I am not 100% sure which parts of the command you want me to run but:

[code]

[code]

[2019-12-12 05:50] kgrech commented on #887
@bmuschko @michaelruocco
so you need to run ``docker-credential-desktop get`` command. It will not print anything as it waits for  std id. Type the URL of your registry there and press enter and CTRL+D (or Command+D probably in mac). It will print the access token JSON. Below is how it works in mine for the different helper
![Screenshot from 2019-12-12 08-44-49](https://user-images.githubuserconte

[2019-12-12 09:34] michaelruocco commented on #887
So after doing that and using the standard docker hub registry which is the one I am using where I am getting this error I see the following:

[code]
Again it looks to be valid json and the type of thing I would probably expect. It works in exactly the same fashion for each of the different registries I have got in terms of the json format always being the same. Hope this helps!

[2019-12-12 09:46] kgrech commented on #887
@michaelruocco Thanks, this is helpful, I will check it in the evening!

[2019-12-12 11:56] danielefranceschi commented on #887
That file does not exist, as I am in a CI pipeline and no `docker login` has been executed (and it will never be): credentials are used exclusively by the `docker-java` client library.

[2019-12-12 15:27] bmuschko commented on #887
I released a new version that addressed the issue of a non-existent config file. Most users in this issue reported that very use case. Please open other, more specific issues for other use cases. Thanks!

[2019-12-12 15:27] #887 closed

[2019-12-12 15:49] danielefranceschi commented on #887
what about the `com.bmuschko.docker-spring-boot-application` plugin?

[2019-12-12 15:52] bmuschko commented on #887
@danielefranceschi Can you be more specific? The convention plugins use the same underlying mechanism for resolving the Docker config file.

[2019-12-12 16:08] danielefranceschi commented on #887
[code]
does not find the `6.1.0` version on repositories gradle-plugins, maven-central, jcenter

[2019-12-12 16:26] danielefranceschi commented on #887
Now it works perfectly in CI, thanks! (and thanks for the great work too)

[2019-12-12 16:39] kgrech commented on #887
@michaelruocco I've tested you json and the plugin indeed can parse it with no issue. Maybe in your case, it returns something else.

@bmuschko I have raised a PR: https://github.com/bmuschko/gradle-docker-plugin/pull/898
What I did is that I slightly improved your test case to work with a JSON provided by @michaelruocco
But most important is that I've added a debug line to log the response of the

[2019-12-12 23:48] bmuschko commented on #895
@kgrech Do you have the bandwidth to look at this issue as well?

[2019-12-13 04:58] kgrech commented on #895
@bmuschko I have. How exactly you would like it to behave? It looks like it working as expected. Do you want to overwrite the credentials from the config json object X?

[2019-12-13 12:41] octopus-prime opened #899 "Credentials cannot be found in native keychain"
Migrating from 5.3.0 to 6.1.1 is not possible.

Version 5.3.0 with
[code]
works fine.

But version 6.1.1 with
[code]
does not work fine, because it gives errors
[code]

[2019-12-13 14:52] bmuschko commented on #895
@kgrech I'd say let's get started by working on the handling of the value for `X-Registry-Auth`.

1. Start by adding a functional test case that shows that it use case doesn't work properly. The test case fails.
2. Make the relevant changes in the code.
3. Test case should pass.

I can look into the use case for overwriting the credentials via the plugin extension. We might have altered that behav

[2019-12-13 14:54] bmuschko commented on #899
Thanks for reporting. Could you post the contents of your `config.json` file? Also, does the key of the credentials exist in the keychain?

[2019-12-14 06:13] kgrech commented on #895
I believe the ``X-Registry-Auth`` is just a serialized value of the docker's java ``AuthConfig`` object: https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/internal/RegistryAuthLocator.groovy#L196

The problem is that auth field object in a  config JSON ``"auth": "bXl1c2VyOm15cGFzc3dvcmQ="`` decodes as just myuser:mypassword. This is a basic aut

[2019-12-14 09:45] octopus-prime commented on #899
[code]

No. No credentials needed for the registry.

Ubuntu 18.04.3

[2019-12-14 16:54] bmuschko commented on #899
Thanks. What's the output of the execution of the command `docker-credential-secretservice list`?

[2019-12-14 17:37] octopus-prime commented on #899
[code]

[2019-12-14 17:55] bmuschko commented on #899
OK, can you run your Gradle command with the `-d` flag to enable the debug log level? You should find an output that starts with `Credential helper response:`. Can you post that line? It's basically the output of a `docker-credential-secretservice get` command. I suspect that the response is not proper JSON or contains some special characters.

[2019-12-14 18:05] octopus-prime commented on #899
[code]

[2019-12-14 18:09] bmuschko commented on #899
Is it possible that the credential for `https://index.docker.io/v1/` existed at some point but then you manually deleted it from the keychain? It seems to be the case as indicated by the message "credentials not found in native keychain". We'll need to put some code in place to handle the use case.

[2019-12-15 15:07] bmuschko commented on #895
@kgrech OK, thanks for the background. Would you be interested in working on a PR for this?

[2019-12-16 04:21] kgrech commented on #895
@kgrech yes, however, it might be a bit hard to find a time before the new year holidays, but I will try to allocate it

[2019-12-16 21:19] vinnyasa opened #900 "java.lang.StackOverflowError with java:98 dependency missing"
We are seeing issues with docker-remote-api
Using Gradle 6.0.1
In running build gradle getting:
java.lang.StackOverflowError at org.gradle.api.internal.provider.AbstractProperty.maybeVisitBuildDependencies(AbstractProperty.java:98)

The build is trying to pull an image from a private registry, but it never gets to that task

This is a Gradle 6.0.1 project building in a Windows Server 2019

[2019-12-16 22:54] bmuschko commented on #900
Can you please post the full stack trace? Given the error message you posted above I think this is a Gradle core issue.

[2019-12-17 10:48] tmohme-hypoport opened #901 "Unable to push to AWS ECR: HttpHostConnectException on port 80"
I'm trying to push an image with the plugin to AWS ECR, but can't get it working.
Pushing the image with the plugin to hub.docker.com works flawless.
Pushing the image with `aws ecr get-login ...` & `docker login ...` & `docker push ...` to AWS ECR works.

I've tried the `com.patdouble.awsecr` plugin as well as a dyi solution for getting the AWS credentials.
I'm pretty sure the credentials I obtai

[2020-01-09 09:25] dmone90 commented on #524
@vshar1 what configuration did you actually used to make it work.
I am facing the same problem.

[2020-01-09 10:28] vshar1 commented on #524
@dmone90 - Sorry it's allmost 2 years now, can't think of something on top of my head.
Just play with it for couple of days and if you are still stuck then drop a note here. I may look on weekend.

[2020-01-09 11:04] dmone90 commented on #524
I managed to solve it using the following syntax:
[code]

[2020-01-11 18:36] bmuschko commented on #900
I am going to close this issue as I haven't gotten any more details. Let us know if you still want to dive deeper into this issue. Please reopen as needed. Generally speaking, I don't think this is an issue with the plugin.

[2020-01-11 18:36] #900 closed

[2020-01-11 18:37] bmuschko commented on #886
@cdancy Were you planning to submit a PR for this soon?

[2020-01-12 09:12] kgrech commented on #895
Looks like we indeed need to decode it: https://github.com/tourea/docker-java/blob/98f44966280603a69e1f5594809ea822a2dc7342/src/main/java/com/github/dockerjava/core/AuthConfigFile.java#L133

[2020-01-13 14:46] #895 closed

[2020-01-14 09:49] schnabel commented on #895
Hi, you might want to add @Requires({ TestPrecondition.DOCKER_PRIVATE_SECURE_REGISTRY_REACHABLE }) to the new test case.

[2020-01-14 14:24] bmuschko commented on #895
@schnabel Can you point me to the test case you are referring to via a GitHub line link?

[2020-01-14 21:30] schnabel commented on #895
@bmuschko I was referring to the new test case from the pull request. Sorry for being to imprecise. Here is the [line](https://github.com/bmuschko/gradle-docker-plugin/blob/5402439398542d3c94953e9a907fa9c6a5ae7c7f/src/functTest/groovy/com/bmuschko/gradle/docker/DockerJavaApplicationPluginFunctionalTest.groovy#L250)

[2020-01-14 23:19] bmuschko commented on #895
@schnabel Thanks, done! https://github.com/bmuschko/gradle-docker-plugin/commit/366fe98fb536cec0a704780e2e54a0e10897a849

[2020-01-15 00:02] robert-smith-911 opened #904 "JDK 11 OK Now?"
Hi been following along and have a JDK 11 project I'm working on. Is JDK 11 supported now?

[2020-01-15 00:38] bmuschko commented on #904
Not at the moment because of https://github.com/docker-java/docker-java/issues/1244.

[2020-01-15 00:41] bmuschko commented on #904
I am going to close this issue for now. I will release a new version of the plugin as soon as we have a version of Docker Java that fully supports Java 11. Alternatively, you could probably add the `javax.xml.bind` to your build which should make it work.

[2020-01-15 00:41] #904 closed

[2020-01-17 13:14] andrewpakhomov opened #905 "JDK 13 Issues"
Have following error when using with JDK 13 and Gradle 6.1
[code]
I saw discussion in https://github.com/bmuschko/gradle-docker-plugin/issues/868, and i think we can fix this issue without next release of docker-java-api.

The idea is to replace transitive dependency on com.kohlschutter.junixsocket:junixsocket-core:2.2.0 with com.kohlschutter.junixsocket:junixsocket-core:2.2.1 like this:

[code]
I

[2020-01-17 15:02] bmuschko commented on #905
We'll update to the latest version of Docker Java as soon as they release it. It will contain the fix: https://github.com/docker-java/docker-java/issues/1245.

[2020-01-17 15:02] #905 closed

[2020-01-17 18:49] bmuschko commented on #899
@kgrech Any chance you have the time to fix this issue as well? That would be amazing!

[2020-01-20 11:44] andrewpakhomov commented on #905
I fully understand all consequences of "hacking" transitive dependencies, but in case somebody will need support of java 13 here and now I left small how-to instruction here:

1. pull latest master of https://github.com/bmuschko/gradle-docker-plugin

[2020-01-20 22:15] Bartman0 opened #907 "Groovy commands involving stages do not seem to work"
### Expected Behavior

I was expecting to define a multi-stage docker build using Groovy statements.
However, I could not get it work with statements like I found in the test cases:
   from('golang', 'confd')
   copyFile('/go/bin/confd', '/opt/confd/bin/', 'confd')

What am I missing here?

### Current Behavior

During building, the from() statement can not be resolved.

I currently use:
   from(n

[2020-01-20 23:48] bmuschko commented on #907
In a build script, you'll have to import the class `Dockerfile`. `From` is an inner class of the task `Dockerfile`. Therefore, your statement would have to say `new Dockerfile.From`. You can find a functional test here: https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/functTest/groovy/com/bmuschko/gradle/docker/tasks/image/DockerfileFunctionalTest.groovy#L311.

[2020-01-21 09:02] Bartman0 commented on #907
I understand, but I think we are on different pages.

This does not work:

from 'golang', 'confd'

This does:

from(new From('golang').withStage('confd'))

I indeed imported com.bmuschko.gradle.docker.tasks.image.Dockerfile.From

The same goes for:

copyFile(new CopyFile('/go/bin/confd', '/opt/confd/bin/').withStage('confd'))    // works

but I would like to get the simpler syntax working:

copyFi

[2020-01-21 17:51] bmuschko commented on #907
Could you please provide more information?

- Did you recently upgrade the plugin version? If yes, please provide original version and current version. The API did change over time.
- Please provide the error message and stack trace.
- Initially, you said "During building, the from() statement can not be resolved." but then you mention that the `copyFile` method doesn't work for you. Seems like yo

[2020-01-21 20:34] Bartman0 commented on #907
Thanks for your answers. That explains it: I was looking at old examples, which I also could not explain looking at the docs.
Case closed.

[2020-01-21 20:36] #907 closed

[2020-01-23 08:40] vierbergenlars opened #908 "Retrieve all known credentials for DockerBuildImage custom task"
The `DockerBuildImage` task uses registry credentials that are configured on the task/project configuration.

Recently, `DockerPushImage` and `DockerPullImage` gained the ability to read credentials from the native `docker login` authentication, but `DockerBuildImage` does not yet support this and only uses credentials configured inside Gradle.

I am willing to contribute this change, but I first

[2020-01-25 12:16] kgrech commented on #899
Hi @octopus-prime I can reproduce the error reported by you, however it does not leads to the incorrect behavior.

Could you confirm that despite the error message printed, the build is still happening correctly?

[2020-01-27 00:24] #899 closed

[2020-01-27 00:55] bmuschko commented on #901
Just wondering...why are you reading the credentials during Gradle's execution phase (as indicated by the `doFirst`) and not during the configuration phase? It also seems like you are setting the URL twice. Why?

[2020-01-27 08:29] tmohme-hypoport commented on #901
We defer fetching the credentials to the execution phase because during a typical development build we don't need to execute the task. It is mainly used in CI builds. The intention was to avoid problems with missing credentials when we don't need them anyway (because the task won't be executed). I can elaborate on this further if you are interested.

Setting the url twice was not intended. It most

[2020-01-27 09:51] tmohme-hypoport commented on #901
Just did some more tests:

**Set url during configuration and execution (like above)**
=> No connection on port 80, timeout - as described above

**Set url only during execution**
=> Immediate failure during task execution: "Could not push image: unauthorized: authentication required"

**Set url, username, password during configuration**
=> The task finishes successfully (image gets pushed) althou

[2020-01-27 13:50] bmuschko commented on #901
Upgrade to the lastest version of the plugin. We put in some fixes in the meantime.

[2020-01-27 14:39] tmohme-hypoport commented on #901
Upgraded to the latest version (6.1.3) => No more complaints from groovy/json

Thank you very much for your support!

[2020-01-27 15:22] #901 closed

[2020-01-28 08:53] mkeller-ergon commented on #648
Please reopen this issue, it makes using DockerCopyFileToContainer on Windows impossible!

[2020-01-28 14:09] bmuschko commented on #648
@mkeller-ergon Were you planning to sending a pull request? Because otherwise it would be _just_ an open issue that nobody is going to address.

[2020-01-28 14:29] schnabel opened #910 "Configuration issues when using docker tasks in new plugin"
I am trying to use some of the docker tasks in my own plugin:

public class MyPlugin implements Plugin<Project> {
    public void apply(Project project) {

        MyExtension extension = project.getExtensions().create("myext", MyExtension.class);

        project.getTasks().register("pull", DockerPullImage.class, new Action<DockerPullImage>() {

            @Override
            public void execu

[2020-01-28 14:34] schnabel commented on #910
This is related to [https://github.com/bmuschko/gradle-docker-plugin/issues/674]()

[2020-01-28 16:35] bmuschko commented on #910
I don't think this is related to https://github.com/bmuschko/gradle-docker-plugin/issues/910. https://github.com/bmuschko/gradle-docker-plugin/issues/910 is just about using the `register` method etc. in the convention plugins.

I'd need to see your full code. Please create a GitHub repository that full reproduces the issue. IMHO I think your issue is just how you map a value from an extension to

[2020-01-29 12:56] schnabel commented on #910
Hi @bmuschko ,

I guess we both have a point. Lazy Configuration with Property solves my problem as you suggested. Nevertheless you might want to take a look at [my-plugin](https://github.com/schnabel/gradle-my-plugin) and [my patch](https://github.com/schnabel/gradle-docker-plugin/tree/ISSUE-910).
With this patch of the gradle-docker-plugin one can still use extensions without Property attributes

[2020-01-29 18:45] bmuschko commented on #910
The Provider concept and the task configuration avoidance API are somewhat orthogonal in its functionality. For https://github.com/bmuschko/gradle-docker-plugin/issues/674 I'd like to see the complete change to the task configuration avoidance API. Switching this over one by one can easily lead to unexpected side effects. Feel free to submit a PR for it.

[2020-01-29 18:45] #910 closed

[2020-01-29 19:35] schnabel commented on #910
Did you have a look at the patch? All tests and functional tests still pass. I am certainly not an expert on this stuff. I just thought if it is recommended to use the register API and all tests pass with the patch it might be a good choice. It would help those that are not aware of the Provider/Property stuff :-).

[2020-01-30 15:09] bmuschko commented on #910
I did have a look at the patch.

The `Provider` API is the recommended way to implement lazy evaluation. The `register` method is more of a workaround here for your use case.

I am not going to mix "register" and "create" methods to avoid unexpected side effects as mentioned above. I'd be happy to switch over to the task configuration avoidance API but it should be done across the board in this pl

[2020-01-30 20:01] chhex opened #911 "Some Questions Task DockerStartContainer"
### Context
I am migrating docker scripts and docker-compose scripts  to the gradle builds using the gradle-docker-plugin, since we see a great potential for automated  functional integrations tests and this great plugin looks exactly like what we need.  What we are testing:  Gradle Bluilds with in-house developed Plugins used in Jenkins Pipelines.

Specifically we are using a dockerized version o

[2020-01-31 13:16] chhex commented on #911
Looking into extending AbstractDockerRemoteApiTask and into https://github.com/docker-java/docker-java/wiki Examples and taking it from there

[2020-01-31 14:06] bmuschko commented on #911
FYI: Various options may or may not be supported by this plugin. It's just a matter of keeping them in sync. I suggest you have look at the [Groovydoc](https://bmuschko.github.io/gradle-docker-plugin/api/) of this plugin.

[2020-01-31 14:14] bmuschko commented on #908
I am not sure that's the case. The logic is pretty much the same between `DockerPushImage`, `DockerPullImage` and `DockerBuildImage` when comes down to consuming credentials and providing it to Docker Java. Can you explain why you think `DockerBuildImage` behaves differently?

From what I understand, you will want to gather all credentials for `DockerBuildImage` and then pass them to Docker Java.

[2020-01-31 14:22] chhex commented on #911
Great, yes that helps. Actually i am backtracking again. I think most are supported.
One quick question though

[2020-01-31 14:23] #911 closed

[2020-01-31 15:13] bmuschko commented on #838
Looks like we haven't gotten any PRs for this from the community. I am going to close the issue for now.

[2020-01-31 15:13] #838 closed

[2020-02-02 11:44] octopus-prime commented on #899
Just tried v6.1.3... works like a charm! ty :-)

[2020-02-02 19:43] chhex commented on #911
Everything is supported! Best thanks, the GroovyDoc helped.

[2020-02-03 07:06] vierbergenlars commented on #908
The logic for `DockerBuildImage` is slightly different. `DockerPushImage` and `DockerPullImage` have the same logic to look up credentials, passing the image name to the `RegistryAuthLocator#lookupAuthConfig()` to look up the correct credentials.

https://github.com/bmuschko/gradle-docker-plugin/blob/0b925626ea69159382316a80344d5f6240a12f65/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/Do

[2020-02-03 08:37] sergey-morenets opened #912 "JDK 13 support"
Hi

Is there any plans to support JDK 13 for com.bmuschko.docker-spring-boot-application plugin?
JDK 12 or earlier is already supported. But we use JDK 13 for our project.

[2020-02-03 08:45] orzeh commented on #912
@sergey-morenets  please take a look at #905 and #885

[2020-02-03 14:42] bmuschko commented on #908
Oh, didn't see that when I had a look at the code. If you want to provide a PR for this, go ahead. Please add tests that verify the behavior.

[2020-02-04 08:15] vierbergenlars opened #914 "DockerExecStopFunctionalTest fails when credsStore is configured"
### Expected Behavior

Functional tests are independent of user configuration of the environment that they run in.

### Current Behavior

The functional tests do not pass environment variables, but the `~/.docker/config.json` file is read by functional tests. This results in an error when a credsStore is configured, because `$PATH` is empty and the command can't be found.

### Context

I was runni

[2020-02-04 14:08] Charleeboyle opened #915 "DockerBuildImage hangs when specifying image name with upper case"
When running DockerBuildImage through the docker-remote-api and attempting to specify `images.add('some_name')` where `some_name` includes a upper-case letter, the ./gradlew build hangs.

### Expected Behavior

Docker provides message `invalid argument "some_name" for "-t, --tag" flag: invalid reference format: repository name must be lowercase` when attempting to name image tag with an upper-case

[2020-02-04 14:29] orzeh commented on #915
@Charleeboyle I couldn't reproduce the issue with the sample build script you attached on my local Linux box. I needed to remove the `build.dependsOn 'buildImage'` line because it was causing build errors so I assume your build script contains some other tasks/plugins. Can you check it with different OS?

[2020-02-04 15:25] Charleeboyle commented on #915
Hi, so I have been following https://bmuschko.github.io/gradle-docker-plugin/#remote_api_plugin

My code does include additional tasks/plugins - Were you able to build a docker image after removing `build.dependsOn 'buildImage'` or do you receive the Docker error `invalid argument "some_name" for "-t, --tag" flag: invalid reference format: repository name must be lowercase` ?

[2020-02-04 21:40] orzeh commented on #915
@Charleeboyle sorry I wasn't clear, yes I got the error:
[code]

[2020-02-05 03:37] #912 closed

[2020-02-06 01:01] kazvictor opened #916 "Typing CTRL-C stops gradle but leave running containers"
Typing CTRL-C stops gradle but leave running containers. Is there a way to have it also stop the running containers. For example see this simple build.gradle
[code]

### Expected Behavior

Run `gradle runMyContainer`
This will output '.' on a new line every second.
Type CTRL-C
This stops the gradle process.
I would like this to also stop the running container.

### Current Behavior

The running co

[2020-02-06 23:19] bmuschko commented on #916
CTRL+C does not stop the Gradle process, only the the build is canceled. The Gradle daemon will continue to run.

This plugin doesn't really start a process anyway. It simply communicates via the Docker remote API. You'd have to implement some sort of hook yourself if you want something to happen if the build ends. I am not sure which one would be most appropriate. Maybe `gradle.afterProject`? I'd

[2020-02-06 23:19] #916 closed

[2020-02-06 23:20] bmuschko commented on #915
Sounds like there is no issue?

[2020-02-11 14:43] bmuschko commented on #914
I added the stack trace here for further investigation: https://scans.gradle.com/s/dxu2s6jgwabp6/tests/dqwcqqtprpdqc-52lta7gn3eo6g

I don't think this is related to your changes but let's address the issue separately. It's probably a flaky test. I restarted the Travis build of your PR.

[2020-02-11 15:00] vierbergenlars commented on #914
This is not the same issue as the test that fails on travis.

[2020-02-11 15:12] bmuschko commented on #914
Oh, I just quickly grabbed what I found for the build. Let's close this issue here and further discuss on the PR. It's confusing to have different issues for a PR that probably causes the problem.

At the moment I do not have a lot of time to look at things so I would suggest we start by trying to get the build green on Travis.

[2020-02-11 15:12] #914 closed

[2020-02-11 15:12] #915 closed

[2020-02-11 17:26] berntie opened #917 "Support for npipes in docker-java upcoming. Any plans for integrating this?"
### Current Behavior
As of now, the gradle-docker-plugin requires that on Windows 10 tcp://localhost:2375 is exposed (cf. #854). This is due to limitations of docker-java (explained in #769).

As a consequence, you cannot use this plugin under Windows 10 with Linux containers, because in recent versions of Docker Desktop exposing the port [only works with Windows containers](https://github.com/doc

[2020-02-11 19:03] pitometsyurii opened #918 "Execution failed for task ':collector:buildDockerImage'. > com.bmuschko.gradle.docker.shaded.org.apache.http.conn.HttpHostConnectException: Connect to 127.0.0.1:2375 [/127.0.0.1] failed: Connection refused: connect"
Why this issue is happening?

Caused by: com.bmuschko.gradle.docker.shaded.org.apache.http.conn.HttpHostConnectException: Connect to 127.0.0.1:2375 [/127.0.0.1] failed: Connection refused: connect
        at com.bmuschko.gradle.docker.shaded.org.apache.http.impl.conn.DefaultHttpClientConnectionOperator.connect(DefaultHttpClientConnectionOperator.java:159)
        at com.bmuschko.gradle.docker.shad

[2020-02-12 15:12] bmuschko commented on #918
Isn't the error message speaking for itself? The Docker Java libraries tries to connect to the Docker daemon but apparently can't. Do you have Docker running on your machine? What's your OS and the distribution of Docker you have installed?

[2020-02-12 15:14] bmuschko commented on #917
I don't have Windows so it would need to be someone else from the community. You could give it a shot assuming that you have a Windows machine.

Within in a week of the release of the final version of Docker Java.

[2020-02-12 19:08] berntie commented on #917
Thanks for the estimate.

I dread the effort to build a test version (never built a gradle plugin before), but if nobody else will do it, maybe I'll give it a shot.

[2020-02-13 15:59] paulnuk opened #919 "Warning - Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0."
Running /gradlew --warning-mode all dockerBuildImage gives warning messages about features that are deprecated and are due to be removed in Gradle 7

### Expected Behavior

Running the  dockerBuildImage task should not generate warnings about deprecated features

### Current Behavior

Running ./gradlew --warning-mode all dockerBuildImage gives the following warnings:

Task :dockerCreateDockerfile

[2020-02-14 04:57] avinash-traceable opened #920 "Keep the Network Name and Network Id separate in DockerCreateNetwork"
There should be a clear distinction between Network Name and Network Id for the DockerCreateNetwork task similar to the Container Name and Container Id in DockerCreateContainer task

We have a case where we register a common task for all sub projects with a fixed name like this:
[code]
There is another task say `createTestContainer` within each of the sub projects that depends on the `test-network

[2020-02-14 14:33] bmuschko commented on #919
My guess is that Gradle doesn't discover this input/output annotations correctly. The field `instruction` is annotated with `@Nested`, however, it's not a class, it's an interface. `FileInstruction` is an implementation of that interface. I think that trips up Gradle's checks.

Would you be interested in investigating further and/or confer with the Gradle team on this?

[2020-02-14 14:47] bmuschko commented on #920
I think the implementation of `DockerCreateNetwork` isn't right at the moment. The input property should be the name of the network. In addition, the network ID should be captured from the response of creating the network. Care you send a pull request?

[2020-02-14 14:49] bmuschko commented on #917
I am going to close this issue for now. We will definitely integrate the latest version of Docker Java as soon as they release the final. After that you can see if it fixes the issue. I don't suspect anyone to proactively try it out with an RC.

[2020-02-14 14:49] #917 closed

[2020-02-14 16:44] paulnuk commented on #919
I've raised an issue with the Gradle developers here:

https://github.com/gradle/gradle/issues/12243

[2020-02-14 16:51] bmuschko commented on #919
@paulnuk We'll see what the Gradle teams says. My comment was more based on a theory than an actual proof. ;-) It would require a bit of digging but maybe I am right.

[2020-02-14 16:52] bmuschko commented on #919
Please also add your task definition and the Gradle version so someone can reproduce the issue.

[2020-02-17 08:03] lptr commented on #919
Hey, Gradle person here. Gradle will scan the implementation type, not the declared type, so it is behaving as intended here I think (though I wasn't able to find `FileInstruction` yet). The goal of this warning is to ensure that no input or output is forgotten, and is doing it here.

[2020-02-17 09:20] joerg-pfruender commented on #885
I cloned your repository and I've build the plugin with upgrading the com.github.docker-java:docker-java dependency to
```shaded("com.github.docker-java:docker-java:3.2.0-rc2")```
and everything worked.

Please upgrade to `com.github.docker-java:docker-java:3.2.0` as soon as it is released.

[2020-02-17 13:54] bmuschko commented on #919
@lptr `FileInstruction` is an inner class. You can find it [here](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/Dockerfile.groovy#L1123).`FileInstruction` implements the [interface `Instruction`](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/Dockerfile.groovy#

[2020-02-17 15:02] lptr commented on #919
`Instruction` does not declare all the input/output annotations, as `FileInstruction` add a `getFile()` method without annotations:

https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/Dockerfile.groovy#L1135-L1137

Gradle analyzes the full type hierarchy, so annotations declared in `Instruction` are picked up as expected. The (relati

[2020-02-17 17:16] bmuschko commented on #919
Got it. You are right. Thanks for pointing that out!

[2020-02-19 16:08] bmuschko commented on #919
@paulnuk Are you interested in working on a fix?

[2020-02-19 20:20] bmuschko commented on #918
Closing the issue as I didn't get a reponse.

[2020-02-19 20:20] #918 closed

[2020-02-20 11:50] Coobik commented on #484
still it's not clear how to use this plugin to build a docker image from the existing dockerfile

[2020-02-20 11:58] orzeh commented on #484
@Coobik did you check [User Guide](https://bmuschko.github.io/gradle-docker-plugin/#usage) and `DockerBuildTask` [documentation](https://bmuschko.github.io/gradle-docker-plugin/api/com/bmuschko/gradle/docker/tasks/image/DockerBuildImage.html)? What exactly is unclear for you?

[2020-02-20 13:36] paulnuk commented on #919
Sorry, I don't know Groovy nor have I written a gradle plugin before.

[2020-02-23 18:22] #919 closed

[2020-02-24 18:06] bmuschko commented on #896
I am going to close the issue for now. I won't be able to get to it anytime soon, however, I love to see a contribution from the community.

[2020-02-27 16:25] hamdijaw opened #921 "SpringBootApplication ECR-Gradle-Plugin dockerPushImage not working due to TAG"
The problem that I am facing is that I am not able to push docker image to ECR.
Docker Image is getting built successfully but it's not getting pushed as I am not aware how do I prepend the ECR url to my Docker Tag for Docker Push to work for ECR. I tried using 'tag' but then got the error :
_> Could not set unknown property 'tag' for extension 'springBootApplication' of type com.bmuschko.gradle.d

[2020-02-27 22:01] orzeh commented on #921
@hamdijaw please try to add ECR url to `images` property like:
[code]
Also you have to specify username and password in `registryCredentials` closure. User your AWS credential there.

[2020-02-27 23:50] hamdijaw commented on #921
Thanks Orzeh for the suggestion, I had earlier tried url in images earlier but then it's not able to distinguish my repo.
If I give this: images = ['123456789.dkr.ecr.us-east-1.amazonaws.com/my_ecr_repo/firstms:1.4']
I am getting following error:
---- Error Starts ----
Successfully built 886843c7d314
Successfully tagged 123456789.dkr.ecr.us-east-1.amazonaws.com/my_ecr_repo/firstms:1.4
Created imag

[2020-02-28 04:32] bmuschko commented on #921
You may rather want to stick to the issue you created for the other plugin: https://bitbucket.org/double16/gradle-aws-ecr-plugin/issues/20/springbootapplication-ecr-gradle-plugin. I am not exactly sure if the version of `com.patdouble.awsecr` is still compatible with the latest version of `com.bmuschko.docker-spring-boot-application`.

[2020-02-28 05:23] hamdijaw commented on #921
Thanks bmuschko. Which version do you recommend of "com.patdouble.awsecr" and "com.bmuschko.docker-spring-boot-application" that are known to be compatible?

[2020-02-28 09:02] hamdijaw commented on #921
@bmuschko : Thanks for your help.
I found the fix, the issue was with my tag. Note this was causing the issue ":1.4"
Earlier (did not work):  images = ['123456789.dkr.ecr.us-east-1.amazonaws.com/venu_docker_repo:firstms_**:1.4**_']
**Later (worked)**: images = ['123456789.dkr.ecr.us-east-1.amazonaws.com/venu_docker_repo:firstms']

[2020-02-28 09:53] orzeh commented on #921
@hamdijaw as per [AWS ECR documentation](https://docs.aws.amazon.com/AmazonECR/latest/userguide/docker-push-ecr-image.html) image tag has the following scheme:
[code]
I guess `[repository_name]` can't contain `/` characters so in your case `my_ecr_repo/firstms` won't work. If `firstms` is your tag, then the solution you found is correct.

[2020-02-28 09:53] #921 closed

[2020-02-28 10:26] hamdijaw commented on #921
Thanks @orzeh

[2020-03-02 09:24] bgranvea opened #922 "Cannot mutualize registry credentials in a multi-project"
### Expected Behavior
In a multi-project context, I would like to define registry credentials in root build.gradle

### Current Behavior
I get an error "could not push image: errors: denied: requested access to the resource is denied. unauthorized: authentication required".

If I define the credentials in the subproject, it works.

### Steps to Reproduce (for bugs)
- unzip testDockerPush.zip
[test

[2020-03-03 00:24] bmuschko commented on #922
I briefly had a look at your sample project. Why are you applying the plugin on the root level and then again in the subproject? It likely causes things to be changed that you set in the root project.

I'd just do the following:

[code]

Remove all other references of the plugin. Also, you might just want to use the [plugin extension](https://bmuschko.github.io/gradle-docker-plugin/#extension) whi

[2020-03-04 13:15] bgranvea commented on #922
yes it seems better if plugin is not defined at root level, thanks! I'm new to Gradle and I'm still struggling to structure my multi-project.

[2020-03-04 14:00] bmuschko commented on #922
Does that mean you could get it to work and we can close this issue?

[2020-03-04 17:40] allen-ziegenfus opened #923 "Cannot add a configuration with name 'dockerJava' as a configuration with that name already exists"
I am trying to solve a similar problem to https://github.com/bmuschko/gradle-docker-plugin/issues/575 but when I tried to apply the remote-api plugin, I then get:

[code]

[2020-03-04 17:51] #923 closed

[2020-03-05 08:07] bgranvea commented on #922
yes it's working now, thanks.

[2020-03-05 08:07] #922 closed

[2020-03-10 12:58] danez opened #924 "Setting working directory for exec command"
### Proposed Feature

Add support for changing the working directory in `DockerExecContainer` for the current command. It should be possible as docker-java has an option for it: https://github.com/docker-java/docker-java/blob/master/docker-java-api/src/main/java/com/github/dockerjava/api/command/ExecCreateCmd.java#L55

[2020-03-10 13:10] orzeh commented on #924
@danez are you interested in submitting PR for this?

[2020-03-10 14:30] danez commented on #924
Yeah I can look into this at some point.

[2020-03-11 01:20] bmuschko commented on #905
FYI: I just released a version of the plugin, 6.2.0, with the latest Docker Java version as dependency. It should be Java 13-compatible AFAIK. Could you please give it a try?

[2020-03-11 01:20] bmuschko commented on #885
FYI: I just released a version of the plugin, 6.2.0, with the latest Docker Java version as dependency. It should be Java 13-compatible AFAIK. Could you please give it a try?

[2020-03-11 01:20] bmuschko commented on #874
FYI: I just released a version of the plugin, 6.2.0, with the latest Docker Java version as dependency. It should be Java 13-compatible AFAIK. Could you please give it a try?

[2020-03-11 01:21] bmuschko commented on #912
FYI: I just released a version of the plugin, 6.2.0, with the latest Docker Java version as dependency. It should be Java 13-compatible AFAIK. Could you please give it a try?

[2020-03-11 11:31] joerg-pfruender commented on #885
@bmuschko Works like a charm! Thank you very much!

[2020-03-11 13:24] bmuschko commented on #885
@joerg-pfruender Awesome, thanks for the feedback.

[2020-03-12 16:16] jim-chewy commented on #874
Hello,
 I took a project which used the 6.1.1 plugin and tried to compile it with Java 13, which (as expected) failed. I then modified the plugin to be 6.2.0 and when I build I get error saying it can't find 6.2.0. Do I need to add something else to the file?

_I just got back from vacation and didn't look at the docs yet as I presumed all I had to do was update the version info...._

`./gradlew c

[2020-03-12 23:17] bmuschko commented on #874
@jim-chewy Thanks for letting me know. Something the Gradle team needs to figure out: https://gradle-community.slack.com/archives/CA745PZHN/p1584054905033700. Get it from JCenter in the meantime.

[2020-03-13 13:13] bmuschko commented on #874
@jim-chewy They deployed a fix and it's available now.

[2020-03-14 14:23] #924 closed

[2020-03-14 14:37] #908 closed

[2020-03-14 16:52] bmuschko commented on #920
Will be fixed with the next version.

[2020-03-14 16:52] #920 closed

[2020-03-17 13:35] berntie commented on #917
I see you've already switched to docker-java 3.2.0, thank you. Just to let you know: docker-java only supports npipe for windows [via OkHttp](https://github.com/docker-java/docker-java/issues/765#issuecomment-588942835).

Do you have plans to switch to OkHttp (as far as I can tell, you're still [using netty](https://github.com/bmuschko/gradle-docker-plugin/blob/0ae511f9b0a7f95c8614d676fc54c142713a

[2020-03-17 14:20] cdancy commented on #917
@berntie would it be something like "if windows then use this factory else use this one"?

[2020-03-17 14:22] bmuschko commented on #917
@cdancy I'd vote for "no magical behavior". I'd make OkHttp simply the default with the option to switch to other implementation. Jersey is a poor option anyway. Moreover, the TestContainers project seems to have used OkHttp for a long time and it seems to be working pretty well for them.

[2020-03-17 14:25] cdancy commented on #917
Agreed. Nothing but good things to say around `OkHttp` from my end and if the default "just works" across the board then lets use that. We've got lots of folks here who use native docker on windows (I don't because I'm not a crazy person :) ) and so this would be a win for them as they'd be able to use the plugin without having to expose ports and have things just work.

[2020-03-17 14:27] bmuschko commented on #917
@cdancy Switching to OkHttp may also remove the requirement for having to support that Netty switch if it just works fine.

@berntie Go ahead. In the code that switches between the implementations, make OkHttp the default.

[2020-03-17 14:32] cdancy commented on #917
Yeah we've been using the switch here in production since I put it in with no issues to speak of thus far. I don't know if I'd call that a win, or an OK to move forward, but it's working in our pipeline with no issues which is massive and so that has to count for something ;)

[2020-03-17 14:38] berntie commented on #917
Easy, @bmuschko , easy, please. I've already failed a quick try to build a version with OkHttp. ;-)

Nonetheless, if you don't plan to do the switch yourself I might give it another shot. I assume your plugin would make my life a lot easier.

[2020-03-17 14:44] bmuschko commented on #917
@berntie

You made it sound like you wanted to provide a PR. ;-) I am not planning to work on that particular change myself in the near future.

[2020-03-17 14:57] berntie commented on #917
Sorry for the misunderstanding. To make it clear: No, I don't quite _want_ to provide a PR, but I might if I have to _and_ if I can produce a fairly reasonable patch. ;-)

[2020-03-17 19:13] jim-chewy commented on #874
Sorry I took so long to get back to this.

`
...
Successfully built 2a9efe0dd05c
Successfully tagged myserver-docker.jfrog.io/dd/orchestor:2.0.2e3ed31-dev
Created image with ID '2a9efe0dd05c'.

BUILD SUCCESSFUL in 41s
6 actionable tasks: 6 executed
`

So it looks like it is working...

Thanks
Jim

[2020-03-18 12:05] pskowronek opened #928 "Redirect DockerExecContainer output to a variable?"
Is there some swift way to redirect DockerExecContainer output to a variable? I mean without hacking with gradle standard output redirection. For example Exec task has standardOutput which can be overridden so the output can be set to a variable.

Any hint appreciated :)

[2020-03-20 22:19] jonatan-ivanov commented on #912
@bmuschko It seems it does not work (at least to me), my env looks like this:
[code]

I'm using the latest release version:
[code]

And I'm getting this:
[code]

It works If I change the JDK to 11.
It also works if my JDK is 13 but I downgrade the target and the source versions to 11:
[code]

[2020-03-21 02:14] bmuschko commented on #912
@jonatan-ivanov Not quite sure. Your JDK distribution is probably not compatible with the version of Gradle you are using. Try the OpenJDK instead. Or the ASM library defined as transitive dependency of Docker Java clashes with ASM in Gradle in some way.

[2020-03-21 22:23] jonatan-ivanov commented on #912
@bmuschko

So are you saying that AdoptOpenJDK (an OpenJDK build) is not compatible with Gradle and that causes this issue? Could you please help me to understand how? o.O

I did, I get the same error with these:

[code]

[code]

This makes more sense to me and if you check the last few lines of my previous comment, that's what I'm suspicious at too except I'm not sure it is `docker-java` since [t

[2020-03-23 13:25] bmuschko commented on #912
RE: My responses - I just added a couple of thoughts without having a deeper look. Didn't really have the bandwidth to think about it. I just had another look and I think your theory is correct that the used ASM version/distro is not fully compatible with the version of Java 13 you are using. It's kind of surprising that you are the only one experiencing the issue. Others using Java 13 confirmed t

[2020-03-23 19:28] jonatan-ivanov commented on #912
I think the trick that this issue only presents if you are using the `docker-spring-boot-application` plugin and do not set the `mainClassName` so the plugin tries to find it (using asm).
So I guess others might use the other plugins or set the `mainClassName` manually.

[2020-03-24 03:00] bmuschko commented on #928
It doesn't look like Docker Java's `ExecCreateCmd` supports passing in a Writer some or other reference to capture the output. I guess you could provide your own `nextHandler` to process each line and do something with it. I believe that should work.

[2020-03-24 09:38] pskowronek commented on #928
Thanks for an update.

For future reference, to log the output from DockerExecContainer one must do something like this:
[code]

Thinking out loud, having an easier way could be beneficial, something similar to gradle's Exec:
[code]
However you say that Docker Java's `ExecCreateCmd` won't help here much, right?

[2020-03-24 12:55] bmuschko commented on #928
AFAIK, no. But have a look at their API or ask on their Gitter account.

[2020-03-24 22:29] bmuschko commented on #912
Yeah, that might be the reason.

[2020-03-24 22:29] #928 closed

[2020-03-25 07:56] ashwiniag commented on #746
Hi, I was running build.gradle.kts in Jenkins (on ec2 with IAM role), faced similar issues. It has worked with following edits in `~/.docker/config` file:

Earlier:
[code]
Current:
[code]
I am assuming, gradle dint needed any auth-token since EC2 IAM role was taking care of uploading docker image in ECR.

[2020-03-26 00:08] bmuschko commented on #746
@ashwiniag This should work as-is. If it doesn't then it's likely a bug. Please open a new issue if you think we should should look into it. We'll definitely need the stack trace.

[2020-03-27 23:20] cowrytekdev opened #930 "How can I set a dynamic tag (project version) when creating docker images"
### Expected Behavior
I want to be able to provide a dynamic docker image tag for the image to be created in my build.gradle
`springBootApplication {
        baseImage = 'adoptopenjdk/openjdk11:alpine-jre'
        maintainer = 'maintainer@example.com'
        ports = [8080]
        images = ['localhost:8082/my-service:${project.version}'] <---- something like this
    }`

### Current Behavior
When

[2020-03-28 14:05] bmuschko commented on #930
Are you asking about Docker's `latest` tag? I think I'd like to understand what you mean by "dynamic" tag and what your use case is you are trying to solve. Can you clarify?

[2020-04-02 05:44] cowrytekdev commented on #930
Hi, Thanks for your quick response. I have a gradle project with a version 1.0.0. I want to be able to set my docker image tag using that version in a dynamic way. That means my image would be myimage:1.0.0. The next time the project version changes to 1.0.1, the image tag should be 1.0.1 after a new build --> myimage:1.0.1 and this without me having to change the version in the plugin settings li

[2020-04-02 13:17] bmuschko commented on #930
What you are describing is not really a feature of a Docker plugin. The Docker plugin uses whatever you provide to it. Version management and how/when you want to release your project is a different concern. I wrote a blog post a while ago: [Implementing an intuitive versioning and release strategy](https://bmuschko.com/blog/gradle-release-strategy/). It describes _one_ strategy but which one you

[2020-04-04 14:27] bmuschko commented on #930
Closing the issue as the concerns are orthogonal.

[2020-04-04 14:27] #930 closed

[2020-04-10 10:18] d-vesely opened #931 "Allow the specification of an access mode when mounting volumes using volumesFrom"
The plugin's `DockerCreateContainer` class/task does not support mounting volumes from a container (via `--volumes-from` respectively `hostConfig.volumesFrom`) in **read-only** mode.

### Expected Behavior

`DockerCreateContainer.HostConfig` does not facilitate the mounting of existing volumes via `--volumes-from` in **read-only** mode. By using a `mapProperty` instead of a `listProperty`, users s

[2020-04-25 20:23] AceHack commented on #739
Is 'tags' deprecated in the latest?  Does not seem to work.

[2020-04-25 21:13] AceHack commented on #918
Having same issue on windows

[2020-04-25 21:15] AceHack commented on #917
Any plan to support this?

[2020-04-26 13:22] bmuschko commented on #739
@AceHack The property has been renamed to `images` to better reflect its purpose. See the [release notes](https://bmuschko.github.io/gradle-docker-plugin/#change_log) for v6.0.0.

[2020-04-26 13:27] bmuschko commented on #917
@AceHack As mentioned in the discussion above, we'll support if someone from the community provides a pull request for it.

[2020-05-02 16:29] xiaoweialien commented on #648
@aleksandar78 Please reopen this issue, it makes using DockerCopyFileToContainer on Windows impossible!

[2020-05-02 16:33] xiaoweialien opened #933 "DockerCopyFileToContainer fails to copy a file from local Windows to remote container running on Linux Host."
DockerCopyFileToContainer fails to copy a file from local Windows to remote container running on Linux Host.
Expected Behavior
My copyFileToDBContainer task will copy a file, SQL dump file to be precise, from local project folder to
remote docker container path. Remote docker container is official Postgres images based on Linux.
Code:

task copyFileToDBContainer(type: DockerCopyFileToContainer) {

[2020-05-02 21:20] bmuschko commented on #933
There's no point in reopening this issue. We know that it doesn't work properly, however, as explained in the original issue we rely on the community to provide a fix. If you are interested in fixing the issue, then please create a pull request.

BTW: The formatting of this issue is very much not readable.

[2020-05-05 06:27] mosgjig opened #934 "Connection reset by peer on ubuntu 20.04"
### Expected Behavior
buildDockerImage tasks work as expected, building image via docker daemon.

### Current Behavior
task execution results in:
`I/O exception (java.net.SocketException) caught when processing request to {}->unix://localhost:80: Connection reset by peer
`
This is at odds with maven builds that work fine going against docker.  additionally all docker commands work fine outside of

[2020-05-05 06:39] mosgjig commented on #934
fyi, i've already tried specifying the docker url

[code]

but received the same error:
`I/O exception (java.net.SocketException) caught when processing request to {}->unix://localhost:80: Connection reset by peer`

[2020-05-05 22:21] aleksandar78 commented on #648
Hi @xiaoweialien, as @bmuschko said, this issue was created a long time ago and probably it will remain not resolved if someone is not interested in making a pull request. I don't know if the current version of docker has the same problem on Windows OS as 2 years ago. I've passed on docker-compose with Gradle, which works very well on Unix/Windows docker.

[2020-05-06 09:01] nirud commented on #648
Hi,

it is me again. Now I am back using a windows dev env and facing the same problem again.
I debugged it and the reason is the same as I described before.

I am trying to fix it now and will open a pull request if I succeed.

[2020-05-15 22:05] TockaAyman-VG commented on #522
Any updates about this, or a workaround.
As a workaround, I tried to add this to the DockerCreateContainer task but it did not work
```cmd = ["--health-cmd", "curl", "http://localhost:9200"]```

[2020-05-15 23:50] bmuschko commented on #522
@TockaAyman-VG Can you be more specific about what doesn't work? Might make more sense to open a new issue with details.

[2020-05-15 23:55] TockaAyman-VG commented on #522
I couldn't add the health check URL to the docker container either by
- Finding a health check parameter in create container task
- using the general cmd option

[2020-05-16 00:19] bmuschko commented on #522
@TockaAyman-VG The Docker Java API provides a method for it `CreateContainerCmd.withHealthcheck(HealthCheck)` but it hasn't been exposed by the `DockerCreateContainer` task yet. It would require a community contribution as mentioned above. Alternatively, you could add the health check when building the Dockerfile. Not sure if you want to do so.

[2020-05-16 00:20] #933 closed

[2020-05-16 00:42] TockaAyman-VG commented on #522
OK, thanks.
This is the answer that I got from searching, and I wrote my comment just to make sure that it is still the current situation and it is not added yet.

I found a work around for myself by replacing create and start container tasks with running native docker run command in exec task from gradle. I did not like the work around but I need it. And I am really interested in an update in the

[2020-05-19 22:00] steinybot opened #936 "RegistryAuthLocator fails to locate docker hub auth credentials"
### Expected Behavior

Given a credentials file containing:
[code]

The `RegistryAuthLocator` should be able to locate these credentials when using an image name that does not include the Docker Hub registry prefix, e.g. `org/repo`.

### Current Behavior

It fails to find the credentials.

### Context

We are trying to run this on our CI which used to work in a previous version of the plugin but w

[2020-05-21 04:44] rnavarette commented on #918
Might consider reopening this?  I was able to get past the issue but needed the following option for Docker Desktop (windows):

[2020-05-21 12:49] bmuschko commented on #918
@rnavarette Can you explain what the behavior of the plugin should look like? Are you interested in working on a pull request?

[2020-05-21 13:15] rnavarette commented on #918
It shouldn't error? :)

Interested in pull request - sure.  I'll have to try to balance out some time to look into it though.  Gut feeling just from the error is that the plugin needs to configure the proper TLS protocol before establishing the socket connection.

[2020-05-21 13:25] bmuschko commented on #918
I was asking about the concrete behavior change to the plugin that leads to it working. Maybe I wasn't clear about it.

That's very much the reason why it hasn't been fixed yet from our end. So if the community thinks that a fix for Windows is important enough, I'd think that someone steps up their game and provides a pull request.

[2020-05-21 13:49] rnavarette commented on #918
Agreed - especially with a fairly clear workaround.  I've looked high level at it and it might not even be an issue with the plugin, but the docker client library.  They have some similar errors over there that might need to be straightened out first.  There could still be a configuration issue, but it'll take a bit of digging I bet.

[2020-05-22 21:16] amimas commented on #916
I'm running into the same issue. Unfortunately `gradle.buildFinished` doesn't execute when I cancel the build by `CTRL + C`.

I'm on Gradle `6.4.1` and `6.4.0` of this plugin.

[2020-05-23 15:37] cdancy commented on #916
@amimas have tried registering a shutdown hook?

[2020-05-23 16:59] amimas commented on #916
I don't think so. Do you have a reference on how to do this?

[2020-05-23 19:45] cdancy commented on #916
@amimas it's not specific to this plugin just an OOTB groovy feature. Check out [THIS ](https://mrhaki.blogspot.com/2010/01/groovy-goodness-add-shutdownhook.html)blog post for a simple explanation.

[2020-05-26 12:59] bmuschko opened #938 "Set up CI on GitHub Actions for Windows virtual environment"
Ensure that the plugin is compatible in Windows environments. Initial work has been done in [this GitHub Actions workflow](https://github.com/bmuschko/gradle-docker-plugin/blob/master/.github/workflows/windows-build.yml). Fix any tests to may fail on Windows.

[2020-05-28 09:03] nirud commented on #938
Hi,

as you requested i can post the failure logs.
The first failure is about escaping the path in the tests, i attachted to log file:

[log.txt](https://github.com/bmuschko/gradle-docker-plugin/files/4694454/log.txt)

[2020-05-31 23:24] bmuschko commented on #938
If someone from the community wants to make more progress on the Windows-based GitHub Actions workflow: https://github.com/bmuschko/gradle-docker-plugin/blob/master/.github/workflows/disabled/windows-build.yml. So far I couldn't get it to work.

[2020-06-04 13:09] bmuschko commented on #938
@watzerm This might be a good first issue to pick up. It will benefit us a lot down the road to ensure that the plugin functionality works properly on Linux, MacOS and Windows. Any thoughts?

[2020-06-09 09:18] pbrown-gh opened #939 "Task :dockerCreateDockerfile FAILED when `docker` block moved to root build file"
### Expected Behavior
I have a project with a number of Spring Boot sub-projects within it. In each of these SB sub-project's `build.gradle.kts` files, I have the same duplicated `docker` block (using `com.bmuschko.docker-spring-boot-application` plugin). I want to move this block to the root `build.gradle.kts` file to remove the duplication. A build works, but running `dockerBuildImage` fails on

[2020-06-09 14:19] bmuschko commented on #939
That's because _you are_ applying the plugin in the root project with the `plugins` block. I suggest reading up on the [different ways of applying plugins with Gradle](https://docs.gradle.org/current/userguide/plugins.html) and things should be more clear. I know I can be confusing to beginners of Gradle but this really has nothing to do with his plugin.

Fix for your problem: Instead of using `pl

[2020-06-10 09:20] pbrown-gh commented on #939
Thanks for your reply and suggested fix.  I'll close this issue/question now.

[2020-06-10 09:20] #939 closed

[2020-06-11 05:26] gaiazov commented on #674
Its a one line change, see #940

[2020-06-12 10:50] Bartman0 opened #941 "extraHosts should have effect?"
### Expected Behavior

I would expect this:

task buildImage(type: DockerBuildImage) {
    dependsOn createDockerfile
    extraHosts.add("env-185611laioeuw1:10.202.11.170")
    images.add("${System.env.DOCKER_REGISTRY}/led/rda:latest")
}

... to add extra host entries in the container.

### Current Behavior
I see no effect of the extraHosts.add("env-185611laioeuw1:10.202.11.170")

From the origina

[2020-06-13 07:50] astudentofblake commented on #938
To test my patch I got the tests running locally in windows, with docker desktop running linux containers.
 - line ending fixes
 - must pass through environment variables (causes the resolution failures)
 - some tests don't apply
so I tried running in the GitHub Actions, using the windows-build.yaml

The GitHub Hosted runner windows-2019 runs docker hosting windows containers. It cannot be switche

[2020-06-19 14:31] matteomazza91 opened #944 "registryCredentials in build script do not take precedence"
### Expected Behavior
if registryCredentials is used, it could override other credentials (e.g. `~/.docker/config.json`).

If authentication is done through an auth token that can expire, the build script can automatically generate one and use it in registryCredentials. registryCredential should override any (possibly expired) token configured on the machine (e.g. in `~/.docker/config.json` or cre

[2020-06-19 20:31] devsnice commented on #918
I have the same, this problem happens when I'm trying to build a Docker Image, which starts `gradle build` task  that depends on` gradle-docker-plugin` tasks,
so, I assume, that problems because requests don't go to host from docker.

[2020-06-23 13:34] tdjordan commented on #934
@mosgjig , Did you ever find a solution to this issue?

[2020-06-24 00:55] #936 closed

[2020-06-24 01:31] bmuschko commented on #941
I am not fully sure how Docker Java handles this internally. Be aware that the Docker daemon might handle it differently than the Docker command line executable. Any chance you can look into adding a functional test for the use case?

[2020-06-24 01:34] bmuschko commented on #944
Reading your issue report, I would argue that the build script should overwrite everything it already finds in existing credentials. Can you describe your use case and why you think it should behave differently? IMHO it works as expected right now.

[2020-06-24 01:38] bmuschko commented on #934
Maybe that NewsClub dependency is not compatible with either the Docker version or something else in the environment. Really not sure. Pop!_OS sounds little exotic. I have not experience with it or if they do something special.

[2020-06-24 01:39] bmuschko commented on #674
Not quite a one liner change, @gaiazov ;-)

[2020-06-24 19:41] astudentofblake opened #946 "Gap in logs for liveness probe"
In the calls in the liveness probe to get the logs, there can be gaps in the logs caused by the since clause.

### Expected Behavior
DockerLivenessFunctionalTest, Can start a container and probe it for liveness should pass

### Current Behavior
DockerLivenessFunctionalTest, Can start a container and probe it for liveness fails

### Context
This only reproduces in windows, with a new transport + a

[2020-06-25 19:58] tomaszmichalak opened #947 "Invalid permissions when COPY/ADD"
Original file permissions are lost.

### Expected Behavior

Keep the original file permissions (`600`):
[code]

### Current Behavior
File permissions are changed from `600` to `644`.

So we have:
[code]
instead of:
[code]

### Context

### Steps to Reproduce (for bugs)

I created a sample Dockerfile:
[code]
When I build image with command:
[code]
then in output I can see:
[code]

When I use the Gr

[2020-06-26 02:00] bmuschko commented on #947
From what I can see you are only referencing Docker-internal tooling e.g. a `Dockerfile` and `docker build`. Could you please provide sample code that you use fro this plugin?

[2020-06-26 05:56] tomaszmichalak commented on #947
This is how we build Docker image:
[code]

[2020-06-26 06:01] tomaszmichalak commented on #947
I will public the solution soon on GitHub.

[2020-06-26 09:36] gringofe commented on #127
Hello,

how can I pass an argument to the dockerfile from my `task buildImage(type: DockerBuildImage)`?
You say you support it, but your documentation doesn't specify how.

[2020-06-26 10:25] orzeh commented on #127
@gringofe please take a look at our tests: https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/functTest/groovy/com/bmuschko/gradle/docker/tasks/image/DockerBuildImageFunctionalTest.groovy#L414

[2020-06-26 12:16] bmuschko commented on #947
If you are not using the `Dockerfile` task of this plugin to build the content dynamically then this plugin is not changing the permissions. The `DockerBuildImage` just calls off to Docker Java and the actually building of the image happens there.

[2020-06-27 21:22] Writtscher opened #948 "DockerBuild runs forever"
I have a simple spring-boot-gradle application and applied the spring-boot and remote-api plugin. Running dockerBuildImage takes ages without doing anything. Cannot figure out what is happening as nothing is logged. Not even exception thrown after 15 min..

### Expected Behavior
* DockerFile created (Works)
* Docker image created

### Current Behavior
Running forever..

### Steps to Reproduce (for

[2020-06-28 20:29] bmuschko commented on #948
My guess is that it takes a while to download your base image and/or other tools you need in your Docker image. You can [register a callback handler](https://bmuschko.github.io/gradle-docker-plugin/#reactive_streams) to look at deals while the operation runs.

[2020-06-30 07:06] abitgen opened #949 "Unable to build docker image on windows 10, Connection reset by peer: socket write error"
### Unable to build docker image on windows 10, Connection reset by peer: socket write error

### Current Behavior
[code]

### build.gradle.kts
[code]

### Steps to Reproduce (for bugs)
Clone the project - https://github.com/abitgen/springbootwebapp
In terminal/cmd - gradlew catalogapp:DockerbuildImage --stacktrace

### Your Environment
Windows 10 Version 2004, OS build 19041.329
Java 8
`http://12

[2020-07-01 00:01] JuanMorenoS commented on #740
Hello, everybody.

I want to share how I solved this problem.

I have the same problem that @jmckitt, I used kotlin with gradle

`
import com.bmuschko.gradle.docker.tasks.image.Dockerfile
import com.bmuschko.gradle.docker.tasks.image.DockerBuildImage

plugins {
    id("com.bmuschko.docker-remote-api") version "6.4.0"
}

tasks.create("createDockerfile", Dockerfile::class) {

    destFile.set(file("

[2020-07-02 02:18] artemananiev commented on #944
I have just updated docker plugin to version 6.4.0 in my project and immediately hit this issue. I second to @matteomazza91, it looks like a bug. At the very least it should be configurable, whether credentials provided in the build script should override existing docker client auth credentials in ~/.docker.

My use case is the following. I have two docker registries, where I need to push my image

[2020-07-02 13:01] bmuschko commented on #944
Why should that be configurable explicitly with some sort of flag? If you set credentials in the build script then it overwrites the ones the plugin find under `~/.docker`? I'd argue that is configurability right there. Furthermore, remember that you can have any logic in a Gradle build so if want something more configurable then use an if/else block, project properties or whatever you think is su

[2020-07-02 14:04] matteomazza91 commented on #944
I'll try to add the functional test because I do have some auth issues that #945 fixes.

[2020-07-02 15:18] Bittuw commented on #918
Any updates? I have the same error and i don't found issue in Docker Java

[2020-07-03 14:42] bmuschko commented on #948
Did this issue clear up for you?

[2020-07-03 14:42] bmuschko commented on #944
@matteomazza91 That'd be great. Thanks!

[2020-07-03 14:43] bmuschko commented on #947
Did you figure out the root cause of the issue in the meantime?

[2020-07-03 18:01] #674 closed

[2020-07-03 18:03] bmuschko commented on #949
Please try out version 6.5.0 of the plugin. You may also want to try using `npipe:////./pipe/docker_engine` for the Docker daemon URL.

[2020-07-04 09:15] matteomazza91 commented on #944
functional test added in the same PR #945
@bmuschko let me know if it looks good to you or if I should change/refactor something 👍

[2020-07-06 11:39] Writtscher commented on #948
Hi. I switched to https://github.com/GoogleContainerTools/jib. More complicated plugin but enables kubernetes as well.

So I have not debugged it any longer.

I close it.

[2020-07-06 11:39] #948 closed

[2020-07-09 12:47] #938 closed

[2020-07-09 12:48] bmuschko commented on #947
Closing, as we haven't heard back. Let us know if you want to further discuss.

[2020-07-09 12:48] #947 closed

[2020-07-09 12:49] bmuschko commented on #941
What's the status on this?

[2020-07-10 08:01] Bartman0 commented on #941
no progress so far.

Richard Kooijman
Advanced Analytics Architect
Inergy
Pelmolenlaan 2 • 3447 GW Woerden • T: +31 348 457 666 • M: +31 631 673 387 • www.inergy.nl
Magazine Inergy | Heb jij het al gelezen?
Summer school | Geef je snel op voor een webinar of training
Blog | Met Managed Data Platform hoeft de klant zich geen zorgen te maken over de data omgeving
On 9 Jul 2020, at 14:49, Benjamin Mu

[2020-07-10 12:45] ArvinB opened #950 "Add the ability to perform a docker image prune"
Enhancement request to perform a `docker image prune` with all the switches

-a for all images
-f for force (enabled by default)
--filter

### Expected Behavior
As a gradle task of type `DockerPruneImage`

### Current Behavior
This functionality doesn't exist to prune unused images.

### Context
The benefit of having this feature is to start out with a clean Docker registry

[2020-07-10 12:56] bmuschko commented on #950
Remember that the plugin doesn't use the Docker command line executable. It uses the Docker daemon. So if Docker Java exposes the functionality then we could build something like that. I am not going to have to time to implement it. Are you interested in working on a pull request? Happy to review.

[2020-07-10 13:22] ArvinB commented on #950
@bmuschko Yep I can work on it in my spare time. The [Docker Java doc](https://javadoc.io/doc/com.github.docker-java/docker-java-api/latest/com/github/dockerjava/api/command/PruneCmd.html) I believe supports this as well.

[2020-07-11 16:48] ArvinB opened #951 "Question Is it possible to call the functions as an extension from a single task"
Quick question, since I'm struggling with having multiple tiny tasks and would prefer to consolidate a bit (even though gradle is not designed for it).

What I would like to do is something like this:

[code]

[2020-07-11 17:18] bmuschko commented on #951
This is really more of a general Gradle question. Please ask those at the [Gradle forum](https://discuss.gradle.org/).

In short, you can't compose tasks. You'll need to model the use case with the help of task dependencies. Something like this:

[code]

[2020-07-11 17:18] #951 closed

[2020-07-11 17:19] bmuschko commented on #941
OK, I'll close this issue for now. Feel free to reopen when you have time to provide more information or gained deeper insight.

[2020-07-11 17:19] #941 closed

[2020-07-11 17:45] ArvinB commented on #951
Thank you @bmuschko

The reason why I was asking here is because of how the source code for `DockerBuildImage` and other types were authored. I am not familiar with the source which is why I was asking. I dug through the code to look for something like this or some other implementation that does the same thing but could not find it.

[code]

[2020-07-11 17:52] bmuschko commented on #951
You cannot bind a task to an extension as that is not the intention of the concept. If you want to use the "build image" or "push image" functionality then you'll need to use Docker Java directly without the tasks provided by this plugin. The tasks are really only a wrapper around Docker Java for the most part.

[2020-07-11 18:01] bmuschko commented on #951
When you try to create something you proposed in the code above, also ask yourself "why". What's the benefit of doing something like you describe you can just configure tasks without an extension. That's definitely something you'd need to describe when you open an issue. I don't even understand what you are trying to achieve.

[2020-07-11 18:03] ArvinB commented on #951
I'm not meaning to come across as arguing. I believe the code snippet I gave doesn't bind a task to an extension, but rather it adds the `DockerBuildImage.class` as a project extension then sets it as a property available to the project. The intent is to call the class as I originally was asking, as a property.

For reference, here is another plugin that does this.

https://github.com/michel-kraem

[2020-07-11 18:26] bmuschko commented on #951
Got it. I understand why the plugin author wants to do here but that's not how it should be implemented from my perspective. He's in fact binding a task type to an extension property. First of all, I'd completely decouple the download functionality from the task type if you want to be able to reuse it. Then, I'd not use the extension concept but bind it through an extra method. Those are two diffe

[2020-07-11 18:31] ArvinB commented on #951
@bmuschko Thank you, exactly what I was looking for. Also I get that some implementations are done correctly versus others that could be done better. I can tell you clearly know how things should be, which is the other reason why I was asking here.

Again thank you very much!

[2020-07-12 13:27] #944 closed

[2020-07-16 21:50] bmuschko commented on #949
Any update on my suggestion?

[2020-07-16 21:56] bmuschko commented on #934
Can you try again with the latest version of the plugin (v6.6.0)? You might have been affected by https://github.com/bmuschko/gradle-docker-plugin/issues/944.

[2020-07-17 09:52] mosgjig commented on #934
Sure thing, i'll get you a response early next week.  Thank you for the follow up!!

[2020-07-17 15:30] abitgen commented on #949
Thanks for the update.
I migrated to 6.5.5 and it works

updated this in build.gradle.kts

[code]

But I am not sure how to add tags now, also unable to set inputDir as both of them are immutable. Any suggestions.

[2020-07-17 15:34] bmuschko commented on #949
In Kotlin, you have to call `set` for a `Property` type. Check the user documentation of the plugin for a couple of examples and of course clarify the correct type you are about to set in the Javadocs.

[2020-07-17 16:29] bmuschko commented on #949
I am closing this issue as the original problem is working for you now.

[2020-07-17 16:29] #949 closed

[2020-07-17 21:36] danwashusen commented on #292
The solution above doesn't seem to be working with the latest release. For anyone else who stumbles upon this:

[code]
[code]

[2020-07-21 20:26] asarkar opened #952 "dockerPushImage doesn't push image"
### Expected Behavior
dockerPushImage should push the image built by the current project.

### Current Behavior
[code]
It's clear from the logs and the insanely fast timings that the task doesn't push the image. A manual push outputs something like the following which is absent in the logs.
[code]

### Your Environment
JDK 11, Spring Boot 2.3.1.RELEASE, Kotlin 1.3.72, plugin version 6.6.0

build.g

[2020-07-21 23:38] asarkar opened #953 "How to pass docker registry URL at build time?"
I've a use case where the docker registry URL depends on the build environment, so we need to pass the URL at build time instead of hard coding it. How can this be achieved using Spring Boot 2.3.1.RELEASE and plugin version 6.6.0?

[2020-07-22 02:30] bmuschko commented on #953
This is more or less a general Gradle question. You can use any imperative logic you like. For example:

[code]

[2020-07-22 02:30] #953 closed

[2020-07-22 02:35] bmuschko commented on #952
As mentioned in the user guide of this plugin, the internal functionality doesn't use the Docker command line tool. It uses the Docker daemon. The behavior of the Docker daemon is different and you can't really expect the same terminal functionality.

For debugging your issue:
1. Delete the image from the remote registry.
2. Only run the push task from your Gradle build.
3. Ensure that it really d

[2020-07-22 03:46] asarkar commented on #953
@bmuschko Of course I can write code, but I was curious to know if there’s an extension property on the plugin that could be set. If not, can we convert this ticket to a feature request for that purpose?

[2020-07-22 03:50] asarkar commented on #952
@bmuschko The reason I don’t think I need to execute the steps you suggested above is because I’ve run the plugin push task and the manual docker push one after another, and the behavior is completely different. The manual docker push does exactly what it’s supposed to, and indicates so through console logs. The plugin push immediately completes having done nothing, as also indicated in the logs I

[2020-07-22 04:39] asarkar commented on #952
Upon registering callbacks:
[code]

[code]

So, push did absolutely nothing.

[2020-07-22 09:01] mosgjig commented on #934
Still getting the same error, but with suppressed info:
`Error during callback
java.lang.RuntimeException: java.io.IOException: native write() failed : Connection reset by peer
        at com.github.dockerjava.httpclient5.ApacheDockerHttpClientImpl.execute(ApacheDockerHttpClientImpl.java:153)
        at com.github.dockerjava.httpclient5.ApacheDockerHttpClient.execute(ApacheDockerHttpClient.java:8)

[2020-07-22 13:51] ghostler commented on #952
Field images is empty in DockerPushImage task. Fix:
`
tasks.withType<com.bmuschko.gradle.docker.tasks.image.DockerPushImage>() {
    images.set(imgs)
}
`

[2020-07-22 15:08] frankkoornstra opened #954 "Docker Java dependency clashes with Testcontainers"
When I combine this plugin with [Testcontainers](https://www.testcontainers.org/) to test the built image, Testcontainers runs into an NPE because of deserialization issues. Testcontainer's author has [tracked it down to](https://testcontainers.slack.com/archives/C1SUBPZK6/p1595329713276000?thread_ts=1595256124.253800&cid=C1SUBPZK6) the following:

### Expected Behavior
Be able to combine this plu

[2020-07-22 15:45] destanyinside commented on #952
images.set(setOf(imgs)

[2020-07-22 22:01] asarkar commented on #952
@ghostler That was it! It is a bug that push doesn't use the images specified under `springBootApplication`.

[2020-07-24 13:53] bmuschko commented on #952
Would you mind trying out one of the previous plugin versions (e.g. 6.5.0 or 6.4.0) to verify that is a bug? I won't be get around to it until next week.

[2020-07-24 13:54] bmuschko commented on #954
Thanks for reporting. Are you interested in sending a pull request?

[2020-07-24 13:55] bmuschko commented on #946
Would you be interested in a looking into a fix for it?

[2020-07-25 09:02] asarkar commented on #952
@bmuschko 6.5.0 doesn't not exhibit this bug, it works as expected.

[2020-07-27 09:09] frankkoornstra commented on #954
To be honest: I don't have that much experience yet with the dependency system in the JVM world yet so I don't know if I can fix it. I can only understand the suggestions that were given in the Slack chat partly and was already happy that I can show what was wrong :D

[2020-07-27 09:57] patricklucas opened #955 "Looking up registry auth logs NPE and stacktrace, but still succeeds"
I use this plugin to build and push images to Google Container Registry. This involves using `gcloud` as a Docker credential helper, which is correctly identified and used by the plugin to successfully push images.

However, when collecting registry auth information, the helper does not return a `ServerURL` value (possibly because the registry name is sufficient?). When this `AuthConfig` (without

[2020-07-27 10:51] patricklucas commented on #952
I just ran into this as well. I just upgraded from 6.5.0 to 6.6.0, and the push doesn't happen at all—the build just stops after `dockerBuildImage` completes.

Downgraded to 6.5.0 and pushing works again.

[2020-07-27 10:58] asarkar commented on #952
@bmuschko wrote:

I didn’t look into the tests, but it seems there isn’t one that verifies build and push at the same time.

[2020-07-28 23:12] #952 closed

[2020-07-28 23:13] bmuschko commented on #950
I am going to close this issues for now. Feel free to reopen when you get around to working on it.

[2020-07-28 23:13] #950 closed

[2020-07-29 00:35] bmuschko commented on #954
@frankkoornstra Why do you define the plugin as a dependency for the project source code and not for the build script? Can you explain what you are trying to achieve? Are you trying to build a Gradle plugin and then reference a class of the plugin from your plugin code? https://github.com/frankkoornstra/testcontainers-reproducer/blob/master/build.gradle.kts#L14

[2020-07-29 00:58] bmuschko commented on #934
You may want to open the issue against the Docker Java project. Based on the stack trace, it looks more like an issue on their end. Thanks!

[2020-07-29 11:53] frankkoornstra commented on #954
I'm building a Gradle plugin (let's call it `pA`) and in there applying your plugin (`pB`) to the project that `pA` is applied to. That way `pA` can define new tasks based on `pB` tasks in the project `pA` is applied to.

This might be a bit of an edge case and I already found another solution: simply using the Docker client because it was less hassle than I thought it would be.

[2020-07-29 13:06] bmuschko commented on #954
Got it. I am going to close this for now. Reason: Typically you add the plugin to the buildscript's classpath. At this time, Gradle does not create its own classloader per plugin and can lead to issues when you have multiple versions of the same dependency. That's really the only reason why the plugin's dependencies are shaded. I might look at this again in case other people complain.

[2020-07-29 23:39] bmuschko commented on #952
Fix has been released with 6.6.1.

[2020-07-29 23:40] bmuschko commented on #953
We are not planning to implement and maintain "magic properties". This is something a project can easily implement itself if needed.

[2020-07-30 01:16] asarkar commented on #953
You mean almost _every_ project can implement, instead of implementing in one place? OK.

[2020-07-30 11:25] vmj opened #957 "Lower the logging from quiet to info in some tasks"
Would you consider making the tasks silent by default, at least for the most common things?  Quite a few tasks in this plugin log at `quiet` level, which cannot be turned off, and I suggest lowering those to `info` level.  If you approve, I can do the PR.

As you most probably know, the Gradle logging levels are documented here: https://docs.gradle.org/current/userguide/logging.html

### Expected

[2020-08-06 13:47] bmuschko commented on #957
The general stance from Gradle core is to log as little as possible. Often times, you don't see any output if you don't enable the info log level at the very least. So I don't have anything against changing the log message log levels.

Here are my concerns though:

1. Often times user _expect_ output and think that if you don't see something on the console then it didn't work. This will especially

[2020-08-06 13:48] bmuschko commented on #955
Are you interested in providing a pull request?

[2020-08-06 20:12] softwareplumber opened #958 "No documentation for DockerPushImage"
The documentation for the DockerPushImage API is corrupt, there is no related DSL documentation and I can find no example anywhere from which I can glean the necessary information.

It's a real shame because the documentation and examples for building dockerfiles, building images, and so on are great. Took 10 minutes to get that stuff all working. Then an hour of futile googling when it came to do

[2020-08-06 20:52] cdancy commented on #958
@softwareplumber what exactly is "corrupt" about it? There are loads of tasks to use here and not every single one of them is documented in detail. I suspect your frustration is coming from the fact that you may be new to gradle in general and so are unfamiliar with looking through plugin projects and where to find code and how to use it. Once you get the basic idea they are all the same.

For exa

[2020-08-06 21:45] softwareplumber commented on #958
I wasn't kidding when I said I spend an hour googling a solution. I also went all through all the sample code looking for an example. I also spend a long time going through https://github.com/bmuschko/gradle-docker-plugin/issues/708 which is about the only thing which turned up that was vaguely helpful.

The documentation here https://bmuschko.github.io/gradle-docker-plugin/api/com/bmuschko/gradle

[2020-08-09 01:14] bmuschko commented on #958
I personally would call something corrupt if it is not accessible or readable at all. Seems like this is a bug in Groovy: [GROOVY-3782](https://issues.apache.org/jira/browse/GROOVY-3782). Turning the code base into plain Java would be a lot of work. [I was thinking about it](https://github.com/bmuschko/gradle-docker-plugin/issues/759) but didn't go for it for two reasons:

1. The amount of work wi

[2020-08-10 15:04] bmuschko commented on #958
Note to self: https://github.com/bmuschko?package_type=Docker&tab=packages could be an option though I am not sure if it exposes the Docker daemon.

[2020-08-10 15:42] softwareplumber commented on #958
The explicit tag-then-push mechanism, as you note, is core docker behavior (I've been using docker *literally* since it was invented) but is not standard at all compared to other gradle/maven mechanics for pushing artifacts. I completely agree it's impossible to document precisely how to push to every type of repository out there. But the various repos mostly differ with respect to authentication

[2020-08-10 22:13] #958 closed

[2020-08-11 13:12] patricklucas commented on #955
Sure.

[2020-08-12 16:06] leforthomas opened #960 "Issue with remote api and DockerBuildImage"
I want to build my image using a remote docker daemon. When I run it I get Status 500: {"message":"Cannot locate specified Dockerfile: /C:/Users/thomas/xxxx/docker/Dockerfile"}. It looks as if the files are not copied across to the remote server?

### Expected Behavior

It should copy the files to the remote server and run the docker build.

### Current Behavior

### Context

These are my gradle f

[2020-08-14 12:56] jorkzijlstra opened #961 "Option to add --no-cache and --pull"
Is there an option to completely disable caching for the base images, usually by using the --no-cache and --pull on the docker build commands?

### Expected Behavior

### Current Behavior

### Context

We would like to reference a base image like openjdk:11-jre. Once a specific version is pulled it becomes part of the local docker cache. However this image is being updated with each release. Which

[2020-08-14 13:28] bmuschko commented on #961
Yes, the Groovydocs list all available properties for all custom tasks. The Groovydocs are linked in the user guide and can be accessed from the README as well.

* https://bmuschko.github.io/gradle-docker-plugin/api/com/bmuschko/gradle/docker/tasks/image/DockerBuildImage.html#noCache
* https://bmuschko.github.io/gradle-docker-plugin/api/com/bmuschko/gradle/docker/tasks/image/DockerBuildImage.html#

[2020-08-14 13:31] bmuschko commented on #961
As of now, it looks like we are only providing those properties for the build task. I am sure Docker Java supports them though. Are you asking specifically for pull or will build fulfill the use case?

[2020-08-14 13:34] jorkzijlstra commented on #961
Build time is actually what I'm looking for. Did I overlook something in the documentation on how to enable this?

[2020-08-14 13:38] jorkzijlstra commented on #961
In my mail I see that you actually gave the answer earlier, but somehow its not showing here?

For reference:
[code]

[2020-08-14 13:38] jorkzijlstra commented on #961
Thnx for the quick reply

[2020-08-14 13:38] #961 closed

[2020-08-14 13:47] bmuschko commented on #961
Yeah, I was thinking you needed it at build-time. But then saw that you mentioned "pull". Looks like we are on the same page.

[2020-08-20 15:23] tomqwpl opened #962 "How to depend on the docker image having been built?"
This is broadly a gradle question, but specific to this plugin.

I have two projects in a multi-project gradle build, A and ATest. They are both java.
Project A builds a java application then uses the com.bmuschko.docker-java-application plugin to build a docker image.

Project ATest then uses testcontainers to run that docker image and check that it works.

I'm struggling to declare a dependency

[2020-08-27 07:37] tomqwpl opened #965 "RegistryAuthLocator is not supported on Windows"
### Expected Behavior
To have the same behaviour when pushing images through docker command line

### Current Behavior
Doesn't honour credential store on Windows

### Context
I've been struggling to push images.  I have the windows credential helper configured for docker.
Issue #899 lead me to the trace log entries to search for, and an indication that it ought to be using  the credential helper t

[2020-08-27 07:45] tomqwpl commented on #965
Note that having removed "credStore" from the ~/.docker/config.json file and done a docker login again, I _still_ get "unauthorized: The client does not have permission to push to the repository." out of the gradle plugin.

I can however push the same image to the same place with the normal docker command line.

I can find nothing obvious in the gradle debug output that indicates what credentials

[2020-08-28 01:55] matthew-long opened #966 "Feature Request: containerUser configuration item for java application plugin"
It would be nice to have the ability to set a containerUser property in the javaApplication extension which results in the application running as a non root user.

### Expected Behavior
The remote api plugin provides primitives to allow for COPY/ADD instructions with CHOWN.
Allow a user to define a containerUser in the javaApplication extension that is used to set a UserInstruction, and add withCh

[2020-08-30 13:30] lamba92 opened #967 "Would it be possible to use the buildx command?"
Maybe a `DockerBuildxImage` task with added list of target architectures would be really useful!

[2020-09-04 06:28] mcayland opened #968 "Slow DockerBuildImage task due to gradle construction of fileHashes.bin"
I've been working on a project to move our CI system over to k8s and have started to experience really slow build times using a DockerBuildImage task with gradle-docker-plugin:6.4.0 and gradle 5.6.2.

My setup is similar to https://github.com/docker-java/docker-java/issues/1409 in that I have a single git repository which contains a handful of projects (most of them frontend projects in node) whic

[2020-09-04 16:43] mcayland commented on #968
Following up on this theory I tried a test on my local workstation with the following quick and dirty patch:

[code]

and in my build.gradle:

[code]

Whilst my local workstation is a much higher spec compared to the server above (faster CPU, more RAM, SSD etc.) I was still able to see a significant speed increase with this change:

- Docker Build: 2s
- Vanilla DockerBuildImage Gradle task: 20s
-

[2020-09-04 17:41] sean-abbott opened #969 "Can't get example custom docker client handling to work with kotlin build.grade.kts (or buildSrc)"
### Expected Behavior
I should be able to copy the example into my code to bootstrap me into making changes

### Current Behavior
compile step complains "Not enough information to infer type variable T" for Action on the line `onNext(Action {` in the constructor in the file.

I tried to set up a simple example repo to demonstrate this, but it worked in a bare minimum example and it doesn't work in

[2020-09-04 18:34] sean-abbott commented on #969
Actually, this is failing in my example project to: https://github.com/sean-abbott/sample-docker-plugin-fail

[2020-09-04 18:34] sean-abbott commented on #969
(I understand that this is almost certainly user error; perhaps I can help expand the docs if you can tell me what I'm doing wrong)

[2020-09-10 06:30] vleushin opened #970 "How to pass docker environment variables into java application?"
Hello! As part of migrating from Java 12 to Java 14 I'm updating `gradle-docker-plugin` straight from `3.6.2` to `6.6.1`.

While overall everything seems OK, we can remove a lot of old quirks (like setting  and pushing `latest` tag) the only problem we currently have is that it is not clear how to pass docker environment variable into java application.

Old Dockerfile:
[code]

New Dockerfile:
[cod

[2020-09-16 23:53] bmuschko commented on #967
At this time, the `buildx` command is not available. I am not even sure if Docker Java currently supports it. If you plan to look into it and/or provide a pull request then we can go from there. Other than that there's no plan from the maintainers of the plugin to work at the functionality at the moment.

[2020-09-16 23:57] bmuschko commented on #966
You are right that there's no convenient way to set a different user and then add files with that user. This might be a worthwhile enhancement to the plugin functionality as you shouldn't actually run the container with the root user. Would you be interested in proposing a pull request for this?

[2020-09-17 00:02] bmuschko commented on #965
I am not quite sure how to help you out with this. I do not have a Windows machine. Maybe some other community member has an idea on what's going on.

[2020-09-17 07:32] anilcosar opened #971 "java.lang.NoClassDefFoundError: javax/activation/DataSource When build on jdk11"
### Expected Behavior
Plugin (version 6.6.1) should not print class not found errors for javax.activation.Datasource when running with JDK 11.

`
The following warnings have been detected: WARNING: HK2 service reification failed for [org.glassfish.jersey.message.internal.DataSourceProvider] with an exception:
MultiException stack 1 of 2
java.lang.NoClassDefFoundError: javax/activation/DataSource

[2020-09-17 08:35] lamba92 commented on #967
Actually the command is very much similar to `build`, just few options more. I forked the project and started looking at it, but I am not used to Groovy. Is there a proper channel to ask guidance or explanation on the source code of `gradle-docker-plugin`?

[2020-09-17 13:06] bmuschko commented on #967
The plugin doesn't use the Docker command line tool. It uses the Docker Java library which communicate via the Docker daemon. You can find the link to the Gitter channel in the README, however, I don't think there are a lot of people that can answer questions on the code. It's meant for end users.

[2020-09-18 17:26] #971 closed

[2020-09-24 06:06] asarkar opened #972 "How to add an archive file to the Docker image?"
I'm using the Spring Boot application plugin and would like to add an external archive file to the Docker image, and then extract it. This would be in addition to the application JAR file already being added.

So far, I've done the following:

[code]

But this fails with the following exception:
[code]

The generated `Dockerfile` can be used to successfully build an image from the command line.
[c

[2020-09-25 09:10] asarkar commented on #972
After more investigation, it seems to be an issue on Mac only. I see this in the Docker for Mac logs:
[code]
There are many reports of "broken pipe" in various projects, none helpful.

[2020-10-14 17:12] caiolopes commented on #916
@cdancy I tried the `addShutdownHook` and is not working... Any other ideas?

[2020-10-14 17:24] cdancy commented on #916
@caiolopes what exactly did you try to do? The containers themselves are part of docker and not this plugin. If you want to stop the container you need to invoke the necessary commands to do so in whatever context that may be. In this case all you really have is the shutdown hook. I've used this before with great success. Have you tried playing and confirmed that _some code_ gets executed when you

[2020-10-15 01:10] caiolopes commented on #916
@cdancy I have `build.gradle` very similar to the one in the issue showed by @kazvictor, but the container I start is an application dependency of the main java intended for local development not just to build (so, the only way to stop is by manually stopping with ctrl+c)

So, I mapped a task called `run` to a `DockerLogsContainer`, which keeps the terminal busy by running `./gradlew app:run`, but

[2020-10-15 01:19] caiolopes commented on #916
The perfect behaviour would be the same as running:

[code]

Since it keeps attached and showing the stdout from the container, and if stopped (with ctrl+c) it removes the container.

But as I researched through the docs, there is no `DockerRunContainer`, so, I need to go through the steps:

- DockerCreateContainer
- DockerStartContainer
- DockerLogsContainer

[2020-10-15 14:01] cdancy commented on #916
@caiolopes it's all java underneath the hood despite what the build scripts would have you believe.

This is expected as you're essentially doing the equivalent of `docker logs <my-container>`. Exiting out of that would not stop/kill the container and you shouldn't expect it to do so here.

We do something similar here in that we have an `app:start` and `app:stop` and `app:destroy` tasks. This I b

[2020-10-27 15:50] Mazorius commented on #972
I have the same issue with `id("com.bmuschko.docker-spring-boot-application") version "6.6.1"`.

[code]

# Output

[code]

[2020-11-01 21:59] cilki opened #973 "Issue with attaching stdout/stdin to terminal"
I'd like to attach the stdout (and eventually stdin) of a container started with `DockerStartContainer` to my terminal:
[code]

### Expected Behavior
The `DockerStartContainer` task should output the container's stdout to the terminal.

### Current Behavior
No output from start task:
[code]
I can verify that the container actually ran and wrote to stdout.

### Steps to Reproduce (for bugs)
I can p

[2020-11-07 04:27] bmuschko commented on #973
Not quite sure what the right combination of flags is supposed to be. This may be a better question for the Docker Java project.

[2020-11-07 04:30] bmuschko commented on #972
From the stack trace, it looks like an issue in the Docker Java library. Seems like you already reported it over there but it has been closed. Not sure how to help with the issue.

@Mazorius Are you saying that an archive file is not involved in your project?

[2020-11-07 04:34] bmuschko commented on #969
I am sorry but I won't be able to look at Groovy vs. Kotlin DSL-related issues. This is probably best asked on the Gradle forum. Just wondering...the[ plugin user guide has an example in Kotlin](https://bmuschko.github.io/gradle-docker-plugin/#reacting_to_data_returned_by_an_operation). Why did you chose to use a different syntax?

[2020-11-07 04:35] bmuschko commented on #886
Plan is to deprecated and remove those classes.

[2020-11-07 04:35] #886 closed

[2020-11-07 04:36] bmuschko commented on #967
I am going to close this issue for now except if somebody from the community is planning to contribute the feature.

[2020-11-07 04:36] #967 closed

[2020-11-07 04:37] bmuschko commented on #968
Could you please put together a pull request if you'd like to see this change?

[2020-11-07 04:38] bmuschko commented on #966
I won't have time to work on this anytime soon. Closing it for now. Happy to review pull requests for this feature.

[2020-11-07 04:38] #966 closed

[2020-11-07 04:45] cilki commented on #973
Apologies, I'm sure you get way too many docker-java issues here. Thanks.

[2020-11-07 05:07] asarkar commented on #972
@bmuschko the docker-java ticket was closed by stale bot, not because they fixed it.

[2020-11-07 11:33] mcayland commented on #968
Of course - I just wanted to make sure that you were happy with the analysis (and suggested fallback behaviour) first before spending the time on it.

I'm fairly confident this is the main reason people have noted performance issues with the plugin when compared with executing `docker build` directly.

[2020-11-07 15:33] bmuschko commented on #968
Honestly, I didn't have a look at the proposed changes very deeply yet. It's going to be easier to review as a PR.

[2020-11-09 01:01] bmuschko commented on #972
@asarkar I didn't intend to imply that the issue is fixed. I just saw that it was closed. Still, I believe it probably needs to fixed in Docker Java.

[2020-11-09 09:49] Mazorius commented on #972
Thanks @bmuschko for your answer and for the plugin ;-)

I will create a sample and give you the link.

[2020-11-17 19:03] doctorpangloss opened #975 "Windows will ocassionally truncate logs in LivenessProbe - use a shorter probe string"
Based on the source of `DockerLivenessContainer`, it is possible to process logs in a way where the string that is being searched for is split across two chunks of logs.

### Expected Behavior
`DockerLivenessContainer` should try to read logs line by line.

### Current Behavior
`DockerLivenessContainer` on Windows does not appear to read line by line or has some other weird behavior.

### Context

[2020-11-21 19:53] Monax111 opened #976 "hangs task dockerBuildImage if tag invalid"
### Expected Behavior
I execute task dockerBuildImage and it must return error
[code]

### Current Behavior
task dockerBuildImage hangs  more than 20 minutes

### Context
i generate image name automatically and spend more time to debug

### Steps to Reproduce (for bugs)
clone [repository ](https://github.com/Monax111/testLibrary) and execute dockerBuildImage
If comment dependency kotlin-reflect it

[2020-11-26 01:57] asarkar commented on #714
For anyone coming across this issue because the `DockerBuildImage` tasks fails to pull from the Docker hub, here's the workaround. In the `DockerBuildImage` task, explicitly set the URL:
[code]

[2020-11-26 07:18] chienkuo commented on #515
ok, it may be the docker-java's issues, it can be get the exception by executing InspectContainerCmd with none exists container id.

[2020-11-28 14:46] rkrisztian opened #977 "Cannot set `DockerRemoveImage.targetImageId` using `DockerBuildImage.imageId`"
I believe, ever since `DockerBuildImage.images` was introduced, it is not possible anymore to reuse `DockerBuildImage.imageId`. So in fact, none of the documented examples relying on it should work, e.g.:

[code]

Because I get:

[code]

What works for me is:

[code]

Can you tell me if I'm doing something wrong? Like, I can set up an example project with Gradle 6.7.1 if needed. But I was hoping y

[2020-12-10 15:18] fluxroot commented on #754
We needed support for the HEALTHCHECK command in one of our project. So I implemented PR #978. @bmuschko Could you please take a look at it and ping back if something's missing? Thanks.

[2020-12-18 19:40] wrijeff opened #979 "Add "subnet" to the DockerCreateNetwork task"
### Expected Behavior

Adding the capability for the DockerCreateNetwork task to allow for `subnet` as a configuration value. From PR #449 it looks like this was meant to be added for use with the `ipV4Address` feature but never made it in.

### Current Behavior

Presently DockerCreateNetwork only allows for configuring the network name.

### Context

We have a usecase for setting up containers wi

[2020-12-20 01:42] bmuschko commented on #975
We are aware that some of those extra tasks have bugs. We will deprecate those tasks and remove them with the next major version: https://github.com/bmuschko/gradle-docker-plugin/pull/981

If you want similar functionality, then you'll have to implement it on your end.

[2020-12-20 01:42] #975 closed

[2020-12-20 01:44] bmuschko commented on #976
Honestly, I won't have time to debug the interaction with Kotlin here. Not sure in what subtle ways Kotlin reflect runs some magic.

[2020-12-20 01:45] bmuschko commented on #969
Closing as we haven't gotten a response from you.

[2020-12-20 01:45] #969 closed

[2020-12-20 01:46] bmuschko commented on #973
Yeah, you may want to open an issue with the Docker Java project. If they propose a solution that works for Docker Java but not with the plugin then we can reopen.

[2020-12-20 01:46] #973 closed

[2020-12-20 01:48] bmuschko commented on #977
The task `DockerBuildImage` doesn't deal with a single image ID anymore. The underlying data type is now a list. `DockerBuildImage.imageId` has been removed from the API. What you are doing right now is the correct way.

[2020-12-20 01:48] #977 closed

[2020-12-20 01:55] bmuschko commented on #960
Please provide a pull request if you'd like to see this functionality. Thanks!

[2020-12-20 01:55] #960 closed

[2020-12-20 02:39] rkrisztian commented on #977
The **docs are misleading**/outdated then. They make us believe that the `getImageId()` still works, but not. Look at 2.5.3 and 2.5.4. As I said before:

And I wanted to clarify that first.

[2020-12-20 03:41] bmuschko commented on #977
I didn't really look at this project for months now. My previous statement was not correct.

Whenever you can and when in doubt, look at the API docs. Examples are really only examples and show a specific use case. BTW: All examples in the user guide are tested and should work as-is.

[`DockerBuildImage.html#imageId`](https://bmuschko.github.io/gradle-docker-plugin/api/com/bmuschko/gradle/docker/t

[2020-12-20 03:44] bmuschko commented on #977
And be aware that the image ID is only populated if you actually run the build task first. A task dependency needs to be established.

[code]

[2020-12-20 05:23] rkrisztian commented on #977
OK, thanks, this was an embarrassing mistake from my part then. I did have a `removeMyAppImage` task where I did not want to depend on `buildMyAppImage`. There I confused the image name with the image ID...

Do you think the following APIs could use a clearer description?

1. https://bmuschko.github.io/gradle-docker-plugin/api/com/bmuschko/gradle/docker/tasks/image/DockerBuildImage.html#images

Th

[2020-12-20 23:26] bmuschko commented on #977
I clarified some of the Javadocs: https://github.com/bmuschko/gradle-docker-plugin/commit/68f92f195330d13677efaf43bdd6f022bbf5fbb0

The Javadocs already said ID or name. The field should be renamed to `targetImage` but it's going to be a breaking change and will affect a lot of consumers. If we wanted to do that then we'll need to deprecate the field first and introduce the new one + change all re

[2020-12-21 00:39] rkrisztian commented on #977
I'll consider the PRs, but first:

Wow. That's so sad. I call this the anti-pattern of **Defense-Against-Ignorance-Driven Development**. This is what makes me want to switch profession, because people can't even learn the very basics of a language now. They work with a language they don't even understand. That is so unprofessional, and having to defend ourselves against it... Just crazy! People on

[2020-12-30 19:42] rkrisztian commented on #977
Sorry if my previous message offended you. That's of course never my intention, but to try and improve things.

Done.

[2021-01-04 22:36] unoexperto opened #983 "How do I avoid "Unable to find a single main class from the following candidates" error ?"
I apologize for kinda support question but I reviewed documentation and sources and can't find the solution.

Do you please demonstrate how to marry your plugin with fat jar produced by ShadowJar ?

Basically all I want is following Dockerfile (and image) on output:

[code]

Main class is specified in manifest file of jar.

But if I don't specify main class in gradle script I get "Unable to find a

[2021-01-05 02:33] bmuschko commented on #977
No worries. I didn't even have time to look at the repository in the past couple of weeks. I will have a look at the PR in the next couple of days.

[2021-01-05 02:33] bmuschko commented on #983
What plugin are you applying exactly?

[2021-01-05 19:25] unoexperto commented on #983
@bmuschko I have quite large (and messy) config but here it is

https://gist.github.com/unoexperto/2ec02f0b4966015a0071d41c27fd354b#file-build-gradle-kts-L461-L486

So since yesterday I seem to be able to create custom Dockerfile but I can't replace existing `dockerCreateDockerfile` task with mine so that default (your) DockerBuildImage task uses my Dockerfile.

I get following exception

[code]

[2021-01-05 21:25] bmuschko commented on #983
Yeah, do yourself a favor and split up your build into different plugins. It's really hard to parse.

You are apply the `com.bmuschko.docker-java-application` which already has a strong opinion about the way the Dockerfile is built. That includes searching for a main class and trying to use that for the entrypoint. You will need to remove the plugin.

[2021-01-11 01:37] bmuschko commented on #983
Are you all good here? Can I close the issue?

[2021-01-11 01:38] bmuschko commented on #976
I am going to close the issue as I won't look into it. Maybe asking on the Kotlin user forum may give you a clue.

[2021-01-11 01:38] #976 closed

[2021-01-11 02:10] #955 closed

[2021-01-11 02:27] #965 closed

[2021-01-15 12:00] akumaf opened #984 "How to add --ssh=default flag"
I'm currently using an experimental build feature which requires me to add the equivalent configuration of --ssh=default to the final build procedure. However, i couldn't find a way in the documentation on how to do it. The equivalent cli command i would like to accomplish is

docker build --ssh=default .

[2021-01-15 14:20] bmuschko commented on #984
This plugin doesn't use the command line executable of Docker. It uses the remote API. The remote API may or may not support the option. If it does support the option, then Docker Java also needs to support it. And if it does, then this plugin can incorporate it. If you are looking for a specific option, then look at the [Groovydocs of corresponding custom task](https://bmuschko.github.io/gradle-d

[2021-01-15 14:20] bmuschko commented on #983
Closing as we didn't get any response.

[2021-01-15 14:20] #983 closed

[2021-01-29 23:00] Jaxsun opened #985 "plugin overwrites auth details for https://index.docker.io/v1/ if no registryCredentials are defined"
### Expected Behavior
Dockerhub credentials in `~/.docker/config.json` should be used when interacting with dockerhub without additional configuration.

### Current Behavior
Dockerhub credentials in `~/.docker/config.json` are read but discarded if there is no `registryCredentials` defined in the gradle build. This happens as the plugin generates a default `registryCredentials` configuration which

[2021-01-30 09:12] xpusostomos opened #986 "single string ENTRYPOINT and CMD not supported"
### Expected Behavior
In Docker, ENTRYPOINT and CMD can be either a string or an array. If it's a string it eventually becomes "sh -c 'string'", but if an array it is executed directly. As far as I can tell, this plugin only supports the array format, not the single string format. Now I guess, sure, you could manually add your own "sh", "-c", but it seems to me that the build system should support

[2021-01-30 15:00] bmuschko commented on #986
A couple of comments:

1. In practice, the difference of executing the entrypoint with `sh -c` vs. without is IMHO a non-issue.
2. The canonical documentation for the API is Groovydoc linked in the README. It explains all methods and their usage for the [Dockerfile custom class](https://bmuschko.github.io/gradle-docker-plugin/api/com/bmuschko/gradle/docker/tasks/image/Dockerfile.html). You can't p

[2021-01-30 22:08] xpusostomos commented on #986
Maybe this is some kind of ignorance on my part, but when the documentation lists this:
[code]

It suggests to me that entry point accepts some kind of array. I don't know. It just seems like you have to understand a lot about gradle and groovy, when all you want to do is build something. I'm not sure that the "generic instruction" thing or the pattern for just writing your own Docker file are giv

[2021-01-30 23:37] bmuschko commented on #986
[Provider](https://docs.gradle.org/current/userguide/lazy_configuration.html) is a Gradle concept for providing configuration that is evaluated lazily. It's correct that you will have to understand this concept and its use cases. It's usually not the responsibility to explain Gradle core concepts so I can only point you to the docs.

Sure, we could add documentation for those use cases. The docs c

[2021-02-03 21:48] dsvensson opened #987 "Gradle Configuration Cache incompatibilities"
When trying to use the new gradle configuration cache, the build fails with:

[code]
The relevant gradle documentation:
https://docs.gradle.org/6.8/userguide/configuration_cache.html#config_cache:requirements:use_project_during_execution

and:
[code]
The relevant gradle documentation:
https://docs.gradle.org/6.8/userguide/configuration_cache.html#config_cache:requirements:build_listeners

In the f

[2021-02-04 00:06] bmuschko commented on #987
Thanks for making me aware of this. The Gradle documentation is little wishy-washy on how to change the code exactly. Unfortunately, I am short on time at the moment but would be interested I creating a pull request for this?

[2021-02-04 23:56] orzeh opened #988 "Migrate away from JCenter"
As per [recent announcement](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/) JCenter will be shut down at 30 Apr 2021.

We need to refactor plugin build scripts, check documentation and functional tests.

[2021-02-05 02:48] bmuschko commented on #988
It's a mess. Interested in helping out?

[2021-02-05 08:27] orzeh commented on #988
Yeah, I'll try to put together something.

[2021-02-05 14:51] bmuschko commented on #988
Awesome, thanks!

[2021-02-05 15:23] cdancy commented on #988
Wow this is crazy news.

[2021-02-06 04:58] asarkar commented on #972
@Mazorius Just checking if you found time to create the sample.

[2021-02-18 04:38] bmuschko commented on #988
@orzeh Did you make any progress on this?

[2021-02-18 08:40] orzeh commented on #988
@bmuschko not yet. I plan to crack on this during the weekend.

[2021-02-19 00:15] bmuschko commented on #988
@orzeh Thanks! We will also need to switch publishing of the plugin artifacts should be switched to using the `com.gradle.plugin-publish` so that it goes directly to the Gradle plugin portal. But as a first step, let's change `jcenter()` references to `mavenCentral()` as much as we can.

[2021-02-23 13:40] cdancy commented on #988
Have you guys noticed a trend one way or another of folks in the community/industry moving towards one service over another for general artifacts? I always got the impression developers used jcenter for ease of use (I know I sure did) and just wondering if there is an alternative poking it's head up somewhere. I know github has some sort of artifact repository as well though not sure how good it i

[2021-02-23 14:08] bmuschko commented on #988
For organizations, the inhouse product is usually Artifactory. For Open Source, it's probably still Maven Central in the JVM space. I personally haven't tried GitHub's repo yet and haven't heard much about it recently. It may be a good fit for generic artifacts primarily but not for artifacts with a standardized organizational structure like a Maven repo.

[2021-02-26 11:15] matteomazza91 opened #990 "improve Dockerfile.addFile(File) method documentation"
### Expected Behavior
documentation of addFile(File) method in Dockerfile class should link to [Dockerfile.File](https://bmuschko.github.io/gradle-docker-plugin/api/com/bmuschko/gradle/docker/tasks/image/Dockerfile.File.html) instead of [java.io.File
](https://docs.oracle.com/javase/8/docs/api/java/io/File.html)

### Current Behavior
at the moment, both in the summary and in the method description

[2021-02-26 15:00] bmuschko commented on #990
Oooops, care to send a PR?

[2021-02-27 18:25] matteomazza91 commented on #990
today I tried to checkout the repo and generate the doc. I got this error in compilation:
[code]
I saw there is 'sourceCompatibility = JavaVersion.VERSION_1_8' on the buildscript but `forRemoval` is not present in java 8.

anyway, I guess I would need a newer JDK.

[2021-03-01 14:53] bmuschko commented on #990
What task did you run? `javadoc`?

[2021-03-01 23:03] matteomazza91 commented on #990
I tried both `javadoc` and `groovydoc` actually. The error happens at compilation time in `compileGroovy` task

[2021-03-02 21:44] bmuschko commented on #990
You are right. The attribute has been introduced with Java 9: https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/Deprecated.html#forRemoval(). Looks like `sourceCompatibility` doesn't have an effect on `groovydoc`. We'll probably want to build that code with Java 11 anyway. There's no point in sticking with Java 8 anymore.

[2021-03-05 16:18] bmuschko commented on #985
What version of the plugin are you using?

[2021-03-05 18:42] bmuschko commented on #990
Master is building with source and target compatibility 11 now. You can go ahead and work on a fix.

[2021-03-05 19:14] bmuschko commented on #990
I just fixed it: https://github.com/bmuschko/gradle-docker-plugin/commit/dcad57f2bad1be13a34bcfb9a3836858d8e6be8c

[2021-03-05 19:14] #990 closed

[2021-03-08 21:49] Jaxsun commented on #985
This was on 6.7.0

[2021-03-09 09:47] eliran-mic commented on #970
Did you solve this issue ?

[2021-03-11 16:20] patton73 opened #991 "How to use plugin authentication to push to external registry?"
Good evening,

I am opening this bug because i am not able to push an image on an external docker repository that requires authentication.
I am using latest plugin version 6.7.0.

Here the snippet of the code i use:

[code]

[code]

"versione" is a well defined variable.

I have read all the bugs related to this topic but i still cannot publish on the registry.
I also searched the documentation bu

[2021-03-16 21:23] mitali-bhokare opened #992 "Add support for setting custom workingDir in registerDockerfileTask"
### Expected Behavior

It would be helpful if we can read the working dir value from the gradle properties file, the way we read the value for maintainer.
[code]

### Current Behavior

Currently the registerDockerfileTask in DockerConventionJvmApplicationPlugin class happens to hard code the working dor value to `/app` i.e.  workingDir('/app')

### Context

I am trying to set the working dir value

[2021-03-17 02:20] bmuschko commented on #992
Thanks for asking the question. I think you comment applies to pretty much anything that is built as part of the Dockerfile. Can you explain why you need the working directory inside of the container for later processing? Or is the use case that you want to set a custom working directory? IMHO it's pretty irrelevant as long as it works.

[2021-03-17 02:23] bmuschko commented on #991
What kind of custom registry (e.g. Artifactory, GCR, ACR, ECR are we talking about here? Can you clarify as the notation is different. The registry credentials are not relevant to the image name. They are only used for connecting to the Docker daemon. Just wanted to point that out.

[2021-03-17 02:25] bmuschko commented on #985
I thought we had a test case for this. Would you be interested in providing a PR with a test that demonstrates the incorrect behavior and maybe a fix as well?

[2021-03-17 07:09] patton73 commented on #991
Thanks for the reply. I was trying to publish an image over an intranet system registry, in my case it is Harbor.
Anyway i managed to authenticate against the registry this way.

task publishOnRegistry(type: DockerPushImage, dependsOn: tagImage) {
    doFirst {
        docker.registryCredentials {
            url = "https://REGISTRYURL/"
            username = 'USERNAME'
            password = 'PA

[2021-03-17 12:28] dsvensson opened #993 "Not all release artifacts are signed"
I'll just quote the conclusion on gradle's slack

Which means Gradle adds com.bmuschko.docker-remote-api:com.bmuschko.docker-remote-api.gradle.plugin:6.7.0 dependency to the build script (check ./gradlew buildEnvironment )
Apparently, that pom it is not signed, so you have this “unsigned artifact”: https://plugins.gradle.org/m2/com/bmuschko/docker-remote-api/com.bmuschko.docker-remote-api.gradle.p

[2021-03-17 14:00] bmuschko commented on #993
Can you provide some background information on this? What's the actual issue or reason this question was asked? What's the blocker for you?

[2021-03-17 14:02] bmuschko commented on #991
This should work without `doFirst`. Using `doFirst` is actually incorrect except if there's a bug in the plugin that doesn't properly execute the logic at the right time.

[2021-03-17 16:48] patton73 commented on #991
No if you do not use `doFirst` it does not work. The only way to let it work is using `doFirst`.
regards.

[2021-03-17 16:52] bmuschko commented on #991
Then that's a bug. I'd need to check the test cases but would be happy if somebody from the community could look into it and provide a PR.

[2021-03-17 17:45] mitali-bhokare commented on #992
Thank you for your email.

It's our project requirement to have a certain working dir. For example, we
are looking to have /opt/$project.name as a working dir. Using this task to
create the docker file tends to default to /app and copies classes,
resources and libs inside /app.

Thank you,
Mitali Bhokare

On Tue, Mar 16, 2021, 7:20 PM Benjamin Muschko ***@***.***>
wrote:

[2021-03-17 18:41] bmuschko commented on #992
Seems like a somewhat strange, hard requirement. But I am fine with adding it. Do you want to provide a pull request for this?

[2021-03-17 18:59] Jorgevillada commented on #970
you can use `docker-remote-api` in gradle.build

[code]

[2021-03-17 19:50] dsvensson commented on #993
To get the gradle dependency verification fully working, as described above, not all artifacts are signed leading to gradle incorrectly adding the following to the verification manifest:

[code]

[2021-03-17 21:52] mitali-bhokare commented on #992
I am new to this process. Could you please assist me with the steps?

Just a little reasoning behind this requirement - Traditionally in UNIX
systems the /opt/ dir is meant for software application packages /
installations and thus why docker containers have since adopted that as a
default practice.
In addition to this, making this change to consider WORKDIR as  /opt/ will
adhere us to what the ot

[2021-03-17 23:46] bmuschko commented on #992
Unfortunately, I won't have the time to help you with the process of creating a PR. This [guide](https://github.com/bmuschko/gradle-docker-plugin/blob/master/.github/CONTRIBUTING.md) might help though.

[2021-03-18 15:05] andrewsavino1 opened #994 "Registry Credentials found in config.json Might be old"
### Expected Behavior
When running a dockerPushImage or PullImage, I would have expected that the plugin would use the credentials located in the docker config file at the present time.

### Current Behavior
Currently, it appears that the RegistryAuthLocator Object instantiated in these classes is created when gradle starts.  When running a more complex build with multiple gradle calls, the gradle

[2021-03-18 20:18] gxa82 opened #995 "is there anyway to change the build dir for docker task?"
### Expected Behavior

### Current Behavior

### Context

### Steps to Reproduce (for bugs)

### Your Environment

[2021-03-18 20:19] gxa82 opened #996 "is there anyway to change the build dir for docker task? I want to configure the directory where docker commands are run. instead of build\docker directory"
### Expected Behavior

### Current Behavior

### Context

### Steps to Reproduce (for bugs)

### Your Environment

[2021-03-18 23:12] bmuschko commented on #996
Are you asking about the context directory (containing the Dockerfile and other files copied into the image) or the working directory used in the Dockerfile?

[2021-03-18 23:13] bmuschko commented on #995
Closing as duplicate of https://github.com/bmuschko/gradle-docker-plugin/issues/996.

[2021-03-18 23:13] #995 closed

[2021-03-19 02:41] Jaxsun commented on #985
Looking at the test cases now all the tests run through `lookupAuthConfigWithDefaultAuthConfig` whereas the plugin will call `lookupAuthConfig` the big difference being that `lookupAuthConfig` takes a `DockerRegistryCredentials` input which is what is causing the trouble. So to me it really looks like there is no test coverage for how the plugin configuration interacts with the on disk Docker conf

[2021-03-19 17:31] matteomazza91 commented on #990
sorry for the delay on this.
I propose some additional changes to the doc in #997 mainly to fix the links to `addFile()` in "see also" sections in the generated doc

[2021-03-24 21:58] dsvensson commented on #993
Very much related to #988 as the citation notes.

[2021-04-08 13:28] bmuschko commented on #996
Closing as I haven't gotten a response. Feel free to reopen if you can clarify your question.

[2021-04-08 13:28] #996 closed

[2021-04-12 08:43] abrudin opened #999 "Support for JDK 16"
The current version, 6.7.0, does not work with projects using JDK 16.

The task dockerCreateDockerFile fails with `Unsupported class file major version 60`

The issue seems to be the dependency, org.ow2.asm:asm, where this plugin uses version 7.3.1. When updating this to use the latest version, 9.1, the plugin appears to be working.

[2021-04-12 10:52] pun-ky commented on #470
any changes here? just asking

[2021-04-12 13:05] bmuschko commented on #470
@pun-ky Still doesn't look like Docker Java is supporting the flag: https://github.com/docker-java/docker-java/blob/master/docker-java-api/src/main/java/com/github/dockerjava/api/command/BuildImageCmd.java. You will have to raise an issue there.

[2021-04-12 18:41] sharathkuncham opened #1000 "Create new plugin reusing gradle-docker-plugin features"
I would like to have a wrapper plugin which can preconfigure the base image.
I didn't want to repeat the configuration for each springboot apps I have.  Once the base image is set with my custom  value all the apps needs is to provide the configuration for image tag. How to set the pre configuration on the springboot extension with default value for base image ? And is it feasible to write a wrapp

[2021-04-12 18:56] pun-ky commented on #470
ok thanks @bmuschko

[2021-04-15 15:53] #1000 closed

[2021-04-16 00:22] bmuschko commented on #1000
Yes, you can write that kind of plugin. Looks like you solved your issue.

[2021-04-16 00:22] bmuschko commented on #999
Do you want to provide a pull request for this?

[2021-04-16 00:29] bmuschko commented on #994
My guess is that we hang on to the instance of `RegistryAuthLocator ` because of the `@Memoized` annotation [here](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/AbstractDockerRemoteApiTask.groovy#L194). I don't think this shouldn't cause avoiding to read the configuration every time we access it.

Do you want to have a deeper look? I

[2021-04-16 00:30] bmuschko commented on #986
I am going to close this issue as either notation for defining ENTRYPOINT or CMD should have the same runtime behavior.

[2021-04-16 00:30] #986 closed

[2021-04-16 00:32] bmuschko commented on #984
I am going to close this for now. We need to Docker Java to provide the flag first before we can support it. Please go ahead and create an issue or pull request for them.

[2021-04-16 00:32] #984 closed

[2021-04-16 01:46] xpusostomos commented on #986
Funnily enough, I started working on another project the other day, and ran into the exact same problem. And I'd forgotten all about this bug report, and had to discover all over again the weird behavior of this plugin. I still think the plugin should reflect docker's way, by differentiating how arrays vs single arguments work.

[2021-04-16 12:30] abrudin commented on #999
I realize it may be too late, but it would certainly be nice to have this in the 7.0.0 release, if not for the aesthetic reason that the newly released gradle 7.0 introduced Java 16 support :)

[2021-04-16 13:36] #999 closed

[2021-04-24 02:59] teagy opened #1003 "Plugin Failing with JDK 16"
The dockerCreateDockerFile task is failing to build with JDK 16 set as the target java version in Gradle. It outputs this error with no other information.

I noticed that you made a recent change 8 days ago for adding support for JDK 16. https://github.com/bmuschko/gradle-docker-plugin/commit/3c9d2788362a430f35e73132ccda7f567eeb4a82

How long until the next tagged release with this change is avail

[2021-04-26 14:25] bmuschko commented on #1003
I will try to release a new version sometime this week.

Closing as duplicate of https://github.com/bmuschko/gradle-docker-plugin/issues/999.

[2021-04-26 14:25] #1003 closed

[2021-04-30 00:06] bmuschko commented on #993
@dsvensson Do you know how I can get the artifacts signed? Does this happen automatically if I publish to the Gradle plugin portal directly?

[2021-04-30 06:44] dsvensson commented on #993
Unfortunately not. I'm very cluless in this area and my issue filed here came from my questioning around on gradle slack why some parts of for example the docker plugin only had sha256 verification. The answer suggested that as maven central requires all artifacts to be signed, publishing to central should cover the signing part.

[2021-04-30 13:38] #896 closed

[2021-04-30 13:48] bmuschko commented on #993
Starting with plugin version 7.0.0, we will only publish to the Gradle plugin portal. I'd assume that the plugin for publishing to it does the right thing.

[2021-04-30 13:48] #993 closed

[2021-04-30 13:49] #988 closed

[2021-04-30 13:55] bmuschko commented on #991
I am not quite sure what's going on in your project. In general, this should as demonstrated in those test cases: https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/functTest/groovy/com/bmuschko/gradle/docker/DockerRemoteApiPluginFunctionalTest.groovy.

I'd need to see a minimal, sample project the reproduces the issue. I am going to close this for now. We can reopen if you can provi

[2021-04-30 13:56] bmuschko commented on #992
I am going to close this issue for now. Please provide a pull request if you'd like to have the feature.

[2021-04-30 13:56] #992 closed

[2021-05-03 12:24] iNikem opened #1007 "Publish changelog"
Currently it is impossible to understand what changed from version to version. E.g. is it safe for me to update from 6.7.0 to 7.0.0? I understand that maintaining the proper changelog may be too cumbersome for you, but can you consider it least doing proper GitHub releases? Then everybody can easily compare two versions and see all PRs between them.

[2021-05-03 13:44] bmuschko commented on #1007
Are you asking about this? https://bmuschko.github.io/gradle-docker-plugin/current/user-guide/#change_log

[2021-05-03 16:00] iNikem commented on #1007
Ou, my bad! That is certainly good enough for me! :) Maybe then have a link to that more visible on GitHub?

[2021-05-03 18:53] bmuschko commented on #1007
When you say "more visible on GitHub", what exactly would you expect? The README file already has links to it: https://github.com/bmuschko/gradle-docker-plugin/blob/master/README.adoc

[2021-05-03 19:44] iNikem commented on #1007
It has link to user guide. In my case it did not come to my mind to go to user guide to look for changelog. E.g. having a separate link to the changelog in the README will help users.

[2021-05-03 19:51] bmuschko commented on #1007
Ah, got it. Sure. Added.

[2021-05-03 19:51] #1007 closed

[2021-05-04 04:06] niloc132 opened #1008 "DockerBuildImage task doesn't re-run if the previous output still exists, but is no longer tagged"
Create a project with a `DockerBuildImage` task, with the `images` property set to include at least one tag. Check out two copies of this project (gradle will try to rebuild each on its own, noticing changes, etc), with different contents in the `inputDir`. Build one project, then the second, then go back to the first and build its task again.

### Expected Behavior
Rebuilding the first project sh

[2021-05-10 21:26] asarkar opened #1009 "Cannot access 'com.bmuschko.gradle.docker.tasks.image.Dockerfile$File'"
Following error is shown in `build.gradle.kts`.

[code]

The build works, but the error is always there.

### Expected Behavior
No errors should be shown in the `build.gradle.kts`.

### Current Behavior
Described above.

### Context
Described above.

### Steps to Reproduce (for bugs)
Described above.

### Your Environment
Kotlin 1.4.32
docker-remote-api v7.0.0