[2017-02-14 17:15] cdancy commented on #345
@bmuschko yeah I don't either to be honest but I know of a few folks that have asked for them. I'll mull it over a bit more and see if anything jumps out.

[2017-02-15 08:51] orzeh commented on #345
@bmuschko @cdancy I don't have any experience with Travis but it looks :ok_hand: and supports Docker.

IMO we should enable `SNAPSHOT` model as it allows folks to test things immediately and gather feedback. Maybe we can use [Gradle Git](https://github.com/ajoberstar/gradle-git) plugin to  infer project version and release (manually). I use it in many personal projects and it works well.

[2017-02-15 12:38] bmuschko commented on #345
What exactly does it mean that TravisCI supports Docker? Does it mean that the builds run in Docker containers or that it offers a Docker registry? I personally do not care too much about the fact that a CI provider runs on Docker. To me as an end user that's an implementation detail. I just want it to work. :-)

Please keep in mind that the decision will have an impact on the automated release pr

[2017-02-15 13:06] orzeh commented on #345
According to the [docs](https://docs.travis-ci.com/user/docker/) we can have Docker engine installed on testing machine. In our case it can simply running functional tests.

The build itself [can be run in a container](https://docs.travis-ci.com/user/ci-environment/), but as you said we should not care about it.

This is the best option.

[2017-02-15 13:07] bmuschko commented on #345
We already have that in place. That's why I don't necessarily want to go for a SNAPSHOT solution as it will definitely make the release process more complex.

[2017-02-15 14:24] cdancy commented on #345
@bmuschko @orzeh two different things we are talking about there. Lets shelve the SNAPSHOT conversation to some later date and focus on a CI service.

As has been noted already: travis I believe runs inside a container (which shouldn't matter to us one way or the other) but also provides docker (if requested) allowing us to run functional tests and NOT have to rely on the user to do so. Too many t

[2017-02-15 19:33] buliverd53 opened #346 "Issue with binds properties"
Hey guys,

I'm having problems when trying to use the **binds** class on build.gradle.
When I try to build my docker image, fails:

[code]

[2017-02-15 19:40] cdancy commented on #346
@buliverd53 you're using the `gradle-docker` plugin put out by [transmode](https://github.com/Transmode/gradle-docker). This is the `gradle-docker-plugin`.

[2017-02-15 19:42] matthiasbalke opened #347 "new gradle plugin syntax not working"
I switch from old to "new" gradle plugin syntax.
[code]
When executing the docker tasks I always get the following error. The same error was also described in #280 scenario `file5.gradle`, but the issue was closed due to resolving another bug described in there.

How can I fix my build to use the new syntax?

build log: https://gist.github.com/matthiasbalke/fec93a4be79a0ae49163c832ebe14f67

[2017-02-15 20:02] cdancy commented on #347
@matthiasbalke looks more like a gradle issue than anything to do with this plugin. What version of gradle are you using to get this failure? Have you tried the latest and greatest? Do you have a small reproducible script I could give a go?

[2017-02-15 20:27] orzeh commented on #347
@matthiasbalke how do you apply plugin to subprojects?

[2017-02-15 20:36] matthiasbalke commented on #347
@cdancy I'm using Gradle 3.3 this is my https://github.com/matthiasbalke/infiniboard/blob/gradle/build.gradle

The same error was also described in #280 scenario `file5.gradle` I think that should work as a minimal example to reproduce.

@orzeh Thats how I apply the plugin
* https://github.com/matthiasbalke/infiniboard/blob/gradle/quartermaster/build.gradle
* https://github.com/matthiasbalke/infin

[2017-02-16 10:39] matthiasbalke commented on #347
@orzeh I just realized the given example is not the exact same setup, so I build a minimal example setup here https://github.com/matthiasbalke/gradle-docker-plugin-issue-347

[2017-02-16 17:03] buliverd53 commented on #346
Thanks for the help @cdancy ! I'm new on this docker/gradle stuff and I need to learn more about it. Thanks again

[2017-02-16 17:03] #346 closed

[2017-02-17 13:53] orzeh commented on #347
@matthiasbalke this is the same issue as in #248 (see my [comment](https://github.com/bmuschko/gradle-docker-plugin/issues/248#issuecomment-234098958)).

To fix just adjust build script classpath, see my [PR](https://github.com/matthiasbalke/gradle-docker-plugin-issue-347/pull/1) to your project.

[2017-02-20 22:27] matthiasbalke commented on #347
@orzeh ok this is working for two plugins, but in case I use a bunch of plugins, do I have to include all plugins in the classpath block?

[2017-02-21 07:35] orzeh commented on #347
@matthiasbalke you have to add all of them, I'm afraid :disappointed:

[2017-02-22 00:02] bmuschko commented on #345
I tried out GitLab over the weekend which seems to work nicely. Do you have permissions to display  https://gitlab.com/bmuschko/gradle-docker-plugin/pipelines? I am a little unsure about the permissions. GitLab supports CI pipelines. Only bummer is that it creates a new container for every step of the pipeline which costs additional time. Check it out and let me know what you think.

[2017-02-22 11:34] orzeh commented on #345
@bmuschko I use GitLab at work and its CI works fine. However, running functional tests here will be much harder than in Travis.

I don't have permissions to see https://gitlab.com/bmuschko/gradle-docker-plugin/pipelines - returns `404`.

[2017-02-22 13:38] bmuschko commented on #345
@orzeh OK, thanks for the info. Do you know how to configure the GitLab project to render the pipeline for everyone. I already checked the option "public pipeline".

[2017-02-22 13:47] orzeh commented on #345
@bmuschko unfortunately no. We use private/internal projects only.

[2017-02-22 14:11] cdancy commented on #345
@bmuschko same issue here. I can log in easily enough with github credentials but can't do much else at the moment. Poking around...

But just to re-iterate what @orzeh said: having a CI service which can execute docker so that we can run functionalTests I think is a must moving forward. Every PR that comes through I've been manually running that branch locally to ensure all functionalTests pass:

[2017-02-23 17:31] dataduke opened #349 "Build next release"
As a gradle-docker-plugin user
I need a new release version within the next week for using it in production
so that changes implement by my colleague @jmewes on 20th January are included

Thanks a lot in advance @cdancy

[2017-02-23 17:37] cdancy commented on #349
@dataduke I can knock that out for you. Working on getting one last thing in which should be done within the next few days or so. If I don't release by the time you need it just ping again and I'll knock one out for you.

[2017-02-23 17:48] dataduke commented on #349
@cdancy that was really fast. Cool. Looking forward to it!

[2017-02-23 18:05] bmuschko commented on #347
@matthiasbalke Why do you declare `apply false` for your plugins? You will want to apply those plugins and not just add them to the build script's classpath. All the logic implemented in the plugins will not apply otherwise.

[2017-02-23 23:18] cdancy commented on #321
Currently working on this here https://github.com/docker-java/docker-java/pull/805 and hoping to get in for the 3.0.6 release.

[2017-02-23 23:37] cdancy commented on #321
My apologies this is something else :( Feature I'm working on is returning the health status through `DockerInspectContainer`.

[2017-02-24 08:09] orzeh commented on #347
@bmuschko I thnik @matthiasbalke has multiproject build https://docs.gradle.org/current/userguide/plugins.html#sec:subprojects_plugins_dsl

[2017-02-24 13:55] matthiasbalke commented on #347
@bmuschko I have a multi module build and apply the plugins just to a subset of the modules.

[2017-02-24 19:13] ousema2003 opened #350 "build gradle-docker-plugin failed"
i downloaded gradle-docker-plugin-master and get error when try to build project with gradle command

error trace

FAILURE: Build failed with an exception.

* Where:
Script '/root/gradle-docker-plugin-master/gradle/release.gradle' line: 13

* What went wrong:
A problem occurred evaluating script.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get

[2017-02-24 19:24] cdancy commented on #350
@ousema2003 what exactly are you trying to do? I was able to do the below successfully:

[code]

[2017-02-24 22:53] ousema2003 commented on #350
applied steps above but get error as below  :
:integrationTest

com.bmuschko.gradle.docker.utils.DockerThreadContextClassLoaderIntegrationTest > Can create class of type Volume FAILED
    org.spockframework.runtime.UnallowedExceptionThrownError at DockerThreadContextClassLoaderIntegrationTest.groovy:52
        Caused by: org.gradle.api.artifacts.ResolveException at DockerThreadContextClassLoaderIn

[2017-02-25 08:41] ousema2003 commented on #350
how to generate gradle-docker-plugin  jar files ?

[2017-02-25 13:52] cdancy commented on #350
@ousema2003 not sure exactly what you're trying to invoke but I can't reproduce that stacktrace locally even with docker stopped. Not sure how familiar you are with gradle but you can always invoke the `assemble` command to bypass any testing: `./gradlew clean assemble`?

What is your purpose for needing to generate jars locally? Is this for a PullRequest? We already publish our releases to jcente

[2017-02-25 13:55] bmuschko commented on #347
@matthiasbalke You are actually describing two different use cases here:

1. You use the new plugin DSL in the root project with `apply false`. In the subprojects you apply the plugin.
2. In the [other example](https://github.com/matthiasbalke/gradle-docker-plugin-issue-347) you provide you mix the new plugin DSL and the `buildscript` notation in combination of a script plugin.

Can you describe w

[2017-02-25 13:58] ousema2003 commented on #350
my aim is to use gradle docker plugin to manager docker images/containers remotly through gradle .

you can provide an example for that ?

[2017-02-25 13:59] cdancy commented on #350
@ousema2003 have you read this projects main page at all? It says exactly how to do so. We also have loads of test files which in themselves are examples of how to do various things.

[2017-02-25 13:59] #350 closed

[2017-02-25 14:01] ousema2003 commented on #350
in term of docker engine configuration (host/ogin/passw/port) from gradle client ?

[2017-02-25 14:03] cdancy commented on #350
@ousema2003 think you need to look into gradle a bit more and get a firm understanding of how it works before trying to play with this plugin.

I would also recommend reading up on docker and how it works so that you're not so confused.

[2017-02-27 15:14] tdudgeon opened #351 "Conditional building of image"
How is it best to configure a DockerBuildImage to only do the build when necessary?
For instance, let's assume we have a Java web application build built with the gradle war plugin.
If I call the war target the war file only gets rebuilt if it's necessary to do so.
But if I use the gradle-docker-plugin to build a docker image that incorporates that war file it rebuilds the docker image every time,

[2017-02-27 15:23] cdancy commented on #351
@tdudgeon this issue has come up numerous times, and at one point even tried to implement a solution, but upon further investigation it was deemed impossible to tell whether an image was different from some other image. Looking at things from our point of view, meaning not taking into account your war file, how would we be able to tell if this image being built would be newer than some previously

[2017-02-27 15:23] #351 closed

[2017-03-02 15:01] dataduke commented on #349
Hi @cdancy, just a quick reminder. If you could bundle the next release soon I would try to implement it into our pipeline tomorrow. That would be sooo awesome. Thanks!

[2017-03-02 15:37] dataduke commented on #349
@cdancy I see your trouble. Great that you offer the possibility to do two incremental releases if it does not work out now. 👍

[2017-03-02 21:51] cdancy commented on #349
@dataduke `3.0.6` is now released. Let me know how things work out. Thanks.

[2017-03-02 21:51] #349 closed

[2017-03-02 22:32] dataduke commented on #349
@cdancy awesome. will provide when in use

[2017-03-02 22:38] dataduke commented on #349
@cdancy awesome. will provide feedback when in use soon 💯

[2017-03-03 09:00] pluttrell opened #353 "Configure With Dockerfile"
How would someone configure this plugin if they only have:

* An existing Dockerfile at `src/main/Docker/Dockerfile`
* A single executable JAR (SpringBoot) that to end up at the root of the file system `/app.jar`
* Wants it tagged with 2 tags, such as `0.1.0` and `latest`

Thanks.

[2017-03-03 15:18] cdancy commented on #353
@pluttrell have you tried putting together a script already and it didn't work or are you looking for help on how to use this plugin? If you've got a script somewhere please share it and we can look it over. If not, and you need help, please read over this projects [README](https://github.com/bmuschko/gradle-docker-plugin/blob/master/README.asciidoc) first to get an understanding of how things wor

[2017-03-03 15:19] cdancy commented on #353
There are also loads of tests we have which provide good examples on how various things work.

https://github.com/bmuschko/gradle-docker-plugin/tree/master/src/functTest/groovy/com/bmuschko/gradle/docker

[2017-03-03 19:30] pluttrell commented on #353
@cdancy Many thanks for getting back to me so quickly.

Prior to posting this question, I did read the project's README completely. And while it's clear that this plugin can support an impressive set of advanced use cases and customizations with tie-ins at many aspects of the lifecycle it uses, I didn't see any example or understand where to start to define the simplest of use cases - the one I me

[2017-03-03 21:44] cdancy commented on #353
@pluttrell take a look at [DockerBuildImage](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/DockerBuildImage.groovy). It allows you to specify the build context (i.e. the directory relative to your Dockerfile) and also allows you to define labels for said image. [Here is an example](https://github.com/bmuschko/gradle-docker-plugi

[2017-03-07 22:10] matthiasbalke commented on #347
@bmuschko In one of my projects (https://github.com/reflectoring/infiniboard) I want to switch to the new gradle plugin syntax, as it is said to be more performant.

When using the `gradle-docker-plugin` ([here](https://github.com/reflectoring/infiniboard/blob/master/gradle.d/02-docker.gradle)) I need to import the Task class `com.bmuschko.gradle.docker.tasks.image.DockerBuildImage` to be able to

[2017-03-09 06:46] eddumelendez commented on #353
@pluttrell hope my [example](https://github.com/eddumelendez/javaee7-docker-gradle) can help

[2017-03-09 12:39] cdancy commented on #353
@eddumelendez good example and thanks for posting. Closing issue as I believe there is more than enough here to solve OP's problem.

[2017-03-09 12:39] #353 closed

[2017-03-15 13:32] joernott opened #356 "Problems mounting a host volume"
Hi,

I want to use the golang container to compile a static binary which will then be put into the container I am building. I tried to figure out, how to actually bind mount $projectDir/src/usr/bin into /go/bin in the container, but I nver got this to work.

Maybe, you can give me a hint on what I am doing wrong:

[code]

[2017-03-15 14:06] cdancy commented on #356
@joernott what is the actual error you see? Can you post the stacktrace?

[2017-03-16 07:15] orzeh commented on #356
@joernott as @cdancy said it is hard to say anything without stacktrace. What I can spot looking at your build script is that `hostPath` variable used to bind volume is set when task is being executed and  you use it in `binds` when task is being configured. Maybe this cause problems.

[2017-03-17 09:11] dataduke commented on #349
@cdancy everything works fine in our pipeline. I could not be happier with all your support and short response time. I wish you the best weekend ever! Maybe we met someday in real life. This would be legendary. ;-)

[2017-03-17 13:00] cdancy commented on #349
@dataduke your welcome and this is a small world so you never know ;)

[2017-03-19 18:10] Hubbitus commented on #319
Please update documentation about linking containers!

[2017-03-19 22:26] cdancy commented on #319
@Hubbitus care to send in a PR?

[2017-03-21 12:23] joernott commented on #356
@cdancy: The container is created and started. it runs perfectly, but due to the fact, that the folder is not mounted, the compiled binary is not stored on the host file system but inside the container and thus, it is lost, when the container finished building. The only stack trace I can get is for the assert line I added to verify if the binary has been stored on the mounted host FS. Attached, yo

[2017-03-21 12:39] joernott commented on #356
@orzeh: I have changed hostPath to a property defined in ext, ensuring, that it is defined before its being used. The result doesn't change. The container is started properly and doies what it's supposed to except for mounting src/usr/bin to /go/bin inside the container. As a result, the compiled binary is lost upon termination and the assert line fails.

[2017-03-21 12:47] joernott commented on #356
[influxdb_relay.tar.gz](https://github.com/bmuschko/gradle-docker-plugin/files/858122/influxdb_relay.tar.gz) is a stripped down project which can run without access to our private Nexus, registry and images. This should run anywhere, if you want to test.

I also left my workaround in (commented out), so you can see the docker run statement which actually mounts the folders the way I want.

[2017-03-21 13:21] orzeh commented on #356
@joernott ok I've found your mistake.
in:
[code]
you use `hostPath` as key, but Groovy will use `"hostPath"` string as a key not the variable value. Change it to:
[code]
and it should work (see [Groovy docs](http://www.groovy-lang.org/syntax.html#_maps)).

Also in your sample project there is a mistake in assertion:
[code]
but created file is named `influxdb-relay`.

[2017-03-21 13:21] #356 closed

[2017-03-21 14:19] cdancy commented on #356
@joernott or to add to @orzeh recommendation: you're more than free to define properties within the `doFirst` block. I do this here all the time actually to great success.

doFirst {
    def hostPath = (file("$projectDir/src/usr/bin")).getAbsolutePath()
    println "******** Installing into " + hostPath
    binds = [ hostPath : '/go/bin' ]
}

[2017-03-21 22:14] ayedo opened #357 "Allow Dockerfile task to be UP-TO-DATE"
First of all: thanks for your awesome work!

I was wondering: why does the Dockerfile task set the following in the constructor:

`   Dockerfile() {
        outputs.upToDateWhen { false }
}`

I'm using the plugin to start a postgres database during the build in order to generate a jOOQ meta model. Incremental building does not work since in the end, the build chain depends on the Dockerfile task,

[2017-03-22 09:44] joernott commented on #356
Thanks for your help!

[2017-03-22 10:18] orzeh commented on #357
@ayedo I think this is worth considering. I can imagine use cases when generated `Dockerfile` (task output) does not change for subsequent builds. We could remove the `outputs.upToDateWhen { false }` statement and allow developers to define task inputs explicit using [standard Gradle syntax](https://docs.gradle.org/current/userguide/more_about_tasks.html#sec:up_to_date_checks).

@cdancy WDYT?

@ay

[2017-03-22 13:04] cdancy commented on #357
@orzeh I agree. Think this was probably left in from when we attempted a go at making docker image reproduction "UP-TO-DATE".

[2017-03-24 02:13] mwhipple opened #358 "Allow customization of entryPoint in DockerJavaApplicationPlugin"
I'd like to add an `entryPoint` to the application extension which would allow pre-empting the current `determineEntryPoint` logic. I should be able to get a PR together (likely tomorrow) unless there are any objections.

[2017-03-24 07:15] orzeh commented on #358
@mwhipple any PRs are welcome. please take a look at #306 which is about the same issue.

[2017-03-24 12:07] mwhipple commented on #358
OK, cool. I looked at #306 but it initially seemed different enough to keep separate but now I'm thinking both could be addressed cleanly if the extension point is a more generalized closure delegated to the Dockerfile task
[code]
(naming TBD)

[2017-03-24 12:11] orzeh commented on #358
@mwhipple sounds good!

[2017-03-27 00:37] DALDEI opened #360 "Enhancement: add nameFilter to DockerListImages"
The 'filters' property of DockerListImages is applied to 'withLabelFilter'.
It is very useful to list images by name.
It would be nice to have a nameFilter  (and while your at it , arrays of filters and dangling )

    ListImagesCmd withImageNameFilter(String imageName);

[2017-03-27 07:27] orzeh commented on #360
@DALDEI are you interested in submitting PR?

[2017-03-31 20:09] kish3007 opened #361 "Exit codes for TaskType:DockerExecContainer"
I have tried to use this for my project, one of my requirement is to exec into a container and run a script, check for exit codes if the scripts fails(return a non-zero exit code) and fail the task. Is there a way to check exit codes for taskType:DockerExecContainer if cmd[] fails?

[2017-04-06 14:01] childnode commented on #360
@DALDEI how do you look for images "by name" on console?! a filter for that is unknown to me

[2017-04-14 21:53] rahulakash commented on #143
I resolved this issue by installing [Docker For Mac](https://docs.docker.com/docker-for-mac/install/)  instead of the Docker Toolbox (Kitematic).

[2017-04-18 13:35] orzeh commented on #361
@kish3007 it will be possible when #362 is merged. In new functional tests you should find solution to your question.

[2017-04-20 12:25] remmeier commented on #357
would be very helpful if this is fixed

[2017-04-20 12:45] cdancy commented on #357
@remmeier submit a PR?

[2017-04-25 11:58] tdudgeon opened #364 "DockerBuildImage task fails having just successfully built image"
I'm seeing strange behaviour with building an image, where the image gets built correctly by then the task fails for some reason. Here is a simple build file that shows this for me on OSX with Docker Mac 17.05.0-ce-rc1-mac8.

[code]

This gives the following output:

[code]

Notice the line:
Successfully tagged test/testtomcat:latest
and indeed the image is present.

[2017-04-25 12:14] dmitrygusev commented on #364
This needs new docker-java:
https://github.com/docker-java/docker-java/issues/830

[2017-04-25 13:13] orzeh commented on #364
We have to wait for `docker-java` [3.0.10](https://github.com/docker-java/docker-java/milestone/20) release.

[2017-05-01 20:46] JLLeitschuh opened #365 "DockerBuildImage hangs on osx"
I'm trying to build a docker image with your plugin in a subproject.

My build is using [gradle script kotlin](https://github.com/gradle/gradle-script-kotlin):
[code]

The task `buildImage` hangs and doesn't ever seem to complete.
I've tried both with and without the gradle daemon.

I can successfully run:
[code]
so I'm fairly confident this isn't a problem with needing certs.

[code]

[code]
Grad

[2017-05-01 21:38] orzeh commented on #365
@JLLeitschuh can you build image from this dockerfile using Docker CLI?

[2017-05-02 11:01] EndOfMaster opened #366 "Invalid Auth config file"
the gradle build:
`import com.bmuschko.gradle.docker.tasks.image.Dockerfile`
`import com.bmuschko.gradle.docker.tasks.image.DockerBuildImage`

`docker {`
   ` url = 'tcp://127.0.0.1:2375'`
   ` registryCredentials {`
       ` url = 'https://registry.cn-beijing.aliyuncs.com'`
        `username = '*********'`
       ` password = '***********'`
`    }`
`}`

`task createDockerfile(type: Dockerfile) {`

[2017-05-02 14:37] JLLeitschuh commented on #365
Yes, I can navigate to the output directory of `createDockerFile` and run
`docker build -t plexxi/testimage .`
it works correctly.

Any thoughts as to what would cause this?

[2017-05-02 17:41] JLLeitschuh commented on #365
So, I've done a bit more digging.
I created an example project that just uses the docker-java API.

[code]

This seems to work as expected.

Some things that I have observed, the usage of the the docker API in this plugin doesn't use the `awaitImageId` that takes a timeout.
I think that exposing the ability to configure this would be useful for ensuring CI servers that have this problem eventually

[2017-05-02 18:28] JLLeitschuh commented on #365
I solved our problem.
We had a bunch of our dependencies forced to prevent version conflicts.
I had this resolution strategy configured for all configurations.
One of these dependencies doesn't work with the docker java api. (I'm not sure what dependency was causing the problem). But I bet that somewhere a `MethodDefNotFound` exception was being thrown and not handled in a way that causes `awaitIm

[2017-05-02 18:36] cdancy commented on #365
@JLLeitschuh care to send in a PR?

[2017-05-02 18:36] #365 closed

[2017-05-02 18:39] cdancy commented on #366
@EndOfMaster couple things:

1. Can you post the full stracktrace?
2. Are your registry blocks truly empty or are you just omitting them here? Have you tried without using a `credsStore` to see if things work? I've never used that feature of docker before so am not entirely familiar with it. Might be this is a docker specific problem and nothing to do with the plugin.

[2017-05-03 02:30] EndOfMaster commented on #366
I use the docker build command, everything is OK.
this is stracktrace:
https://gist.github.com/EndOfMaster/47af1611886dcf4e71d585eeaec3d1a6

[2017-05-03 21:30] orzeh commented on #366
@EndOfMaster the source of the problem is in `docker-java` see [this issue](https://github.com/docker-java/docker-java/issues/806).

[2017-05-03 21:51] orzeh commented on #365
@JLLeitschuh @cdancy some discussion about timeouts was in #315. Maybe it's time to fix it.

[2017-05-04 14:31] JLLeitschuh commented on #365
I don't really have the time right now.
If I encounter the problem again I'll add something.

*Side note*
Thanks devs for making the DSL strongly typed. Otherwise it would have made writing this logic in Gradle Script Kotlin a lot more work.

[2017-05-05 12:46] bmuschko commented on #345
Did you guys make some progress on setting up a new CI solution? I am assuming you'll soon not be able to build and release anymore.

[2017-05-05 12:51] cdancy commented on #345
@bmuschko not yet. I'll put it on my local backlog to knock it out within the next week or so. My personal opinion would be to use travis-ci, and while it does not provide what other CI services do, I think with the appropriate documentation in place, and how to release, it should not be an issue.

Thinking we can share the release credentials amongst ourselves over email or something like that.

[2017-05-05 13:12] bmuschko commented on #345
I am not super excited to share my Bintray GPG_PASSPHRASE to be honest. I'd much rather like to see a solution that can perform the release with a click of a button.

[2017-05-05 13:14] cdancy commented on #345
@bmuschko we could use a service account with username/password to publish artifacts: doesn't need to be your personal GPG passphrase.

[2017-05-05 13:19] bmuschko commented on #345
@cdancy Sure, if you can make that happen with the [already existing setup in Bintray](https://bintray.com/bmuschko/gradle-plugins/com.bmuschko%3Agradle-docker-plugin) then that would be very much preferred. Maybe you can add other admins to that account? Possibly that's a Premium-only feature. Let me know if you know more.

[2017-05-05 13:36] cdancy commented on #345
@bmuschko I believe you would have to setup the service account and give it permission to write to your repo.

The coding part is easy enough [as it's what I do in my own projects](https://github.com/cdancy/bitbucket-rest/blob/master/gradle/publishing.gradle#L68).

[2017-05-05 13:49] bmuschko commented on #345
@cdancy Thanks, I'll look into it. Either way I propose that you guys look into a solution that doesn't require a manual release from a developer's machine. :-)

[2017-05-05 15:41] NickLarsenNZ commented on #366
I'm getting the same thing:
[code]

Other things I've tried which result in the same error:
- An empty ~/.docker/config.json
- A ~/.docker/config.json containing only "{}"

**My ~/.docker/config.json**:
[code]

Interestingly enough, I tried removing only the credsStore key (and preceding comma), which then turns into a NullPointerException with no mention of the config.json file:
[code]

**My buil

[2017-05-05 15:43] cdancy commented on #366
@NickLarsenNZ when you removed the `credsStore` did you go back and fill in the actual credentials for the registry?

[2017-05-05 15:59] NickLarsenNZ commented on #366
Hi @cdancy, do I didn't think to do that, though shouldn't it be acceptable to not authenticate to the registry (if I'm only pulling)? I don't see why the image build should fail because of a file which isn't so important in that task.

I understand this is a problem with the docker-java project, so I'll jump over there.

Thanks for your reply.

[2017-05-05 16:07] cdancy commented on #366
@NickLarsenNZ no I still think you have to put in credentials even for a pull. It may be that some repos are private and locked down and don't want individuals pulling potentially proprietary images.

[2017-05-06 16:06] DALDEI opened #367 "IllegalArgumentException in DockerListImages with Filter if no match"
Without the onError this aborts gradle.
This occurs if filters is set and there is no matching image with that filter.
I wouldnt exepct that to throw an IllegalArgument Exception.

[code]

A minimal repo:

[code]

java.lang.IllegalArgumentException
        at sun.reflect.GeneratedMethodAccessor92.invoke(Unknown Source)
        at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAcce

[2017-05-06 18:24] cdancy commented on #367
@DALDEI yeah that's odd and I completely agree. If no images match the filter I would expect `docker-java` to return an empty list rather than throwing an exception which is what it looks like is happening. We're certainly not doing anything on purpose. Hmmmm... not sure if there is a "clean" way around this aside from using the `onError` closure or reporting a potential "bug" with the `docker-jav

[2017-05-06 21:40] orzeh commented on #367
@cdancy this is a bug in our plugin:

at org.codehaus.groovy.runtime.callsite.AbstractCallSite.callCurrent(AbstractCallSite.java:166)
**at com.bmuschko.gradle.docker.tasks.image.DockerListImages.runRemoteCommand(DockerListImages.groovy:50)**
at sun.reflect.GeneratedMethodAccessor663.invoke(Unknown Source)
at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)

I d

[2017-05-08 18:14] sugun999 commented on #366
Hi,

I am having same issue and thows below error. Its unable to pull the image from remote private repository or public repository if its not available locally. Any ideas, what could be the wrong?

*** What went wrong:
Execution failed for task ':presentationlayer:cloud-poc-fast-microservice:buildImage'.

Here is the excerpt from build.gradle file

`apply plugin: 'com.bmuschko.docker-remote-api'

[2017-05-08 18:42] #367 closed

[2017-05-08 18:58] #361 closed

[2017-05-08 19:02] sugun999 commented on #366
Hi,

Above issue solved if I specify, dockerRegistryCredentials.url as 'https://fastregistry.net/v2/_catalog'

Thanks

[2017-05-08 19:03] cdancy commented on #361
PR has been merged to master. Next release will have change. Would like to get it out as soon as #369 is resolved.

[2017-05-11 12:00] typekpb commented on #347
@matthiasbalke I ran into same problem (just different plugin: `id "com.bmuschko.cargo-base" version "2.2.3"`)
@bmuschko ideas?

[2017-05-11 12:25] typekpb commented on #347
OK, as reported by @bmuschko using the plugin syntax:

	plugins {
	  id "XXX" version "YYY" apply false
	}

in the root project and in the subproject using old syntax with classname (no qoutes) works fine:

	buildscript {
	  repositories {
	      jcenter()
	  }
	  dependencies {
	      classpath group: 'ZZZ', name: 'XXXX', version: 'YYY'
	  }
	}

	apply plugin: com.bmuschko....Plugin

works just f

[2017-05-13 15:57] bmuschko commented on #345
@cdancy @orzeh I added the [configuration for Travis CI](https://github.com/bmuschko/gradle-docker-plugin/blob/master/.travis.yml) for a basic build and [activated the job](https://travis-ci.org/bmuschko/gradle-docker-plugin). You can now go ahead and add the configuration you mention for using Docker for functional tests. I am not super familiar with that part so I'll leave it up to you. Please b

[2017-05-13 16:01] cdancy commented on #345
@bmuschko I know what the issue is. In travis, and because you're running within a container, there is no native docker instance available (least last time I checked it was this way). We have to point at the host docker daemon which is easy enough to setup. I'll take a look at this today.

[2017-05-13 17:48] bmuschko commented on #345
@cdancy @orzeh I set up Docker for Travis which also starts a private registry for testing purposes. For the relevant tests I took away the `TestCondition` that checks for the existence of that private registry. Feel free to reactive if you want that check for local builds. As far as I could tell the check didn't work properly. Maybe because `http` is replaced with `tcp` [here](https://github.com/

[2017-05-13 22:31] cdancy commented on #345
Think the better idea would be to start a private registry locally for functionalTests to run against. Shouldn't be bad at all I don't think.

[2017-05-13 22:39] bmuschko commented on #345
@cdancy Would need to be documented though so external contributors know about it. Otherwise their tests will just fail and they might think it's happening because of their changes.

[2017-05-13 23:02] cdancy commented on #345
@bmuschko oh yeah absolutely.

[2017-05-14 12:57] bmuschko commented on #345
@cdancy @orzeh I haven't found a way to create a service account for Bintray that allows access to my repositories. Adding members to my account seems to be a paid Premium feature. Creating a new organization and adding members would work but then we'd start from scratch and wouldn't have access to previous versions. Do you have any other ideas?

[2017-05-14 14:33] cdancy commented on #345
@bmuschko what if we start doing snapshot releases? So every successful PR/commit would be a potential SNAPSHOT release and only when we change the version from `X.X.X-SNASPHOT` to `X.X.X` would the repo change and we get a "real" release if you will. You could then code in your credentials/account to travis (either through properties or env vars) to make this work for every commit.

Other than sh

[2017-05-14 20:48] #337 closed

[2017-05-14 20:49] cdancy commented on #149
Functionality now exists within master to do so if required (though we don't by default). No need to keep this open IMO.

[2017-05-14 20:49] #149 closed

[2017-05-14 20:51] cdancy commented on #232
We now have the ability to poll logs within a container and/or receive callbacks for each log output triggered. On top of this docker now supports the ability to do so natively. Think we can close this now IMO. Feel free to re-open for further discussion.

[2017-05-14 20:51] #232 closed

[2017-05-14 20:52] cdancy commented on #333
Functionality now exists within master.

[2017-05-14 20:52] #333 closed

[2017-05-14 20:55] cdancy commented on #357
Removed in master. Next release will have change.

[2017-05-14 20:55] cdancy commented on #320
Closing as this is more a docker-java syntax problem more than anything else.

[2017-05-14 20:55] #320 closed

[2017-05-14 20:56] cdancy commented on #343
Closing as it appears consensus, at least for the time being, is to stick with docker-java. Though I would love to see support for windows named pipes as a lot of users have been asking at this point...

[2017-05-14 20:56] #343 closed

[2017-05-14 20:57] cdancy commented on #344
Tests can be run natively now and so I think this ISSUE has become largely irrelevant. Feel free to re-open if necessary.

[2017-05-14 20:57] #344 closed

[2017-05-14 20:58] cdancy commented on #360
Closing as it seems OP is not up for putting together a PR for this proposed functionality (assuming it can be done). Feel free to re-open if necessary.

[2017-05-14 20:58] #360 closed

[2017-05-14 20:59] cdancy commented on #329
If you feel open to sending in a PR for this functionality we'd be more than happy to review it. Until then I'm closing this issue.

[2017-05-14 20:59] #329 closed

[2017-05-14 21:00] cdancy commented on #326
Closing as we've not come up with a more sane and practical solution that makes sense.

[2017-05-14 21:00] #326 closed

[2017-05-14 21:01] cdancy commented on #366
Closing as this appears to be a config issue more than anything else.

[2017-05-14 21:01] #366 closed

[2017-05-14 21:05] cdancy commented on #286
@orzeh I believe knocked this out for the `docker-java` project already? Would this be an easy PR to put together to take advantage of this functionality?

[2017-05-14 21:07] cdancy commented on #325
Closing as this is more a docker-java issue than anything else IMO. Feel free to re-open if necessary.

[2017-05-14 21:07] #325 closed

[2017-05-14 21:08] cdancy commented on #219
Closing but would really love to get this as part of #345 if at all possible.

[2017-05-14 21:08] #219 closed

[2017-05-14 21:09] cdancy commented on #322
Closing as I'm not sure if there is anything else here to discuss. Feel free to re-open if necessary.

[2017-05-14 21:09] #322 closed

[2017-05-14 21:11] KostyaSha commented on #322
It almost done... https://travis-ci.org/docker-java/docker-java/builds/229155863?utm_source=github_status&utm_medium=notification

[2017-05-14 21:12] cdancy commented on #321
Ability to do this, either through generic instructions or a template file, exists within  master.

[2017-05-14 21:12] #321 closed

[2017-05-14 21:13] cdancy commented on #58
Closing on account of #68 being closed. Feel free to re-open if we think some value can be added.

[2017-05-14 21:13] #58 closed

[2017-05-14 21:14] cdancy commented on #364
Can confirm latest snapshot build of `docker-java` does indeed solve the problem. I've asked those guys to do a new release, sooner rather than later, but it seems they are currently hung up on swarm tests failing.

[2017-05-14 21:17] cdancy commented on #322
Thanks for the update @KostyaSha! Devs at my work that have upgraded to the latest and greatest docker have been pinging me about this issue. Would be great to get `3.0.10` in.

[2017-05-14 21:17] orzeh commented on #286
@cdancy yes, I'll do this after `docker-java` release

[2017-05-14 21:18] KostyaSha commented on #322
3.0.10 has last PR that has feature + fix for args. Then will release. When swarm test become green will cycle master to 3.1

[2017-05-14 21:30] cdancy commented on #322
@KostyaSha is it an issue where the dev doesn't want to clean up the tests? I know you (as all maintainers have) hit that issue before and I jumped in and cleaned things up. If that's the case here, and you don't have the time, just scream my way and I can see about cleaning up the remaining tests.

[2017-05-14 21:45] #358 closed

[2017-05-15 12:11] elvinasp opened #374 "CMD with spaces in defaultCommand results "no such file or directory""

[2017-05-15 12:37] elvinasp opened #375 "Using ENTRYPOINT and CMD with parameters (string with spaces) results "no such file or directory""
Hello,

I have attempted to use both  ENTRYPOINT and CMD and got an issue with running the command.

**The configuration:**
*Version:*         classpath 'com.bmuschko:gradle-docker-plugin:3.0.6'

Last lines from entrypoint.sh
[code]
Snip from gradle DockerFile task
[code]
The above creates the following Docker file with the following entry point:
[code]

**The result**
[code]

** Expected result**

[2017-05-15 12:53] cdancy commented on #375
@elvinasp if you take a look at the [Dockerfile documentation](http://bmuschko.github.io/gradle-docker-plugin/docs/groovydoc/com/bmuschko/gradle/docker/tasks/image/Dockerfile.html) you will see that the `defaultCommand` option takes as an argument a list of strings. In your case you're only supplying a single string.

[2017-05-15 12:53] #375 closed

[2017-05-15 13:10] cdancy commented on #374
Closing this issue as it appears you opened another similar one with more info.

[2017-05-15 13:10] #374 closed

[2017-05-15 14:34] RMsiemens commented on #364
Looks a little different on my side. Still have the error using version docker-java:3.0.10-SNAPSHOT from https://oss.sonatype.org/content/groups/public

[2017-05-16 08:14] elvinasp commented on #375
Hello,

excuse me my lack of Java knowledge, but I see only String and Closure (whatever that means) parameters
[code]

If I try to pass the list
[code]
Build ends with an error:
[code]

I still think that defaultCommand("STRING") should be rendered as CMD("STRING") but not CMD(["STRING"]).

[2017-05-16 11:47] cdancy commented on #375
Try something like this

    defaultCommand('hello', 'world')

[2017-05-16 13:57] elvinasp commented on #375
Thanks it helped!

A  better usage documentation would be helpful!

[2017-05-16 13:59] cdancy commented on #375
@elvinasp well when you look at the java doc it does say `String...` which in turn means a list of Strings but not an actual list. Can be slightly confusing for non-java devs I admit that. We could certainly support a list as you originally have it if you're up for sending in a PR?

[2017-05-16 17:46] kiosk123 opened #376 "failed to bind ports between host and container"
I used the 'portBindings' property, and mapped ports but it don't work.

after making container, I typed command 'docker ps -a' and knew PORTS is null.

command result is below

CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS              PORTS               NAMES
8b3455293079        scrooge:latest      "catalina.sh run"   5 minutes ago       Created

[2017-05-16 19:50] cdancy commented on #376
@kiosk123 you actually have to start the container after creating it. If you [look at our README.md](https://github.com/bmuschko/gradle-docker-plugin#executing-functional-tests-against-a-running-container) you will see an example of how to do so.

[2017-05-16 19:50] #376 closed

[2017-05-17 07:13] elvinasp commented on #375
Well, I am not a developer and certainly not a Java one. :) I am more an admin, having a task to create magic deploy stuff for developers (buzzword: devops). So I doubt my abilities to do a PR.

Just for the thoughts. If I understand properly, current implementation does not allow to generate CMD "STRING" and ENTRYPOINT "STRING", only CMD ["STRING"] and ENTRYPOINT ["STRING"] in Dockerfile. This is

[2017-05-17 19:00] sugun999 opened #377 "Unable to pull baseImage from private registry if the baseImage is not available locally"
Hi,

Created dockerfile with this plugin. My docker file has base image which is specified with FROM in the dockerfile as shown below.

FROM xxxx.xxxx.xxxx:443/ora-jre8_131

This plugin is unable to pull the baseimage if it is not available locally from my private registry even I specified private registry username & password with DockerRegistryCredentials.

But building final Image is successful

[2017-05-17 20:02] cdancy commented on #345
So the 400 pound gorilla in the room must be talked about: how are we going to do releases now? I gave a suggestion above which could work. I know that travis-ci has the idea of stages now which may be of some help for us assuming it can be made to work like our previous CI solution.

Any other ideas?

[2017-05-17 20:33] cdancy commented on #377
@sugun999 do you have a reproducible snippet or at least something which can re-create what you are seeing? Can you create the `Dockerfile` on your own and try to manually run docker to see if things work?

[2017-05-17 20:54] bmuschko commented on #345
@cdancy Sorry, simply didn't have time to respond. There are various options we have:

1. Travis CI is planning to provide manual build steps. Sounds great but I have not idea when it's going to be ready. I guess that's not really an option.
2. We set up Travis CI to deploy whenever the version of the plugin _does not_ contain the suffix `-SNAPSHOT`. We'd have to make sure that another task (or sc

[2017-05-17 21:03] cdancy commented on #345
@bmuschko I think #2 could suffice. Taking it a step further: I don't think we need to put any code/automation in place to re-commit the next development version but instead leave that up to the individual (unless there is a stupid-simple way to do so which there may be) after a release is triggered. Worst case scenario: if the property is left as a release version, say `3.0.10`, and someone trigg

[2017-05-17 21:07] cdancy commented on #345
But either way ... care to kick the `release` task now and bump the version? :)

[2017-05-17 21:18] orzeh commented on #345
Regarding option no. 2 we can use versioning plugin - [Gradle Git](https://github.com/ajoberstar/gradle-git) for example to _automate_ adding SNAPSHOT to version.

[2017-05-17 21:38] bmuschko commented on #345
I haven't looked deeper but the Mockito project does something like it: https://github.com/mockito/mockito-release-tools.

I can do it quick. Next time has to work with Travis though. The code doesn't look ready though. Release notes say 3.0.7. The version is 3.0.6.

[2017-05-17 21:53] cdancy commented on #345
@orzeh have you played with it before and/or have something in mind? Send in a PR!

[2017-05-17 21:55] cdancy commented on #345
@bmuschko didn't bump the version as I assumed you could just as easily do so :)

Everything else is set and I can update the RELEASE NOTES. Nothing else we want to get in.

[2017-05-17 22:11] bmuschko commented on #345
@orzeh FYI: This plugin is already using Gradle Git: https://github.com/bmuschko/gradle-docker-plugin/blob/master/gradle/release.gradle

[2017-05-17 22:28] bmuschko commented on #345
@cdancy It has been released. I also touched up the [Snap CI job](https://app.snap-ci.com/bmuschko/gradle-docker-plugin/branch/master) by removing functional tests. In the meantime you'll be able to release with that.

[2017-05-17 22:33] orzeh commented on #345
@bmuschko yes I know, but I thought about `org.ajoberstar.release-opinion` and automatic [version inference](https://github.com/ajoberstar/gradle-git/wiki/Release%20Plugins#version-inference).

[2017-05-18 00:28] cdancy commented on #345
@orzeh looks like that could be useful.

@bmuschko new version was published to bintray but looks like github was skipped?

[2017-05-18 00:45] bmuschko commented on #345
@cdancy done

[2017-05-18 03:04] cdancy commented on #364
@tdudgeon version `3.0.7` of this plugin has just been released with new version of docker-java to fix this bug. Please give things a go and let us know how you fare.

[2017-05-18 05:51] sugun999 commented on #377
Hi,

Thanks for the reply.

Here is the dockerfile content.

`FROM xxx.xxx.xxx:443/ora-jre8_131
MAINTAINER team "team@gmail.com"
COPY cloud-poc-fast-microservice-1.0.jar /opt/
RUN sh -c 'touch /opt/cloud-poc-fast-microservice-1.0.jar'
EXPOSE 1111
VOLUME ["/opt"]
ENTRYPOINT ["sh", "-c", "java -Djava.security.egd=file:/dev/./urandom -jar /opt/cloud-poc-fast-microservice-1.0.jar"]
`

With "docker bui

[2017-05-18 09:38] Ramblurr commented on #364
Just upgraded to 3.0.7 and the issue is resolved. Many thanks.

[2017-05-18 11:38] #364 closed

[2017-05-18 12:58] cdancy commented on #306
Closing as I believe #359, which made it into our new `3.0.7` release, solves this problem.

[2017-05-18 12:58] #306 closed

[2017-05-18 13:52] cdancy commented on #345
@orzeh I like the idea of getting the version based off of the git tag. We're actually putting together something similar here but it seems there is already code to do this very thing ;) We already tag for release so it seems like this would be easy enough to wire up for purposes.

[2017-05-19 00:37] #286 closed

[2017-05-19 08:50] orzeh commented on #345
@cdancy @bmuschko I've created branch [RELEASE-WORKFLOW](https://github.com/bmuschko/gradle-docker-plugin/tree/RELEASE-WORKFLOW) which:
* uses `org.ajoberstar.release-opinion` plugin to infer project version and create tags
* add `.travis.yml` release [stage](https://docs.travis-ci.com/user/build-stages/) which uploads to Bintray when on Git tag

Proposed workflow:

1. Developer updates `README.md

[2017-05-19 14:42] cdancy commented on #345
@orzeh I like the idea. The only thing I would add, or maybe ask, is that you create a top level folder, maybe named `documentation`, and within it a file called `RELEASE.md` which documents this process and what each variable means. Just incase we are not around one day, and maintaining this project has fallen to others, they will know what to do. I've seen lots of projects take this approach by

[2017-05-19 20:52] orzeh commented on #345
@cdancy ok, I will try to do this.

[2017-05-22 09:38] sugun999 commented on #377
Hi,

Typo error with private repo url. It works now. Hence closing this.

[2017-05-22 09:38] #377 closed

[2017-05-23 20:30] edesdan opened #381 "Wait on container startup?"
Is there any way to wait for a specific string in a log file or wait on a port to become open when starting a container?

Use case: sometimes starting a container can take a while so executing a functional test might fails if the container takes a while to start up.

[2017-05-23 20:47] cdancy commented on #381
@edesdan the name is escaping me at the moment but docker has an OOTB way you can build an image and only have it in the "started" state once some script returns true or something along those lines.

However, and I assume like most folks you're not in control of this container, you need to poll the container for some log to be present we've got you covered. Now this is a poor mans solution to the

[2017-05-23 20:59] edesdan commented on #381
Hi, thanks for the reply.
Yes sure I can use that but it seems like an hacky solution to the problem. I'd like to have something like a 'wait' phase on the startDockerContainer gradle task.

When I use maven with docker I use the fabric8 plugin that as something like that: https://dmp.fabric8.io/#start-wait . It is very handy because you know when the container is started is ready to be used becau

[2017-05-23 21:31] cdancy commented on #381
Admittedly it is but it gets the job done. A proper solution would be to stop polling on some condition but the current way things are wired up does not make that exactly easy to do.

This is the OOTB solution I was referring to above that docker provides. The image itself would have to have this built in. You might try asking the maintainer of said image to add it.

They're more/less using the sa

[2017-05-27 23:41] ousema2003 opened #382 "about support of --shm-size when building docker image with gradle plugin ?"
Hi

i'm used to build docker image with option --shm-size
E.g : docker build  --shm-size =4g ...etc

Does --shm-size option is  supported when building docker image with docker-gradle-plugin ?
if yes , could you please provide an example how to use it  ?

Thanks in advance

Best Regards,
Oussema

[2017-05-28 10:02] ousema2003 commented on #382
Bingo !!

THe solution was by increasing the shm on system level and add this line
in build gradle on create docker file task ;
	volume('/dev/shm','/dev/shm')

[2017-05-28 12:56] cdancy commented on #382
@ousema2003 there is an option but we don't yet support or maybe expose it. I've heard of folks needing this for oracle based images and had it on my backlog to tackle at some point. I'm going to re-open this ISSUE if only to keep it visible that we really should have support for this.

[2017-05-28 13:31] ousema2003 commented on #382
thank you for ur feedback

[2017-05-30 15:21] cdancy opened #383 "Ensure all tests clean up after themselves"
After running integration tests we have loads of images and containers hanging around. We shouldn't be doing this and really need to set a standard either for cleaning up as we go or to have some sort of finally task that executes after integration tests have finished running and clean up then.

[2017-06-06 18:20] JLLeitschuh opened #385 "DockerJavaApplicationPlugin configuration seems impossible with gradle script kotlin"
I'm trying to use this awesome plugin in my [Gradle Script Kotlin (GSK)](https://github.com/gradle/gradle-script-kotlin) build.

The `DockerJavaApplicationPlugin` is dynamically added to the `DockerExtension` at runtime using "Groovy metaClass hackery" (quoting the PM of GSK).

There doesn't seem to be a good way to configure the `DockerJavaApplicationPlugin` without using some reflection trickery

[2017-06-06 18:24] cdancy commented on #385
@JLLeitschuh do you have a snippet of what you're trying to do and a stracktrace to show what popped? It might be that is the only way to go about things. Haven't played around with Kotlin yet and so can't say too much on that end.

@bmuschko @orzeh any thoughts one way or another?

[2017-06-06 18:28] JLLeitschuh commented on #385
In gradle script kotlin doing this:
[code]
won't give you a meaningful stack trace, it just won't compile.

Kotlin is a statically typed language so you need statically available fields/methods for it to compile.

In order to get the same syntax parody between kotlin and groovy you need to do this:

[code]

[2017-06-06 21:39] JLLeitschuh opened #386 "DockerExistingContainer::getContainerId is not public"
The following example code is offered in your README:
[code]

However, the method `getContainerId` is not public on `DockerExistingContainer` so it can not be accessed in statically typed languages like kotlin (I have no idea how this works in groovy but it does).

Example Gradle Script Kotlin code:
[code]

[2017-06-07 07:10] orzeh commented on #386
@JLLeitschuh because in Groovy methods without visibility modifiers are [public by default](http://groovy-lang.org/style-guide.html#_public_by_default) this method _IS_ public.

BTW you mention `getContainerId` method but in an example code use `targetConatinerId` - they are both public so this is not the case.

[2017-06-07 07:22] orzeh commented on #385
@JLLeitschuh @cdancy In order to support GSK we probably must rewrite `DockerJavaApplicationPlugin` logic. The question is if we should because this functionality can be achieved using regular tasks from `DockerRemoteApiPlugin`. @JLLeitschuh maybe you should create your own plugin which will be _Kotlin-friendly_ and meet your functional requirements?

[2017-06-07 07:40] seb-koch opened #387 "DockerBuildIMage on subprojects fails with error `Cannot invoke method withClasspath() on null object`"
I am having an issue that was reported several times in a similar way, e.g. #280 but i wans't able to fix it with the described actions (e.g. different style of loading the plugin).

I have a root project `sitecontroller` which has several docker images to be build in the subfolder `ci/images/<imagename>`. I included these subprojects in my `settings.gradle`

[code]

I'd like to reuse my docker ta

[2017-06-07 07:54] orzeh commented on #387
@seb-koch you didn't apply the plugin to your subprojects?

[2017-06-07 13:27] cdancy commented on #387
@seb-koch just to add to what @orzeh said: have you gotten this working in a simple setup first? I would do that to ensure the process works as expected and there are no gotchas with the default setup. Once that works then I would try to make subprojects work but not before.

[2017-06-07 13:28] JLLeitschuh commented on #386
Okay, so this is simply stupidity on my behalf. `DockerPullImage` does not extend from `DockerExistingContainer` so there is no `getContainerId` method on it.

[2017-06-07 13:28] #386 closed

[2017-06-07 13:29] cdancy commented on #385
I think @orzeh has it right and don't think we want to rewrite any major portions of our codebase at this point. The snippet above, while maybe not potentially pleasing to the eye, will work as you noted so I would go with that.

[2017-06-07 13:32] JLLeitschuh commented on #385
That's what I plan to do.
On the whole the plugin is solid and I'm really happy with the features it offers. I don't want to reinvent the wheel. However, its rough around the edges when it comes to using it in a strongly typed context.

Would it make sense to update the README to note the above syntax to get this plugin to work with GSK?

[2017-06-07 13:33] cdancy commented on #386
@JLLeitschuh use the snippet at the top and instead of `DockerBuildImage` use `DockerPullImage` and all should work as expected.

[2017-06-07 13:33] cdancy commented on #385
@JLLeitschuh send in a PR for the documentation change and we'd be happy to take it!

[2017-06-07 13:34] orzeh commented on #386
@JLLeitschuh you don't pull _containers_ but _images_ o you don't need conatiner id just image name and optionally its tag.

[2017-06-07 13:36] JLLeitschuh commented on #386
`DockerPullImage` doesn't have a `getImageId` method on it.

[2017-06-07 13:37] cdancy commented on #386
@JLLeitschuh [yes it does](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/DockerPullImage.groovy#L64).

[2017-06-07 13:38] JLLeitschuh commented on #386
Not in 3.0.7
https://github.com/bmuschko/gradle-docker-plugin/blob/v3.0.7/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/DockerPullImage.groovy

[2017-06-07 13:39] #385 closed

[2017-06-07 13:42] cdancy commented on #386
@JLLeitschuh aaaahhhhh forgot that we just added that :(. In either event you can easily recreate what we are doing with something like:

[code]

[2017-06-07 13:47] JLLeitschuh commented on #386
Sweet!!!!! This works!
[code]

[2017-06-07 13:49] JLLeitschuh commented on #385
Do you have a specific location in the readme you'd like to see it? At the very bottom or just below the `javaApplication` example?

[2017-06-07 13:51] cdancy commented on #385
@JLLeitschuh I would say put something under the `FAQ` section in the README.

[2017-06-07 15:09] seb-koch commented on #387
I figured this out quickly after posting here. the solution is to apply the plugin right inside of the `allprojects {}` section, this below works good.

[code]

[2017-06-07 15:09] #387 closed

[2017-06-07 15:25] lanwen opened #389 "Allow all Dockerfile instructions in javaApplication.exec closure"
Now it is possible to define only `CMD` end `ENTRYPOINT` instructions.

It will be very cool to allow any instructions - as for now it's no way to set additional `RUN` or `ENV` instruction.

Also documentation refers (https://github.com/bmuschko/gradle-docker-plugin#exec-property) to Dockerfile task, but actually it is the only subset of this task.

[2017-06-07 17:00] cdancy commented on #389
@lanwen you can use a [generic instruction as described here](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/Dockerfile.groovy#L86). We also have a templating feature which one can use as well within that same file. Take a look through functional tests as we have quite a few examples using these.

[2017-06-08 08:24] vladimiravramov opened #390 "DockerBuildImage fails with Docker 17.05"
Problem in docker java project with Docker 17.05.
Related on [issue](https://github.com/docker-java/docker-java/issues/830)

[2017-06-08 09:17] lanwen commented on #389
For example, with `gradle dockerBuildImage`:

[code]
I get:

[code]

In [Application Functional tests](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/functTest/groovy/com/bmuschko/gradle/docker/DockerJavaApplicationPluginFunctionalTest.groovy) I cant find any `env` or `run` custom directives.

So the question is - should I just drop gradle-application-plugin and implement all thi

[2017-06-08 10:10] orzeh commented on #390
@vladimiravramov it was already fixed in 3.0.7, see #364

[2017-06-08 10:10] #390 closed

[2017-06-08 10:30] orzeh commented on #389
@lanwen you are right, `exec` in `javaApplication` is of type [CompositeExecInstruction](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/Dockerfile.groovy#L831) which only supports `defaultCommand` and `entrypoint` _instructions_.

I think it would be better to use generic tasks than further change `DockerJavaApplication` to add `

[2017-06-08 11:28] lanwen commented on #389
But it's very inconvenient to implement all the steps of application plugin if I only want to add one additional `env` variable... :'( Why not just add base _instruction_ dsl here?

[2017-06-08 11:41] orzeh commented on #389
@lanwen ok, I understand your case. What about using [templating feature](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/Dockerfile.groovy#L55) in `Dockerfile` task:
[code]

In `Dockerfile.templ` put all `ENV` and `RUN` instructions you need.

Hope it helps.

[2017-06-08 12:14] lanwen commented on #389
Such a cool workaround :) Yep, it works! Thanks!

Also in the form

[code]

maybe you can add a mention about this to docs?

[2017-06-08 12:17] orzeh commented on #389
@lanwen feel free to submit PR if you think docs need updates.

[2017-06-08 12:17] #389 closed

[2017-06-09 08:16] seb-koch opened #392 "Functional Test: path may not be null or empty string. path='null'"
I am a gradle novice searching for help here. I got my tasks up and running and followed the examples for functional tests.
My test task fails with the exception `path may not be null or empty string. path='null'`

My docker container starts an application and keeps the foreground open, maybe this kind of leads the test to a unknown result?

Here is the gradle snippet.

    task build_DockerImage(

[2017-06-09 08:48] orzeh commented on #392
@seb-koch is this the output from gradle build with `-s` switch? If not can you post it here?

BTW, this setup won't work as you would expected, because `test_DockerContainer` task will start the container and immediately stop it during task finalization. You probably need to use `DockerWaitContainer` task to wait for container to do its job.

[2017-06-09 08:52] seb-koch commented on #392
@orzeh i posted the stacktrace initially (--stacktrace). I will try `DockerWaitContainer` asap. thanks so far.

[2017-06-09 08:54] orzeh commented on #392
ok, I knwo what is causing the problem.

`test_DockerContainer` task is of type `Test` and you probably didn't apply `java` plugin to this project and some configuration is invalid. Remove the type declaration and it should work:
[code]

[2017-06-09 13:23] seb-koch commented on #392
Thanks a lot! This was the missing piece. The test now runs fine.

[2017-06-09 13:23] #392 closed

[2017-06-09 13:38] seb-koch opened #393 "Issue receiving Exit Code with getExitCode() for Functional Test"
Again, appreciating help from you guys - thanks in advance.

I am now trying to execute a command in a running container for a functional test. This failed so i tried it with a simple `exit 1` and for the `cmd` block and it still fails so i believe something in my task setup might be wrong or maybe something with the image itself.

**Versions**
I am running 3.0.7.

`		classpath 'com.bmuschko:gradl

[2017-06-09 20:13] orzeh commented on #393
@seb-koch `DockerExecContainer` executes command inside running container. To obtain its result you can use `DockerInspectExecContainer` command (see #362). `DockerWaitContainer` waits for a container to exit, i.e. it's `CMD` or `ENTRYPOINT` command must finish. In your setup the container is probably still running thus build hangs.

[2017-06-09 20:13] #393 closed

[2017-06-10 12:13] vyshkov opened #394 "[Need help] Build docker image failing on Windows 10"
Hi. I have problems with building docker images on Windows 10.

If i run buildDocker task i get following error:
[code]
 OR in other project

[code]

But if i add
[code]
to the gradle script - everything fine. Nevertheless i cannot commit that config, so i forced to do this changes every time i clone project or switch branch. Is there any way to make this docker configuration global ? Or define th

[2017-06-10 13:01] cdancy commented on #394
The dockerServerUrl is used only for our functional tests and does not work for normal usage.

Native Windows named pipe support is currently not supported which is why I believe you're seeing the above issue but not when you connect to the tcp port. However, by default and on Windows the plugin should connect to that url by default. Which version of the plugin are you using?

[2017-06-11 09:54] vyshkov commented on #394
@cdancy, ok it seems i we have very old plugin version. Its work fine after update. Thank you!

[2017-06-11 09:54] #394 closed

[2017-06-11 23:47] bmuschko commented on #345
@orzeh Thanks for putting together the change. I added a couple of questions for better understanding some of the functionality. I think it's worth create a PR for it and releasing a new version with this process.

[2017-06-12 07:24] orzeh commented on #345
@bmuschko thanks for your feedback. I will write some docs and make PR soon.

[2017-06-13 17:19] joanmarian opened #395 "add DockerSaveImage and DockerLoadImage"
It would be very helpful to have tasks in this plugin that implement the equivalent of
(after docker pull image) docker save image | gzip > name.tar.gz
and
docker load image < name.tar.gz

[2017-06-14 06:59] orzeh commented on #395
@joanmarian `docker-java` library, which is used by this plugin under the hood, has these capabilities. Wolud you be interested in sending PR?

[2017-06-14 08:22] dlachica opened #396 "Add other CPU related parameters to DockerCreateContainer"
It would be helpful in managing server resource if you could add other CPU related options for docker.
Other options can be seen here https://docs.docker.com/engine/admin/resource_constraints/#cpu
We need specifically --cpus=<value> value exposed (and the other params) so that we could stop some containers from hogging resources.

Thanks!

[2017-06-14 09:44] orzeh commented on #396
@dlachica `--cpus=value` is supported since docker 1.13 and AFAIK it is not already implemented in `docker-java` which we use in this plugin. However, other options are available there. Can you submit PR?

[2017-06-14 13:53] cdancy commented on #395
@orzeh this is a developer that works with me and we have a use-case to export/import a given image. As she is just coming up to speed on docker, and this plugin, and doesn't know her way around too well yet, I advised her to open the ISSUE here to see if anyone else would want to take on the work and if not we can add it to our backlog to knock out at some later date. I have plans to walk her thr

[2017-06-16 02:45] dlachica commented on #396
I see. I'll get the docker-java people do some enhancements first. Should I close this issue for the meantime?

[2017-06-16 07:00] RameshMuthuraj opened #397 "docker tag not populate the value"
[code]

Output
[code]

Still image tag shows as `<none>`

[2017-06-16 07:04] orzeh commented on #396
@dlachica leave it open

[2017-06-16 07:22] orzeh commented on #397
@RameshMuthuraj can you paste gradle build output? Also `tag` property should probably be in `image_name:tag` format. Try:
[code]

[2017-06-16 13:25] cdancy commented on #396
@dlachica I would just add that when you open an ISSUE with those guys please link to this ISSUE so that we can follow what's going on.

[2017-06-16 14:51] dfernandezm opened #398 "Turn off docker-java DEBUG logging"
I cannot find anywhere in docs how to turn off annoying DEBUG logging during image build process:

[code]

Is there any setting in build.gradle docker {} or related I can set to turn this off? Thank you

[2017-06-16 15:06] cdancy commented on #398
@dfernandezm that would only happen if you ran gradle with `--debug`. Are you saying that you're seeing this without that?

[2017-06-19 14:01] cdancy commented on #398
Closing as this appears to be a user triggered issue and not something relevant to the plugin.

[2017-06-19 14:01] #398 closed

[2017-06-19 22:12] dfernandezm commented on #398
This was happening without --debug. I managed to get rid of docker-java by removing some spurious classpath aggregations and configurations.

If I see it again I will reopen. Thank you.

[2017-06-19 22:53] cdancy commented on #398
@dfernandezm would you mind telling us what dependencies you removed? You surely should not be seeing those debug messages unless some logback config was on the classpath saying to pipe debug to stdout.

[2017-06-20 11:15] whgibbo commented on #394
Hi,
I have the same issue using 3.0.8:

	at org.newsclub.net.unix.NarSystem.getLibPath(NarSystem.java:132)
	at org.newsclub.net.unix.NarSystem.loadLibrary(NarSystem.java:36)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)

So I'm using Windows 10 and Docker for Window (hyper-v), is there anything special I need to do to my build script for this to work?

Thanks

[2017-06-20 12:06] cdancy commented on #394
Do you have a reproducible snippet we can look it? I suspect you're trying to connect to a Windows names pipe instead of the tcp port

[2017-06-20 12:25] whgibbo commented on #394
Think you might be onto something..

    if (System.env.DOCKER_HOST) {
        url = "$System.env.DOCKER_HOST".replace("tcp", "https")
        if (System.env.DOCKER_CERT_PATH) {
            certPath = new File(System.env.DOCKER_CERT_PATH)
        }
    }
    else {
        url = 'unix:///var/run/docker.sock'
    }

    print "Docker: Image filename = ${url}"

    inputDir = file('build/docker')

[2017-06-20 13:27] cdancy commented on #394
If you install native docker on win7, and expose the tcp port, docker should listen at `http://127.0.0.1:2375`

[2017-06-20 13:42] whgibbo commented on #394
Yes if you select the option it is working :)  Was just wondering why the TLS was enabled by default..  But more a question for Docker For Windows than the plugin.

[2017-06-20 13:49] cdancy commented on #394
@whgibbo yeah I honestly don't know. Don't use windows myself and the only involvement I typically have with it is helping folks such as yourself :)

[2017-06-22 19:11] dcoraboeuf commented on #342
Hi,

Pity this issue is closed. Would be very nice to have some documentation about the way to get a random port from a container started by another task. Very useful for functional tests.

@mgurov , did you get this working in the end?

Thanks,
Damien.

[2017-06-22 19:44] cdancy commented on #342
@dcoraboeuf we have examples in our code under the fucntionalTests. This should get you started:

[code]

[2017-06-22 19:56] dcoraboeuf commented on #342
Thanks @cdancy . I'll implement this.

[2017-06-23 03:29] musketyr commented on #366
I would suggest to reopen this issue as this may break lot of builds. The problem is that Docker for Java is no longer able to read the latest `config.json` format used by Docker - see https://github.com/docker-java/docker-java/issues/806

[2017-06-23 14:02] mgurov commented on #342
@dcoraboeuf my approach for the reference.
Updates system property `defaults.database.url` according to the random port allocated for postgres database container. Additionally allows predefining the port via `pg.port` system property.

Warning: non-idiomatic gradle.

[code]

[2017-06-23 18:06] cdancy commented on #342
@orzeh really love seeing people take advantage of the reactive functionality.

[2017-06-23 18:09] cdancy commented on #342
@dcoraboeuf feel free to send in a PR with an example or updated documentation or both!

[2017-06-24 15:35] dcoraboeuf commented on #342
(y) I do this now (extract of my `build.gradle` file):

[code]

Thanks for the initial idea.

[2017-06-26 17:18] RameshMuthuraj commented on #397
still same

[ramesh@jenkins ]$ docker images
REPOSITORY          TAG                 IMAGE ID            CREATED             SIZE
<none>              <none>              437939ca3152        42 seconds ago      649 MB
centos              7                   3bee3060bfc8        2 weeks ago         193 MB

[2017-06-26 17:46] cdancy commented on #397
@RameshMuthuraj I typically use `DockerBuildImage` like so:

[code]
I've done this testing with the latest and greatest docker so if things are not working for you if might be a config issue. If you're still having a problem can you create a repo on github that recreates this issue and is reproducible that we can give a go?

[2017-06-26 17:46] #397 closed

[2017-06-27 08:35] dfernandezm commented on #398
@cdancy The build file had previous plugins in it and some unnecessary classpath:

* Removed `classpath 'com.github.docker-java:docker-java:3.0.9'` from `buildscript` `dependencies` closure.
* Removed `apply plugin: com.bmuschko.gradle.docker.DockerJavaApplicationPlugin`
* Removed a `doFirst` block with `        classpath = configurations.dockerConf + sourceSets.main.compileClasspath` line in it i

[2017-06-28 16:45] tiny-cababge commented on #366
One more note, you have to delete the config,json in the users/username/.docker folder for this to work.

[2017-06-28 17:00] cdancy commented on #366
@tiny-cababge I actually have a mixture of the old and the new way and nothing breaks on my end. It's only when `credsStore` is defined do things pop.

[2017-06-28 17:09] tiny-cababge commented on #366
Guess i should rephrase it to change or delete and credstore format from your json?

[2017-06-28 18:29] bmuschko commented on #345
@orzeh Were you planning to create the PR soon?

[2017-06-29 08:45] orzeh commented on #345
@bmuschko I plan to do it [tomorrow](https://github.com/blog/2386-contribute-on-open-source-friday) :smile:

[2017-06-29 09:16] chkappeler opened #399 "Could not build image: null - Docker v17.06"
I can no longer build any images after updating Docker from version 17.05 to 17.06

The execution failed for gradle task "buildImage" with Docker version CE-17.06 for Windows 10.

[code]

[2017-06-29 09:51] orzeh commented on #399
@chkappeler which version of `docker-gradle-plugin` do you use? Try with the latest.

[2017-06-29 10:20] chkappeler commented on #399
I use gradle-docker-plugin:3.0.8

[2017-06-29 10:27] orzeh commented on #399
@chkappeler I don't have Windows 10 to check it. Is this output from build run with `-S` ?

[2017-06-29 10:33] chkappeler commented on #399
yes

[2017-06-29 13:33] RameshMuthuraj opened #400 "Not supporting relative path"
My gradle task
[code]
==================
**Dockerfile**
[code]
====================
**Folder structure**

├── devops
│   ├── cert
│   │   └── stage.cert
│   ├── docker
│   │   ├── application.properties
│   │   ├── Dockerfile
│   │   └── scripts
│   │       ├── kms_ops.py
│   │       └── startapp.py
│   ├── scripts -> docker/scripts
│   └── terraform
│       ├── container_def
│       │   ├── dev-c

[2017-06-29 15:43] cdancy commented on #399
@chkappeler just updated to the same version on mac and had no issues. Must be something windows specific. Can you checkout this project and run `./gradlew.bat functionalTest` on that windows machine and see what you get? I suspect there will be a few failing tests trying to push to a registry (which is fine) but you should see other failures surrounding various "build image" tasks if this is inde

[2017-06-29 17:09] bmuschko commented on #345
@orzeh Great. I was also wondering how the mechanism would determine if the next version should be a patch, minor or major version. Probably something you'd need to implement as custom versioning strategy. Something to consider when putting together the PR.

[2017-06-29 20:11] JLLeitschuh opened #401 "Invalid Auth config file error Docker 17.06.0-ce-mac18 (18433)"
I've been using this plugin absolutely fine until today.

I just had docker on my machine auto-update and thought nothing of it.

Then I ran my build and I'm now getting the following exception:

[code]

I've tried with both `com.bmuschko:gradle-docker-plugin:3.0.8` and `com.bmuschko:gradle-docker-plugin:3.0.7` and both have the same problem.

I'm not really sure if this is a bug with the plugin o

[2017-06-29 20:17] cdancy commented on #401
@JLLeitschuh had the same problem myself when I upgrade docker this morning to the latest and greatest. The solution for me was to remove all references to `credsStore` in my `~/.docker/config.json` file. There is an open issue with `docker-java` for this.

[2017-06-29 20:20] JLLeitschuh commented on #401
Okay, I'm glad it's not just me! Thanks! Can you myself and everyone else who hits this problem a favor and link the `docker-java` issue in a comment in this issue?

[2017-06-29 20:26] cdancy commented on #401
@JLLeitschuh and others: https://github.com/docker-java/docker-java/issues/806

[2017-06-30 05:17] chkappeler commented on #399
I tried it on another windows computer and there it works. So I think the system configuration of my Windows computer is probably not suitable...
Thanks for your help but it does not seem to be a docker-gradle-plugin problem.

[2017-06-30 05:19] #399 closed

[2017-06-30 09:28] orzeh commented on #400
@RameshMuthuraj you define Docker build context as `inputDir = project.projectDir` so file `devops/docker/application.properties` is outside of it and that is causing the error.

[2017-06-30 09:28] #400 closed

[2017-06-30 11:00] dleischnig commented on #401
Fix has been accepted and is released with docker-java 3.0.11.
Any chance to get a plugin release with that new docker-java version?

[2017-06-30 11:58] orzeh commented on #345
@bmuschko @cdancy I made a PR. Please review the documentation and overall process.

[2017-07-01 18:54] DALDEI opened #404 "Many properties fail if GString is used instead of String"
Example:
[code]
Fails with

 java.lang.ClassCastException: org.codehaus.groovy.runtime.GStringImpl cannot be cast to java.lang.String org.codehaus.groovy.runtime.GStringImpl cannot be cast to java.lang.String
Created null. image: null

Workaround:

  tags = [ ''+ project.imageName , '' + project.tagVersion ]

[2017-07-01 20:44] menduz commented on #401
It seems to be fixed in docker-java. Do you guys have a planned date for the patch?

[2017-07-02 11:52] cdancy commented on #404
@DALDEI what version of gradle are you using? Does this happen with both properties or just the `tagVersion` property? You could always do this as well:

[code]

[2017-07-02 11:53] cdancy commented on #401
@menduz fix is already in master. We're looking to do a release shortly (hopefully within the next few days). Will post back here when we do.

[2017-07-03 20:25] jottinger commented on #366
Could someone please summarize how to get the plugin working again? I've got the same error ("Failed to parse ~/.docker/config.json") and clearing out that file, relogging in to the repos, and running gradle again isn't changing anything at all. Last week I was able to build images; this week I can't. I want to say Docker updated and broke things, but I don't have a good reason to say that yet.

[2017-07-03 21:35] cdancy commented on #366
@jottinger you have to remove the `credsStore` section from your config.json file. The recent docker upgrade for me did indeed break things so I suspect it's the same for as well.

[2017-07-03 21:54] jottinger commented on #366
@cdancy I removed the `credsStore` and reran `gradle dockerBuildImage --stacktrace` - and got this output:

[code]

[2017-07-03 22:08] jottinger commented on #366
Note that the above stacktrace was with `3.0.6`; I updated to `3.0.8` and got the same results, with slightly different line numbers.

[2017-07-03 23:43] cdancy commented on #366
@jottinger I had the same issue and once I massaged my `~/.docker/config.json` file all was Ok. Can you post the content of your file here as I'm curious why it's popping.

I'm also trying to get a new release out so hopefully this will just go away.

[2017-07-04 05:27] dlachica commented on #396
They've introduced a solution at https://github.com/docker-java/docker-java/pull/867 . The solution uses --cpu-quota and --cpu-period.

[2017-07-04 06:44] orzeh commented on #396
@dlachica so I assume it fixes your issue and we can close this?

[2017-07-04 10:40] childnode commented on #357
currently we suspect this change to cause images are not rebuild properly with the application plugin (`com.bmuschko.docker-java-application`) since a dockerDistTar anyway doesn't respect the distTar state and therefor this change in Dockerfile leads to deprecated Dockerfile even the distTar has changed

[2017-07-04 13:49] cdancy commented on #396
@orzeh no I think we still need to expose these properties on our end.

[2017-07-04 22:03] dlachica commented on #396
@cdancy That's right. The DockerCreateContainer task has only cpuSet exposed as of 3.0.7

[2017-07-05 12:46] cdancy commented on #401
`v3.0.9` has been released. Can folks give things a go and let us know if this resolves the problem?

[2017-07-05 12:58] JLLeitschuh commented on #401
I'll give it a shot and let you know.

[2017-07-05 12:58] waincent commented on #401
@cdancy FAILURE! upgrade to v.3.0.9, the problem remains.

[2017-07-05 13:04] cdancy commented on #401
@waincent can post the content of your `~/.docker/config.json` file?

[2017-07-05 13:08] waincent commented on #401
en, the file `~/.docker/config.json`

`{
  "auths" : {
    "192.168.0.100" : {

    }
  },
  "credsStore" : "osxkeychain"
}`

[2017-07-05 13:09] cdancy commented on #401
@waincent can you try removing the `credsStore` and see if that solves the problem?

[2017-07-05 13:15] waincent commented on #401
`
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':account-service:buildDockerImage'.

* Try:
Run with --debug option to get more log output.

* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':account-service:buildDockerImage'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(

[2017-07-05 13:18] MattMcNam commented on #401
Still broken on `v3.0.9` here.
The docker-java issue is marked for 3.0.12, but it looks like it hasn't been released yet?

[2017-07-05 13:21] cdancy commented on #401
@MattMcName yeah that appears to be the case. Let me reach out to those guys and see if I can get them to do another release.

[2017-07-05 13:25] JLLeitschuh commented on #401
Barring that you could temporarily vendor your own release.

[2017-07-05 13:48] JLLeitschuh opened #406 "Provide static accessor functions for javaApplication extension on DockerExtension"
Follow On discussion to #385 as I can't re-open that issue.

I came up with a far better solution for providing the static accessor functions than simply documenting it in the readme. I implemented this solution successfully in the JUnit 5 gradle plugin.

The pr:
https://github.com/junit-team/junit5/pull/904

The commit:
https://github.com/junit-team/junit5/commit/4a2e8e04ecf054c01841c5f863d8ca5af

[2017-07-05 14:04] cdancy commented on #406
@JLLeitschuh that all looks fine to me. Care to put together a PR with this?

[2017-07-05 14:10] JLLeitschuh commented on #406
Yep. Might take me a few days though. Just wanted to get it cleared as a good way to solve the problem.

[2017-07-05 14:47] cdancy commented on #406
@JLLeitschuh I agree and it does look clean. Feel free to add those static methods as well if you're poking around as I think those would be helpful.

[2017-07-06 08:14] jartysiewicz commented on #399
I have the same issue on few Linux boxes (two Ubuntu, open SUSE, and Debian) with Dockers v 17.05 and 17.06.

The same ```com.github.dockerjava.api.exception.DockerClientException: Could not build image: null```

[2017-07-06 08:28] orzeh commented on #399
@jartysiewicz I checked with my Ubuntu and Docker 17.05.0-ce and it works fine. Could you show your build script and/or build output?

[2017-07-06 08:56] Patrock commented on #399
Hello,

have the same problems (on a Windows-Machine) wirh latest plugin-versions (since 3.08 i think)... It first appeared some weeks ago with 3.07 i think when i upgraded to a new docker version. Then it was fixed but reappeared with Docker 17.06 i think. My colleague has the same error with the same files, just settings inputDir, tag and some dependsOn...

The build is done and the error comes

[2017-07-06 08:59] jartysiewicz commented on #399
@orzeh, unfortunately, I'm not authorized to share files from this project but I'm quite sure what caused problem in my case. I had build image like this:
[code]
and it fails with
[code]

but buildImage is fine when I remove ```tag="sometag"```

[2017-07-06 10:23] orzeh commented on #399
@jartysiewicz according to `docker-java` [issue](https://github.com/docker-java/docker-java/issues/830) this was fixed and should work with this plugin. Are you using the latest version?

Here is my output:
[code]

[2017-07-06 11:11] jartysiewicz commented on #399
I can't tell which version of ```docker-java``` is on my build process (how to check it?) but I use simple, taken from readme approach:
[code]

[2017-07-06 12:23] cdancy commented on #399
@orzeh I did see there is another related issue with docker-java that won't be fixed until their next release. Fix is already available in their master. I pinged them for a new release and kotsya said they would do another shortly. Now we just wait...

[2017-07-06 12:29] orzeh commented on #399
@cdancy ok, I saw @KostyaSha made `3.0.12` tag but binaries are not available in the Maven Central repository, so we have to wait.

[2017-07-07 09:31] childnode commented on #401
[3.0.12](https://github.com/docker-java/docker-java/blob/master/CHANGELOG.md#3012) is out as of 5th of july
time for a 3.0.10 release of your plugin ;)

[2017-07-07 10:31] childnode opened #407 "add clean task variants for default task lifecycles"
While [default tasks are defined](https://github.com/bmuschko/gradle-docker-plugin#default-tasks), the gradle auto populated `clean<Taskname>`'s simply do nothing but they should revert what the normal task do.

so e.g. `dockerBuildImage` should get a companion `cleanDockerBuildImage`.

perhaps, Gradle 4 will help us here [with the new `PropertyState<String>` provider](https://docs.gradle.org/4.0/

[2017-07-07 13:12] cdancy commented on #401
@childnode thanks for the heads up! Will do a new release shortly!

[2017-07-07 15:10] childnode commented on #407
as for the moment, some code like this works for me BUT in some cases it has to be applied/set up before the plugin is applied, else task  `:cleanDockerBuildImage` is auto-defined of type `org.gradle.api.tasks.Delete` and can't be redefined

[code]

[2017-07-07 15:14] cdancy commented on #401
Just triggered a new release. `3.0.10` should be available shortly within bintray. If folks could give it a try to see if it solves this problem that would be great. Thanks AOT!

[2017-07-07 16:22] cdancy commented on #401
Something got fudged up with our release process and it appears that `3.0.11` was released instead?!? Folks feel free to give that a go while I try to figure out what is going on...

[2017-07-07 17:10] JLLeitschuh commented on #401
LOVELY!!! This seems to have completely solved my problem! My builds are running again! Woot!

[2017-07-08 23:31] kentoj commented on #248
There is a supported, simpler way of doing this now. See the example I posted to this repository's wiki [here](https://github.com/bmuschko/gradle-docker-plugin/wiki/examples#building-a-docker-image-from-a-dockerfile-with-multiple-tags).

[2017-07-09 01:25] cdancy commented on #248
Thanks @kentoj for starting the examples page!

[2017-07-09 12:14] kentoj commented on #248
It was my pleasure. I am likely to use it myself quite a bit. I like to keep the documentation as close to the source as practical.

[2017-07-09 21:04] orzeh commented on #407
@childnode I think only the `cleanDockerBuildImage` task make sense. Feel free to submit PR.

[2017-07-10 07:35] tonymkhael commented on #399
Hello,

I've tried with 3.0.12 this morning, and the problem remains with docker 17.06 under linux.

[code]
Any idea what should fix this, and when?

[2017-07-10 08:55] tonymkhael commented on #399
Note that an acceptable workaround is to have 2 seperate tasks, one to build the image and another to tag it (while getting the imageId in the doLast closure of the build image)

[2017-07-10 16:10] kucharzyk opened #411 "plugins.gradle.org - outdated version"
Version 3.0.12 was released few days ago but plugins.gradle.org still shows 3.0.8 as latest version

[2017-07-10 16:13] cdancy commented on #411
@kucharzyk asking around now...

[2017-07-10 16:37] childnode commented on #407
mhh.. yep, a minor fix should be added for `dockerDistTar` as a `Dockerfile` task which depends on `dockerCopyDistResources` but `cleanDockerDistTar` doesn't depend on `cleanDockerCopyDistResources` so tar is not removed but Dockerfile

looking forward to do the PR

[2017-07-10 20:05] orzeh commented on #399
@tonymkhael I installed Docker `17.06.0-ce` on my Ubuntu 17.04 and build image with tag:
[code]

Can you prepare minimal repo which reproduces the error so I can test it on my machine?

[2017-07-10 21:20] DavyC opened #412 "DockerListImages Filters"
The change in https://github.com/bmuschko/gradle-docker-plugin/commit/b1f15e68f38abc902fd402956b639ddb78b76e41#diff-3a6946d2064fc3e5dedea41fecfc477a modified the filters to label-only filters. That seems to be a mistake?

[2017-07-10 21:46] cdancy commented on #412
@DavyC did something pop for you that you're mentioning this?

@orzeh any thoughts?

[2017-07-10 22:02] orzeh commented on #412
@DavyC this change was made because `docker-java` API changed in `3.0.0` (see [this commit](https://github.com/docker-java/docker-java/commit/acfe65de6f4ef1392a9bc561a01d88268ef9869b)). Indeed we now support only label filtering and other filters are missing. Are you interested in submitting PR?

[2017-07-10 22:45] DavyC commented on #412
Yeah, I was playing around this plugin and followed the example I found in the functional test: https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/functTest/groovy/com/bmuschko/gradle/docker/tasks/image/DockerListImagesFunctionalTest.groovy#L28

It took me awhile to figure out what happened. I thought I did something wrong in the usage/syntax. Eventually, I'd like to use the `referen

[2017-07-11 06:19] childnode opened #415 "multiple ENVs are not set the same way as like single ENV instructions"
When
[code]

we get
[code]

but with
[code]

we get
[code]

This is caused by the [DockerFile.MultiItemJoiner](https://github.com/bmuschko/gradle-docker-plugin/blob/v3.0.11/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/Dockerfile.groovy#L510)

referring to https://docs.docker.com/engine/reference/builder/#env and for consistency with the SIngleItemJoiner the code should be
[code]

anyway:

[2017-07-11 07:05] dpr-rec commented on #248
@kentoj Thanks for the update. What version of gradle-docker-plugin is needed the tag images this way?

[2017-07-11 07:25] orzeh commented on #248
@dpr-rec it was introduced in `3.0.8` (see [RELEASE_NOTES](https://github.com/bmuschko/gradle-docker-plugin/blob/master/RELEASE_NOTES.md#version-308-june-16-2017))

[2017-07-11 07:29] orzeh commented on #415
@childnode Thanks for finding this bug! Could you send PR with the fix?

[2017-07-11 09:09] childnode commented on #415
just with the line change as described in the patch? sure … next night ;)

[2017-07-11 09:16] orzeh commented on #415
@childnode It would be great if you address all issues, i.e. support for spaces in values and escape characters :smile: but lets start with this one line.

[2017-07-11 21:49] #412 closed

[2017-07-13 10:49] evgeniy-maltsev opened #417 "DockerJavaApplication plugin do not support multiple tags"
Tag field in DockerBuildImage task is depricated. DockerJavaApplication do not use tags field. And so to workaround that, you need to reconfigure DockeBuildImage task created by DockerJavaApplication plugin.
i.e write something like
[code]

[2017-07-13 11:02] evgeniy-maltsev commented on #417
And you cannot push images for all the tags. you need to create your own task. and change default dockerPushImage.

[code]

[2017-07-17 02:27] #382 closed

[2017-07-18 20:36] childnode commented on #415
sorry for the delay, but have had some troubles to get the tests started ... and to get a free evening ;)
so I stumbled over some cases in
https://docs.docker.com/engine/reference/builder/
1. single `ENV <key> <value>`  instruction
1.a) simple case with a simple word value without any linebreaks. Special Chars (quotes) doesn't matter and are passed as defined
1.b) if value contains a linebreak: ❓u

[2017-07-20 15:26] jwbaldwin opened #420 "Elastic Beanstalk environment task for deploying new bundle?"
I am wondering if there is a part of this plugin that allows me to deploy a new bundle to the environment, rather than using a gradle task like:
[code]
I can only fine the ability to create or delete applications, environments, upload (but not deploy) code to s3...etc.

P.S. For those looking to simply deploy a new Dockerrun.aws.json file to your EB environment, add a .ebignore file to the root of

[2017-07-21 12:11] #420 closed

[2017-07-22 02:29] javadevmtl opened #421 "3.0.11 / latest release is not on gradle registry."
Hi, see: https://plugins.gradle.org/plugin/com.bmuschko.docker-remote-api

Same for the application plugin: https://plugins.gradle.org/plugin/com.bmuschko.docker-java-application

[2017-07-24 19:32] MrBuddyCasino opened #423 "Excluded Docker dependency makes dependencyReport fail"
We depend on Netty, and thus excluded the version pulled in by the plugin:

[code]

This works for building, but the dependencyReport task fails with this message:

[code]

I'm at a loss on how to resolve this.

[2017-07-25 04:08] jordanjennings commented on #421
This is a duplicate of #411

[2017-07-25 04:11] jordanjennings commented on #411
Any updates here? I'm hitting the issue from #366 which should be fixed in 3.0.12. Thanks!

[2017-07-25 04:18] jordanjennings commented on #411
Looks like the latest release is in jcenter, just in case anyone else reading this also wasn't aware. Upgrading to release 3.0.11 fixes the issue with the credentials file. Thanks!

[2017-07-25 10:11] cdancy commented on #411
Release 3.0.12 is definitely in jcenter/maven. Folks can source from there.

[2017-07-25 10:11] #411 closed

[2017-07-25 10:13] cdancy commented on #421
Latest release is 3.0.12 and can be sourced from jcenter/maven. The 3.0.11 release was not perfect due to us trying a new release process. Issue has since been fixed and the next release will be 3.1.0.

[2017-07-25 10:13] #421 closed

[2017-07-25 12:45] cdancy commented on #404
Closing. Feel free to re-open if you still have an issue.

[2017-07-25 12:46] cdancy commented on #423
@MrBuddyCasino can you provide a reproducible project/snippet that we can look at? Most likely this is a gradle issue more than anything else.

[2017-07-25 12:48] cdancy commented on #345
Closing this ISSUE as I believe we've gotten things to a stable point. Feel free to re-open if necessary or just ping on gitter.

[2017-07-25 12:48] #345 closed

[2017-07-25 13:26] ekoon opened #424 "Cannot set container's ipaddress (ipv4)"
DockerCreateContainer should have an option to set ipv4.
See --ip from https://docs.docker.com/engine/reference/commandline/create/#usage

[2017-07-25 13:30] jordanjennings commented on #411
@cdancy It's not in maven.

https://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.bmuschko%22%20AND%20a%3A%22gradle-docker-plugin%22

[2017-07-25 13:33] cdancy commented on #411
@bmuschko it seems our last few releases have not been published to maven? I believe this is hooked up on jcenter/bintray to push to maven. Maybe something went sideways?

[2017-07-25 13:35] cdancy commented on #424
@ekoon we build on top of `docker-java` so if they don't have support for it neither can we. Have you checked their source to see if they support it? If so would you be willing to send in a PR for this functionality?

[2017-07-25 13:46] ekoon commented on #424
Can you link me to the docker-java project.

I am not sure if this is the project, but I see here (
https://github.com/docker-java/docker-java/blob/master/src/main/java/com/github/dockerjava/api/command/CreateContainerCmd.java)
there is a get IPv4 option.

On Tue, Jul 25, 2017 at 9:35 AM, Christopher Dancy <notifications@github.com

[2017-07-25 13:46] cdancy commented on #424
That's the one ;)

[2017-07-25 13:48] bmuschko commented on #411
@cdancy Maven syncing needs to be triggered manually on Bintray. I can do it quick.

@jordanjennings Why can't you just get the artifact from JCenter? You just have to declare another repository in your build. BTW: Resolving from JCenter is faster than from Maven Central and also proxies Maven Central.

[2017-07-25 13:50] cdancy commented on #411
@bmuschko really? There must be a way to automate this. I'll poke around the bintray plugin to see if anything sticks out.

[2017-07-25 13:52] bmuschko commented on #411
@cdancy I think they do that to avoid having to store Maven credentials in any form. Would be great if you could have a look. Thanks!

[2017-07-25 13:54] ekoon commented on #424
So I see a CreateContainerCmd withIpv4Address(String ipv4Address);

[2017-07-25 13:57] cdancy commented on #424
It's that method we would need to add support for in our `DockerCreateContainer` task.

[2017-07-25 14:06] jordanjennings commented on #411
@bmuschko No issue with getting it from JCenter. I was just pointing out that it's not in maven as @cdancy stated. I think it has caused some confusion because the versions in the gradle plugins repo, maven, and jcenter aren't in sync.

[2017-07-25 14:14] MrBuddyCasino commented on #423
@cdancy you're probably right in that its a generic Gradle issue. I "solved" it by explicitly overriding all the conflicting Netty modules in the dependencies section. If there is no way to isolate the different classpaths, then I guess thats the only solution. Thanks for the reply!

[2017-07-25 14:14] #423 closed

[2017-07-25 17:10] cdancy commented on #411
@bmuschko so you can [sync to maven centra](https://github.com/bintray/gradle-bintray-plugin#maven-central-sync)l with the below snippet. It would mean we would have to set the relevant properties on our Travis job if you're up for it.
[code]

[2017-07-25 18:33] bmuschko commented on #411
@cdancy Sounds good to me. I will add the environment variables soon and will let you know afterward.

[2017-07-25 18:44] bmuschko commented on #411
@cdancy Create the env. vars `MAVEN_CENTRAL_USER_TOKEN` and `MAVEN_CENTRAL_PASSWORD`. You can go ahead and make the code change.

[2017-07-25 18:51] cdancy commented on #411
@bmuschko thanks and will do!

[2017-07-26 06:37] carstenlenz opened #425 "Version 3.0.11 is not available via Gradle Plugins Portal"
Hey.
The version `3.0.11` cannot be retrieved when using the Gradle plugin DSL but only by using a `buildscript` section. The last version working is `3.0.8`. Can you push it also to the plugin portal?

Thanks :)
Carsten

[2017-07-26 10:53] cdancy commented on #425
@carstenlenz source from jcenter and you will be fine. This particular issue should be resolved with the next release.

[2017-07-26 10:53] #425 closed

[2017-07-27 13:29] cdancy commented on #417
@evgeniy-maltsev we still support it but logically we allow only one or the other. It's going to be removed soon anyway so better to use `tags`.

[2017-07-27 13:29] #417 closed

[2017-08-01 13:43] #406 closed

[2017-08-01 13:55] cdancy commented on #424
@ekoon were you planning on submitting a PR for this or should we close the issue?

[2017-08-01 23:20] maksi opened #427 "DockerCreateNetwork fails with I/O exception"
DockerCreateNetwork always fails with the message:

`[Task worker] INFO org.apache.http.impl.execchain.RetryExec - I/O exception (com.fasterxml.jackson.core.JsonGenerationException) caught when processing request to {}->unix://localhost:80: Null key for a Map not allowed in JSON (use a converting NullKeySerializer?)
`

Seems I came too early and functionality is not implemented/tested yet?

UPDATE

[2017-08-01 23:41] maksi commented on #427
Problem in my local configuration. Pls ignore.

[2017-08-01 23:41] #427 closed

[2017-08-02 01:07] cdancy commented on #427
No worries ;)

[2017-08-04 07:06] manikantabandaru opened #428 "How to add multiple tags to image ?"
While pushing the docker image to repo i need push with multiple tags for same image ?
[code]
How can i modify above code to add multiple tags ?

[2017-08-04 12:34] MortlMcCrisis opened #429 "Empty directories in build context are ignored"
Hello everybody,

I am trying to build an image with a file structure which contains empty directories. When using docker the image is built as expected. When using gradle and the gradle-docker-plugin the empty directories are omitted and not present in the resulting image.

I did not found a parameter to control this behavior. I also did not find a bug report, either for gradle-docker-plugin nor

[2017-08-04 13:00] pjreid opened #430 "Can't Use Own Registry For Pull Requests"
Even when I provide my own url in the registryCredentials closure when I make a DockerPullImage request,  the request is directed towards _https://registry-1.docker.io_  rather than my own registry.

[2017-08-04 15:17] cdancy commented on #430
@pjreid can you provide a reproducible snippet? My hunch is that you're not building out the image correctly in the first place with a proper host in place.

[2017-08-04 15:19] cdancy commented on #428
@manikantabandaru you have to first add those tags to your built image THEN you push said image:

http://bmuschko.github.io/gradle-docker-plugin/docs/groovydoc/com/bmuschko/gradle/docker/tasks/image/DockerBuildImage.html#tags

[2017-08-04 15:19] #428 closed

[2017-08-04 18:33] cdancy commented on #429
Indeed I was able to reproduce. Think this may be relevant to this issue:

https://github.com/bmuschko/gradle-docker-plugin/issues/187

@orzeh any thoughts here? You could always create those empty directories of course but having something automated and just work like you would expect would indeed be better.

[2017-08-05 17:24] schaliasos opened #431 "Add support for HEALTHCHECK when creating DockerFile"
It would be really helpful if you could add support for [HEALTHCHECK](https://docs.docker.com/engine/reference/builder/#healthcheck) instruction in [DockerFile](http://bmuschko.github.io/gradle-docker-plugin/docs/groovydoc/com/bmuschko/gradle/docker/tasks/image/Dockerfile.html) task.

[2017-08-05 18:11] cdancy commented on #431
@schaliasos we have support for that through the generic instructions one can pass in. Have a look at this example to understand how you can apply this to your own code.

https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/functTest/groovy/com/bmuschko/gradle/docker/tasks/image/DockerfileFunctionalTest.groovy#L160

[2017-08-05 18:11] #431 closed

[2017-08-05 19:26] schaliasos commented on #431
@cdancy I didn't notice the generic instruction. Thank you.

[2017-08-05 21:11] orzeh commented on #429
@MortlMcCrisis @cdancy I suspect it is related to how `docker-java` packs build context into `tar` archive. I'll take a look at it in spare time.

[2017-08-05 23:54] cdancy commented on #429
Yeah @MortlMcCrisis you may want to ask the docket-java guys about this.

[2017-08-06 20:37] kaserf commented on #357
Hi, I ran into a problem recently where I would change my "Dockerfile" task (specifically adding some environment variables and changing the entry point), however when I rebuild a task that depends on the "Dockerfile" task, the build task thinks that the "Dockerfile" task is up to date.

Could it be that this is a regression that was introduced by the fix for this issue? It sounds a bit like what

[2017-08-06 22:47] orzeh commented on #429
@MortlMcCrisis @cdancy it's related to `docker-java`, please track [this PR](https://github.com/docker-java/docker-java/pull/889).

[2017-08-07 01:21] cdancy commented on #429
Thanks @orzeh !!!

[2017-08-07 01:22] cdancy commented on #357
@kaserf what version of the plugin are you using?

[2017-08-07 06:41] kaserf commented on #357
@cdancy 3.0.9

[2017-08-07 07:49] MortlMcCrisis commented on #429
Thank you very much @orzeh and @cdancy !
For the moment I will try to make a fork and implement the fix manually, because I can not wait for the next Version of docker-java and gradle-docker-plugin.
I will also try to help with the fix but unfortunately I think I can not do much more since the fix already exists.

[2017-08-07 12:24] lreimer opened #432 "Building Docker images does not work under Windows"
When using the plugin in a Gradle build under Windows the following exception occurs (only snippet):

[code]

The bug is probably not in the plugin itself, but rather in the `docker-java` library the plugin is using. The `IOException` tells me that someone has locked a file the library wants to use. The Dockerfile references a file from within the Gradle `build/` directory, so it is probably Gradl

[2017-08-07 13:10] MortlMcCrisis commented on #429
Can you estimate when the next version with this fix will be released?

[2017-08-07 13:29] cdancy commented on #357
@kaserf that's why. Try upgrading to `3.0.12` and let me know how things workout. Fix for this was merged within the past couple releases.

[2017-08-07 16:00] kaserf commented on #357
Just tried with `3.0.12`, same problem.

[2017-08-07 18:45] cdancy commented on #429
@MortlMcCrisis commented on the ISSUE to see if we can get this fast-tracked and in. Can't promise a timeline but those guys are usually pretty good in helping out and releasing when we need something.

[2017-08-07 18:47] cdancy commented on #432
@lreimer I would an open ISSUE with the `docker-java` guys, link to this ISSUE, and see what they have to say.

[2017-08-07 20:16] lreimer commented on #432
OK. I will open an additional issue with `docker-java` team and link it.

[2017-08-07 20:41] kaserf commented on #357
@cdancy can you point me to a commit that fixed this? Maybe that helps narrowing down my issue.

[2017-08-07 21:54] lreimer commented on #432
@cdancy I have some feedback from the `docker-java` community. Unfortunately, nothing really seems to help. I tried narrowing down the build context using `.dockerignore` to only the TAR file produced by the application plugin I want to include in the Docker image. No luck 😒

I could copy the TAR and the Dockerfile somewhere outside the `$projectDir` but that somehow defeates the objective of the

[2017-08-07 21:56] orzeh commented on #357
@kaserf You have to explicitly set inputs for task of type `Dockefile`. Try below snippet:

[code]

[2017-08-07 22:02] orzeh commented on #432
@lreimer it's strange that `.dockerignore` didn't help. Try setting `buildDir` as an `inputDir` property in `BuildDockerImage` task. This will require to add task that will copy `Dockerfile` inside `buildDir`.

That being said I will switch to Windows and play with your project to see if I can reproduce it and fix.

[2017-08-07 22:08] lreimer commented on #432
@orzeh Thanks for this one. Moving the `Dockerfile` into `$buildDir` does the trick.

[2017-08-07 22:17] lreimer commented on #432
Just for completeness, here is the solution:
[code]

[2017-08-08 00:40] orzeh commented on #432
@lreimer ok, I reproduced it on Windows and indeed found a bug in `docker-java` 😄 but in `.dockerignore` handling. Directories that start with `.` like `.git` are not properly excluded. I'm pretty sure that `.git` folder was messing in your case.

I will prepare a fix and link here for tracking.

[2017-08-08 07:26] kaserf commented on #357
Thanks, I think there is a slight misunderstanding though!

What about the following change:
[code]

[code]

Should this set the up to date check to false? I would assume so. I am changing the task itself, that should always set it to not be up to date.

[2017-08-08 11:51] orzeh commented on #357
@kaserf you are right. I think this is a bug. In `Dockerfile` class [`instructions`](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/Dockerfile.groovy#L25) property should have `@Input` rather then `@Internal` annotation. @cdancy WDYT?

[2017-08-08 15:19] childnode commented on #357
so, this `inputs.property` thingy seems not to be a adequate solution since this will force to have a bunch of `input.property` setters and keep them in sync with any changes made to the Dockerfile ...
(but I see discussion continued since I began to write this ;=) and we're on track)

I would also suggest to implicit define the input properties on every instruction change. If this is the case whe

[2017-08-08 15:39] cdancy commented on #357
@orzeh @kaserf @childnode so while we could make the `instructions` data structure as Optional and as an Input I don't think that will help folks along here at all. We have every method possible exposed to allow developers to pass along what they need to without having to touch this map. If anything I think we should make this private so that folks are not confused.

@kaserf from your snippet abov

[2017-08-08 15:46] kaserf commented on #357
Well, my workaround currently is to append this to my gradle file:

[code]

I took over this code from someone else, the gist seems to be not to use `instructions` but in my case use the `entryPoint` directive directly? In that case, I agree that this should probably be made private not to confuse people.

[2017-08-08 15:50] cdancy commented on #357
@kaserf correct. You could either use [entrypoint](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/Dockerfile.groovy#L299) method or as I believe you used above the [instruction](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/Dockerfile.groovy#L86) method.

[2017-08-08 16:07] childnode commented on #357
@kaserf that brings us back [to the beginning](#issue-215894962)

@cdancy I don't understand in which cases the instruction list is not filled with the relevant information due to extensions on interfaces?

[2017-08-08 16:10] cdancy commented on #357
@childnode there are 2 separate issues here at play. Yours is slightly different and it might warrant opening up another ISSUE/PR as you say if only to avoid folks chiming in here and confusing the flow of conversation.

[2017-08-08 16:15] toplac commented on #404
I am having the same issue:

- Gradle version: Gradle 3.5
- Plugin version: com.bmuschko:gradle-docker-plugin:3.0.12

[code]

[code]

As a workaround, calling `toString` on the tag works

[2017-08-08 16:19] kaserf commented on #357
Talking about confusion...

@cdancy are you saying the way I am doing things (modulo the `upToDateWhen` hack forcing it to false), using `instruction` should work? That's what I got from your comment (https://github.com/bmuschko/gradle-docker-plugin/issues/357#issuecomment-320998626), but it's not working for me. Will try `entrypoint` later.

[2017-08-08 16:50] cdancy commented on #404
@toplac yeah it's weird in that sometimes gstring gets correctly resolved when passing to a pure java library and other times it doesn't. The best solution, aside from digging into our code and ensuring we call `.toString()` on every variable (which we may have to do eventually), is to do exactly what you did. I have to do the same in my scripts as well. Minor annoyance but it works. Think this is

[2017-08-08 17:02] kaserf commented on #357
Using `entryPoint` doesn't work either. If I change the string I pass to `entryPoint`, gradle does not consider that enough to set the task to "not up to date". Same behavior for me as when using `instruction`.

Should I open a bug for this @cdancy ?

[2017-08-08 21:19] orzeh commented on #357
OK, I was hacking with this for a while, and it turns out both issues have the same root. After removing `outputs.upToDateWhen { false }` from constructor, `Dockerfile` task once executed is _up-to-date_ as long as resulting file exists. This leads to errors when instructions change either in custom `Dockerfile` task, as in @kaserf case or in generated by the `DockerJavaApplicationPlugin` as in @c

[2017-08-08 23:19] orzeh commented on #432
@lreimer I'm closing it as it is not this plugin bug and you finally found working solution. When fix to `docker-java` will be released and used here, it will be possible to also resolve it with ignoring directories/files.

[2017-08-08 23:19] #432 closed

[2017-08-09 05:25] lreimer commented on #432
Thanks. I will wait for the fix to be available in the next `docker-java` version.

[2017-08-09 16:56] childnode commented on #357
even I see this might be more related to #433 now, I'll continue here as an answer to @orzeh
And since they both have the same root (thanks for pointing out the differences you saw but I didn't) I don't see what to discuss in two threads?! never mind ...

what is predictable since gradle always only checks for incoming changes but not if the outcome would change .. have to, because else it will pr

[2017-08-09 17:43] cdancy commented on #357
@childnode if there is any room for improvement feel free to add that to your branch and we can review it there.

I think this may be Ok as tasks of this nature should generally be smaller and the process time should be quick enough though if there is a better way then by all means put that into your branch/PR and lets have at it! ;)

[2017-08-09 17:56] fhanik commented on #248
we fixed our build by

replacing

    apply plugin: 'com.bmuschko.docker-remote-api'
with

    apply plugin: com.bmuschko.gradle.docker.DockerRemoteApiPlugin

per documentation at https://github.com/bmuschko/gradle-docker-plugin

and that solved the issue of

    "at com.bmuschko.gradle.docker.tasks.AbstractDockerRemoteApiTask.runInDockerClassPath(AbstractDockerRemoteApiTask.groovy:62)"

[2017-08-09 17:58] fhanik commented on #244
we fixed our build by

replacing

    apply plugin: 'com.bmuschko.docker-remote-api'
with

    apply plugin: com.bmuschko.gradle.docker.DockerRemoteApiPlugin

per documentation at https://github.com/bmuschko/gradle-docker-plugin

and that solved the issue of

     Cannot invoke method withClasspath() on null object
    "at com.bmuschko.gradle.docker.tasks.AbstractDockerRemoteApiTask.runInDockerCla

[2017-08-09 17:59] cdancy commented on #248
@fhanik I assume you were using the plugin in a file that was NOT the main build file?

[2017-08-09 19:41] childnode commented on #357
ok, seems to #433 fixed both and has no negative affects. Thanks @cdancy and @orzeh for you affords

[2017-08-10 11:56] DALDEI commented on #404
IMHO this  is a _major_ not _minor_ issue that should be solved in the plugin not leave it up to gradle programmers.   Its extremely common to interchange 'quote' and "quote" and "${value}" in gradle (look in the forum listings) -- it takes one a long time to learn the difference and even then its a PITA to require every user of the plugin to convert to string rather then have the plugin accept GS

[2017-08-10 13:24] cdancy commented on #404
@DALDEI this is not a plugin issue as much as its a gradle/groovy issue. We can do some tricks (really just call `toString` on everything) on our end to minimize this but it's really gradle/groovy issue more than anything else.

[2017-08-11 15:56] edesdan opened #436 "How to attach a container to a docker network."
Hi I'm wondering how to attach a container to a specific docker network. I'm don't see any option in the DockerCreateContainerTask. Also tried networkAliases but no success.

[2017-08-11 21:39] cdancy commented on #436
@edesdan while I have yet to personally have a use-case for this it should work with `networkAliases` if I"m not mistaken. A developer just recently contributed the various network tasks we have but they are only for create, delete, inspect. Though if a network exists I would think `networkAliases` would do the trick. Can you post an example of what you're trying to do and snippet of the stacktrac

[2017-08-11 21:42] cdancy commented on #436
@edesdan actually going over the `docker-java` project, and looking at this [ISSUE](https://github.com/docker-java/docker-java/issues/601), it appears that creating a container with `networkMode=<network-name>` is the proper way to go. Give that a go and let me know how things work out.

[2017-08-13 16:47] Hubbitus commented on #319
Sure. Please review.

[2017-08-14 10:31] edesdan commented on #436
@cdancy thanks for the advice/help. It works setting the 'networkMode' to the name of the docker network you create. I got confused by the name of the variable, it should be called just 'network', networkMode is a little bit confusing I guess.  Thanks!

[2017-08-14 10:36] orzeh commented on #436
@edesdan feel free to submit PR with either some documentation or changed variable name. IMO `networkMode` is confusing.

[2017-08-14 10:36] #436 closed

[2017-08-14 14:40] edesdan commented on #436
@orzeh yeah I'll try to submit a PR with a name variable change if there are no objections/contraindications . Do we have any specific guideline to submit a PR?

[2017-08-14 14:48] cdancy commented on #436
@edesdan only guidelines is that all tests pass. I actually dont think we have a test wired for this use-case so adding one would be great.

As for new name... I'm up to suggestions. Maybe just `networkName`?

[2017-08-14 15:05] edesdan commented on #436
ok I'm forking the project, I will prepare a PR for you to review. I think just network should be fine. From the official docker documentation it is just 'network'

docker run --network=<NETWORK> . If it is easy for me to understand how to add a test I will do that for this scenario.

[2017-08-14 15:20] edesdan opened #438 "3 tests fails if the local docker registry is down."
Hi, I think at the moment if you clone the project and you execute the tests, 3 tests are failing due to the fact that the local docker registry is not started. It should automatically started before executing the functional tests.

Also all the containers created are not automatically removed after tests execution.

[2017-08-14 16:52] edesdan opened #439 "Unable to use DockerCreateNetwork task"
Hi All, I need to use the DockerCreateNetwork gradle task to create my docker network but I'm not able to do that at the moment and I cannot figure out why it is not working. I'm attaching a screenshot, I should have followed all the steps to import the plugin dependences... Any help?

![screen shot 2017-08-14 at 17 49 42](https://user-images.githubusercontent.com/5745049/29282076-590700a8-8119-11

[2017-08-14 19:49] hermitmaster commented on #401
This is still a problem in Windows 10 Pro. Tried versions 3.0.11 and 3.0.12 of the plugin.
`org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':buildImage'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:98)
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.execute(Execute

[2017-08-14 20:09] cdancy commented on #401
@hermitmaster can you paste the output of your `~/.docker/config.json` file?

[2017-08-14 20:09] cdancy commented on #436
Agreed.

[2017-08-14 20:10] cdancy commented on #438
Both of those are known issues, and sore spots, that need to be addressed at some point.

[2017-08-14 20:10] #438 closed

[2017-08-14 20:13] cdancy commented on #439
Try with version `3.0.12`. It shouldn't matter but 3.0.11 was a "bad" release and actually the upcoming `3.1.0` should have all of these bugs ironed out.

[2017-08-14 20:34] hermitmaster commented on #401
`{"credsStore":"wincred"}`
For what it's worth, if I delete or rename the config.json file, all is well.

[2017-08-14 21:24] cdancy commented on #401
Yeah looks like there is still a minor issue. They just put in a fix for this and I've asked the maintainer of we could get this into the next point release.

https://github.com/docker-java/docker-java/commit/c04a11fd4eb361482404ba57a5fcd124a53db8f4#commitcomment-23642250

[2017-08-14 22:54] edesdan commented on #439
Hi @cdancy, I see. I tried 3.0.12, still the same. I guess I need to wait the 3.1.0. Do you know when will be out? Thanks!

[2017-08-14 23:20] cdancy commented on #439
The version here shouldn't matter so long as you're on the latest. Do you have a reproducible snippet? I can use these tasks here easily enough and all works as expected.

[2017-08-15 08:59] edesdan commented on #439
Uhm, I have attached a simple test IntelliJ project. Can you check it and tell me if you found the cause of that? Thanks!

[test.zip](https://github.com/bmuschko/gradle-docker-plugin/files/1224560/test.zip)

[2017-08-15 09:27] edesdan commented on #439
Hi, again. I think I found the cause. Basically the 'network' package is not packaged inside the jar (gradle-docker-plugin-3.0.12.jar) that gets downloaded from gradle, thats why I cannot access that class. You can check yourself by downloading the latest version on maven central: https://search.maven.org/remotecontent?filepath=com/bmuschko/gradle-docker-plugin/3.0.12/gradle-docker-plugin-3.0.12.j

[2017-08-15 09:58] edesdan commented on #436
Just to keep track and to have another opinion on that I opened this issue here: https://github.com/docker-java/docker-java/issues/899

[2017-08-15 13:30] cdancy commented on #439
@edesdan I can confirm this is indeed true. Package is also missing in jcenter as well. How this would have happened I have no idea. I can build locally fine and see the package is present here. I'll poke around and see if can make sense of this...

[2017-08-15 18:21] edesdan commented on #439
@cdancy yes very strange. Just as hint maybe you can check any release tool/plugin you are using to deploy the jar to maven/ jcenter.

Let me know I really need to use the docker network feature. Thanks for all your support! let me know if I can help. I'm also working on the PR to submit...

[2017-08-15 19:36] cdancy commented on #439
What do you mean?

[2017-08-15 19:44] edesdan commented on #439
I mean I cannot use the DockerCreateNetwork() task and I need to do that.

[2017-08-15 19:52] edesdan commented on #383
I think this is very annoying. I had a quick look and maybe we can do something like this:
inside the AbstractFunctionalTest class we can store all created containers/images names and then we can clean up after tests. We need a way to use a docker client to remove all the containers based on container names. Something like this:
[code]

[2017-08-15 20:13] cdancy commented on #383
@edesdan you and I both :) As long as we create all images/containers with a specific prefix I think that would make things easier (which we do to some extent).

There are 2 avenues to tackle here: images and containers:

For removing images we have the `DockerListImages` task which we can use to get all images, match against our prefix, and create a `DockerRemoveImage` command on the fly to delet

[2017-08-15 20:15] cdancy commented on #439
@edesdan gotcha. Ok ... just reached out to one open PR to see if the individual wants to clean things up for an immediate new release. I can get the `3.1.0` version out and any work you'd like to add on we can put into a `3.1.1` release. Point releases are no big deal around these parts and I can spin one up whenever.

[2017-08-15 20:29] cdancy commented on #383
Shouldn't be too bad to add a `DockerListContainers` task given this:

https://github.com/docker-java/docker-java/blob/master/src/main/java/com/github/dockerjava/api/command/ListContainersCmd.java

[2017-08-15 20:32] edesdan commented on #383
Yeah, sure I can look at that. I was wondering, can we use like a docker-client to submit commands directly to the docker daemon. It would make everything easier I guess. That way I would be able to do something like:

[code]

Sorry I have just started to look at the code, maybe I may not have a clear picture yet.

[2017-08-15 20:36] edesdan commented on #439
Ok so the 3.1.0 should then fix the issue? that would be good. I think this is a priority... Thanks!

[2017-08-15 20:59] cdancy commented on #383
You can do that as well. We have a few tests which exercise the AbstractDockerTask that allows you to do this very thing.

[2017-08-15 21:13] mmscibor opened #441 "Unable to pull / push to GCR"
Having some issues with the plugin when my base images and registry are on GCR. I am logged in as my self and have followed [these](https://cloud.google.com/container-registry/docs/advanced-authentication) instructions to enable communication with Google Cloud.

I am now able to run `docker pull` and `push`, but when I try to run the commands provided by the `gradle` plugin, I am getting permissio

[2017-08-15 22:44] cdancy commented on #441
@mmscibor can you provide a snippet of how things worked for you when running from command line and then a gradle snippet of how you have things wired up?

[2017-08-16 09:22] edesdan commented on #383
OK cool, do you have an example? Which class I can use as reference?

On 15 August 2017 at 21:59, Christopher Dancy <notifications@github.com>
wrote:

[2017-08-16 12:58] cdancy commented on #383
@edesdan have a look at this previous ISSUE:

https://github.com/bmuschko/gradle-docker-plugin/pull/199/files#diff-aa336f9939c800838bf9ddecc8d69c58R101

[2017-08-16 13:33] mmscibor commented on #441
[code]

[2017-08-16 13:35] mmscibor commented on #441
Then, when running `gradle clean build`:

[code]

It definitely exists, so this is a permission issue. After following the instructions linked in the original question on Google docs, I am able to run `docker pull` and get this image just fine. Just not through gradle.

[2017-08-16 13:46] cdancy commented on #441
@mmscibor are you setting the credentials anywhere or can is anonymous access allowed? I've never used GCR so forgive my ignorance here.

[2017-08-16 13:56] mmscibor commented on #441
Ah, so perhaps the support is not yet here for that. GCR works using google cloud credentials, so I run something like `gcloud auth application-default login` which prompts me to login in on a browser using a Google account, then once that command has been run, I should be able to communicate with any of the google tools from my machine using my credentials. There are some alternative permission m

[2017-08-16 13:57] mmscibor commented on #441
In both cases, however, gradle does not seem to recognize the gcloud permissions, I assume it's not running scripts but running on a JVM and therefore not picking them up?

[2017-08-16 14:01] cdancy commented on #441
@mmscibor this plugin, and the library being used behind it `docker-java`, uses typical docker credentials.

https://github.com/bmuschko/gradle-docker-plugin#working-with-a-tls-enabled-docker-instance

[2017-08-16 14:06] mmscibor commented on #441
Is there any support for pointing at a credentials file, similar to the `docker login` command documented here: https://cloud.google.com/container-registry/docs/advanced-authentication#using_a_json_key_file

[2017-08-16 14:10] cdancy commented on #441
@mmscibor don't think so. I would open an ISSUE with `docker-java` to see what they have to say.

https://github.com/docker-java/docker-java/issues

[2017-08-16 14:11] mmscibor commented on #441
Awesome, thanks for the help

[2017-08-16 14:11] orzeh commented on #441
@mmscibor just use content (password) of this file:
[code]

[2017-08-16 14:28] mmscibor commented on #441
@orzeh that worked! Thank you

[2017-08-16 14:28] #441 closed

[2017-08-16 14:30] cdancy commented on #441
@orzeh @mmscibor going to update our README.md with this snippet for future use-cases.

[2017-08-16 17:04] childnode commented on #357
I moreover assume .. I'm a stupid moron ;)
I should have written a correct test .. [after reading the docs](https://docs.gradle.org/current/javadoc/org/gradle/api/tasks/TaskOutputs.html#upToDateWhen(groovy.lang.Closure))

1. we don't need to change anything in Dockerfile ... it works as expected
2. you never can override the upToDate by just returning true, this code will have no effect
2. I fixed

[2017-08-17 20:10] edesdan commented on #383
@cdancy ok I think I found a clean solution for this to both removing the images and containers as well. I'm working on it. Let you know.

[2017-08-17 20:11] cdancy commented on #383
@edesdan that would be a life saver ;)

[2017-08-18 01:10] cdancy commented on #415
Closing as this has been addressed with #419

[2017-08-18 01:10] #415 closed

[2017-08-18 01:12] cdancy commented on #357
Closing as this has been addressed in a few PR's in an attempt to alleviate some (not all) of the issues noted.

[2017-08-18 01:12] #357 closed

[2017-08-18 01:12] cdancy commented on #347
Closing. Feel free to re-open if need be.

[2017-08-18 01:12] #347 closed

[2017-08-22 16:51] cdancy commented on #439
@edesdan can confirm `3.1.0` does have these tasks. Can't make sense of why it was not in the previous release but at least going forward I think we are good to go.

[2017-08-22 16:51] #439 closed

[2017-08-22 16:52] cdancy commented on #429
@MortlMcCrisis released version `3.1.0` which should address this issue. Closing this issue out but if it doesn't work feel free to re-open.

[2017-08-22 16:52] #429 closed

[2017-08-22 17:55] atomfrede opened #444 "Evaluation of tags"
Following up the discussion in https://github.com/jhipster/generator-jhipster/pull/6271

Currently it is not possible to use e.g. `project.version` in case the version is declared after the docker build task:

[code]

[2017-08-22 18:03] cdancy commented on #444
@atomfrede while this has nothing to do with the plugin itself, and is more a gradle/groovy issue, you could probably get away with using the arrow operator to solve your problem:

[code]

[2017-08-22 18:03] edesdan commented on #439
@cdancy that's very nice, thanks! I will try that version then. I can see now the package is there.

[2017-08-22 18:44] atomfrede commented on #444
@cdancy Cool, didn't know that is possible, will try it, thx.

[2017-08-23 06:23] MortlMcCrisis commented on #429
Thank you very much! I am using the new version, got rid of my workaround and it works as expected now.

[2017-08-26 12:08] sdavids opened #445 "MAINTAINER deprecated in Docker Engine v1.13.0"
https://docs.docker.com/engine/deprecated/#maintainer-in-dockerfile

https://github.com/bmuschko/gradle-docker-plugin#user-content-extension-properties-1

"maintainer - Default value: Value of user.home system property"

Please provide a way not to set MAINTAINER or set an appropriate LABEL instead.

[2017-08-28 17:17] cdancy commented on #445
@sdavids are you experiencing an issue or would just noting that this is deprecated?

[2017-08-28 17:38] ir73 opened #446 "Cannot build a docker container for non-java project"
I have a project that has only build.gradle and Dockerfile. So it's not a java project. When I try to build container, it shows me an error

[code]

and a long list of other dependency errors follow

[code]

[2017-08-28 17:43] cdancy commented on #446
@ir73 can you post a reproducible snippet? The partial gav coordinates you posted above `:jirio-certs:dockerJava` look wrong.

[2017-08-28 17:53] ir73 commented on #446
I updated description. It's not the main build file though, it's connected as a project via settings.gradle. My other subprojects that are java/spring boot work fine and docker image gets built correctly.

[2017-08-28 18:17] ir73 commented on #446
Adding this fixed the problem

[code]

[2017-08-28 18:17] #446 closed

[2017-08-28 18:28] cdancy commented on #446
That's very weird but if it works then Ok ;)

[2017-08-28 18:41] ir73 opened #447 "Trying to push container to docker hub reports an error"
Trying to push container to docker hub and get this error. How can I specify password and username correctly?

I have this section in build gradle file:

[code]

[2017-08-28 19:10] ir73 commented on #447
Seems like the issue is sorted now

[2017-08-28 19:10] #447 closed

[2017-08-29 05:58] rwittrick opened #448 "Use docker-java parse for binds"
In line with other methods using parse from docker-java, could the same be done for Bind, e.g in DockerThreadContextClassLoader createBind

[code]

the tests in DockerThreadContextClassLoaderIntegrationTest look like there would be minimal changes, if any

An example of why this is useful:
`createBind('/proc','/hostfs/proc:ro')`
to bind host system drives as readonly.  The default access mode in d

[2017-08-29 07:00] orzeh commented on #448
@rwittrick any PR are welcome!

[2017-08-30 01:08] ekoon commented on #424
PR  #449

[2017-08-30 08:57] orzeh commented on #424
@ekoon LGTM :+1: however would you mind to add similar support for IPv6?

[2017-08-30 16:28] gclayburg opened #451 "Add buildArgs with space delimiter?"
I am trying to build a docker image with a description like this:

[code]

When I do a `docker inspect` I see the LABEL in the docker image looks like this:

[code]

Where does the "+" come from?  I don't see this behavior when building the image from the command line like this:

[code]

[2017-08-30 20:53] orzeh commented on #451
@gclayburg It looks like there is something wrong with encoding of `buildArgs`. Probably this issue is related to `docker-java`. We have to dig there to confirm.

[2017-09-01 10:18] tiny-cababge opened #453 "Can this handle running docker-compose?"
So i got this plugin running, building and creating containers, but what i really want is to build -./ then run docker-compose up.

Is this possible?

[2017-09-01 10:48] orzeh commented on #453
@tiny-cababge you have to use separate plugin: https://plugins.gradle.org/search?term=docker-compose

[2017-09-01 10:48] #453 closed

[2017-09-03 14:39] sdavids commented on #445
I would like to build a image w/o maintainer set.

[2017-09-03 15:24] sdavids opened #454 "Example for setting ENV"
Please add an additional example to [Additional instructions in Dockerfile](https://github.com/bmuschko/gradle-docker-plugin#additional-instructions-in-dockerfile) for setting an ENV variable:

[code]

[2017-09-03 19:40] myoung34 opened #455 "Nullpointer exception"
I'm trying to familiarize myself with the project, but a seemingly simple example results in a NPE at the end of each run:

[code]

My build.gradle:

[code]

tracelog:

[code]

[2017-09-03 19:58] myoung34 commented on #455
Cargo cult. `type: Test` was my issue.

[2017-09-03 19:58] #455 closed

[2017-09-04 10:27] thokari opened #456 "Clarify how to apply the plugin"
Hi, I just tried to apply the plugin, and I am getting this error:

[code]

I have a `build.gradle` with this content:

[code]

And a file `gradle/docker.gradle` with this content:

[code]

The part in the documentation where it says "If you’re using this plugin from a build file which is not the main build file you must apply plugin like so:" is highly confusing, because it remains unclear in whi

[2017-09-04 13:15] gabrielhuff commented on #381
@cdancy I'm also trying to find a way to wait for a container to be ready be but can't do it even with the polling solution. Considering the snippet you posted:

[code]

Throwing an exception on line *4* won't trigger the `onError` callback. The log task will just fail instead.

I'm using version *3.1.0*

Since this is a relatively old post, is there a better way to do it? Something like waiting f

[2017-09-05 02:43] Wrayos commented on #381
You can try removing the `onError` completely if you throw a `StopExecutionException` - https://docs.gradle.org/2.2/javadoc/org/gradle/api/tasks/StopExecutionException.html

[code]

Seems to be working for me.

[2017-09-05 12:46] gabrielhuff commented on #381
@Wrayos Sounds good! I didn't know about this Gradle feature

Anyway, I think I found a better way to do it by using docker native Health Checks.
Health Checks can be [defined on the dockerfile](https://docs.docker.com/engine/reference/builder/#healthcheck) or [overridden at runtime](https://docs.docker.com/engine/reference/run/#healthcheck).

When creating an image using the Docker Java Applicati

[2017-09-05 14:59] cdancy commented on #456
Closing as this has been resolved via #457

[2017-09-05 14:59] #456 closed

[2017-09-05 15:01] cdancy commented on #454
@sdavids care to send in a PR with this change?

[2017-09-05 15:20] #448 closed

[2017-09-06 08:55] thokari opened #458 "How to correctly chain tasks?"
I am confused about the properties of the tasks.
`BuildImage` takes only a `tag` parameter? What should its value be?
Should it be `<imageName>:<imageTag>` where `imageName` is the repository name on DockerHub and `imageTag` is the version of the project?

`PushImage` takes an `imageName` parameter and a `tag` parameter. What should their values be? Is the `tag` supposed to include the  `imageName

[2017-09-06 09:27] thokari commented on #458
This is how I am using it now:

[code]

Is this the correct way to handle the properties of the tasks?

[2017-09-06 16:07] cdancy commented on #458
@thokari that all looks well enough. Here is a snippet of what I use here and works well enough:

[code]

[2017-09-08 19:29] LeeWong opened #460 "How to build image with a remote docker engine"
Hi there,

I am having trouble to build, tag and push images:

[dockerjava-jaxrs-async-0] INFO org.apache.http.impl.execchain.RetryExec - I/O exception (java.net.SocketException) caught when processing request to {}->http://192.168.42.74:2376: Connection reset
[dockerjava-jaxrs-async-0] ERROR com.github.dockerjava.core.async.ResultCallbackTemplate - Error during callback
org.apache.http.client.Cli

[2017-09-08 22:07] LeeWong commented on #460
It has be resolved at https://github.com/EnMasseProject/enmasse/issues/193

[2017-09-08 22:07] #460 closed

[2017-09-09 00:25] cdancy commented on #460
Glad you solved your problem ;)

[2017-09-11 12:38] sdavids opened #461 "DockerJavaApplicationPlugin support multiple tags"
Related to:
https://github.com/bmuschko/gradle-docker-plugin/pull/380

Please make it available in the DockerJavaApplicationPlugin too, thanks.

[2017-09-11 12:46] orzeh commented on #461
@sdavids can you provide PR for this?

[2017-09-14 18:02] snc43 opened #462 "Proxy setting support"
Hi,
   I'm trying to pull an image from corporate private registry to my dev machine, which is behind my corporate proxy, please see the below gradle task

[code]

I got an error

[code]
Please note, I have the gradle.properties with the proxy url and credentials and my docker machine is up and running

[code]
Could you please let me know why the plugin is not able to resolve the proxy configurati

[2017-09-14 20:10] orzeh commented on #462
@snc43 this plugin uses `docker-java` library to communicate with Docker daemon. According to [this PR](https://github.com/docker-java/docker-java/pull/386) it should support HTTP proxy via system variables. Could you try to pull the image with `gradle.properties` like this:
[code]

[2017-09-15 01:26] hcabnettek opened #463 "Permissions issue when running the plugin on gitlab-ci"
Locally using gradle this works great. But when I try to use it in CI, I get an * What went wrong:
Execution failed for task ':buildDockerImage'.

.gitlab-ci.yaml
[code]
the ci runner has docker installed and gitlab-runner was added to group Docker, but it must not be using that user.  Any ideas as to how I can fix this? I was thinking have dockerd use tcp, but I'm not really sure how to set that

[2017-09-15 07:14] snc43 commented on #462
@orzeh Thanks for responding, based on suggestion, I added the following to

`org.gradle.jvmargs=-Dhttp.proxyHost=xxxx.wwww.net -Dhttp.proxyPort=8888 -Dhttp.proxyUser=xxx.xxx -Dhttp.proxyPassword=xxxx+xxxxx=xxxx -Dhttps.proxyHost=xxxx.wwww.net -Dhttps.proxyPort=8888 -Dhttps.proxyUser=xxx.xxx -Dhttps.proxyPassword=xxxx+xxxxx=xxxx`

But still the same problem

[code]

[2017-09-15 07:16] orzeh commented on #463
@hcabnettek this is rather a Gitlab configuration issue, but I'll try to help.

What type of executor does your runner use? Docker?

[2017-09-15 07:23] orzeh commented on #462
@snc43 ok, I will check `docker-java` internals and let you know if I find something.

[2017-09-15 19:47] orzeh commented on #462
@snc43 I created sample project with similar build script and added following `gradle.properties`:
[code]

 above and got:

[code]

So proxy settings work as expected.

Please check your proxy configuration.

[2017-09-16 09:11] snc43 commented on #462
@orzeh Thanks for considering my request and putting effort. I will consult my corporate IT to understand the Proxy details.

Thank you,

[2017-09-18 22:17] gclayburg commented on #444
FYI - I ran into this same issue.   You can also fix it by building a String in groovy without using GString like this:

[code]

I suspect that the plugin is expecting a String and not able to deal with a GString

[2017-09-19 14:46] cdancy commented on #444
Less the plugin and more the docker-java library in use behind the scenes.

[2017-09-19 15:41] jbisotti opened #464 "Using an AWS ECR registry"
My company uses Amazon EC2 Container Registry (ECR) instead of Docker Hub or Artifactory. This requires either AWS' CLI or (REST) API be used to obtain a login token/password that's only good for 12 hours. I've currently cobbled something together but it's not very elegant.

The AWS CLI must be installed and available via the PATH. It requires a region, access key, & secret. There are a few differ

[2017-09-19 16:42] cdancy commented on #464
Interesting. Feel free to supply something to our wiki which I think is perfect for this type of example.

[2017-09-19 19:44] andybug opened #465 "Support COPY --from (multi-stage builds)"
As of gradle-docker-plugin 3.0.11, it does not appear to support the `COPY --from=` syntax. The `FROM as` works as expected. A simple example is below.

    task dockerAssemble(type: Dockerfile, dependsOn: dockerAssembleBuild) {
      description 'creates project Dockerfile'
      destFile = dockerBuildDir.resolve('Dockerfile').toFile()

      from "debian:latest as base_image"
      // do stuff

[2017-09-19 19:55] andybug commented on #465
Note, I was able to get around this by using the generic `instruction`:

    instruction "COPY --from=base_image /etc/debian_version /etc/debian_version"

[2017-09-19 20:23] orzeh commented on #465
@andybug this seems to be an easy fix would you like to submit PR?

[2017-09-19 21:26] orzeh commented on #451
@gclayburg I can now confirm that this is a `docker-java` issue. I will try to fix it there.

[2017-09-20 11:38] spartha80 opened #466 "Unable to add entryPoint"
Below is the snippet from my build.gradle file.  Gradle throws exception when I try to add an entryPoint.
I am unable to figure what the issue is.
I am building with
Gradle: 2.5
Groovy:       2.3.10
Ant:          Apache Ant(TM) version 1.9.3
[code]

Here is the exception
[code]

[2017-09-20 15:09] andybug commented on #465
I'll take a look at it this weekend

[2017-09-20 20:19] orzeh commented on #466
@spartha80 this issue is cause by outdated Gradle version. You can either upgrade it or use `Closure` in `entryPoint`:

[code]

[2017-09-21 15:04] vbasem opened #467 "gradle and spring boot plugin and errors with docker java"
thanks alot for the great plugin.
we have sadly encountered a strange issue with the docker java plugin ever since we upgraded to spring boot M4.

[code]

while I have no problem resolving and building the project, it fails while fetching the deps during docker image builds and as I see it ```$%7Bpackaging.type%7D``` is not replaced correctly which should be the package type variable.

If I switch

[2017-09-21 17:16] gnilron commented on #467
I have similar issues with Springboot 2.0M4

Seems to be related to jersey and a new version with Springboot 2.0M4, not sure why that causes it.

I get this stacktrace with M4 but M3 works fine
`
[dockerjava-jaxrs-async-0] ERROR com.github.dockerjava.core.async.ResultCallbackTemplate - Error during callback
java.lang.IllegalStateException: InjectionManagerFactory not found.
	at org.glassfish.jerse

[2017-09-21 20:28] orzeh commented on #467
@vbasem  @gnilron this seems to be two different issues. Could you both provide minimal build script which reproduces them?

[2017-09-21 20:39] orzeh commented on #467
I've just created small Spring Boot M.4 application and was able to build a Docker image without any issues.

[2017-09-21 22:15] cdancy commented on #467
This all sounds like typical classpath issues due to older/newer libs on the path. I opened an ISSUE with the docker-java guys to get a shaded version of their plug-in but that seems to have stalled.

@orzeh we could build and publish our own. I really don't want to maintain that but maybe there is a solution here which we could work with. IDK.

[2017-09-22 04:19] ksambhav opened #468 "ERROR com.github.dockerjava.core.async.ResultCallbackTemplate - Error during callback"
I am trying to workout a simple docker build on a Ubuntu 17.04 machine : -

[code]
While executing 'dockerBuild' task getting this exception : -

[code]
`com.bmuschko:gradle-docker-plugin:3.1.0`

I am also using the IntelliJ docker plugin which seems to be working fine while using the default unix socket.  How to correctly configure the plugin to use the same ?

[2017-09-22 05:12] vbasem commented on #467
as much as it shames to say this, I am not able to reproduce this on a simple project as I get stuck around @gnilron issue.
My original project would be too complex to rebuild, so I guess I can only proceed when the injection problem is solved. I have a feeling that will bring me further as well.

[2017-09-22 10:35] orzeh commented on #468
@ksambhav I've tried to reproduce this issue without success. Could you provide an example build script that fails?

[2017-09-22 12:43] ksambhav commented on #468
Not sure why, it seems to be working now when I try...
Closing the issue.

[2017-09-22 12:43] #468 closed

[2017-09-22 13:53] nikolaidueck commented on #467
It looks like spring boot version 2.0.0.M4 uses a newer version of the jersey client.
@orzeh you need to add the new version to your buildscript dependency:
[code]

[2017-09-22 15:35] gnilron commented on #467
@nikolaidueck Yes, but I need the docker plugin also. Like this:

`    dependencies {
        classpath 'com.bmuschko:gradle-docker-plugin:3.1.0' //  I want older jersey
        classpath 'com.avast.gradle:docker-compose-gradle-plugin:0.5.0'
        classpath 'org.springframework.boot:spring-boot-gradle-plugin:2.0.0.M4' // I want the new jersey
        // classpath 'org.springframework.boot:spring

[2017-09-24 08:50] nikolaidueck commented on #464
try this one: https://bitbucket.org/double16/gradle-aws-ecr-plugin
it works with bmuschko/gradle-docker-plugin

[2017-09-24 11:17] cdancy commented on #464
Yeah he's a contributor here and builds on top of our plugin to create his.

[2017-09-24 20:06] orzeh commented on #467
OK, my mistake, now I'm able to reproduce @gnilron issue. However, I have no idea how to fix this. Basically it's a Gradle issue as plugins share build classpath. `docker-java` can upgrade jersey version but it's a temporary solution. Any other ideas?

[2017-09-24 20:42] #462 closed

[2017-09-24 20:44] orzeh commented on #407
@childnode I'm closing it now. We can reopen when PR will be ready.

[2017-09-24 20:44] #407 closed

[2017-09-24 20:46] orzeh commented on #463
@hcabnettek I'm closing it due to the lack of feedback.

[2017-09-24 20:46] #463 closed

[2017-09-25 19:49] childnode commented on #383
just my 50¢: can't we just use [dind](https://hub.docker.com/r/library/docker/tags/) and throw away that single build env docker container afterwards?

[2017-09-25 20:38] orzeh commented on #383
I don't think we have here _legitimate use case_.

[2017-09-26 01:23] mkjois commented on #464
@jbisotti Does the linked plugin work nicely for you? Asking because I'm going to need to do this soon. If so, can you close the issue?

[2017-09-26 10:44] spartha80 commented on #466
Thanks @orzeh. Moving to the latest version and your solution both work well. Closing.

[2017-09-26 10:44] #466 closed

[2017-09-26 16:29] childnode commented on #383
yeah, I read that, I wouldn't recommend it to a self build productive environment - but only because I didn't got any "legitmate arguments" why not to do ;)
Anyhow it seems not that unstable or problematically since http://rancher.com/rancher-os/ is using it e.g., another popular one is gitLab which gives official examples running tests in dind ... anyhow ... your choice ... just thought this woul

[2017-09-26 21:17] mkjois opened #469 "Tag repository limited to 30 characters"
When I tag something with a repository part (not counting after `:`) greater than 30 characters, I get the following exception. I would write something to reproduce but it should be self-explanatory.

IIRC this was increased officially by Docker to 255 characters (see https://github.com/moby/moby/pull/11118), but maybe the Docker API or docker-java library is still unhappy with it?

[code]

[2017-09-26 22:00] cdancy commented on #464
I'm actually closing this now as it's less a question about the plugin but more how to wire things up to work with AWS so that one can further use this plugin.

As noted @double16 does provide a wrapper around this to make things easier if folks want to go that route.

[2017-09-26 22:00] #464 closed

[2017-09-26 22:03] cdancy commented on #469
@mkjois what version of the plugin are you using?

[2017-09-26 22:03] orzeh commented on #469
@mkjois here is my test `build.gradle`:

[code]

and the console output:
[code]

[2017-09-26 22:38] mkjois commented on #469
Damn, sorry false alarm. My problem was that the repository part has can't have uppercase characters. I guess the only concern is that the error message is far from indicative of the problem...only reason I thought the problem might have been the character limit is because of another issue that related to it.

[2017-09-26 22:38] #469 closed

[2017-09-29 08:19] FWiesner opened #470 "Please add support for squashing images"
as far as I can see `docker build --squash` is not yet supported by the plugin, but it would be great if it would

[2017-09-29 11:43] cdancy commented on #470
@FWiesner we build on top of the `docker-java` library and I don't believe they have support for the `--squash` arg at this point unless I'm missing something. You can reach out and ask them to support it or submit a PR. We can certainly help move things along but like to empower the potential contributor to do so themselves if they are willing.

https://github.com/docker-java/docker-java/blob/mas

[2017-09-29 11:46] cdancy commented on #461
@sdavids any interest in submitting a PR?

[2017-09-29 11:55] cdancy commented on #444
Closing this issue as I feel it's more due to groovy "issues" than anything else.

[2017-09-29 11:55] #444 closed

[2017-09-29 11:58] cdancy commented on #396
@dlachica care to submit a PR for this change? Looking at that `docker-java` thread it would appear the functionality is already present we just need to expose it here.

[2017-09-29 12:00] cdancy commented on #381
Closing this issue as we now have multiple ways to solve the given problem which don't require any changes to this plugin.

[2017-09-29 12:02] cdancy commented on #458
Closing issue. Feel free to re-open if need be.

[2017-09-29 12:02] #458 closed

[2017-09-29 12:03] cdancy commented on #430
Closing issue. Feel free to re-open if necessary.

[2017-09-29 12:03] #430 closed

[2017-09-29 12:04] cdancy commented on #401
Closing this issue as I believe things _should_ be resolved at this point. Feel free to re-open if necessary.

[2017-09-29 12:04] #401 closed

[2017-09-29 12:12] cdancy commented on #451
Closing ISSUE as this should be resolved with latest release. Feel free to re-open if necessary.

[2017-09-29 14:23] gclayburg commented on #451
Ok thanks guys - I just tried to test with 3.2.0.   I don't see a difference.  I was using 3.1.0 before.  Do you think the issue is fixed, or do we need to wait for something in docker-java to be released?

[2017-09-29 16:37] titoc commented on #467
Confirming the same issue as @gnilron .  With  `com.bmuschko:gradle-docker-plugin:3.0.11` and `springBootVersion = '2.0.0.M4'`

[code]

[2017-09-30 21:18] cdancy opened #472 "On creating gradle-kubernetes-plugin"
Hey Guys,

With a lot of the industry moving into the kubernetes space thought it might not be a bad idea to get a plugin going under the @bmuschko umbrella with the aforementioned name. We're starting to look into kubernetes on AWS here and with mini-kube they've made it stupid-simple to stand-up a local instance for testing/development/etc.

I was thinking we could model this new plugin after wh

[2017-10-01 22:46] bmuschko commented on #472
Hi,

Sounds like a great idea. I am all-in for a Kubernetes plugin. How much overlap will there be with the following, existing Kubernetes plugins?

- https://plugins.gradle.org/plugin/de.qaware.cloud.deployer
- https://github.com/nbyl/kubernetes-gradle-plugin

One thing I'd like for you to consider is the use of Kotlin for implementing the plugin code. There's a big shift toward the language in t

[2017-10-01 23:20] cdancy commented on #472
@bmuschko it's possible there may be _some_ overlap with the first plugin you noted but I can't imagine much. I've previously looked at the second plugin and it seems to be a POC more than anything else.

Kotlin is not a bad idea. I've not played around with it all so I'm not sure what benefits we get from it one way or another but I do know you guys (e.g. gradle) have been making a push for its u

[2017-10-01 23:46] bmuschko commented on #472
IDE support is a big one (at least if you work with IntelliJ). Static typing might or might not be another one...depends on what you prefer.

I don't have a particular one that I could point to. I personally haven't used Kotlin for a Gradle plugin either. Happy to help out here though to get a better grasp.

[2017-10-02 07:13] orzeh commented on #472
@cdancy @bmuschko plugin for Kubernetes sounds like a great idea. I'm also interested. That being said I have no practical experience niether with Kubernetes nor Kotlin, but it's time to learn :)

[2017-10-02 15:16] cdancy commented on #472
@orzeh here are a few links to get you started:

https://kubernetes.io/docs/getting-started-guides/minikube/

https://github.com/kubernetes/minikube

My thinking is that we can model things in much the same way we do here and use the [kubernetes java client](https://github.com/fabric8io/kubernetes-client) behind the scenes to drive things.

[2017-10-02 15:17] cdancy commented on #472
@bmuschko I tend to use Netbeans for development and will occasionally jump into intellij. If Kotlin is something that can be easily used then we can certainly do so. If it's easier to provide both models that would be great as well just not sure how realistic that is.

[2017-10-02 22:21] bmuschko commented on #472
@cdancy Sorry, I don't have any idea how well NetBeans supports Kotlin. There's a plugin though: http://plugins.netbeans.org/plugin/68590/kotlin.

[2017-10-03 07:26] orzeh commented on #472
@bmuschko I'm curious why Gradle shifts towards Kotlin? What are the reasons? In which aspect it is better than Groovy?

[2017-10-03 15:53] bmuschko commented on #472
Main reasons are:

- Kotlin is statically typed. A lot of developers seem to prefer that over dynamic typing.
- It's easier to build IDE auto-completing for a statically typed language. Nevertheless, it would be possible with Groovy, too.
- Kotlin has become very popular in the Android community.
- Many developers see Kotlin as the better Java.

I think better is relative. I don't think Groovy is

[2017-10-03 16:09] cdancy commented on #472
My initial feeling on the matter is that we should hold off on kotlin for now is it would take that much longer to get off the ground and going. Maybe with a 2.0.0 release we refactor things or do a `gradle-kubernetes-kotlin-plugin` release downstream.

[2017-10-04 02:34] karlmuscat opened #473 "Could not find or load main class"
Hi.

Having issues with creating a basic Docker image using Spring Boot 2.0.0.M3 and gradle-docker-plugin 3.2.0. Everything builds great but upon running the container, it seems like the main class is not being found. The container exits immediately with an error: `'Error: Could not find or load main class ...'`

Attached a sample build.gradle for reference.
[sample.txt](https://github.com/bmuschk

[2017-10-04 16:55] cdancy commented on #473
I don't use Spring so can't say exactly what the issue could be but can you get things going without using this plugin and so successfully? Just trying to understand where the bottleneck is. It seems the image is created successfully but starting the container fails?

[2017-10-04 20:08] NorrinRadd opened #474 "plugin refusing to use local unix sock for dockerd"
[workspace] $ /var/jenkins_home/jobs/platform-router-docker-build/workspace/gradlew clean pushToRegistry
Starting a Gradle Daemon, 2 busy Daemons could not be reused, use --status for details
:clean UP-TO-DATE
:buildImage
Building image using context '/var/jenkins_home/jobs/platform-router-docker-build/workspace'.
Using tag 'nimbus/platform-router' for image.
[dockerjava-jaxrs-async-0] INFO org.ap

[2017-10-04 20:15] cdancy commented on #474
@NorrinRadd if you're on a unix based system you can leave out the `url` property altogether as we will recognize you're on unix based system and just use `unix:///var/run/docker.sock`. So here is what I would do: simplify your script down to the bare minimum to get things going ONLY for the build image task. Meaning: remove all the other tasks and dependencies and do something very simple that sh

[2017-10-04 20:18] NorrinRadd commented on #474
Continued report: the daemon seems to be running perfectly fine:

$ netstat -a|grep docker
unix  2      [ ACC ]     STREAM     LISTENING     20259    /var/run/docker/libcontainerd/docker-containerd.sock
unix  2      [ ACC ]     STREAM     LISTENING     22368    /run/docker/libnetwork/7c64002508c53b2a77f2dd5569347ad3047e751f6b2b5c9db618bf7477ce42f5.sock
unix  2      [ ACC ]     STREAM     LISTENING

[2017-10-04 20:24] cdancy commented on #473
@orzeh any thoughts here? I believe you use spring and may be able to provide more insight.

[2017-10-04 20:27] cdancy commented on #454
Added snippet. Closing ISSUE.

[2017-10-04 20:27] #454 closed

[2017-10-04 20:27] NorrinRadd commented on #474
@cdancy
The plugin attempts to use http and a port when url is removed

[Gradle] - Launching build.
[workspace] $ /var/jenkins_home/jobs/platform-router-docker-build/workspace/gradlew clean pushToRegistry
Starting a Gradle Daemon, 2 busy Daemons could not be reused, use --status for details
:clean UP-TO-DATE
:buildImage
Building image using context '/var/jenkins_home/jobs/platform-router-docker-bu

[2017-10-04 20:28] cdancy commented on #474
Are you running this script in a standalone environment or as part of bigger build? What environment are you running this on? Is it virtual?

[2017-10-04 20:34] cdancy commented on #474
hmmm ... do you have other machines where docker is installed where this does work? Just trying to figure out where your issue lies. Do you have a bare-bones snippet with all the extra stuff removed that someone could run?

[2017-10-04 20:35] orzeh commented on #474
@NorrinRadd maybe in your CI environment `DOCKER_HOST` variable is set?

[2017-10-04 21:01] orzeh commented on #473
@karlmuscat I can reproduce your issue. It appears because in the docker image there is no JAR with application sources. That being said I don't understand why you use `application` plugin for SpringBoot app? IMO it doesn't make sense and it's the source of problems. Even if the JAR would eventually be in the docker image it would be Spring Boot executable JAR with all dependencies inside it (thos

[2017-10-04 22:26] NorrinRadd commented on #474
Hmm we seem to have found the problem.  The jenkins server is running in a docker container.  The job gets a lot further when run locally.  @cdancy

[2017-10-04 22:26] #474 closed

[2017-10-04 22:27] NorrinRadd commented on #474
Where's a better place to get support for this plugin than creating issues here?  (assuming the problem is not a bug or feature request)

[2017-10-04 22:29] cdancy commented on #474
Aaahhh got it. We use cloudbees Jenkins here and pass along the host socket url as an environment variable to the dockerized Jenkins server. We then reference that env-var and pass it along to the plugin.

[2017-10-04 22:37] orzeh commented on #474
@NorrinRadd  You can join us on Gitter https://gitter.im/gradle-docker-plugin/Lobby

[2017-10-04 22:37] cdancy commented on #474
We may not be IN the lobby but we'll get emails if you ping us there.

[2017-10-04 23:08] NorrinRadd commented on #474
Ok.  I posted over there.

[2017-10-05 01:46] NorrinRadd opened #475 ""invalid tag format" when publishing image to docker registry"
We've tried every variation of the below that we can think of.  DockerPushImage always fails with:

[dockerjava-jaxrs-async-0] ERROR com.github.dockerjava.core.async.ResultCallbackTemplate - Error during callback
com.github.dockerjava.api.exception.InternalServerErrorException: {"message":"invalid tag format"}

        at com.github.dockerjava.jaxrs.filter.ResponseStatusExceptionFilter.filter(Resp

[2017-10-05 08:01] orzeh commented on #475
@NorrinRadd I know it's a little bit confusing. Let me explain it on an example:

[code]

In build image task a `tag` or `tags` property should contain image name and tag (and image registry if needed). However in push image task, the `tag` property contains only actual tag (i.e. 'latest', '3.0.1' and so on) and remaining information is set via `imageName` property (registry, user, image name).

H

[2017-10-05 08:01] #475 closed

[2017-10-05 10:19] karlmuscat commented on #473
@orzeh I might be missing something here, but I'm using the `application` plugin because it's documented [here](https://github.com/bmuschko/gradle-docker-plugin#usage-examples-1) and without it, the `docker-java-application` tasks (specifically the `dockerBuildImage`) won't be available. (Warning: gradle noob writing)

With both the `application` and `org.springframework.boot` plugins enabled, 2 d

[2017-10-05 10:31] orzeh commented on #473
@karlmuscat AFAIK when you use Spring Boot the best option is to use the `docker-remote-api` plugin and write required tasks by hand. You can also consider some optimizations which are described in my sample repo: https://github.com/orzeh/spring-boot-gradle-docker-sample

[2017-10-06 03:41] gilbode opened #477 "Setting shmSize on DockerCreateContainer Clobbers Other Properties"
Setting shmSize on DockerCreateContainer seems to overwrite any other values set on the hostConfig.  Simple example:

[code]

When you create the container you'll see shmSize is set but not portBindings or privileged.  Issue seems to be the following:

[code]

The command has a hostConfig already configured and many properties set on it at this point.  Possible solution seems to be to just set the

[2017-10-06 06:39] gilbode opened #478 "Cannot Set Entrypoint on DockerCreateContainer"
The DockerCreateContainer task doesn't support setting entrypoint.

[2017-10-06 07:24] orzeh commented on #477
@gilbode thanks for finding this out! I'll try to fix this.

[2017-10-06 13:18] #477 closed

[2017-10-06 13:52] #478 closed

[2017-10-06 13:54] cdancy commented on #478
Thanks again for the PR @gilbode .

[2017-10-06 13:56] cdancy commented on #472
Thoughts on moving ahead with typical gradle over kotlin? @bmuschko if you're Ok with that for the time being could you create a `gradle-kubernetes-plugin` repo under your umbrella and give us access? My thoughts are that we could hijack your name in the community to get move devs on board and contributing which is a win for everyone :)

[2017-10-07 14:20] guillaume-leroy opened #481 "Connection reset by peer"
Hi!

I have a Jenkins container which build a Docker image with Gradle. I map docker.sock between the host and the Jenkins container. But an exception is thrown : AFUNIXSocketException: Connection reset by peer and I don't know why... This exception occurs even if I try to build the image on the host.

In Docker daemon logs, an error occurs: `level=error msg="Handler for POST /build returned error

[2017-10-07 16:32] wwadge commented on #473
I got around this by defining this for all projects:
mainClassName = 'org.springframework.boot.loader.JarLauncher'

[2017-10-08 22:24] orzeh commented on #481
@guillaume-leroy hmm... the error message is clear: `invalid reference format: repository name must be lowercase`. In your build file I see you use `project.name` as a repository part of an image tag. Is it set somewhere or maybe it's a directory name, which in case of Jenkis can be random generated and contains uppercase letters?

[2017-10-09 13:32] wwadge commented on #467
There's already a shaded version of docker-java published. This patch will make it work:
[code]

From here: https://github.com/jenkinsci/docker-plugin/blob/master/docker-java-shaded/pom.xml

Can we use this version instead?

[2017-10-09 19:44] guillaume-leroy commented on #481
Oh sorry, I forgot **gradle.properties** file:
[code]
In my view, Jenkins cannot be responsable of this issue because it happens even if I run `./gradlew buildImage` manually (inside or outside the container)...

[2017-10-09 20:34] orzeh commented on #467
@wwadge This library doesn't shade Jersey, so I doubt it will help.

BTW everyone can try it just by excluding `docker-java` from configuration created by this plugin (which is named `dockerJava`) and adding other libs.

[2017-10-09 20:36] orzeh commented on #481
@guillaume-leroy can you create minimal project which reproduces this issue and share it with us?

[2017-10-10 14:53] wwadge commented on #467
Hi @orzeh can you give us an example how to do this please?

[2017-10-10 15:08] wwadge commented on #467
for the example before I meant:
     dependencies.add(project.dependencies.create("com.nirima:docker-java-shaded:0.16.2"))

[2017-10-10 21:08] orzeh commented on #467
@wwadge I created repository with example: https://github.com/orzeh/gradle-docker-plugin-spring-boot-m4

It builds image, so issue reported here is fixed, however it seems that this shaded library is out of date, because build fails with:

[code]
This seems to be [this issue](https://github.com/docker-java/docker-java/issues/830) in `docker-java`

[2017-10-11 08:06] gnilron commented on #467
@orzeh I'm getting the same issue in my project testing that workaround.
What do you think is the way forward? Try to get an updated shaded jar?

[2017-10-11 08:43] karlmuscat commented on #473
Made it to work by disabling most of the `application` plugin tasks as they are replicated by the Spring Boot plugin. Is it possible that the `docker-gradle-plugin` does not force us to use the `application` plugin but rather picks up the plugin selected by the user?

[2017-10-11 13:07] cdancy commented on #473
@karlmuscat we are not doing anything special WRT plugins or specifically the application plugin if that's what you're asking.

[2017-10-11 15:35] karlmuscat commented on #473
@cdancy does the plugin work without including the `application` plugin?

[2017-10-11 16:28] cdancy commented on #473
I would assume so as I can't see how that would interact with anything we are doing. Have you given things a go? Maybe need to split some of the logic up into separate scripts (shouldn't have to of course)?

[2017-10-11 16:37] wwadge commented on #473
I think @karlmuscat is referring to: https://github.com/bmuschko/gradle-docker-plugin/blob/f42e16ab4ffeaa16fe59f5ca0a33e28ad9d04fe0/src/main/groovy/com/bmuschko/gradle/docker/DockerJavaApplicationPlugin.groovy#L46

The thing is that spring boot provides an alternate option to using application plugin, for example mainClassName does not need to be specified since the spring boot plugin will search

[2017-10-11 19:18] cdancy commented on #473
aaahhhh ... gotcha. Yeah there may be some ... quirks ... but that's really the case with any plugin and is more/less a direct side-effect of the dynamic nature of groovy/gradle. @orzeh has generally fielded these questions as he uses spring as well. Enough folks ask about similar spring questions so by all means if a "good enough" solution is found please add a snippet to our wiki to help others

[2017-10-11 19:19] cdancy commented on #467
@gnilron I would reach out and try to get an updated shaded jar if that's what works for you. You could always hop on the [docker-java gitter](https://gitter.im/docker-java/docker-java) channel and bug those guys about providing one OOTB as I've done as much many times myself :)

[2017-10-12 11:47] cdancy commented on #472
^^^ Ping?

[2017-10-12 11:52] orzeh commented on #472
@cdancy @bmuschko IMO starting with Groovy would be the right choice.

[2017-10-12 19:48] bmuschko commented on #472
@cdancy Generally speaking I have nothing against adding the repository under my GitHub repository. It's hard for me to gauge if my name really makes such a big difference. Apart from the administration overhead on my end we can do so. Is there anything speaking against using your own GitHub repo?

If you happen to go with Groovy as the implementation language then I'd suggest to use `@CompileStat

[2017-10-12 20:02] cdancy commented on #472
@bmuschko for better or worse there are loads of people visiting this page per week. While there are certainly other projects with more visitors I think the folks in this community are pretty good and give back when they can and the numbers coming to this page, which I presume are for CI related purposes, I have to imagine either are or will be interested in a kubernetes solution much like we are.

[2017-10-12 20:06] bmuschko commented on #472
@cdancy Sounds reasonable. We can start under my repo and fully transfer if necessary. [Here you go.](https://github.com/bmuschko/gradle-kubernetes-plugin)

[2017-10-12 20:13] cdancy commented on #472
@bmuschko awesome and thanks a ton.

@orzeh I've created a few projects that use this projects design as a skeleton of sorts as I've found it particularly easy and useful. New features get added as we need them here but putting them below to show what I've done and how I've potentially simplified some things. We use a project stub of sorts here that I created which brings in all the checkstyle, pm

[2017-10-12 20:16] orzeh commented on #472
@cdancy LGTM. You can init the repo.

[2017-10-17 11:28] tiny-cababge opened #483 "Created image but no image"
Hi

I'm getting this returned
[code]
Using this
[code]

However, image does not seem to have been created.
[code]

[2017-10-17 11:55] orzeh commented on #483
@tiny-cababge do you use the same docker daemon in gradle and in CLI client?

[2017-10-17 12:35] tiny-cababge commented on #483
I'm running it from the same CLI if that's what you mean, i don't know if gradle is creating a new docker daemon when executing the gradle buildImage command

[2017-10-17 12:55] edesdan commented on #381
@gabrielhuff That's kind of nice solution. I think the DockerWaitHealthyContainer should be integrated into the library, maybe you can think of creating a PR for that?

[2017-10-17 13:06] cdancy commented on #381
@edesdan @gabrielhuff while we've historically pushed back on things like this and kept the standard that this plugin is sort of a "low level" library from which you can build other plugins on top of I wouldn't be opposed to you sending in a PullRequest for this work and put it say under a new package at `com.bmuschko.gradle.docker.tasks.container.extras`.

We've had a lot of great and useful sugg

[2017-10-18 08:11] orzeh commented on #483
@tiny-cababge can you share minimal project which reproduces the issue?

[2017-10-18 19:16] sugun999 commented on #445
+

[2017-10-18 19:23] cdancy commented on #445
PullRequests welcome if anyone wants to send something in!!!

@orzeh while folks use the `DockerJavaApplicationPlugin` I wonder if we should just remove it altogether and if devs really need it they can use an older version of the plugin. It's a pain in the butt to maintain especially when you can get better functionality through our OOTB tasks IMO.

[2017-10-19 18:50] sergey-morenets opened #484 "Cannot change Dockerfile location"
Hi

I tried to change location of Dockerfile in project. I assumed it is docker folder of project. I would like change it to the root folder of the project. However I got exception "Caused by: com.github.dockerjava.api.exception.InternalServerErrorException: {"message":"Cannot locate specified Dockerfile: /D:/complete/Dockerfile"}"

My project folder is D:/complete.

My build.gradle:

[code]

Than

[2017-10-19 19:54] cdancy commented on #472
@orzeh @bmuschko I recently got the OK to open-source our gradle multi-project stub example that we pass around to folks here for starting new projects. We think it works great for stand-alone projects as well as typical multi-projects. It's continually evolving due to what we learn from the community and developing at large and will now be done in the open. It represents what we think is the most

[2017-10-19 20:36] orzeh commented on #484
@sergey-morenets you must set `inputDir` property for `buildImage` task, because it is set to `project.file('docker')` by default. You don't have to set `dockerFile` property because it is `Dockerfile` by default.

Try this:
[code]

[2017-10-19 20:39] cdancy commented on #484
By default (not sure I even agree with this) we will look under `<project-root>/docker/` for your `Dockerfile`. You can override the default directory using the [input dir](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/DockerBuildImage.groovy#L29) property. Try that out and let me know how it works for you.

[2017-10-19 20:39] cdancy commented on #484
@orzeh ha! You beat me to the response ;)

[2017-10-20 06:20] sergey-morenets commented on #484
Hi

Thank you for the responses. I tried to options:

[code]
It didn't change anything. Plugin still looked at docker folder

and second option

[code]
In that case I got an exception:

Caused by: java.io.IOException:
        at org.apache.commons.io.IOUtils.copyLarge(IOUtils.java:2146)
        at org.apache.commons.io.IOUtils.copy(IOUtils.java:2102)
        at org.apache.commons.io.IOUtils.copyLa

[2017-10-20 07:30] orzeh commented on #484
@sergey-morenets this is a known issue, see #432

IMHO it is better to use dedicated folder as a docker build context.

The reason why this
[code]
didn't work is that you created variable `inputDir` instead of setting `buildImage` tasks property.

[2017-10-20 07:39] orzeh commented on #472
@cdancy looks good for me, however why do you prefer TestNg over JUnit?

[2017-10-20 07:46] orzeh commented on #381
@cdancy I think we can do an exception here. `DockerWaitHealthyContainer` seems to be _docker related_ as it doesn't have any custom logic to check whether container is healthy but use standard docker capabilities. @edesdan @gabrielhuff please submit PR so we can start working on it :+1:

[2017-10-20 08:08] gabrielhuff commented on #381
@edesdan @cdancy @orzeh Thanks for the feedback guys. I'll create a PR as soon as I have time to do so.

Note that the plugin currently does not define an API to setup health checks. If you take a look at the example I posted, I had to manually append `HEALTHCHECK CMD <command>` to the docker file. Docker also allows setting the health check instruction when running a container.Do you think it wou

[2017-10-20 08:13] edesdan commented on #381
@gabrielhuff yes sure, it would be good but the most important is to add
the task to the gradle-docker-plugin library so we can use it directly, at
the moment I have to define it in every project. BTW I'm using it in my
project and I solved my problem with functional testing! Thanks!

On 20 October 2017 at 09:08, gabrielhuff <notifications@github.com> wrote:

[2017-10-20 08:18] orzeh commented on #381
@gabrielhuff in terms of `HEALTHCHECK` instruction support please see #321 #431. To sum up we probably don't need anything more about that.

Waiting for the PR.

[2017-10-20 12:59] cdancy commented on #484
Or ... through the use of a `copy` task just copy the file into the expected location and be done with it.

[2017-10-20 23:01] bmuschko commented on #472
@cdancy You might want to abstract most of the configuration you have in the script plugins into one binary plugin. At the moment there's a lot of code that would be duplicated across multiple projects. Feel free to go with whatever template you feel is working for you. Regarding tests I'd strong advocate for Spock.

[2017-10-20 23:01] bmuschko commented on #472
I am going to close this issue. Any addition discussion can happen in the new repo.

[2017-10-20 23:01] #472 closed

[2017-10-21 00:21] cdancy commented on #472
@bmuschko planned to use the model here and mesh with ours as the one we put together, while has lots of bells and whistles, is mainly targeted for java only projects. Spock at this point, at least for gradle based projects, is a must IMO.

By binary plugin do you mean a buildSrc plugin? Feel free to send in a PR as it would be greatly appreciated if you've got something better in mind :)

[2017-10-22 17:16] gabrielhuff commented on #381
Pull request [here](https://github.com/bmuschko/gradle-docker-plugin/pull/485)

[2017-10-24 19:20] awesometown commented on #467
I had previously worked-around the "Could not build image: null" by having separate "buildImage" and "tagImage" tasks as suggested in https://github.com/bmuschko/gradle-docker-plugin/issues/399. Leaving off the `tag` property in the `buildImage` seems to be key.

[code]
That, in conjunction with the changes in the linked repository from @orzeh above seems to have allowed me to build and dockerize

[2017-10-31 19:35] nwillc opened #486 "DockerCreateContainer portBindings not working for me"
I'm trying to create a container. My image works when run manually with -p 8080:8080 to publish ports. However, using the portBindings = ['8080:8080'] in my DockerCreateContainer results in a container being created but w/o the ports published.  I'm running gradle 4.2.1, gradle-docker-plugin 3.2.0, Docker 17.05.0-ce-rc1, on OS X.

Any thoughts?

[2017-10-31 19:44] cdancy commented on #486
@nwillc did you start the container or just create the container? Those are 2 different steps.

[2017-10-31 19:49] nwillc commented on #486
Created it, and then started it. Both from gradle and cli.  When I created a container with the "docker run" cli, then "docker ps" showed ports, but with the one created in gradle no ports appeared.

[2017-10-31 19:52] nwillc commented on #486
Additionally, docker inspect of the container, seems to show the same values when done through cli or gradle.

[2017-10-31 20:10] nwillc commented on #486
Wait .... your create vs start got me thinking. So, if I both create and start from gradle, all is good.  It just was confusing to me that the bindings are placed in the create, but don't show up then in a docker ps, but if started (where they arn't defined) then they appear.  My bad.

[2017-10-31 20:14] cdancy commented on #486
@nwillc no worries. Docker does all of this behind the scenes and we just provide the "low level" building blocks so to speak to allow the developer to chain the tasks together to re-create what docker does. In this case you need to first create the container and then start it using the relevant tasks.

[2017-10-31 20:14] #486 closed

[2017-10-31 21:58] bradkwadsworth opened #487 "Not reading .dockercfg"
I'm using a Jenkinsfile with docker.withRegistry() to create a .dockercfg file on my Jenkins slave and it is not being read by the plugin. Getting ```Authentication is required``` error from Docker. If I run local Docker commands it works fine from the Jenkins slave

[2017-11-01 09:13] gabrielhuff opened #488 "Asserting that Docker is available on the local machine"
Currently, if Docker is not setup in the local machine, the plugin tasks will fail as expected. However, they won't inform the user that Docker is not installed (or running) - instead, they will just forward any exception thrown by the Docker API.

Consider the following scenario:

- Two developers **A** and **B** are working on a project. The difference between both is that **A** has knowledge ab

[2017-11-01 13:13] cdancy commented on #488
@gabrielhuff hmmm ... I don't disagree, and your proposed solution seems sound enough, but how would we check whether docker is available or not? Maybe you're saying that this `DockerAssertAvailable` task would simply try to do something like a `docker get version` and if that fails to connect in any way then the aforementioned task would pop as well?

[2017-11-01 16:39] gabrielhuff commented on #488
@cdancy I confess that I didn't stop to think about the implementation, only the interface.

The Docker engine works as a client-server application, where both communicate through the Engine API. The concept of 'Docker being unavailable' would be equivalent to 'the client failing to communicate with the server'. If the client has a way to ping the server, then it becomes able to verify if it's ava

[2017-11-01 17:20] cdancy commented on #488
Just thinking out loud: the problem I could see us running into is where and when to do this check. Do we attach it to all tasks as a dependency thereby repeating this check potentially N number of times? If we don't do that, and say do this check as part of an "init" pass when applying the plugin, that only covers the case when the script first runs and docker potentially could have gone down som

[2017-11-01 21:33] orzeh commented on #488
I totally agree with the above. IMO there is no sense in adding `DockerAssertAvailable` task for several reasons:
* Docker daemon may become unavailable just after we asserted it is up and running
* users can do it themselves by existing means
* if we are unable to connect to the daemon, it's hard to say what exactly is wrong, so we won't be able to help novice users anyway
* nowadays everybody us

[2017-11-01 21:49] orzeh commented on #487
@bradkwadsworth this plugin uses `docker-java` library to communicate with Docker daemon. This library will read `.dockercfg` file if you set `DOCKER_CONFIG` env variable (see [docs](https://github.com/docker-java/docker-java#configuration)). Please note that there may be some [issues](https://github.com/docker-java/docker-java/issues/316) with newer version of Docker.

You can also configure `gra

[2017-11-01 21:51] orzeh commented on #483
@tiny-cababge I'm closing it now assuming you solved your problem.

[2017-11-01 21:51] #483 closed

[2017-11-01 21:53] orzeh commented on #481
@guillaume-leroy I'm closing it due to inactivity.

[2017-11-01 21:53] #481 closed

[2017-11-01 21:53] cdancy commented on #381
Closing per merge of https://github.com/bmuschko/gradle-docker-plugin/pull/485

[2017-11-01 21:53] #381 closed

[2017-11-01 21:58] cdancy commented on #461
@sdavids closing due to inactivity. Feel free to re-open if you'd like to submit a PR or talk further.

[2017-11-01 21:58] #461 closed

[2017-11-01 23:14] guillaume-leroy commented on #481
Oh, I'm sorry, I'm very busy these times... I'll come back to you when I have more information to give you :)

[2017-11-02 21:32] ieugen opened #489 "AFUNIXSocketException: Connection reset by peer"
I'm trying to build a docker image via gradle and it fails

[code]

[code]
Docker version
[code]

[code]

[2017-11-02 21:37] cdancy commented on #489
Seems pretty straight forward. I would try updating to the latest version of our plugin and see how things fare.

[2017-11-02 21:47] ieugen commented on #489
Thanks for the promt response. I am a bit confused to which is the latest by looking at [1]. It shows `3.0.11` as being marked *LATEST*.

Also, it would be great to have the plugin published on https://plugins.gradle.org. Any reason why it is not there?

[1] https://github.com/bmuschko/gradle-docker-plugin/releases

[2017-11-02 22:00] ieugen commented on #489
I've updated to `3.2.0` and nothing changed. I would also like to add that I can publish images with docker locally.

I am part of `docker` group and
[code]
[code]
I'm using Debian Buster (stable + 1), but I don't think that counts.

[2017-11-04 16:07] gabrielhuff commented on #488
I see your point. Well, I guess we can close this for now and reopen whenever the Docker API allows us to react to communication errors on command executions.

[2017-11-04 18:16] cdancy commented on #488
And should that happen I think the best place for said logic would in docker-java and they throwing an appropriate detailed exception noting what popped.

[2017-11-04 18:16] #488 closed

[2017-11-07 14:30] DALDEI opened #490 "In gradle 4.2, 4.3 onError is evaluated with null exception"
Using a reactive streams task like ListImages causes the onError method to be invoked with a null pointer.
This appears to be a gradle bug,  the task input properties are validated before execution which is evaluating the closure.  I dont know why onError is affected but not onNext, OnSuccess etc.
debug output surrounding an example with a stack dump injected in onError()

`
09:27:07.618 [DEBUG] [

[2017-11-07 14:38] DALDEI commented on #490
Correction, all the reactive methods are invoked once with a null argument.
I did not see it because the other methods implicitly used null-avoiding expressions

[2017-11-07 17:10] cdancy commented on #490
@DALDEI is this with gradle 4.3?

[2017-11-08 18:50] ricardoaat commented on #394
Docker does listen through the port 2375. The plugin works fine when handling and deploying the docker machines. but it fails to work when i try to debug with the error on the deploy log:

"Cannot retrieve debug connection: java.net.MalformedURLException: unknown protocol: tcp"

Some people have solved this issue changing to port 2375 on dockers over linux or mac. But that's impossible using "Dock

[2017-11-08 18:51] cdancy commented on #394
@ricardoaat it should work no matter what you're doing. Do you have a reproducible snippet of your gradle file to look at? My hunch is that your URL is somehow off/wrong.

[2017-11-09 19:36] JLLeitschuh opened #491 "API For checking if Docker is available and running"
I have a project where some developers don't have docker installed/running. The project that sets up and tears down docker containers is only one small subproject. I'd like developers to be able to run the Gradle `check` task and have docker related logic get skipped if docker does not exist.

For example, I'd like to be able to do the following:
[code]

[2017-11-09 19:41] cdancy commented on #491
@JLLeitschuh take a look at this recent discussion we had from another developer asking for something similar and why we ultimately turned the idea down:

https://github.com/bmuschko/gradle-docker-plugin/issues/488

[2017-11-09 19:43] JLLeitschuh commented on #491
I don't really want an exception to get thrown though. I'd like to be able to disable test tasks if Docker isn't available. I can't catch an exception in the task failing.

[2017-11-09 19:48] orzeh commented on #491
@JLLeitschuh Why not use just environment variable or project property?

[code]

With this approach you won't accidentally skip your tests if docker is down, for example during CI build.

[2017-11-09 19:52] JLLeitschuh commented on #491
Even with that, it would be nice to be able to do something like this:
[code]

[2017-11-09 20:07] orzeh commented on #490
@DALDEI @cdancy I can reproduce it on Gradle 4.3 and 4.3.1. On 4.1 it works as expected.

Since it is a Gradle issue I doubt we can find a generic workaround. Users just have to check for null in their closures.

[2017-11-09 20:09] cdancy commented on #490
@orzeh yeah and same here. We had to upgrade an in-house plugin recently to account for this when we bumped to gradle 4.3. Not sure if this is a bug or not with gradle.

[2017-11-09 20:24] orzeh commented on #491
@JLLeitschuh @cdancy There is a [Ping endpoint](https://docs.docker.com/engine/api/v1.30/#operation/SystemPing) exposed by Docker. It is [supported]() in `docker-java` so we can add `DockerPingTask` and in `OnError` handler users will be able to do whatever they want.

Anyone interested in submitting PR?

[2017-11-09 20:26] JLLeitschuh commented on #491
Does it need to be a task? Could it be an exposed API without being wrapped in a task? Maybe that's not a good idea.

[2017-11-09 20:29] orzeh commented on #491
@JLLeitschuh This plugin provides set of tasks so IMO it must be a task.

You can always do `GET` to that endpoint by yourself and expose it as an API.

[2017-11-09 20:49] cdancy commented on #491
I agree with @orzeh. And building on his example you could probably get away with doing something like (semi pseudo-code here and did not run):

[code]

[2017-11-09 21:36] edesdan opened #492 "gradle-docker-plugin + Jenkins ?"
Hi all,
I don't know if this is an out of topic question. At the moment I'm using this plugin to build images and run functional tests with docker containers in my project locally. I'd like to know how to configure/use Jenkins to run the docker tasks I have defined in the project. The goal I'm trying to achieve is to execute the FunctionalTest docker task during a CI build with Jenkins. Has anyone

[2017-11-09 21:56] ricardoaat commented on #394
The thing is when the docker container is running (even started through the plugin) i'm able to debug remotely using itellij's remote "Run/Debug Configuration". But the docker plugin fails throwing that message.

The debug port configured at the Deployment tab is 5005

here's my dockerfile:
[code]

and my container_settings.json

[code]

If i run this, it builds the images an runs it:
CONTAINER ID

[2017-11-09 22:05] JLLeitschuh commented on #491
Wouldn't the `getVersion` task failing cause the rest of the build to fail??

[2017-11-10 01:11] cdancy commented on #491
@JLLeitschuh not if you use the `onError` callback that I noted above. In this case you decide if it's worth truly failing or not.

[2017-11-10 01:26] cdancy commented on #492
@edesdan so we use cloudbees jenkins here for CI. There are a couple of ways you can go about this that I can think of off the top of my head:

1.) Mount the docker socket from the host instance into docker nodes and within your Jenkinsfile just run things as you normally would. The plugin will detect that `/var/run/docker.sock` is present and use that to communicate with the daemon.

2.) Pass alo

[2017-11-10 02:49] JLLeitschuh commented on #491
Oh, I suppose that would solve my problem.

[2017-11-10 14:05] cdancy commented on #491
@JLLeitschuh give it a go and let us know how it works out.

[2017-11-10 14:16] cdancy commented on #490
@bmuschko if you get a chance do you know anything about this? I can't tell if this is a regression or a fix or a feature. Seems that closures being passed in (i.e. `onNext`) to a task are being executed once during the config phase, thus resulting in a null being passed like what we are seeing above, and then actually executed at runtime like one would expect. I can put together a reproducible sn

[2017-11-10 14:21] bmuschko commented on #490
@cdancy Try this out with Gradle 4.3.1: https://github.com/gradle/gradle/releases/tag/v4.3.1. We fixed an issue in the area of task input validation that might affect you here.

[2017-11-13 19:22] edesdan commented on #492
Ok so I just need to make sure the docker deamon is installed on the machine where Jenkins is running and set the DOCKER_HOST variable. ok I'll try that, thanks for your suggestions!

[2017-11-13 19:33] a4chet opened #493 "DockerCreateContainer Binds"
Currently the DockerCreateContainer class uses a Map for storing binding points for the container. This prevents multiple host volume entries as keys in the map.

For example I cannot mount a host "logs" directory more than once in the container as:

`volumes = [:]`
`volumes['C:/logs']='c:/consul/logs'`
`volumes['C:/logs']='c:/apache24/logs'`
`setBinds( volumes )`

[2017-11-14 17:43] a4chet commented on #493
I apologize for the brevity of my post. I have provided a sample below.

I believe the root of the issue is using a `Map` for the binds as originates in `DockerCreateContainer`.

Ultimately the `DockerThreadContextClassLoader.groovy` parses the maps to an Array (line 331) using the ":" as a join on the key/value pair.

Docker does allow the host volume to be mounted into the docker container more

[2017-11-14 22:54] JLLeitschuh commented on #491
`onError` is of type `Closure` which means creating it is a PITA from kotlin. Working on a solution, will post when I have a solution.

[2017-11-14 23:10] JLLeitschuh commented on #491
Related:
https://github.com/gradle/kotlin-dsl/issues/593

[2017-11-14 23:24] JLLeitschuh opened #494 "Docker onError gets called during Gradle task validation process"
TL;DR: onError always gets called at least once by gradle even when there is no error.

## Example configuration:
 - Have a docker up and running.
 - Under Gradle 4.3
 - Docker Gradle Plugin version `3.0.11`

## Other configuration that may be irrelevant:
My `gradle.properties` file:
[code]

## `build.gradle.kts` file:
[code]

## Result
`"Docker is not installed or is not running"` will be printed

[2017-11-14 23:26] JLLeitschuh commented on #491
Related: #494

[2017-11-15 08:21] orzeh commented on #494
Duplicates #490

[2017-11-15 08:21] #494 closed

[2017-11-15 14:14] JLLeitschuh commented on #494
Sorry about that

[2017-11-15 14:20] orzeh commented on #494
@JLLeitschuh no problem :smiley: Let's discuss everything on that issue.

[2017-11-15 20:24] JLLeitschuh commented on #491
This is the code that I eventually came up with to solve this problem. Seems to work for me at the moment.
[code]

In my first Docker task I do this:
[code]

[2017-11-15 20:38] JLLeitschuh opened #495 "onError, onNext and onComplete should have nice statically typed API's for configuring"
Something like this perhaps?
[code]

Thoughts?? I haven't tried to compile any of this. I wrote it all freehand inside this github issue.

I'm trying to get around needing to do this goofiness in the Gradle Kotlin DSL.
[code]

[2017-11-16 22:54] orzeh commented on #487
@bradkwadsworth I'm closing this assuming your problem was fixed.

[2017-11-16 22:54] #487 closed

[2017-11-17 01:52] javajon commented on #445
Support for labels +1.

Consider adding a deprecation warning message at build time indicating support for Maintainer will be removed in an upcoming release. This gives community awareness and some time to adjust.

[2017-11-22 15:46] SandeepGolla opened #496 "DockerCreateContainer: Volume binds fails when we run with jdk7"
code snippet to reproduce:

	 buildscript() {
		repositories {
			mavenLocal()
			mavenCentral()
		}
		dependencies {
			classpath (group: 'com.bmuschko', name: 'gradle-docker-plugin', version: '3.2.0')
		}
	}

	apply plugin: "com.bmuschko.docker-remote-api"

	task pullImage(type: com.bmuschko.gradle.docker.tasks.image.DockerPullImage) {
		repository = "ubuntu"
		tag = "latest"
	}

	task createCon

[2017-11-22 17:57] cdancy commented on #490
@bmuschko just getting back around to this now. Please have a look at this [gist](https://gist.github.com/cdancy/436a4672d2c4e9bdd9d45c93234d6469) and let me know if you need anything more. The snippet is based on the use of this plugin and so docker is required to run it. Not sure if this is more due to the fact this plugin is doing something ... odd ... or this is an actual regression or somethi

[2017-11-22 19:32] cdancy commented on #496
I'm able to reproduce the issue and I would indeed say it's a bug. This is most likely and oversight on our end in allowing a java 8 function to slip through the cracks. I'll get this fixed and spin up a new version shortly. Thanks for reporting @SandeepGolla

[2017-11-22 19:45] hermitmaster opened #497 "Add chown flag to ADD and COPY commands"
Add support for chown flag to comply with Docker API.
https://github.com/moby/moby/pull/34263

[2017-11-22 19:50] cdancy commented on #497
@hermitmaster you can use the [generic instruction parameter](https://github.com/bmuschko/gradle-docker-plugin/blob/master/src/main/groovy/com/bmuschko/gradle/docker/tasks/image/Dockerfile.groovy#L88) to add anything you want to a Dockerfile. Give that a go and let me know how it works out.

[2017-11-22 20:21] cdancy commented on #493
Care to send in a PR for this work? Shouldn't be too bad to knock out just need to use a different data-structure than a map (whilst also being backwards compatible with maps).

[2017-11-22 20:22] cdancy commented on #492
Closing. Feel free to re-open if you want to chat some more on this subject.

[2017-11-22 20:22] #492 closed

[2017-11-22 20:23] cdancy commented on #491
Closing as I believe we have a working solution here. Feel free to re-open if folks want to continue the conversation.

[2017-11-22 20:23] #491 closed

[2017-11-22 20:39] cdancy commented on #496
@SandeepGolla @petehayes version `3.2.1` has been released. Please upgrade and give things a go.

Also ... you can shorten up that logic above to something like this. Hopefully we're not being that verbose in our code in anywhere.... :)

[code]

[2017-11-22 20:39] #496 closed

[2017-11-22 20:51] hermitmaster commented on #497
@cdancy That's what I'm doing now and it works just fine, but it would be nice to see first-class support for it since it's part of the API.

[2017-11-23 00:29] cdancy commented on #497
@hermitmaster yeah I can appreciate that but personally I go back and forth on designs like this. I personally favor flexibility over rigidness, at least in this context, but that may be more due to my expertise in this area and just wanting things to get out of me more than anything else. I'd entertain a PR for this if you're up for as it shouldn't be bad otherwise I'd just recommend to keep on d

[2017-11-24 05:01] bboyz269 opened #499 "DockerBuildImage failed with exception `java.lang.IllegalStateException: InjectionManagerFactory not found.`"
Hi,
I'm trying to compile a spring boot application project in kotlin and build to docker image using DockerRemoteApiPlugin. But got the following error (The compile part, bootJar was successful):
[code]

As someone mentioned this could be the result due to incompatible between Jersey 1.x & Jersey 2.x, I tried to find dependency on Jersy but found nothing.
[code]

Thanks in advance!

[2017-11-24 12:30] orzeh commented on #499
@bboyz269 This is probably duplicate of #467

[2017-11-24 12:30] #499 closed

[2017-11-29 12:53] cdancy commented on #490
@bmuschko bump ^^^

[2017-11-29 22:16] kish3007 opened #502 "Upgrade the project to the latest Gradle version"
Latest gradle version available is 4.3.1 if the project is built with the latest gradle version I noticed issues in reactive stream onError exception.message throws a null pointer exception.